<div>
  <div *ngIf="!objectKeys(availabilities)?.length" class="text-center fw-bold">No Teacher availabilities found</div>
  <div class="row" *ngIf="objectKeys(availabilities)?.length">
    <div class="col-4">
      <label class="text-secondary fw-bold">Starting Date</label>
      <p class="fw-bold">{{ timeSlot.startDate }}</p>
    </div>

    <div class="col-4">
      <label class="text-secondary fw-bold">Ending Date</label>
      <p class="fw-bold">{{ timeSlot.endDate }}</p>
    </div>

    <div class="col-4">
      <label class="text-secondary fw-bold">Days</label>
      <p class="fw-bold">{{ weekDays.toString() }}</p>
    </div>
  </div>

  <div class="row mt-3">
    <ng-container *ngFor="let key of objectKeys(availabilities)">
      <div class="col-2 fw-bold">{{ weekDayName[key] }}</div>

      <div class="col-10 time-box">
        <div class="slot" *ngFor="let slot of availabilities[key]">{{ slot.timeFrom }}
          to {{ slot.timeTo }}</div>
      </div>
    </ng-container>
  </div>

</div>
