<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'large'"
                [heading]="'Assignment Details'"
                [status]="'active'"
                [template]="template">
  <ng-template #template>
    <ng-container *ngLet="(view$ | async) as view">
      <ng-container [ngSwitch]="view?.loading">
        <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>

        <div class="assignment-details-modal" *ngSwitchCase="false">
          <div class="d-flex justify-content-between">
            <h3>{{ view?.assignment?.assignment?.title }}</h3>
          </div>
          <div class="row list-items md-item">
            <div class="col-md-3 d-flex menu align-items-center">
              <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
              <strong>Start: </strong>
              <span>{{ view?.assignment?.assignment?.startDate | date: 'MMMM d y' }}</span>
            </div>
            <div class="col-md-3 d-flex menu align-items-center">
              <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
              <strong>Deadline: </strong>
              <span>{{ view?.assignment?.assignment?.deadline | date: 'MMMM d y' }}</span>
            </div>
            <div class="col-md-3 d-flex menu align-items-center">
              <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
              <strong>Submitted At: </strong>
              <span>{{ view?.assignment?.assignment?.assignees[0]?.status !== 'active' ? (view?.assignment?.assignment?.assignees[0]?.updatedAt | date) : '' }}</span>
            </div>
            <div class="col-md-3 d-flex menu align-items-center">
            </div>
          </div>
          <p class="mt-2">
            {{ view?.assignment?.assignment?.description }}
          </p>
          <div class="form-group">
            <label>URLs</label>
            <div class="url-info d-flex flex-column my-2" *ngFor="let urlInfo of view.assignment?.assignment?.urls">
              <span>{{ urlInfo?.title }}</span>
              <strong class="d-flex align-items-center">
                {{ urlInfo?.url }}
                <a [href]="urlInfo?.url" target="_blank" class="ms-3 d-flex align-items-center">
                  <mat-icon>link</mat-icon>
                </a>
              </strong>
            </div>
          </div>
          <div class="form-group row">
            <label>Files</label>
            <ng-container *ngFor="let file of view.assignment?.assignment?.files">
              <div class="col-md-6 list-files d-flex align-items-center mt-3">
                <mat-icon>attach_file</mat-icon>
                <div class="ms-2 flex-grow-1">
                  <h3>{{ file?.url }}</h3>
                  <!--<h5>100MB</h5>-->
                </div>
                <a [href]="file?.url" target="_blank" mat-button class="add-url">
                  Download
                </a>
              </div>
            </ng-container>
          </div>

          <div class="form-group row">
            <div class="">
              <button mat-flat-button color="primary" class="fw-bold float-end px-4 py-1" *ngIf="view.assignment?.assignment?.userAssignmentStatus !=='completed' && view.assignment?.assignment?.userAssignmentStatus !=='submitted'" (click)="onOpenSubmitAssignmentModal()">Submit Assignment</button>
              <button mat-flat-button color="primary" class="fw-bold float-end px-4 py-1" *ngIf="view.assignment?.assignment?.userAssignmentStatus ==='completed' || view.assignment?.assignment?.userAssignmentStatus ==='submitted'" (click)="onOpenSubmittedAssignmentModal(view.assignment.assignment?.assignees)">View Submitted Assignment</button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</metutors-modal>
