<div class="help-to-here" style="background-image: url(assets/homepage/stars_bg.png);">
  <div class="container">
    <div class="col-md-12 text-center">
      <h1 class="f-size-25-md-sm">We're here to help!</h1>
      <p class="f-size-15-md-sm">
        From enrollment to graduation, we’re here with you every step of the way!
      </p>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-md-4 item ps-0">
          <div class="card text-center h-100">
            <div class="card-body">
              <img src="assets/svg/envelope.svg" alt="" draggable="false" width="65" height="65">

              <h2>Email us</h2>
              <h4>
                Email us for general queries, including
                marketing and partnership opportunities.
              </h4>

              <a href="mailto:hello@MEtutors.com" target="_blank"
                class="h-link">hello@MEtutors.com</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 item">
          <div class="card text-center h-100">
            <div class="card-body">
              <img src="assets/svg/phone.svg" alt="" draggable="false" width="65" height="65">

              <h2>Call us</h2>
              <h4>
                Call us to speak to a member of our team.
                We are always happy to help.
              </h4>

              <a href="tel:+1 (646) 786-5060" class="h-link">+1 (646) 786-5060</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 item pe-0">
          <div class="card text-center h-100">
            <div class="card-body">
              <img src="assets/svg/support.svg" alt="" draggable="false" width="65" height="65">

              <h2>Support Center</h2>
              <h4>
                Check out helpful resources, FAQs
              </h4>

              <a routerLink="/faq" class="call-center" mat-flat-button color="primary">FAQs & tickets</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
