<div class="help-to-here" style="background-image: url(assets/homepage/stars_bg.png);">
  <div class="container">
    <div class="col-md-12 text-center">
      <h1 class="f-size-25-md-sm">{{ 'WE_ARE_HERE_HELP' | translate }}</h1>
      <p class="f-size-15-md-sm">{{ 'FROM_ENROLLMENT_GRADUATION' | translate }}</p>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-md-4 item ps-0">
          <div class="card text-center h-100">
            <div class="card-body">
              <img src="assets/svg/envelope.svg" alt="" draggable="false" width="65" height="65">

              <h2>{{ 'EMAIL_US' | translate }}</h2>
              <h4>{{ 'EMAIL_US_DESC' | translate }}</h4>

              <a href="mailto:hello@MEtutors.com" target="_blank"
                class="h-link">hello@MEtutors.com</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 item">
          <div class="card text-center h-100">
            <div class="card-body">
              <img src="assets/svg/phone.svg" alt="" draggable="false" width="65" height="65">

              <h2>{{ 'CALL_US' | translate }}</h2>
              <h4>{{ 'CALL_US_DESC' | translate }}</h4>

              <a href="tel:+1 (646) 786-5060" class="h-link"><bdi>+1 (646) 786-5060</bdi></a>
            </div>
          </div>
        </div>

        <div class="col-md-4 item pe-0">
          <div class="card text-center h-100">
            <div class="card-body">
              <img src="assets/svg/support.svg" alt="" draggable="false" width="65" height="65">

              <h2>{{ 'SUPPORT_CENTER' | translate }}</h2>
              <h4>{{ 'SUPPORT_CENTER_DESC' | translate }}</h4>

              <a routerLink="/faq" class="call-center" mat-flat-button color="primary">{{ 'FAQ_TICKETS' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
