.help-to-here {
  padding: 80px 15px 50px;
  background-origin: padding-box;
  background-color: rgba(243, 244, 245, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;

  h1 {
    font-size: 40px;
    line-height: normal;
    color: #000000;
  }

  p {
    font-size: 20px;
    color: #949494;
    margin-bottom: 50px;
  }

  .item {
    margin-bottom: 10px;

    .card {
      border-top: 3px solid var(--main-color);
    }

    &:nth-child(2) .card {
      border-color: #ff554b;
    }

    &:nth-child(3) .card {
      border-color: #be63f9;
    }

    h2 {
      font-size: 20px;
      color: #000;
      margin-top: 30px;
    }

    h4 {
      font-size: 16px;
      color: #696969;
      margin-bottom: 25px;
    }

    .h-link {
      color: var(--main-color);
      font-size: 18px;
      font-weight: bold;
    }

    .call-center {
      padding: 10px 30px;
      font-weight: bold;
      font-size: 17px;
    }
  }
}

@media (max-width:992px) {
  .help-to-here {
    padding: 20px 15px;
    margin-bottom: 0;

    .item {
      padding: 0;
    }
  }
}
