<div class="row founder-team">
  <div class="col-md-12 text-center">
    <h1>Meet The Team in our Education Sphere</h1>
    <p>
      At MEtutors our students come first! We pride ourselves on having the most friendly and approachable educators who
      are experts in their subject-matter.
    </p>
  </div>

  <div class="col-md-3" *ngFor="let founder of founders">
    <img [src]="founder?.image" meTutorsDefaultAvatar alt="">
    <h2>{{ founder?.name }}</h2>
    <h3>{{ founder?.position }}</h3>
  </div>
</div>
