<div class="card interview">
  <div class="card-body p-0">
    <div class="row mb-3">
      <div class="col-md-4 d-flex align-items-center info">
        <div class="row w-100">
          <div class="col-md-2 d-flex align-items-center">
            <img [src]="interview?.tutor?.avatar" draggable="false" width="50" height="50" meTutorsDefaultAvatar alt="">
          </div>
          <div class="col-md-10 d-flex justify-content-center flex-column">
            <h2 class="d-flex">
              <bdi>{{ interview?.tutor?.name }}</bdi>
            </h2>
            <h3 *ngIf="interview?.tutor?.qualifications?.teachingExperience">
              {{ interview?.tutor?.qualifications?.teachingExperience }} of experience
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-8 d-flex justify-content-end align-items-center">
        <a class="cursor-pointer send-link" *ngIf="interview.status === interviewStatus.pending"
          (click)="scheduleInterview.emit({id: interview?.id, joinInterview: false})">
          Schedule Interview
        </a>

        <a class="cursor-pointer send-link" *ngIf="interview.status === interviewStatus.scheduled"
          (click)="scheduleInterview.emit({id: interview?.id, joinInterview: true})">
          Join Interview
        </a>
        <span class="status-icon text-capitalize" [ngClass]="interview.status">{{ interview.status }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="row list-items md-item">
          <div class="col-md-2 mt-3 ">Details:</div>
          <div class="col-md-2 d-flex menu align-items-center mt-3" *ngIf="interview?.tutor?.country">
            <img src="assets/svg/map.svg" alt="" width="15" height="15" draggable="false">
            <strong>From {{ interview?.tutor?.country?.name }}</strong>
          </div>
          <div class="col-md-4 d-flex menu align-items-center mt-3"
            *ngIf="interview?.tutor?.qualifications?.degreeLevel && interview?.tutor?.qualifications?.degreeField">
            <img src="assets/svg/degree.svg" alt="" width="15" height="15" draggable="false">
            <strong>
              {{ interview?.tutor?.qualifications?.degreeLevel }}
              in {{ interview?.tutor?.qualifications?.degreeField }}
            </strong>
          </div>
        </div>
        <div class="row list-items md-item">
          <div class="col-md-2 text-main">Requested Interview:</div>
          <div class="col-md-2 d-flex menu align-items-center" *ngIf="interview?.interviewDate">
            <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
            <strong>{{ interview?.interviewDate | date: 'YYYY-MM-d' }}</strong>
          </div>
          <div class="col-md-4 d-flex menu align-items-center" *ngIf="interview?.interviewTime">
            <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
            <strong>{{ interview?.interviewTime | date: 'h:mm a' }}</strong>
          </div>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-end align-items-end">
        <button mat-flat-button color="primary" class="px-4 py-1 fw-bold"
          [routerLink]="['/admin', 'tutor', 'interview', 'details', interview?.id]">View Details</button>
      </div>
    </div>
  </div>
</div>
