.add-assignment-modal {
  .delete-icon {
    width: 15px;
    height: 15px;
    font-size: 14px;
    color: #696969;

    &.file {
      right: 0;
    }
  }

  label {
    font-weight: bold;
    font-size: 15px;
  }

  .url-info {
    span {
      color: #696969;
    }

    strong {
      font-size: 18px;
      color: #2a2a2a;
      font-weight: 500;

      mat-icon {
        width: 15px;
        height: 15px;
        font-size: 14px;
        color: #696969;
      }
    }
  }

  .extensions {
    color: var(--main-color);
    font-size: 15px;
    margin: 5px 0 10px;
  }

  .list-files {
    >div {
      width: calc(100% - (24px + 0.5rem));
    }

    h3 {
      font-size: 16px;
      margin: 0;
      color: #2a2a2a;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    h5 {
      font-size: 13px;
      color: #696969;
      margin: 0;
    }
  }

  .add-url {
    line-height: 25px;
  }

  .delete {
    top: -6px;
    left: 35%;
    width: 75px;
    display: flex;
    color: #979797;
    position: absolute;
  }
}
