<div class="innovative-approach">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Our Innovative Approach</h1>
        <p>{{ innovateApproach?.first_paragraph }}</p>
        <p class="second">
          {{ innovateApproach?.second_paragraph }}
        </p>
        <button mat-flat-button color="primary">Check our courses</button>
      </div>
      <div class="col-md-5">
        <img src="assets/about/meeting-r.png" class="w-100" draggable="false" alt="">
      </div>
    </div>
  </div>
</div>
