.innovative-approach {
  margin-top: 40px;
  background-color: rgba(59, 179, 193, 0.04);
  padding: 40px 0;

  h1 {
    font-size: 40px;
    line-height: normal;
    color: #2a2a2a;
  }

  p {
    font-size: 17px;
    color: #2a2a2a;
    margin: 20px 0;
  }

  img {
    object-fit: contain;
    height: 600px;
  }

  button {
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FFF;
    color: var(--main-color);
    border: 1px solid #979797;
  }
}

@media (max-width:767px) {
  .innovative-approach {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    button {
      font-size: 16px;
    }
  }
}
