<div class="innovative-approach">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Virtual Learning is Changing Education</h1>
        <p>
          MEtutors is the leading online tutoring platform powered by artificial intelligence in the Middle East. It
          recommends and matches the best tutors for each student based on their skills, abilities and hobbies helping
          to optimize the learning experience.
        </p>
        <p class="mt-5">
          The unique software helps optimize student's learning practices and the
          analytical tools help identify strengths and weaknesses so that our tutors can provide the necessary support.
        </p>
        <p class="mt-5">
          Whatever you choose to study, you can be confident that you will find the perfect tutor with MEtutors.
        </p>
        <button mat-flat-button color="primary" class="px-5 mt-4">Check our courses</button>
      </div>
      <div class="col-md-5">
        <img src="assets/about/meeting-r.png" class="w-100" draggable="false" alt="">
      </div>
    </div>
  </div>
</div>
