<div class="innovative-approach">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Our Innovative Approach</h1>
        <p>
          Confucius reportedly once said, “give a man a fish and you feed him for a day.
          Teach a man to fish and you feed him for a lifetime.” We could not sum up our
          approach any better. Our ultimate aim is to teach students how to learn.
          We believe that education is not just about acquiring knowledge; it is about
          gaining the sophisticated intellectual abilities required to thrive in our increasingly
          complicated world
        </p>
        <p class="second">
          hrough robust online learning sessions students acquire tools that they can put
          in their intellectual toolboxes. Skills like critical thinking, problem solving, organizing,
          synthesizing, and summarizing are just some of what students will learn.
          All of these skills and many more are essential to academic success.In addition,
          we view education, whether in the classroom or in life, as a dynamic and interactive
          experience. And our courses reflect this philosophy. Just as students expect a lot
          from teachers, so too our teachers expect a lot from their students. So it is through
          our innovative approach and passion for providing the best possible educational
          experience that MEtutors delivers everything students demand in a quality
          educational experience
        </p>
        <button mat-flat-button color="primary">Check our courses</button>
      </div>
      <div class="col-md-5">
        <img src="assets/about/meeting-r.png" class="w-100" draggable="false" alt="">
      </div>
    </div>
  </div>
</div>
