:host ::ng-deep .ticket-details {
  padding: 50px 40px 20px;

  .title {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: bold;
  }

  .card {
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #e5eaf4;
    margin-top: 20px;

    h2 {
      color: #2a2a2a;
      font-size: 20px;
      font-weight: bold;

      .label {
        padding: 5px 8px 4px;
        border-radius: 13px;
        color: #FFF;
        font-size: 11px;
        margin-left: 10px;

        &.response {
          background-color: #ff8300;
        }

        &.closed {
          background-color: #50C394;
        }

        &.issued {
          background-color: var(--main-color);
        }
      }
    }

    p {
      color: #696969;
      font-size: 15px;
      margin-top: 10px;
    }

    .list-messages {
      margin-top: 40px;
      height: 400px;

      .add-margin {
        margin-left: 30px;
      }

      .mb-40 {
        margin-bottom: 40px;
      }

      .info {
        h3 {
          color: #183b56;
          font-size: 16px;
          font-weight: bold;
        }

        h4 {
          font-size: 11px;
          color: #5a7184;
          font-weight: bold;
        }
      }

      p {
        background-color: rgb(179 186 197 / 15%);
        color: #5a7184;
        padding: 20px;
        border-radius: 0 15px 15px 15px;
      }
    }

    .write-comment {
      border: solid 1px #e5eaf4;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 10px 15px;
      margin-top: 30px;

      img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }

      input {
        padding: 0 60px;
        font-weight: bold;
        font-size: 15px;
        color: #959ead;
        border: none;
        height: 40px;

        ::placeholder {
          color: #959ead;
        }

        &:focus {
          box-shadow: none;
        }
      }

      .reply-button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 40px;
        bottom: 0;
      }
    }
  }
}
