<metutors-student-navbar [layout]="(layout$ | async)" [user]="user$ | async"></metutors-student-navbar>

<div class="certificates p-15-sm" *ngLet="(view$ | async) as view">
  <div class="row">
    <div class="col-12">
      <h3 class="head mb-3 f-size-17-md-sm mt-15-md-sm">{{ 'CERTIFICATES_HEADING' | translate }} </h3>

      <ng-container [ngSwitch]="view.loading">
        <ng-container *ngSwitchCase="true">
          <div class="col-md-12" *ngFor="let _ of [1, 2, 3]">
            <metutors-card-placeholder></metutors-card-placeholder>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <div class="col-md-12 mb-3" *ngIf="!view.certificates || !view.certificates.length">
            <div class="card no-data">
              <div class="card-body">
                <h3 class="text-center m-0 f-size-17-md-sm">{{ 'NO_CERTIFICATE_FOUND' | translate }}</h3>
              </div>
            </div>
          </div>

          <ng-container *ngIf="view.certificates || view.certificates.length">
            <div class="card" *ngFor="let certificate of view.certificates">
              <div class="card-body">
                <h1 class="f-size-18-md-sm">{{ certificate.courseName}}</h1>
                <div class="row list-items sm-item">
                  <div class="col-lg-2 col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                    <strong>{{ 'PROGRAM_NAME' | translate }}: </strong>
                    <span>{{ certificate.program }}</span>
                  </div>
                  <div class="col-lg-2 col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/students.svg" alt="" width="15" height="15" draggable="false">
                    <strong>{{ 'GRADE_LEVEL' | translate }}: </strong>
                    <span>{{ certificate.grade}}</span>
                  </div>
                  <div class="col-lg-2 col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
                    <strong>{{ 'COMPLETED_HOURS' | translate }}: </strong>
                    <span>{{ certificate.completedHours }}</span>
                  </div>
                  <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                    <strong>{{ 'COURSE_COMPLETED_ON' | translate }}: </strong>
                    <span>{{ certificate.completedAt | date }}</span>
                  </div>
                </div>
                <div class="row mt-15-md-sm mt-4">
                  <div class="col-md-4 d-flex align-items-center info">
                    <div class="row w-100">
                      <div class="col-md-1 col-1 d-flex align-items-center">
                        <img src="assets/homepage/courses/person.png" meTutorsDefaultAvatar alt="">
                      </div>
                      <div class="col-md-10 col-10 ms-2 d-flex justify-content-center flex-column">
                        <h2 class="d-flex">{{ certificate.teacher}}
                          <div class="d-flex">
                            <img src="assets/svg/star-fill.svg" alt="" width="20" height="20" draggable="false"/>
                            <span class="count">{{ certificate.teacherRating}}</span>
                          </div>
                        </h2>
                        <h3 class="mt-1">{{ certificate.tagLine}}</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <button mat-button class="main-button-transparent float-end w-100-sm mt-15-sm"
                            [routerLink]="'/student/view-certificate/'+certificate.courseId">
                      {{ 'GET_CERTIFICATE' | translate }}
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                           class="rotate-180-ar">
                        <path
                          d="M16.172 10.9999H4V12.9999H16.172L10.808 18.3639L12.222 19.7779L20 11.9999L12.222 4.22192L10.808 5.63592L16.172 10.9999Z"
                          fill="#3BB3C1"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
