<div class="slide">
  <div class="container" style="background-image: url('assets/about/oval.svg')">
    <div class="row">
      <div class="col-md-7">
        <h3 class="f-size-20-md-sm">
          About Us
        </h3>
        <h1 class="f-size-25-md-sm">
          Next Generation
          <br>
          Adaptive Learning
        </h1>
        <p class="f-size-20-md-sm">
          MEtutors is an AI-based learning platform that engages students through virtual learning experiences with
          tutors from across the globe.
        </p>
      </div>
      <div class="col-md-5">
        <img src="assets/about/cover.png" alt="" draggable="false" />
      </div>
    </div>
    <div class="row info text-center">
      <div class="col-md border-right">
        <h2>3.9M</h2>
        <h3 class="f-size-20-md-sm">Students Enrolled</h3>
      </div>
      <div class="col-md border-right">
        <h2>2000+</h2>
        <h3 class="f-size-20-md-sm">Course Available</h3>
      </div>
      <div class="col-md border-right">
        <h2>500+</h2>
        <h3 class="f-size-20-md-sm">Expert Tutors</h3>
      </div>
      <div class="col-md">
        <h2>100,000+</h2>
        <h3 class="f-size-20-md-sm">Classes Completed</h3>
      </div>
    </div>
  </div>
</div>
