<div class="slide">
  <div class="container" style="background-image: url('assets/about/oval.svg')">
    <div class="row">
      <div class="col-md-7">
        <h3>
          About Us
        </h3>
        <h1>
          Improving Lives
          <br>
          Through Learning
        </h1>
        <p>
          MEtutors is a newly formed educational organization.
          The founder and all of MEtutors’ employees are
          ommitted to providing superior educationto
          students around the world.
        </p>
      </div>
      <div class="col-md-5">
        <img src="assets/about/cover.png" alt="" draggable="false" />
      </div>
    </div>
    <div class="row info text-center">
      <div class="col-md border-right">
        <h2>3.9M</h2>
        <h3>Passed learners</h3>
      </div>
      <div class="col-md border-right">
        <h2>100+</h2>
        <h3>Course enrollments</h3>
      </div>
      <div class="col-md border-right">
        <h2>10K</h2>
        <h3>Certified Instructors </h3>
      </div>
      <div class="col-md">
        <h2>50M</h2>
        <h3>Minutes of video</h3>
      </div>
    </div>
  </div>
</div>
