<div class="card complete-form">
  <form class="card-body" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="d-flex justify-content-between align-items-center w-100 mb-4">
      <h1 class="title f-size-18-md-sm">{{ 'TEACHING_COURSES' | translate }} <br>
        <span *ngIf="status === interviewStatus.approved">{{ 'CONTACT_THIS_EMAIL' | translate }}
          <a href="mailto:support@metutors.com" target="_blank">support@metutors.com</a>, {{ 'IF_WANT_EDIT_INFORMATION' | translate }}
        </span>
      </h1>
      <metutors-submit-button [form]="form" [isSubmitting]="isSubmitting" *ngIf="!status"
        [isDisabled]="!sortedSubjects || !pricesLength || pricesLength < +(sortedSubjects?.length)!">
        {{ 'UPDATE' | translate }}
      </metutors-submit-button>
    </div>

    <div class="row mt-4" *ngIf="sortedSubjects && sortedSubjects?.length">
      <div class="col-md-12" *ngFor="let item of sortedSubjects; let indexSubjects = index; let isLast = last"
        [class.mb-4]="!isLast">
        <div class="table-responsive">
          <table class="table my-table default-title mb-0">
            <tr>
              <th class="heading" [attr.colspan]="item?.programId === nationalId ? '2' : '1'">
                <label>{{ 'PROGRAM' | translate }}: </label> <span>
                  {{ item?.programName }}<ng-container *ngIf="item?.programId === nationalId">,
                    {{ item?.countryName }} <span *ngIf="item?.countryFlag" [innerHTML]="item?.countryFlag"
                      class="ms-2"></span>
                  </ng-container>
                </span>
              </th>
              <th class="heading text-end"><label>{{ 'FIELD_STUDY' | translate }}: </label> <span> {{ item?.fieldName }}</span></th>
            </tr>
            <tr>
              <th class="sub-heading"
                [ngClass]="{'w-80': item?.programId !== nationalId, 'w-60': item?.programId === nationalId}">{{ 'SUBJECT_NAME' | translate }}</th>
              <th class="sub-heading w-20" *ngIf="item?.programId === nationalId">{{ 'GRADE' | translate }}</th>
              <th class="sub-heading">{{ 'HOURLY_RATE' | translate }} (USD)</th>
            </tr>
            <tr *ngFor="let subject of item.subjects">
              <td>{{ subject?.subject }}</td>
              <td *ngIf="item?.programId === nationalId">{{ subject?.gradeName }}</td>
              <td>
                <ng-container *ngIf="status">{{ subject?.pricePerHour }}</ng-container>

                <input type="text" meTutorsOnlyNumber [onlyNumber]="true" *ngIf="!status" min="1" step="1" max="100"
                  placeholder="Enter Price" class="p-0 w-100" [value]="subject?.pricePerHour"
                  (change)="changePrice(subject?.id, $event)">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
