.course-info {
  border-radius: 12px;
  border: solid 1px #e2e2e2;
  box-shadow: none;

  h2 {
    color: #2a2a2a;
    font-weight: bold;
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    color: #2a2a2a;
  }

  h4 {
    color: #696969;
    font-size: 18px;
  }

  h5 {
    color: #2A2A2A;
    font-size: 15px;
    font-weight: bold;

    span {
      color: #696969;
      font-weight: normal;
    }
  }

  .row-block {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  input {
    height: 46px;
    margin-top: 10px;

    &.ng-touched.ng-invalid {
      border: 2px solid #f44336;
    }
  }

  .upload-textbook {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    margin: 0 15px;
    padding: 10px;

    h5 {
      font-size: 13px;
      color: #000;
      font-weight: bold;
    }

    h6 {
      font-size: 11px;
      color: #666;
      font-weight: bold;
      margin: 0;
    }

    button {
      color: #5d5d5d;
      font-size: 12px;
      font-weight: bold;

      mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }
  }

  .block-file {
    border: 2px dashed;
    border-radius: 4px;
    background: rgb(204 204 204 / 10%);
    padding: 5px 10px;

    >div {
      width: calc(100% - (24px + 0.5rem));
    }

    h3 {
      font-size: 16px;
      margin: 0;
      color: #232323;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    h5 {
      font-size: 13px;
      color: #696969;
      margin: 0;
    }
  }

  button[type=submit] {
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;
  }
}
