<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'xmedium'" [heading]="'Cancel Course Request'"
                [template]="template" [subHeading]="'Please confirm this request to receive your fund'">
  <ng-template #template>
    <ng-container [ngSwitch]="loading">
      <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
      <div class="refund-modal col-12 mt-4" *ngSwitchCase="false">
        <div class="form-group">
          <span class="fw-bold mb-2 d-block font-18">Summary:</span>
          <div class="row">
            <div class="col-md-6 mb-2"><span
              class="text-secondary font-18">Total Classes: </span>{{ reFundDetail?.course?.totalClasses }}</div>
            <div class="col-md-6"><span
              class="text-secondary font-18">Remaining Classes: </span> {{ reFundDetail?.remainingClasses }} </div>
          </div>

          <div class="row">
            <div class="col-md-6"><span
              class="text-secondary font-18">Refundable Classes: </span> {{ reFundDetail?.refundedClassesCount }}</div>
            <div class="col-md-6"></div>
          </div>
          <hr class="text-secondary">
        </div>

        <div class="form-group mt-3">
          <div class="row mb-3">
            <div class="col-md-6"><span class="text-secondary font-18">Refund Amount per Class</span></div>
            <div class="col-md-6 text-right">{{ reFundDetail?.refundAmountPerClass | metutorsMoney | async }}</div>
          </div>

          <div class="row mb-4">
            <div class="col-md-6"><span class="text-secondary font-18">Administrative Service Fee @ 10%</span></div>
            <div class="col-md-6 text-right font-18">{{ reFundDetail?.totalServiceFee | metutorsMoney | async }}</div>
          </div>

          <div class="row">
            <div class="col-md-6 font-18">Total Amount Refund</div>
            <div class="col-md-6 text-right font-18">{{ reFundDetail?.totalRefunds | metutorsMoney | async }} </div>
          </div>
        </div>
        <hr class="text-secondary">
        <div class="form-group mt-2">
          <label>Reason for course cancellation</label>
          <p class="font-18 text-secondary">{{ reFundDetail?.canceledCourse?.reason }}</p>
        </div>

        <div class="mt-4 d-flex justify-content-center">
          <button mat-button class="main-button-transparent px-5 py-1" (click)="closeModal.emit()">
            Cancel
          </button>
          <button mat-flat-button color="primary" class="px-5 ms-3 py-1" (click)="refundClicked.emit()">
            Process Refund Payment
          </button>
        </div>
      </div>
    </ng-container>
  </ng-template>
</metutors-modal>
