<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <h1 class="title overflow-hidden d-flex align-items-center">
          {{ course.courseName}}
          <span class="ms-2">({{course.courseCode}})</span>
          <button mat-button class="ms-2 status"
                  [ngClass]="course.status">{{ statusLabel[course.status].long }}</button>
        </h1>
      </div>
      <div class="col-md-3 percentage d-flex align-items-center">
        <ng-container *ngIf="type === 'student'">
          <strong class="me-2">Attendance Percentage</strong>
          <div class="position-relative my-progress">
            <mat-progress-spinner class="progress-spinner" [color]="'primary'" [mode]="'determinate'"
                                  [value]="course?.attendencePercentage">
            </mat-progress-spinner>
            <span class="position-absolute">{{ course?.attendencePercentage}}%</span>
          </div>
        </ng-container>
      </div>
      <div class="col-md-4 d-flex justify-content-end actions">
        <ng-container *ngIf="type === 'student'">
          <button mat-button (click)="clicked.emit('')">View Assignments</button>
          <button mat-button (click)="clicked.emit('')">View Feedback</button>
        </ng-container>

        <ng-container *ngIf="type === 'tutor'">
          <button mat-button class="fw-bold" (click)="clicked.emit('feedback')">Students Feedback</button>
          <button mat-button class="fw-bold" (click)="clicked.emit('reassign')">Re-assign Course</button>
          <button mat-button class="fw-bold prev" (click)="clicked.emit('previous')">Previous Teacher</button>
        </ng-container>
      </div>
    </div>
    <div class="row list rounded">
      <div class="col-md d-flex menu align-items-center">
        <img src="../../../../../../assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
        <strong>Total Hour: </strong>
        <span>{{course?.totalHours}}hrs</span>
      </div>
      <div class="col-md d-flex menu align-items-center">
        <img src="../../../../../../assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
        <strong>Remaining Classes: </strong>
        <span>{{course?.remainingClasses}}</span>
      </div>
      <div class="col-md d-flex menu align-items-center">
        <img src="../../../../../../assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15"
             draggable="false">
        <strong>Completed Classes: </strong>
        <span>{{course?.completedClasses}}</span>
      </div>
      <div class="col-md d-flex menu align-items-center">
        <img src="../../../../../../assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
        <strong>Rescheduled Classes: </strong>
        <span>{{course?.rescheduledClasses}}</span>
      </div>
      <div class="col-md d-flex menu align-items-center">
        <img src="../../../../../../assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15"
             draggable="false">
        <strong>Added Classes: </strong>
        <span>{{course?.addedClasses}}</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="student-info d-flex align-items-center">
          <img [src]="imageURL+course?.student?.avatar" meTutorsDefaultAvatar alt="" class="rounded-circle">
          <div class="ms-2">
            <h1 class="mb-0">{{course?.student?.firstName}} {{course?.student?.lastName}}</h1>
            <div>
              <rating [(ngModel)]="course.student.averageRating" [max]="5" [readonly]="true"></rating>
              <span class="ms-2 count">{{course?.student?.averageRating.toFixed(2)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 in-progress">
        <h3>Assignment Completion Rate</h3>
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <mat-progress-bar class="example-margin" [color]="'primary'" [value]="course.assignmentCompletionRate">
            </mat-progress-bar>
          </div>
          <strong>{{course?.assignmentCompletionRate}}%</strong>
        </div>
      </div>
      <div class="col-md-5 info d-flex justify-content-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <span class="d-block">Program</span>
            <strong class="d-block">{{course?.program?.code}}</strong>
          </li>
          <li class="list-inline-item">
            <span class="d-block">Grade</span>
            <strong class="d-block">{{course?.subject?.grade || '-'}}</strong>
          </li>
          <li class="list-inline-item">
            <span class="d-block">Field of Study</span>
            <strong class="d-block">{{course?.field?.name}}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
