<div class="card">
  <div class="card-body">
    <form class="user-prefrences" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <div class="row mb-3">
        <h4 class="mb-4">User Preferences</h4>
        <div class="col-xl-6">
          <h3>Select Gender to Teach</h3>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [placeholder]="'Choose gender'" formControlName="preferred_gender">
              <mat-option [value]="'male'">
                Male
              </mat-option>
              <mat-option [value]="'female'">
                Female
              </mat-option>
              <mat-option [value]="'both'">
                Both
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-3 mt-2">
        <div class="col-xl-6">
          <h3 class="mb-2">Spoken Languages <span>(For teaching)</span></h3>
          <a class="float-end cursor-pointer" (click)="addLanguage()" [ngClass]="{'text-secondary cursor-not-allowed': (languages.status === invalid || languages?.value?.length >=5)}">Add New</a>

          <metutors-spoken-languages [form]="form" [languagesList]="languagesList" id="languages"
                                     (removeLanguage)="removeLanguage($event)">
          </metutors-spoken-languages>
        </div>

      </div>
      <div class="row btn-list mt-5 pt-3">
        <div class="col-12 d-flex justify-content-end">
          <metutors-submit-button [form]="form" [isSubmitting]="isSubmitting" [isDisabled]="!languages?.value?.length">
            Update
          </metutors-submit-button>
        </div>
      </div>
    </form>
  </div>
</div>
