<nav class="navbar navbar-expand-lg text-16 sticky-top d-none d-lg-block" id="home-header">
  <div class="container">
    <div class="d-flex flex-grow-1 mobile_menu">
      <span class="w-100 d-lg-none d-block"></span>
      <a class="navbar-brand-two" routerLink="/">
        <img alt="logo" src="assets/logo/logo-dark.png" width="200px" draggable="false">
      </a>
    </div>
    <div class="flex-grow-1 collapse navbar-collapse">
      <ul class="navbar-nav ms-auto flex-nowrap float-end">
        <li class="nav-item">
          <a class="nav-link nav-item-link" routerLink="/about" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            {{ 'ABOUT_US' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-link" routerLink="/study" routerLinkActive="active">
            {{ 'STUDY' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-link" routerLink="/become-tutor" routerLinkActive="active">
            {{ 'BECOME_TUTOR' | translate }}
          </a>
        </li>
        <li class="nav-item" *ngIf="!(token$ | async)">
          <a class="nav-link nav-item-link" routerLink="/signin" routerLinkActive="active">
            {{ 'SIGN_IN' | translate }}
          </a>
        </li>
        <li class="nav-item" *ngIf="token$ | async">
          <a class="nav-link nav-item-link" (click)="logout()">
            {{ 'LOGOUT' | translate }}
          </a>
        </li>
        <li class="nav-item d-flex align-items-center justify-content-center">
          <a class="nav-link nav-item-link currency" [matMenuTriggerFor]="currency">
            <span class="lang">{{ (selectedCurrency$ | async)?.id }}</span>
            <img src="assets/svg/b-chevron.svg" alt="" draggable="false">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-link" [matMenuTriggerFor]="languages">
            <img src="assets/svg/language.svg" alt="" draggable="false">
            <span class="lang text-capitalize">{{ selectedLanguage }}</span>
            <img src="assets/svg/b-chevron.svg" alt="" draggable="false">
          </a>
        </li>
        <li class="nav-item btn-nav d-flex align-items-center justify-content-center">
          <a *ngIf="!(token$ | async)" class="link-btn login px-4 py-1 fw-bold" mat-flat-button color="primary"
            routerLink="/" fragment="explore-services">
            {{ 'GET_STARTED' | translate }}
          </a>
          <a *ngIf="token$ | async" class="link-btn login px-4 py-1 fw-bold" mat-flat-button color="primary"
            [routerLink]="+((user$ | async)?.roleId)! === userRole.tutor ? '/tutor' : +((user$ | async)?.roleId)! === userRole.student ? '/student' : '/admin'">
            {{ 'MY_CLASSROOM' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light sticky-top py-3 card d-block d-lg-none"
  data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container" dropdown>
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo/logo-dark.png" alt="" width="146" />
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" dropdownToggle
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>

    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-left w-100-sm" role="menu"
      aria-labelledby="button-basic">
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/about" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">{{ 'ABOUT_US' | translate }}</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/study" routerLinkActive="active">{{ 'STUDY' | translate }}</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" routerLink="/become-tutor" routerLinkActive="active">
          {{ 'BECOME_TUTOR' | translate }}
        </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item text-center" [matMenuTriggerFor]="currency">
          <span class="mx-2">{{ (selectedCurrency$ | async)?.id }}</span>
          <img src="assets/svg/b-chevron.svg" alt="" draggable="false">
        </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item text-center" [matMenuTriggerFor]="languages">
          <img src="assets/svg/language.svg" alt="" draggable="false">
          <span class="mx-2 text-capitalize">{{ selectedLanguage }}</span>
          <img src="assets/svg/b-chevron.svg" alt="" draggable="false">
        </a>
      </li>
      <li role="menuitem" class="book-class">
        <a *ngIf="!(token$ | async)" class="dropdown-item link-btn login" mat-flat-button color="primary"
          routerLink="/signup">
          {{ 'GET_STARTED' | translate }}
        </a>
        <a *ngIf="token$ | async" class="dropdown-item link-btn login" mat-flat-button color="primary"
          [routerLink]="+((user$ | async)?.roleId)! === userRole.tutor ? '/tutor' : +((user$ | async)?.roleId)! === userRole.student ? '/student' : '/admin'">
          {{ 'MY_CLASSROOM' | translate }}
        </a>
      </li>

      <li class="divider dropdown-divider"></li>

      <li role="menuitem" *ngIf="!(token$ | async)">
        <a class="main-btn rounded-pill order-0 w-100 button-auth text-center" type="button" routerLink="/signin"
          routerLinkActive="active">
          {{ 'SIGN_IN' | translate }}
        </a>
      </li>
      <li role="menuitem" *ngIf="token$ | async">
        <a class="secondary-btn mt-2 w-100 button-auth text-center" type="button"
          (click)="logout()">{{ 'LOGOUT' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>

<mat-menu #currency="matMenu">
  <ng-container *ngFor="let item of (currencyRates$ | async)">
    <button mat-menu-item [ngClass]="{
      'active' : item.id === (selectedCurrency$ | async)?.id
      }" class="h-auto currency-item" (click)="onCurrencySelect(item)">
      {{ item?.name }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #languages="matMenu">
  <a mat-menu-item class="h-auto currency-item" (click)="onLanguageSelect('ar')">العربية</a>
  <a mat-menu-item class="h-auto currency-item" (click)="onLanguageSelect('en')">English</a>
</mat-menu>
