#home-header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 22px 0;
  transition: all .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  z-index: 999;
  border-radius: 0;
  background-color: #FFF;

  .btn-nav {
    margin-right: 10px;

    .link-btn {
      height: auto;
      color: #5D6678;
      cursor: pointer;

      &.login {
        color: #FFF;
      }
    }
  }

  .container {
    height: auto;
  }

  .nav-item {
    position: relative;
    margin-right: 20px;

    .lang {
      margin-right: 5px;
      margin-left: 5px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 19px;
    opacity: 0.7;

    &.currency {
      background: #ECECEC;
      height: 35px;
      color: #2A2A2A;
      font-size: 15px;
      border-radius: 5px;
    }

    &.active {
      border-radius: 0;
      border-top: 1px solid #000;
    }

    &.username {
      max-width: 150px;
      padding-left: 0;

      button {
        min-width: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);

        svg {
          fill: #D8DADF;
        }
      }
    }

    &.nav-item-link:not(.active):after {
      content: "";
      position: absolute;
      right: 50%;
      width: 0;
      left: 50%;
      background: white;
      height: 2px;
      top: 0;
      transition: all 0.25s ease-in-out;
    }

    &.nav-item-link:hover {
      &:after {
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }
}

.dropdown-menu {
  border: none;
  border-radius: 6px;
  box-shadow: 0 16px 30px 0 rgb(0 0 0 / 5%);

  .name {
    font-size: 18px;
    font-weight: bold;
    color: #1a1714;
  }

  .email {
    font-size: 12px;
    color: #4c453d;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: #1e2125;
    background-color: #e9ecef;
  }

  .dropdown-divider {
    border-top: 1px solid rgba(153, 138, 122, 0.4);
  }

  .dropdown-item {
    font-size: 16px;
    font-weight: 500;
    color: #182522;
    padding: 9px 20px;
  }

  .button-auth {
    font-weight: bold;
    padding: 10px 0;
  }

  .book-class {
    padding: 0 10px;

    .login {
      color: #FFF;
    }
  }
}

.currency-item {
  color: #2a2a2a;

  &.active {
    color: var(--main-color);
    background-color: rgb(59 179 193 / 10%);
  }
}
