<div>
  <h4 class="mb-4 d-flex align-items-center justify-content-between">
    <span>Role Selection</span>
    <button mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </h4>
  <div class="form-group types">
    <div class="row">
      <div class="col-md-6" *ngFor="let role of roles">
        <button mat-button (click)="onSubmit(role.id)" class="w-100 text-start" type="button">
          <mat-icon>local_library</mat-icon>
          I'm a {{ role.name }}
        </button>
      </div>
    </div>
  </div>
</div>
