<div class="bookings-list">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1>Feedback & Testimonials</h1>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <div class="position-relative">
            <input type="text" class="form-control custom-input input-bordered" placeholder="Apply filters">
            <mat-icon class="filter">filter_alt</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12" *ngLet="(view$ | async) as view">
      <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onChangeTab($event)">
        <mat-tab [label]="'By Teacher'">
          <ng-container [ngSwitch]="view.loading">
            <ng-container *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </ng-container>

            <ng-container *ngSwitchCase="false">
              <metutors-admin-feedback [feedback]="view?.testimonials" [isTestimonial]="true"
                                       (buttonClicked)="onButtonClicked($event)"></metutors-admin-feedback>
            </ng-container>
          </ng-container>
        </mat-tab>

        <mat-tab [label]="'By Student'">
          <ng-container [ngSwitch]="view.loading">
            <ng-container *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </ng-container>

            <ng-container *ngSwitchCase="false">
              <metutors-admin-feedback [feedback]="view?.testimonials" [isTestimonial]="true"
                                       (buttonClicked)="onButtonClicked($event)"></metutors-admin-feedback>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<metutors-admin-change-status-modal *ngIf="showChangeStatusModal$ | async" [status]="status" [heading]="heading"
                                    (closeModal)="onCloseModals()" [statusList]="statusList"
                                    [isSubmitting]="(isChangingStatus$ | async)!"
                                    [showModal]="(showChangeStatusModal$ | async)!"
                                    (submitted)="onUpdateStatus($event)">
</metutors-admin-change-status-modal>

<metutors-admin-edit-feedback-modal *ngIf="showEditFeedbackModal$ | async" (closeModal)="onCloseModals()"
                                    [showModal]="(showEditFeedbackModal$| async)!">
</metutors-admin-edit-feedback-modal>
