<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'large'" [template]="template">
  <ng-template #template>
    <div class="coming-soon text-center">
      <img src="assets/png/coming-soon.png" draggable="false" alt="">
      <h1 class="f-size-25-md-sm mt-4">{{ 'SERVICE_COMING_SOON' | translate }}</h1>
      <p class="mt-2 f-size-15-md-sm">
        {{ 'WORKING_HARD_BEST_SERVICE' | translate }}
        <br>
        {{ 'REFER_SYSTEM_ADMIN' | translate }}
      </p>
    </div>
  </ng-template>
</metutors-modal>
