<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'large'" [template]="template">
  <ng-template #template>
    <div class="coming-soon text-center">
      <img src="assets/png/coming-soon.png" draggable="false" alt="">
      <h1 class="f-size-25-md-sm mt-4">
        This service is coming soon...
      </h1>
      <p class="mt-2 f-size-15-md-sm">
        We're working hard to give you the best possible service
        <br>
        Please refer to your system administrator.
      </p>
    </div>
  </ng-template>
</metutors-modal>
