<div class="benefits-online-tutoring">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="f-size-20-md-sm">{{ 'KICKSTART_ONLINE_LEARNING' | translate }}</h1>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li>
                <img src="assets/svg/correct.svg" alt="">
                <span class="f-size-15-md-sm">{{ 'HUGE_VARIETY_COURSES' | translate }}</span>
              </li>
              <li>
                <img src="assets/svg/correct.svg" alt="">
                <span class="f-size-15-md-sm">{{ 'REWATCH_CLASS_RECORDING' | translate }}</span>
              </li>
              <li>
                <img src="assets/svg/correct.svg" alt="">
                <span class="f-size-15-md-sm">{{ 'GLOBALLY_PROGRAMS' | translate }}</span>
              </li>
              <li>
                <img src="assets/svg/correct.svg" alt="">
                <span class="f-size-15-md-sm">{{ 'WORK_QUALIFIED_TRUSTED_TUTORS' | translate }}</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li>
                <img src="assets/svg/correct.svg" alt="">
                <span class="f-size-15-md-sm">{{ 'CLASSES_ADAPTED_STYLE' | translate }}</span>
              </li>
              <li>
                <img src="assets/svg/correct.svg" alt="">
                <span class="f-size-15-md-sm">{{ 'PROGRAMS_HELP_EXCEL' | translate }}</span>
              </li>
              <li>
                <img src="assets/svg/correct.svg" alt="">
                <span class="f-size-15-md-sm">{{ 'ASSIGNMENT_HOMEWORK_HELP' | translate }}</span>
              </li>
              <li>
                <img src="assets/svg/correct.svg" alt="">
                <span class="f-size-15-md-sm">{{ 'CONNECT_TUTORS_WORLD' | translate }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a mat-button class="start-learn" routerLink="/" fragment="explore-services" *ngIf="!token">
              {{ 'ENROLL_NOW' | translate }}
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="25px" viewBox="0 0 24 25" version="1.1" class="rotate-180-ar">
                <title>B29A525A-E2E3-422D-9563-F3F0E578E308</title>
                <g id="1_Main-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="1.3_For-Students" transform="translate(-419.000000, -2753.000000)">
                    <g id="Looing-for-" transform="translate(210.000000, 2316.000000)">
                      <g id="BTN" transform="translate(0.000000, 414.000000)">
                        <g id="arrow-left-line"
                          transform="translate(221.000000, 35.036923) scale(-1, 1) translate(-221.000000, -35.036923) translate(209.000000, 23.000000)">
                          <polygon id="Path" points="0 0 24 0 24 24.0738462 0 24.0738462" />
                          <polygon id="Path" fill="#3BB3C1" fill-rule="nonzero"
                            points="7.828 11.0338462 20 11.0338462 20 13.04 7.828 13.04 13.192 18.4205046 11.778 19.8388554 4 12.0369231 11.778 4.23499077 13.192 5.65334154" />
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>

      </div>
      <div class="col-md-5">
        <img src="assets/homepage/teaching.png" height="450px" alt=""
          class="w-100-sm w-100-md object-contain-md-sm h-auto-sm teaching-img">
      </div>
    </div>
  </div>
</div>
