.benefits-online-tutoring {
  padding: 100px;

  h1 {
    color: #2a2a2a;
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  ul {
    li {
      margin-bottom: 20px;
      display: flex;

      img {
        float: left;
        margin-right: 10px;
        width: 25px;
        height: 25px;
      }

      span {
        color: #2a2a2a;
        font-size: 18px;
      }
    }
  }

  .start-learn {
    border: 1px solid var(--main-color);
    padding: 5px 30px;
    color: #2a2a2a;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
}

@media (max-width:992px) {
  .benefits-online-tutoring {
    padding: 0;
  }
}
