<div class="class-details">
  <h2 class="d-flex align-items-center">Classroom Details</h2>
  <div class="card">
    <div class="card-body">
      <!-- <h3>Course details</h3>
      <div class="row">
        <div class="col-md-4">
          <img src="https://cdn.zeplin.io/6028de32189e8faf9f3e3c68/assets/CA4AA2D3-01C6-49D5-94E9-E9A33BFEC898.png"
            draggable="false" alt="" class="rounded" width="80" height="80">
        </div>
        <div class="col-md-8">
          <h4>The Web Developer Bootcaping</h4>
          <div class="d-flex">
            <img src="assets/svg/star-fill.svg" alt="" width="20" height="20" draggable="false" />
            <span class="count">4.5</span>
            <span class="review">(30 reviews)</span>
          </div>
          <h5>23 Feb 20 - 34 Hours - 12 Patches</h5>
        </div>
      </div> -->

      <h3 class="details">Classroom Details</h3>
      <ul class="list-unstyled row">
        <li class="col-12">
          <img src="assets/svg/calendar.svg" draggable="false" width="20" height="20" alt="">
          <span>Starting In: {{ classroom?.startDate | date }}</span>
        </li>
        <li class="col-12">
          <img src="assets/svg/briefcase.svg" draggable="false" width="20" height="20" alt="">
          <span>End In: {{ classroom?.endDate | date }}</span>
        </li>
        <li class="col-12">
          <img src="assets/svg/timer.svg" draggable="false" width="20" height="20" alt="">
          <span>Total Hours : {{ classroom?.hours }}hours</span>
        </li>
        <li class="col-12">
          <img src="assets/svg/time.svg" draggable="false" width="20" height="20" alt="">
          <span>Time: {{ classroom?.startTime }} : {{ classroom?.endTime }}</span>
        </li>
        <li class="col-12">
          <img src="assets/svg/user-formal.svg" draggable="false" width="20" height="20" alt="">
          <span>Classroom: {{ classroom?.type }}</span>
        </li>
        <li class="col-12">
          <img src="assets/svg/class.svg" draggable="false" width="20" height="20" alt="">
          <span>Total Class: {{ classroom?.classes }} Classes</span>
        </li>
      </ul>

      <h3 class="details">Classroom tutor</h3>
      <div class="row info">
        <div class="col-md-2 d-flex align-items-center">
          <img [src]="classroom?.tutor?.avatar" meTutorsDefaultAvatar alt="" draggable="false">
        </div>
        <div class="col-md-10 d-flex justify-content-center flex-column">
          <h2>{{ classroom?.tutor?.name }}</h2>
          <h3>{{ classroom?.tutor?.bio }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
