.class-details {
  h2 {
    color: #2a2a2a;
    font-size: 20px;
    height: 50px;
  }

  .card {
    border-radius: 12px;
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    box-shadow: none;
    margin-bottom: 20px;

    h3 {
      color: #696969;
      font-size: 16px;

      // &.details {
      //   margin-top: 15px;
      //   border-top: 1px solid #e2e2e2;
      //   padding-top: 20px;
      // }
    }

    h4 {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #2a2a2a;
      font-size: 16px;
      font-weight: bold;
    }

    h5 {
      color: #2a2a2a;
      font-size: 13px;
      margin: 10px 0 0;
    }

    ul li {
      margin: 5px 0;

      span {
        margin-left: 15px;
        color: #2a2a2a;
        font-size: 15px;
      }
    }

    .informations {
      span {
        color: #696969 !important;
      }

      strong {
        color: #2A2A2A;
        font-size: 14px;
      }
    }

    .b-border {
      padding-bottom: 1rem;
      border-bottom: 1px solid #e2e2e2;
    }

    .info {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      h2 {
        color: #2a2a2a;
        font-size: 14px;
        height: auto;
        font-weight: bold;
      }

      h3 {
        color: #696969;
        font-size: 12px;
        margin: 0;
      }

      h6 {
        color: #696969;
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }
}
