<div class="card course-card mb-3">
  <div class="row">
    <div class="col-md-3">
      <div class="position-relative">
        <img [src]="course?.picture" meTutorsDefaultCourse draggable="false" class="card-img-top rounded w-100-sm" alt
          width="230" height="230">
        <!-- <label class="badge-item" [ngClass]="{
            'popular': course?.tag === courseTags['pop'],
            'new': course?.tag === courseTags['new'],
            'top': course?.tag === courseTags['top']
          }">{{ course?.tag }}</label> -->
      </div>
    </div>
    <div class="col-md-9 d-flex flex-column">
      <h5 class="card-title">
        {{ course?.name }}
      </h5>
      <p class="desc flex-grow-1 f-size-15-md-sm" [innerHTML]="course?.description"></p>
      <div class="row list rounded">
        <div class="col-lg-4 col-md d-flex menu align-items-center">
          <strong>{{ 'PRICE_PER_HOUR' | translate }}: </strong>
          <span>{{ course?.pricePerHour | metutorsMoney | async }}</span>
        </div>
        <div class="col">
          <a mat-button class="main-button-transparent float-end w-100-sm" routerLink="/requests/request-tutor"
            [queryParams]="{program: course?.programId, field: course?.fieldId, subject: course?.id, country: course?.countryId}">
            {{ 'START_LEARNING_NOW' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
