<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'large'" [heading]="'Please type your reason to cancel this course below:'"
                [template]="template">
                {{ showModal }}
  <ng-template #template>
    <form class="row leave-feedback-modal" [formGroup]="form" (ngSubmit)="submitted.emit(form)">
      <div class="col-12">
        <div class="form-group">
          <textarea class="form-control custom-input input-bordered" formControlName="reason" id="exampleFormControlTextarea1" rows="10" placeholder="{{ 'ENTER_REASON_HERE' | translate }}"></textarea>
        </div>

        <div class="row mt-2">
          <div class="col-md-12 overflow-hidden">
            <metutors-submit-button [form]="form" [isSubmitting]="isCanceling$ | async" [extraClasses]="'float-end py-1 px-5'">
              {{ 'SUBMIT' | translate }}
            </metutors-submit-button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</metutors-modal>
