<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'xmedium'"
                [heading]="heading"
                [subHeading]="subHeading"
                [template]="template">
  <ng-template #template>
    <div class="tutors-list">
      <div class="assign-tutor flex-row">
        <ng-container [ngSwitch]="loading">
          <ng-container *ngSwitchCase="true">
            <div class="ph-item mx-2" *ngFor="let i of [1, 2, 3, 4, 5]">
              <div class="ph-col-2">
                <div class="ph-avatar ph-image"></div>
              </div>

              <div>
                <div class="ph-row mt-2">
                  <div class="ph-col-10"></div>
                  <div class="ph-col-2 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <div class="list-tutors">
              <ng-container *ngIf="tutors?.length">
                <div class="row mb-3" *ngFor="let tutor of tutors">
                  <div class="position-relative img-avatar col-md-1">
                    <img [src]="tutor?.avatar" meTutorsDefaultAvatar alt="" width="60px" height="60px">
                    <!-- <svg class="position-absolute status" width="16" height="16" [ngClass]="{
                          'is-online': tutor?.status === tutorStatus.online, 
                          'is-busy': tutor?.status === tutorStatus.busy, 
                          'is-offline': tutor?.status === tutorStatus.offline, 
                          'is-away': tutor?.status === tutorStatus.away
                        }" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="7" fill="#949494" stroke="white" stroke-width="2" />
                  </svg> -->
                  </div>
                  <div class="col d-flex justify-content-center flex-column">
                    <h2>
                      {{ tutor?.name }}
                      <!-- <span class="text-uppercase pro">Pro</span>
                        <span class="text-uppercase verified">Verified</span> -->
                    </h2>
                    <h3 class="mb-0" *ngIf="tutor?.bio">{{ tutor?.bio }}</h3>
                  </div>
                  <a class="col-md-2 full-profile" [routerLink]="'/profile/tutor/' + tutor?.id" target="_blank">
                    <img src="assets/svg/share-link.svg" draggable="false" width="16px" height="16px" alt="">
                    Full profile
                  </a>
                </div>
              </ng-container>

              <ng-container *ngIf="!tutors?.length">
                <div class="text-center fw-bold">No record found!</div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-template>
</metutors-modal>
