<div class="syllabus" *ngLet="(view$ | async) as view">
  <form [formGroup]="form">
    <div class="card">
      <div class="card-body p-15-sm">
        <ng-container [ngSwitch]="view.loading">
          <ng-container *ngSwitchCase="false">
            <h1 class="title f-size-20-md-sm">{{ view.syllabus.course?.courseName }} <span>({{ view.syllabus.course?.courseCode }})</span>
              <button mat-button class="ms-3 status" [ngClass]="view.syllabus.course?.status">{{ statusLabel[view.syllabus.course?.status].long }}</button>
            </h1>
            <div class="row list-items">
              <div class="col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
                <strong>{{ 'DAYS' | translate }}: </strong>
                <span class="f-size-17-md-sm">
                  <ng-container *ngFor="let day of getDays(view.syllabus?.course?.weekdays); let isLast = last">
                    {{ day | uppercase | translate }}<ng-container *ngIf="!isLast">, </ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
                <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                <strong>{{ 'TIME' | translate }}: </strong>
                <span class="f-size-17-md-sm">{{ view.syllabus?.course?.startTime | date:'h:mm a' }} - {{ view.syllabus?.course?.endTime | date:'h:mm a' }} ({{ view.syllabus?.course?.startTime | metutorsTimeDiff: view.syllabus?.course?.endTime}} {{ 'HOUR_SM' | translate }})</span>
              </div>
              <div class="col-lg-2 col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                <strong>{{ 'TOTAL_HOURS' | translate }}: </strong>
                <span class="f-size-17-md-sm">{{ view.syllabus?.course?.totalHours }}{{ +(view.syllabus?.course?.totalHours)! > 1 ? ('HRS_SM' | translate) : ('HR_SM' | translate) }}</span>
              </div>
              <div class="col-md-2 d-flex menu align-items-center">
                <img src="assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                <strong>{{ 'TOTAL_CLASSES' | translate }}: </strong>
                <span class="f-size-17-md-sm">{{ view.syllabus?.course?.totalClasses }}</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-5 in-progress">
                <h3 class="f-size-15-md-sm" *ngIf="view.syllabus?.courseProgress === 100">{{ 'COMPLETED' | translate }}</h3>
                <h3 class="f-size-15-md-sm" *ngIf="view.syllabus?.courseProgress === 0">{{ 'NOT_STARTED_YET' | translate }}</h3>
                <h3 class="f-size-15-md-sm"
                  *ngIf="view.syllabus?.courseProgress&& (view.syllabus?.courseProgress > 0 && view.syllabus?.courseProgress < 100)">
                  {{ 'INPROGRESS' | translate }}</h3>
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    <mat-progress-bar class="example-margin"
                                      [color]="'primary'"
                                      [value]="view.syllabus?.courseProgress">
                    </mat-progress-bar>
                  </div>
                  <strong>{{ view.syllabus?.courseProgress }}%</strong>
                </div>
              </div>
              <div class="col-md-7 mt-15-sm">
                <button mat-button class="main-button-transparent float-end" (click)="onShowAddTopicModal()"
                        [disabled]="!view.syllabus?.unclassifiedClasses?.length">
                  <mat-icon>add</mat-icon>
                  {{ 'ADD_NEW_TOPIC' | translate }}
                </button>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="true">
            <div class="ph-row">
              <div class="ph-col-8 big"></div>
              <div class="ph-col-4 big empty"></div>
              <div class="ph-col-10 big mt-3"></div>
              <div class="ph-col-2 big empty mt-3"></div>
              <div class="ph-col-6 mt-4"></div>
              <div class="ph-col-6 mt-4 empty"></div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="items p-15-sm">
      <ng-container [ngSwitch]="view.loading">
        <h1 class="title f-size-17-md-sm">{{ 'HIGHLIGHTED_TOPICS' | translate }}</h1>
        <div class="col-12 unclassified-table">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <div class="table-responsive" *ngSwitchCase="false">
            <table class="table my-table default-title">
              <tr>
                <th scope="col">{{ 'TOPIC' | translate }}</th>
                <th scope="col">{{ 'TOPIC_NAME' | translate }}</th>
                <th scope="col">{{ 'KNOWLEDGE_CONFIDENCE_SCALE' | translate }}</th>
              </tr>

              <tr *ngIf="!view.syllabus.highlightedTopics.length">
                <td colspan="6">
                  <div class="text-center">{{ 'NO_RECORD_FOUND' | translate }}</div>
                </td>
              </tr>
              <ng-container *ngIf="view.syllabus.highlightedTopics.length">
                <tr *ngFor="let topic of view.syllabus.highlightedTopics; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ topic?.name }}</td>
                  <td>{{ topic?.confidenceScale | metutorsUppercase | translate }}</td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>

        <h1 class="title pt-5 f-size-17-md-sm">{{ 'UNCLASSIFIED_CLASSES' | translate }}</h1>
        <div class="col-12 unclassified-table">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <div class="table-responsive" *ngSwitchCase="false">
            <table class="table my-table default-title">
              <tr>
                <th scope="col">{{ 'CLASS_NUMBER' | translate }}</th>
                <th scope="col">{{ 'CLASS_SUBJECT' | translate }}</th>
                <th scope="col">{{ 'CLASS_DAYS' | translate }}</th>
                <th scope="col" style="min-width: 150px">{{ 'START_END_TIME' | translate }}</th>
                <th scope="col">{{ 'DURATION' | translate }}</th>
                <th scope="col">{{ 'ACTION' | translate }}</th>
              </tr>

              <tr *ngIf="!view.syllabus.unclassifiedClasses.length">
                <td colspan="6">
                  <div class="text-center">{{ 'NO_RECORD_FOUND' | translate }}</div>
                </td>
              </tr>
              <ng-container *ngIf="view.syllabus.unclassifiedClasses.length">
                <tr *ngFor="let unclassifiedClass of view.syllabus.unclassifiedClasses; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td *ngIf="subjectId !== unclassifiedClass.id">{{ unclassifiedClass?.title }}</td>
                  <td *ngIf="subjectId === unclassifiedClass.id">
                    <input type="text" class="form-control custom-input input-bordered" formControlName="subjectTitle" placeholder="{{ 'ADD_TOPIC_HERE' | translate }}" autofocus meTutorsTrimInput>
                  </td>
                  <td>{{ unclassifiedClass?.startDate | date: 'EEEE, dd MMM Y' }}</td>
                  <td>{{ unclassifiedClass?.startTime | date:'h:mm a' }} - {{ unclassifiedClass?.endTime | date:'h:mm a' }}</td>
                  <td>{{ unclassifiedClass?.duration }}{{ +(unclassifiedClass?.duration)! > 1 ? ('HRS_SM' | translate) : ('HR_SM' | translate) }}</td>
                  <td>
                    <button class="edit-btn" mat-button *ngIf="subjectId !== unclassifiedClass.id"
                            (click)="subjectId = unclassifiedClass.id; setSubjectTitle(unclassifiedClass.title)">
                      <img src="assets/svg/edit.svg" alt="" draggable="false" width="20px" height="20px" />
                    </button>
                    <button class="save-topic-btn d-flex" mat-button [ngClass]="{'disabled': !subjectTitle?.value?.trim() || (isSavingSubjectTitle$ | async)}"
                            *ngIf="subjectId === unclassifiedClass.id" [disabled]="!subjectTitle?.value?.trim() || (isSavingSubjectTitle$ | async)"
                            (click)="onSaveSubjectTitle(unclassifiedClass.id)">
                      {{ 'SAVE' | translate }}
                      <mat-icon class="spinner" *ngIf="(isSavingSubjectTitle$ | async)">autorenew</mat-icon>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>

        <h1 class="title pt-5 f-size-17-md-sm">{{ 'CLASSIFIED_TOPICS' | translate }}</h1>
        <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
        <ng-container *ngSwitchCase="false">
          <div class="text-center p-3" *ngIf="!view.syllabus?.topics.length">{{ 'NO_RECORD_FOUND' | translate }}</div>
          <ng-container *ngIf="view.syllabus?.topics.length">
            <div class="item position-relative" *ngFor="let syllabus of view.syllabus?.topics; let i = index">
              <span class="number">{{ i + 1 }}</span>
              <div class="row set-padding">
                <div class="col-md-10">
                  <h2>{{ syllabus?.topic?.name }}</h2>
                  <div class="row list-items sm-item p-0">
                    <div class="col-md-2 d-flex menu align-items-center">
                      <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                      <strong>{{ 'TOTAL_CLASSES' | translate }}: </strong>
                      <span>{{ syllabus?.totalClasses }}</span>
                    </div>
                    <div class="col-md-2 d-flex menu align-items-center">
                      <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                      <strong>{{ 'TOTAL_HOURS' | translate }}: </strong>
                      <span>{{ syllabus?.totalTopicHours }}{{ +(syllabus?.totalTopicHours)! > 1 ? ('HRS_SM' | translate) : ('HR_SM' | translate) }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row justify-content-end">
                    <div class="col-md-2 d-flex align-items-center">
                      <button class="edit-data" mat-button (click)="onEditTopic(syllabus?.topic, view.syllabus?.unclassifiedClasses?.length)">
                        <img src="assets/svg/edit.svg" width="20" height="20" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row set-padding desc">
                <p class="col">{{ syllabus?.topic?.description }}</p>
                <ng-container *ngIf="view.syllabus?.topics && view.syllabus?.topics?.length">
                  <button mat-button class="expand" *ngIf="selectedCourse !== syllabus?.topic?.id">
                    <mat-icon (click)="openCourse = true; selectedCourse = syllabus?.topic?.id">expand_more</mat-icon>
                  </button>
                  <button mat-button class="expand" *ngIf="openCourse && selectedCourse === syllabus?.topic?.id">
                    <mat-icon (click)="openCourse = false; selectedCourse = null">expand_less</mat-icon>
                  </button>
                </ng-container>
              </div>
              <ng-container *ngIf="view.syllabus?.topics && view.syllabus?.topics?.length">
                <div class="table-responsive" *ngIf="openCourse && selectedCourse === syllabus?.topic?.id"
                     [@slideInOut]>
                  <table class="table my-table default-title">
                    <tr>
                      <th scope="col">{{ 'CLASS_NUMBER' | translate }}</th>
                      <th scope="col">{{ 'CLASS_SUBJECT' | translate }}</th>
                      <th scope="col">{{ 'CLASS_DAYS' | translate }}</th>
                      <th scope="col" style="min-width: 150px">{{ 'START_END_TIME' | translate }}</th>
                      <th scope="col">{{ 'DURATION' | translate }}</th>
                      <th scope="col">{{ 'ACTION' | translate }}</th>
                    </tr>

                    <tr *ngFor="let syllabusClass of syllabus?.topic?.classes; let i = index">
                      <td scope="row">{{ i + 1 }}</td>
                      <td *ngIf="subjectId !== syllabusClass.id">{{ syllabusClass?.title }}</td>
                      <td *ngIf="subjectId === syllabusClass.id">
                        <input type="text" class="form-control custom-input input-bordered" formControlName="subjectTitle" placeholder="{{ 'ADD_TOPIC_HERE' | translate }}" autofocus meTutorsTrimInput>
                      </td>
                      <td>{{ syllabusClass?.startDate | date : 'EEEE, dd MMM Y'}}</td>
                      <td>{{ syllabusClass?.startTime | date:'h:mm a' + '-' + syllabusClass?.endTime | date:'h:mm a' }}</td>
                      <td>{{ syllabusClass?.duration }}{{ +(syllabusClass?.duration)! > 1 ? ('HRS_SM' | translate) : ('HR_SM' | translate) }}</td>
                      <td>
                        <button class="edit-btn" mat-button *ngIf="subjectId !== syllabusClass.id"
                                (click)="subjectId = syllabusClass.id; setSubjectTitle(syllabusClass.title)">
                          <img src="assets/svg/edit.svg" width="20" height="20" />
                        </button>
                        <button class="save-topic-btn d-flex" mat-button [ngClass]="{'disabled': !subjectTitle?.value?.trim() || (isSavingSubjectTitle$ | async)}"
                                [disabled]="!subjectTitle?.value?.trim() || (isSavingSubjectTitle$ | async)" *ngIf="subjectId === syllabusClass.id"
                                (click)="onSaveSubjectTitle(syllabusClass.id)">
                          {{ 'SAVE' | translate }}
                          <mat-icon class="spinner" *ngIf="(isSavingSubjectTitle$ | async)">autorenew</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </form>

  <metutors-tutor-add-syllabus-topic-modal *ngIf="(showAddTopicModal$ | async)"
                                           [topic]="topic"
                                           (deleted)="onDeleteTopic($event)"
                                           (submitted)="onAddEditTopic($event)"
                                           (closeModal)="onCloseAddTopicModal()"
                                           [isSubmitting]="(isAddingTopic$ | async)!"
                                           [showModal]="(showAddTopicModal$ | async)!"
                                           [isDeletingTopic]="(selectIsDeletingTopic$ | async)!"
                                           [totalClasses]="unclassifiedClasses || view.syllabus?.unclassifiedClasses?.length">
  </metutors-tutor-add-syllabus-topic-modal>

</div>
