<div class="ticket-details p-15-sm" *ngLet="(ticket$ | async) as ticket">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <h2 class="title f-size-18-md-sm mb-0">{{ 'MY_TICKETS' | translate }}</h2>
      <a mat-flat-button color="primary" routerLink="/tutor/help/support-ticket/create-ticket">{{ 'CREATE_NEW_TICKET' | translate }}</a>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <ng-container *ngIf="!(isLoading$ | async)">
            <h2 class="f-size-18-md-sm">
              {{ ticket?.subject }}
              <span class="label" [ngClass]="{
                  'issued': ticketStatus.open === ticket?.status,
                  'closed': ticketStatus.closed === ticket?.status,
                  'response': ticketStatus.inprogress === ticket?.status
                }">{{ ticket?.status }}</span>
            </h2>
            <p>
              <bdi>{{ ticket?.message }}</bdi>
            </p>
            <div class="row list-items sm-item">
              <div class="col-md-3 d-flex menu align-items-center mb-15-sm" *ngIf="ticket?.user">
                <img [src]="ticket?.user?.avatar" meTutorsDefaultAvatar class="rounded-circle" alt="" width="25"
                  height="25" draggable="false">
                <strong>
                  <ng-container *ngIf="ticket?.user?.roleName === 'teacher'">{{ 'TEACHER' | translate }}:</ng-container>
                  <ng-container *ngIf="ticket?.user?.roleName === 'student'">{{ 'STUDENT' | translate }}:</ng-container>
                  <ng-container *ngIf="ticket?.user?.roleName !== 'teacher' && ticket?.user?.roleName !== 'student'">
                    {{ 'AGENT' | translate }}:</ng-container>
                  {{ ticket?.user?.name }}
                </strong>
              </div>
              <div class="col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
                <span>{{ 'OPEN' | translate }}: {{ ticket?.createdDate | date: 'EEEE, d MMM y' }}</span>
              </div>
              <div class="col-md-3 d-flex menu align-items-center" *ngIf="ticket?.lastReply">
                <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                <span>{{ 'LAST_REPLY' | translate }}: {{ ticket?.lastReply | amTimeAgo }}</span>
              </div>
              <div class="col-md-3 d-flex menu align-items-center ps-0">
                <div class="block-file d-flex align-items-center" *ngIf="ticket?.file">
                  <img src="assets/svg/attachment.svg" alt="" draggable="false" width="20" height="20">
                  <div class="ms-2 flex-grow-1">
                    <h3><a [href]="ticket?.file" [download]="ticket?.subject" target="_blank">{{ ticket?.subject }}</a></h3>
                  </div>
                  <a mat-button [href]="ticket?.file" [download]="ticket?.subject" target="_blank">{{ 'DOWNLOAD' | translate }}</a>
                </div>
              </div>
            </div>

            <div class="list-messages overflow-auto pe-5" ngx-auto-scroll [lock-y-offset]="10" observe-attributes>
              <div class="row mb-40" [@dropMenuAnimate] *ngFor="let message of ticket?.comments"
                [class.add-margin]="(user$ | async)?.id !== message?.user?.id">
                <div class="col-md-2 d-flex info">
                  <img [src]="message?.user?.avatar" meTutorsDefaultAvatar class="rounded-circle" alt="" width="40"
                    height="40">
                  <div class="ps-3">
                    <h3 class="f-size-15-sm">
                      <ng-container *ngIf="(user$ | async)?.id === message?.user?.id">You</ng-container>
                      <ng-container *ngIf="(user$ | async)?.id !== message?.user?.id">
                        {{ 'AGENT' | translate }}: {{ message?.user?.firstName }}
                      </ng-container>
                    </h3>
                    <h4>{{ message?.createdDate | date: 'd MMM y' }}</h4>
                  </div>
                </div>
                <div class="col-md-10">
                  <p class="m-0">{{ message?.comment }}</p>
                </div>
              </div>
            </div>

            <form class="write-comment" [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm)"
              *ngIf="ticketStatus.closed !== ticket?.status">
              <div class="position-relative">
                <img [src]="(user$ | async)?.avatar" meTutorsDefaultAvatar class="rounded-circle" alt="" width="40"
                  height="40" draggable="false">
                <input type="text" class="form-control" placeholder="{{ 'WRITE_COMMENT' | translate }}" formControlName="comment" meTutorsTrimInput>
                <metutors-submit-button [form]="messageForm" [isSubmitting]="isSubmitTicketComment$ | async"
                  [extraClasses]="'reply-button'">
                  {{ 'REPLY' | translate }}
                </metutors-submit-button>
              </div>
            </form>
          </ng-container>

          <ng-container *ngIf="isLoading$ | async">
            <metutors-grid-placeholder></metutors-grid-placeholder>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
