<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'" [heading]="'Teaching Specifications'"
                [template]="template">
  <ng-template #template>
    <form class="hourly-rate" [formGroup]="form" (ngSubmit)="submitted.emit(form)">
      <ng-container *ngIf="sortedSubjects && sortedSubjects.length">
        <table class="table my-table default-title" *ngFor="let item of sortedSubjects; let indexSubjects = index">
          <tr>
            <th class="heading" [attr.colspan]="item?.programId === nationalId ? '2' : '1'">
              Program <span>
                {{ item?.programName }}<ng-container *ngIf="item?.programId === nationalId">,
                  {{ item?.countryName }}
                </ng-container>
              </span>
            </th>
            <th class="heading">Field Name <span>{{ item?.fieldName }}</span></th>
          </tr>
          <tr>
            <th>Field</th>
            <th *ngIf="item?.programId === nationalId">Grade</th>
            <th>Hourly Price</th>
          </tr>
          <tr *ngFor="let subject of item.subjects; let indexSubject = index">
            <td>{{ subject?.subject }}</td>
            <td *ngIf="item?.programId === nationalId">{{ subject?.gradeName }}</td>
            <td>
              <input type="number" min="0" step="1" max="20" placeholder="Enter Price" class="p-0 w-100"
                [value]="subject.pricePerHour" (change)="changePrice(subject?.id, $event)">
            </td>
          </tr>
        </table>
      </ng-container>

      <h2 class="note">Send Acceptance Message to Tutor</h2>
      <div class="form-group">
        <textarea class="form-control custom-input input-bordered" formControlName="message" rows="10"
          placeholder="Enter the reason here..."></textarea>
      </div>

      <div class="mt-4">
        <metutors-submit-button [form]="form" [extraClasses]="'float-end py-1 px-5'"
          [isSubmitting]="isAcceptingRequest">
          Send Acceptance
        </metutors-submit-button>
      </div>
    </form>
  </ng-template>
</metutors-modal>
