.hourly-rate {
  .my-table.default-title tr {
    th {
      color: #696969;
      font-size: 13px;
      background-color: transparent;

      &.heading {
        background: #F7F7F7;
      }

      span {
        color: #2a2a2a;
      }
    }

    input {
      border: none;
      border-bottom: 1px solid #DCDFE5;

      &:focus {
        border-bottom: 1px solid #9d9fa3;
      }
    }
  }

  .note {
    color: var(--main-color);
    font-size: 16px;
    font-weight: normal;
  }
}
