<div class="classes-dashboard">
  <div class="card">
    <div class="card-body">
      <ng-container *ngIf="!loadingClassroom">
        <h1 class="title">{{ classroom?.name }}</h1>
        <div class="row list rounded">
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
            <strong>Days: </strong>
            <span>
              <ng-container *ngFor="let day of classroom?.listDays; let isLast = last">
                {{ day }}
                <ng-container *ngIf="!isLast">, </ng-container>
              </ng-container>
            </span>
          </div>
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15" draggable="false">
            <strong>Completed classes: </strong>
            <span>{{ classroom?.completedClasses }}</span>
          </div>
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
            <strong>Total hour: </strong>
            <span>{{ classroom?.hours }}hrs</span>
          </div>
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
            <strong>Time: </strong>
            <span>
              {{ classroom?.startTime | date: 'h a' }} : {{ classroom?.endTime | date: 'h a' }}
              <!-- ({{ calculateDurationTime(classroom?.startETime, classroom?.endETime) }} hours) -->
            </span>
          </div>
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
            <strong>Remining classes: </strong>
            <span>{{ classroom?.remainingClasses }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 in-progress">
            <h3>In progress</h3>
            <div class="d-flex align-items-center" *ngIf="classroom && classroom.progress">
              <div class="flex-grow-1">
                <mat-progress-bar class="example-margin" [color]="classroom.progress > 30 ? 'primary' : 'warn'"
                  [value]="classroom?.progress">
                </mat-progress-bar>
              </div>
              <strong>{{ classroom?.progress }}%</strong>
            </div>
          </div>
          <div class="col-md-6">
            <button mat-button class="main-button-transparent float-end ms-2" (click)="openLeaveFeedbackPopop = true">
              Send Feedback
            </button>
            <button mat-button class="main-button-transparent float-end" (click)="openClassroomAttendancesPopop = true">
              Attendence
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="loadingClassroom">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
          <div class="ph-col-4 big empty"></div>
          <div class="ph-col-10 big mt-3"></div>
          <div class="ph-col-2 big empty mt-3"></div>
          <div class="ph-col-6 mt-4"></div>
          <div class="ph-col-6 mt-4 empty"></div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="list-tables">
    <div class="row">
      <div class="col-12">
        <h3 class="overview mb-3">Today's Classes - 21 March 2020 [SUNDAY]</h3>
        <table class="table my-table">
          <tr>
            <th>#</th>
            <th>Classroom Subject</th>
            <th>Classroom tutor</th>
            <th>Start time - End time</th>
            <th>Duration</th>
            <th></th>
          </tr>
          <tr>
            <td>01</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
          <tr>
            <td>02</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
          <tr>
            <td>03</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-12 mt-5">
        <h3 class="overview mb-3">Today's Classes - 21 March 2020 [SUNDAY]</h3>
        <table class="table my-table orange-title">
          <tr>
            <th>#</th>
            <th>Classroom Subject</th>
            <th>Classroom tutor</th>
            <th>Start time - End time</th>
            <th>Duration</th>
            <th></th>
          </tr>
          <tr>
            <td>01</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
          <tr>
            <td>02</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
          <tr>
            <td>03</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
        </table>
      </div>

      <div class="col-12 mt-5">
        <h3 class="overview mb-3">Today's Classes - 21 March 2020 [SUNDAY]</h3>
        <table class="table my-table purple-title">
          <tr>
            <th>#</th>
            <th>Classroom Subject</th>
            <th>Classroom tutor</th>
            <th>Start time - End time</th>
            <th>Duration</th>
            <th></th>
          </tr>
          <tr>
            <td>01</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
          <tr>
            <td>02</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
          <tr>
            <td>03</td>
            <td>Design homepage for …</td>
            <td>Mark Walters</td>
            <td>07:10 PM - 09:40 PM </td>
            <td>2 hours</td>
            <td>
              <button mat-button>View Class</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<metutors-classroom-attendances-popup [openClassroomAttendancesPopop]="openClassroomAttendancesPopop"
  (closeDialog)="openClassroomAttendancesPopop = $event"></metutors-classroom-attendances-popup>

<metutors-leave-feedback-popup [openLeaveFeedbackPopop]="openLeaveFeedbackPopop"
  (closeDialog)="openLeaveFeedbackPopop = $event" [classroom]="classroom" [isStudentView]="true">
</metutors-leave-feedback-popup>
