<div class="d-flex min-h-100">
  <div class="sidemenu">
    <!--    <div class="heading">
          <h1>First Code</h1>
          <button mat-button>British</button>
        </div>-->

    <ul class="list-unstyled m-0" *ngLet="(routeParams$ | async) as params">
      <li>
        <a [routerLink]="'/student/classrooms/classes/dashboard/'+params?.id" routerLinkActive="active">
          <span class="text-uppercase">Classes Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="'/student/classrooms/classes/syllabus/'+ params?.id" routerLinkActive="active">
          <span class="text-uppercase">My Syllabus</span>
        </a>
      </li>
      <li>
        <a [routerLink]="'/student/classrooms/classes/resources/'+params?.id" routerLinkActive="active">
          <span class="text-uppercase">My Resources</span>
        </a>
      </li>
      <li>
        <a [routerLink]="'/student/classrooms/classes/assignments/'+params?.id" routerLinkActive="active">
          <span class="text-uppercase">My Assignments</span>
        </a>
      </li>
      <li>
        <a routerLink="/student/help/support-ticket" routerLinkActive="active">
          <span class="text-uppercase">Support ticket</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="flex-grow-1 overflow-auto">
    <metutors-student-navbar [layout]="(layout$ | async)" [user]="user$ | async"></metutors-student-navbar>

    <router-outlet></router-outlet>
  </div>
</div>
