<div class="program-list" *ngLet="(pagination$ | async) as pagination">
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onChangeTab($event)">
        <mat-tab label="Program">
          <metutors-program></metutors-program>
        </mat-tab>

        <mat-tab label="Field of Studies" *ngLet="(fields$ | async) as fields">
          <div class="row my-3">
            <div class="col-12">
              <h2 class="title"> Field of Study
                <button mat-flat-button color="primary" class="float-end fw-bold"
                        (click)="onOpenAddNewField(); selectedField = undefined">
                  Add Field of Study
                </button>
              </h2>
            </div>
          </div>
          <div class="row filters">
            <div class="col-md-9">
              <!--todo: will add filters in MVP2-->
              <!--<span class="title">Filters</span>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'By Program'" [(ngModel)]="program" (selectionChange)="onChangeFieldSelection()">
                  <mat-option [value]="program?.id" *ngFor="let program of programs$ | async">
                    {{ program?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'By Country'" [(ngModel)]="country" (selectionChange)="onChangeFieldSelection()">
                  <mat-option [value]="country?.id" *ngFor="let country of countries$ | async">
                    {{ country?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'By Grade'" [(ngModel)]="grade" (selectionChange)="onChangeFieldSelection()">
                  <mat-option [value]="i" *ngFor="let grade of grades; let i = index">
                    {{ grade }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'By Status'" [(ngModel)]="status" (selectionChange)="onChangeFieldSelection()">
                  <mat-option [value]="state.id" *ngFor="let state of fieldStatusConst">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>-->
            </div>
            <div class="col-md-3">
              <metutors-search-input (searchedText)="onSearchText($event, 'fields')"></metutors-search-input>
            </div>
          </div>
          <ng-container [ngSwitch]="isLoadingFields$ | async">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>
            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4 overflow-visible">
                <tr>
                  <th>Number</th>
                  <th>Program</th>
                  <th>Country</th>
                  <th>Grade</th>
                  <th>Field of Study</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!fields || !fields.length">
                  <td colspan="7">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let field of fields; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ field?.program?.name }}</td>
                  <td>{{ field?.country?.name }}</td>
                  <td>{{ grades[field?.grade] }}</td>
                  <td>{{ field?.name }}</td>
                  <td>
                    <div dropdown class="change-status position-relative d-flex">
                      <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="{
                        'active': fieldStatus.active === field?.status,
                        'inactive': fieldStatus.inActive === field?.status
                     }">
                        <ng-container *ngIf="fieldStatus.active === field?.status">Active</ng-container>
                        <ng-container *ngIf="fieldStatus.inActive === field?.status">Inactive</ng-container>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                        <li role="menuitem" class="cursor-pointer text-capitalize"
                            *ngFor="let status of fieldStatusConst"
                            [ngClass]="{
                          'active': fieldStatus.active === status.id,
                          'inactive': fieldStatus.inActive === status.id
                        }" (click)="onChangeFieldStatus(field, status.id)">
                          {{ status.name }}
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button class="p-0 action me-2" disabled
                            *ngIf="(isDeletingField$ | async) && deletedField?.id === field.id">
                      <mat-icon class="spinner">autorenew</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action me-2" (click)="deleteField(field)"
                            *ngIf="deletedField?.id !== field.id">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action" (click)="onOpenAddNewField(); selectedField = field">
                      <img src="assets/svg/edit-green.svg" width="17" height="17" alt="">
                    </button>
                  </td>
                </tr>
              </table>

              <div class="d-flex mt-2 justify-content-center" *ngIf="fields.length < pagination?.total">
                <!--<pagination [totalItems]="pagination?.total" [itemsPerPage]="perPage" [maxSize]="5"
                            (pageChanged)="onPageChange($event, 'fields', '')">
                </pagination>-->
              </div>
            </ng-container>
          </ng-container>
        </mat-tab>

        <mat-tab label="Country" *ngLet="(countries$ | async) as countries">
          <div class="row my-3">
            <div class="col-12">
              <h2 class="title"> Country List
                <button mat-flat-button color="primary" class="float-end fw-bold"
                        (click)="onOpenAddNewCountry(); selectedCountry = undefined">
                  Add New Country
                </button>
              </h2>
            </div>
          </div>
          <div class="row filters">
            <div class="col-md-9">
              <!-- <span class="title">Filters</span>
               <mat-form-field appearance="outline" class="me-2">
                 <mat-select [placeholder]="'By Status'" [(ngModel)]="status"
                             (selectionChange)="onChangeCountrySelection()">
                   <mat-option [value]="state.id" *ngFor="let state of countryStatusConst">
                     {{ state.name }}
                   </mat-option>
                 </mat-select>
               </mat-form-field>-->
            </div>
            <div class="col-md-3">
              <metutors-search-input (searchedText)="onSearchText($event, 'country')"></metutors-search-input>
            </div>
          </div>

          <ng-container [ngSwitch]="isLoadingCountry$ | async">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4 overflow-visible">
                <tr>
                  <th>Number</th>
                  <th>Country</th>
                  <th>Last Updated</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!countries || !countries.length">
                  <td colspan="5">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let country of countries; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ country?.name }}</td>
                  <td>{{ country?.updatedAt | date: 'EEEE, d MMM y' }}</td>
                  <td>
                    <div dropdown class="change-status position-relative d-flex">
                      <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="{
                          'active': countryStatus.active === country?.status,
                          'inactive': countryStatus.inActive === country?.status
                       }">
                        <ng-container *ngIf="countryStatus.active === country?.status">Active</ng-container>
                        <ng-container *ngIf="countryStatus.inActive === country?.status">Inactive</ng-container>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                        <li role="menuitem" class="cursor-pointer text-capitalize"
                            *ngFor="let status of countryStatusConst"
                            [ngClass]="{
                            'active': countryStatus.active === status.id,
                            'inactive': countryStatus.inActive === status.id
                          }" (click)="onChangeCountryStatus(country, status.id)">
                          {{ status.name }}
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button class="p-0 action me-2" disabled
                            *ngIf="(isDeletingCountry$ | async) && deletedCountry?.id === country.id">
                      <mat-icon class="spinner">autorenew</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action me-2" (click)="deleteCountry(country)"
                            *ngIf="deletedCountry?.id !== country.id">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action"
                            (click)="onOpenAddNewCountry(); selectedCountry = country">
                      <img src="assets/svg/edit-green.svg" width="17" height="17" alt="">
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>
        </mat-tab>

        <mat-tab label="Course" *ngLet="(subjects$ | async) as subjects">
          <div class="row my-3">
            <div class="col-12">
              <h2 class="title"> Subject List
                <button mat-flat-button color="primary" class="float-end fw-bold"
                        (click)="onOpenAddNewSubject(); selectedSubject = undefined">
                  Add Subject
                </button>
              </h2>
            </div>
          </div>
          <div class="row filters">
            <div class="col-md-9">
              <!--<span class="title">Filters</span>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'By Program'" [(ngModel)]="program"
                            (selectionChange)="onChangeSubjectSelection()">
                  <mat-option [value]="program?.id" *ngFor="let program of programs$ | async">
                    {{ program?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'By Country'" [(ngModel)]="country"
                            (selectionChange)="onChangeSubjectSelection()">
                  <mat-option [value]="country?.id" *ngFor="let country of countries$ | async">
                    {{ country?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'By Grade'" [(ngModel)]="grade" (selectionChange)="onChangeSubjectSelection()">
                  <mat-option [value]="i" *ngFor="let grade of grades; let i = index">
                    {{ grade }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'Field of Study'" [(ngModel)]="fieldOfStudy"
                            (selectionChange)="onChangeSubjectSelection()">
                  <mat-option [value]="field?.id" *ngFor="let field of fields$ | async">
                    {{ field?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="me-2">
                <mat-select [placeholder]="'By Status'" [(ngModel)]="status" (selectionChange)="onChangeSubjectSelection()">
                  <mat-option [value]="state.id" *ngFor="let state of subjectStatusConst">
                    {{ state.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>-->
            </div>
            <div class="col-md-3">
              <metutors-search-input (searchedText)="onSearchText($event, 'subject')"></metutors-search-input>
            </div>
          </div>

          <ng-container [ngSwitch]="isLoadingSubject$ | async">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4 overflow-visible">
                <tr>
                  <th>Number</th>
                  <th>Program</th>
                  <th>Country</th>
                  <th>Grade</th>
                  <th>Field of Study</th>
                  <th>Subject</th>
                  <th>Price(hr's)</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!subjects || !subjects.length">
                  <td colspan="9">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let subject of subjects; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ subject?.program?.name }}</td>
                  <td>{{ subject?.country?.name }}</td>
                  <td>{{ grades[subject?.grade] }}</td>
                  <td>{{ subject?.field?.name }}</td>
                  <td>{{ subject?.name }}</td>
                  <td>{{ subject?.pricePerHour | currency }}</td>
                  <td>
                    <div dropdown class="change-status position-relative d-flex">
                      <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="{
                        'active': subjectStatus.active === subject?.status,
                        'inactive': subjectStatus.inActive === subject?.status
                      }">
                        <ng-container *ngIf="subjectStatus.active === subject?.status">Active</ng-container>
                        <ng-container *ngIf="subjectStatus.inActive === subject?.status">Inactive</ng-container>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                        <li role="menuitem" class="cursor-pointer text-capitalize"
                            *ngFor="let status of subjectStatusConst"
                            [ngClass]="{
                        'active': subjectStatus.active === status.id,
                        'inactive': subjectStatus.inActive === status.id
                        }" (click)="onChangeSubjectStatus(subject, status.id)">
                          {{ status.name }}
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button class="p-0 action me-2" disabled
                            *ngIf="(isDeletingSubject$ | async) && deletedSubject?.id === subject.id">
                      <mat-icon class="spinner">autorenew</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action me-2" (click)="deleteSubject(subject)"
                            *ngIf="deletedSubject?.id !== subject.id">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action"
                            (click)="onOpenAddNewSubject(); selectedSubject = subject">
                      <img src="assets/svg/edit-green.svg" width="17" height="17" alt="">
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<metutors-admin-add-new-country-modal *ngIf="showAddNewCountryModal$ | async"
                                      (closeModal)="onCloseAddNewCountry()"
                                      [selectedCountry]="selectedCountry!"
                                      [isAdding]="(isAddingEditingCountry$ | async)!"
                                      [showModal]="(showAddNewCountryModal$ | async)!"
                                      (submitForm)="onAddEditCountry($event)">
</metutors-admin-add-new-country-modal>

<metutors-admin-add-new-field-study-modal *ngIf="showAddNewFieldModal$ | async"
                                          (closeModal)="onCloseAddNewField()"
                                          [programs]="(programs$ | async)!"
                                          [countries]="(countries$ | async)!"
                                          [selectedField]="selectedField!"
                                          [isAdding]="(isAddingEditingField$ | async)!"
                                          [showModal]="(showAddNewFieldModal$ | async)!"
                                          (submitForm)="onAddEditField($event)">
</metutors-admin-add-new-field-study-modal>

<metutors-admin-add-new-subject-modal *ngIf="showAddNewSubjectModal$ | async"
                                      (closeModal)="onCloseAddNewSubject()"
                                      [programs]="(programs$ | async)!"
                                      [countries]="(countries$ | async)!"
                                      [fields]="(fields$ | async)!"
                                      [selectedSubject]="selectedSubject!"
                                      [isAdding]="(isAddingEditingSubject$ | async)!"
                                      [showModal]="(showAddNewSubjectModal$ | async)!"
                                      (submitForm)="onAddEditSubject($event)">
</metutors-admin-add-new-subject-modal>
