<div class="program-list">
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onChangeTab($event)">
        <mat-tab label="Program" *ngLet="(programs$ | async) as programs">
          <ng-container [ngSwitch]="isLoading$ | async">
            <div class="mt-3">
              <ng-container [ngSwitch]="isLoading$ | async">
                <div class="mt-4" *ngSwitchCase="true">
                  <metutors-grid-placeholder></metutors-grid-placeholder>
                </div>

                <ng-container *ngSwitchCase="false">
                  <div class="row filters">
                    <div class="col-md-6">
                      <span class="title">Filter</span>
                      <mat-form-field appearance="outline" class="me-2">
                        <mat-select [placeholder]="'By Status'" [(ngModel)]="status"
                                    (selectionChange)="onChangeSelection()">
                          <mat-option [value]="state.id" *ngFor="let state of statuses">
                            {{ state.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                      <div class="position-relative search-request">
                        <mat-icon>search</mat-icon>
                        <input type="text" class="form-control custom-input input-bordered" [(ngModel)]="title"
                               placeholder="Search..." (keyup)="onChangeSelection()">
                      </div>

                      <h2 class="title">
                        <button mat-flat-button color="primary" class="float-end fw-bold"
                                (click)="onOpenAddNewProgram(); selectedProgram = undefined">
                          Add New Program
                        </button>
                      </h2>
                    </div>
                  </div>

                  <table class="table my-table default-title mt-4 overflow-visible">
                    <tr>
                      <th>Number</th>
                      <th>Program</th>
                      <th>Last Updated</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngIf="!programs || !programs.length">
                      <td colspan="5">
                        <div class="text-center">No records found</div>
                      </td>
                    </tr>
                    <tr *ngFor="let program of programs; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ program?.name }}</td>
                      <td>{{ program?.updatedAt | date: 'EEEE, d MMM y' }}</td>
                      <td>
                        <div dropdown class="change-status position-relative d-flex">
                          <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="{
                        'active': programStatus.active === program?.status,
                        'inactive': programStatus.inActive === program?.status
                     }">
                            <ng-container *ngIf="programStatus.active === program?.status">Active</ng-container>
                            <ng-container *ngIf="programStatus.inActive === program?.status">Inactive</ng-container>
                          </button>
                          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                            <li role="menuitem" class="cursor-pointer text-capitalize" *ngFor="let status of statuses"
                                [ngClass]="{
                          'active': programStatus.active === status.id,
                          'inactive': programStatus.inActive === status.id
                        }" (click)="onChangeStatus(program, status.id)">
                              {{ status.name }}
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td>
                        <button mat-icon-button class="p-0 action me-2" disabled
                                *ngIf="(isDeletingProgram$ | async) && deletedProgram?.id === program.id">
                          <mat-icon class="spinner">autorenew</mat-icon>
                        </button>
                        <button mat-icon-button class="p-0 action me-2" (click)="deleteProgram(program)"
                                *ngIf="deletedProgram?.id !== program.id">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button class="p-0 action"
                                (click)="onOpenAddNewProgram(); selectedProgram = program">
                          <img src="assets/svg/edit-green.svg" width="17" height="17" alt="">
                        </button>
                      </td>
                    </tr>
                  </table>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </mat-tab>

        <mat-tab label="Field of Studies" *ngLet="(fields$ | async) as fields">
          <ng-container [ngSwitch]="isLoadingFields$ | async">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <div class="row my-3">
                <div class="col-12">
                  <h2 class="title"> Field of Study
                    <button mat-flat-button color="primary" class="float-end"
                            (click)="onOpenAddNewField(); selectedField = undefined">
                      Add Field of Study
                    </button>
                  </h2>
                </div>
              </div>
              <div class="row filters">
                <div class="col-md-9">
                  <span class="title">Filters</span>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Program'" [(ngModel)]="program" (selectionChange)="onChangeSelection()">
                      <mat-option [value]="program?.id" *ngFor="let program of programs$ | async">
                        {{ program?.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Country'" [(ngModel)]="country" (selectionChange)="onChangeSelection()">
                      <mat-option [value]="country?.id" *ngFor="let country of countries$ | async">
                        {{ country?.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Grade'" [(ngModel)]="grade" (selectionChange)="onChangeSelection()">
                      <mat-option [value]="i" *ngFor="let grade of grades; let i = index">
                        {{ grade }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Status'" [(ngModel)]="fieldStatus" (selectionChange)="onChangeSelection()">
                      <mat-option [value]="state.id" *ngFor="let state of statuses">
                        {{ state.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <div class="position-relative search-request">
                    <mat-icon>search</mat-icon>
                    <input type="text" class="form-control custom-input input-bordered" [(ngModel)]="title"
                           placeholder="Search..." (keyup)="onChangeSelection()">
                  </div>
                </div>
              </div>

              <table class="table my-table default-title mt-4 overflow-visible">
                <tr>
                  <th>Number</th>
                  <th>Program</th>
                  <th>Country</th>
                  <th>Grade</th>
                  <th>Field of Study</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!fields || !fields.length">
                  <td colspan="7">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let field of fields; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ field?.program?.name }}</td>
                  <td>{{ field?.country?.name }}</td>
                  <td>{{ grades[field?.grade] }}</td>
                  <td>{{ field?.name }}</td>
                  <td>
                    <div dropdown class="change-status position-relative d-flex">
                      <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="{
                        'active': fieldStatuses.active === field?.status,
                        'inactive': fieldStatuses.inActive === field?.status
                     }">
                        <ng-container *ngIf="fieldStatuses.active === field?.status">Active</ng-container>
                        <ng-container *ngIf="fieldStatuses.inActive === field?.status">Inactive</ng-container>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                        <li role="menuitem" class="cursor-pointer text-capitalize" *ngFor="let status of statuses"
                            [ngClass]="{
                          'active': fieldStatuses.active === status.id,
                          'inactive': fieldStatuses.inActive === status.id
                        }" (click)="onChangeFieldStatus(field, status.id)">
                          {{ status.name }}
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button class="p-0 action me-2" disabled
                            *ngIf="(isDeletingField$ | async) && deletedField?.id === field.id">
                      <mat-icon class="spinner">autorenew</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action me-2" (click)="deleteField(field)"
                            *ngIf="deletedField?.id !== field.id">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action" (click)="onOpenAddNewField(); selectedField = field">
                      <img src="assets/svg/edit-green.svg" width="17" height="17" alt="">
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>
        </mat-tab>

        <mat-tab label="Country" *ngLet="(countries$ | async) as countries">
          <ng-container [ngSwitch]="isLoadingCountry$ | async">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <div class="row my-3">
                <div class="col-12">
                  <h2 class="title"> Country List
                    <button mat-flat-button color="primary" class="float-end fw-bold"
                            (click)="onOpenAddNewCountry(); selectedCountry = undefined">
                      Add New Country
                    </button>
                  </h2>
                </div>
              </div>
              <div class="row filters">
                <div class="col-md-9">
                  <span class="title">Filters</span>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Status'" [(ngModel)]="status" (selectionChange)="onChangeCountrySelection()">
                      <mat-option [value]="state.id" *ngFor="let state of statuses">
                        {{ state.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <div class="position-relative search-request">
                    <mat-icon>search</mat-icon>
                    <input type="text" class="form-control custom-input input-bordered" [(ngModel)]="title"
                           placeholder="Search..." (keyup)="onChangeCountrySelection()">
                  </div>
                </div>
              </div>

              <table class="table my-table default-title mt-4 overflow-visible">
                <tr>
                  <th>Number</th>
                  <th>Country</th>
                  <th>Last Updated</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!countries || !countries.length">
                  <td colspan="5">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let country of countries; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ country?.name }}</td>
                  <td>{{ country?.updatedAt | date: 'EEEE, d MMM y' }}</td>
                  <td>
                    <div dropdown class="change-status position-relative d-flex">
                      <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="{
                          'active': countryStatuses.active === country?.status,
                          'inactive': countryStatuses.inActive === country?.status
                       }">
                        <ng-container *ngIf="countryStatuses.active === country?.status">Active</ng-container>
                        <ng-container *ngIf="countryStatuses.inActive === country?.status">Inactive</ng-container>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                        <li role="menuitem" class="cursor-pointer text-capitalize" *ngFor="let status of statuses"
                            [ngClass]="{
                            'active': countryStatuses.active === status.id,
                            'inactive': countryStatuses.inActive === status.id
                          }" (click)="onChangeCountryStatus(country, status.id)">
                          {{ status.name }}
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button class="p-0 action me-2" disabled
                            *ngIf="(isDeletingCountry$ | async) && deletedCountry?.id === country.id">
                      <mat-icon class="spinner">autorenew</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action me-2" (click)="deleteCountry(country)"
                            *ngIf="deletedCountry?.id !== country.id">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action"
                            (click)="onOpenAddNewCountry(); selectedCountry = country">
                      <img src="assets/svg/edit-green.svg" width="17" height="17" alt="">
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>
        </mat-tab>

        <mat-tab label="Course" *ngLet="(subjects$ | async) as subjects">
          <ng-container [ngSwitch]="isLoadingSubject$ | async">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <div class="row my-3">
                <div class="col-12">
                  <h2 class="title"> Subject List
                    <button mat-flat-button color="primary" class="float-end"
                            (click)="onOpenAddNewSubject(); selectedSubject = undefined">
                      Add Subject
                    </button>
                  </h2>
                </div>
              </div>
              <div class="row filters">
                <div class="col-md-9">
                  <span class="title">Filters</span>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Program'" [(ngModel)]="program"
                                (selectionChange)="onChangeSelection()">
                      <mat-option [value]="program?.id" *ngFor="let program of programs$ | async">
                        {{ program?.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Country'" [(ngModel)]="country"
                                (selectionChange)="onChangeSelection()">
                      <mat-option [value]="country?.id" *ngFor="let country of countries$ | async">
                        {{ country?.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Grade'" [(ngModel)]="grade" (selectionChange)="onChangeSelection()">
                      <mat-option [value]="i" *ngFor="let grade of grades; let i = index">
                        {{ grade }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'Field of Study'" [(ngModel)]="fieldOfStudy"
                                (selectionChange)="onChangeSelection()">
                      <mat-option [value]="field?.id" *ngFor="let field of fields$ | async">
                        {{ field?.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="me-2">
                    <mat-select [placeholder]="'By Status'" [(ngModel)]="status" (selectionChange)="onChangeSelection()">
                      <mat-option [value]="state.id" *ngFor="let state of statuses">
                        {{ state.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <div class="position-relative search-request">
                    <mat-icon>search</mat-icon>
                    <input type="text" class="form-control custom-input input-bordered" [(ngModel)]="title"
                           placeholder="Search..." (keyup)="onChangeSelection()">
                  </div>
                </div>
              </div>

              <table class="table my-table default-title mt-4 overflow-visible">
                <tr>
                  <th>Number</th>
                  <th>Program</th>
                  <th>Country</th>
                  <th>Grade</th>
                  <th>Field of Study</th>
                  <th>Subject</th>
                  <th>Price(USD/hr)</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!subjects || !subjects.length">
                  <td colspan="9">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let subject of subjects; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ subject?.program?.name }}</td>
                  <td>{{ subject?.country?.name }}</td>
                  <td>{{ grades[subject?.grade] }}</td>
                  <td>{{ subject?.field?.name }}</td>
                  <td>{{ subject?.name }}</td>
                  <td>{{ subject?.pricePerHour }}</td>
                  <td>
                    <div dropdown class="change-status position-relative d-flex">
                      <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="{
                        'active': subjectStatuses.active === subject?.status,
                        'inactive': subjectStatuses.inActive === subject?.status
                      }">
                        <ng-container *ngIf="subjectStatuses.active === subject?.status">Active</ng-container>
                        <ng-container *ngIf="subjectStatuses.inActive === subject?.status">Inactive</ng-container>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                        <li role="menuitem" class="cursor-pointer text-capitalize" *ngFor="let status of statuses"
                            [ngClass]="{
                        'active': subjectStatuses.active === status.id,
                        'inactive': subjectStatuses.inActive === status.id
                        }" (click)="onChangeStatus(subject, status.id)">
                          {{ status.name }}
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button class="p-0 action me-2" disabled
                            *ngIf="(isDeletingSubject$ | async) && deletedSubject?.id === subject.id">
                      <mat-icon class="spinner">autorenew</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action me-2" (click)="deleteSubject(subject)"
                            *ngIf="deletedSubject?.id !== subject.id">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="p-0 action" (click)="onOpenAddNewSubject(); selectedSubject = subject">
                      <img src="assets/svg/edit-green.svg" width="17" height="17" alt="">
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<metutors-admin-add-new-program-modal *ngIf="showAddNewProgramModal$ | async"
                                      (closeModal)="onCloseAddNewProgram()"
                                      [selectedProgram]="selectedProgram!"
                                      [isAdding]="(isAddingEditingProgram$ | async)!"
                                      [showModal]="(showAddNewProgramModal$ | async)!"
                                      (submitForm)="onAddEditProgram($event)">
</metutors-admin-add-new-program-modal>

<metutors-admin-add-new-country-modal *ngIf="showAddNewCountryModal$ | async"
                                      (closeModal)="onCloseAddNewCountry()"
                                      [selectedCountry]="selectedCountry!"
                                      [isAdding]="(isAddingEditingCountry$ | async)!"
                                      [showModal]="(showAddNewCountryModal$ | async)!"
                                      (submitForm)="onAddEditCountry($event)">
</metutors-admin-add-new-country-modal>

<metutors-admin-add-new-field-study-modal *ngIf="showAddNewFieldModal$ | async"
                                          (closeModal)="onCloseAddNewField()"
                                          [programs]="(programs$ | async)!"
                                          [countries]="(countries$ | async)!"
                                          [selectedField]="selectedField!"
                                          [isAdding]="(isAddingEditingField$ | async)!"
                                          [showModal]="(showAddNewFieldModal$ | async)!"
                                          (submitForm)="onAddEditField($event)">
</metutors-admin-add-new-field-study-modal>

<metutors-admin-add-new-subject-modal *ngIf="showAddNewSubjectModal$ | async"
                                      (closeModal)="onCloseAddNewSubject()"
                                      [programs]="(programs$ | async)!"
                                      [countries]="(countries$ | async)!"
                                      [fields]="(fields$ | async)!"
                                      [selectedSubject]="selectedSubject!"
                                      [isAdding]="(isAddingEditingSubject$ | async)!"
                                      [showModal]="(showAddNewSubjectModal$ | async)!"
                                      (submitForm)="onAddEditSubject($event)">
</metutors-admin-add-new-subject-modal>
