.heading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
}

.preview-box {
  height: 140px;
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.guide1 {
  color: rgba(0, 0, 0, 0.6);
}

.guide2 {
  color: rgba(220, 53, 69, 0.8) !important;
}

.cover-preview {
  height: 200px;
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.edit-cover {
  position: absolute;
  right: 10px;
  top: 10px;
}
