<form [formGroup]="form" (ngSubmit)="submitFormData()" class="w-100">
  <div>
    <h4 class="mb-4 heading text-center">Add Profile Picture</h4>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <img [src]="profilePic" class="preview-box" *ngIf="profilePic" width="100%" />
            <div class="preview-box d-flex align-items-center justify-content-center" *ngIf="!profilePic">Preview</div>
          </div>

          <div class="col-md-5">
            <div class="guide1">Your image should be 300 x 300 px at least</div>
            <div class="guide2">Size 2MB max</div>
            <input type="file" #filePicker1 (change)="onChangeAvatar($event)" hidden accept="image/*" />
            <div class="form-group mt-4 mb-2">
              <button mat-flat-button color="primary" class="d-block py-1 px-5" cdkFocusInitial type="button"
                (click)="filePicker1.click()"> Upload
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <h4 class="mb-4 mt-5 heading text-center">Add Cover Image</h4>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <input type="file" #filePicker2 (change)="onChangeCover($event)" hidden accept="image/*" />

            <div class="position-relative">
              <img [src]="coverPic" class="cover-preview" width="100%" *ngIf="coverPic" />
              <button mat-flat-button color="primary" class="px-4 edit-cover" cdkFocusInitial type="button" *ngIf="coverPic"
                (click)="filePicker2.click()"> Change
              </button>
            </div>
            <div class="cover-preview d-flex align-items-center justify-content-center flex-column" *ngIf="!coverPic">
              <div class="guide1">Your image should be at least 700 x 300 px</div>

              <button mat-flat-button color="primary" class="px-4 mt-2" cdkFocusInitial type="button"
                (click)="filePicker2.click()"> Upload
              </button>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="form-group mt-4 mb-2">
          <metutors-submit-button [form]="form" [isSubmitting]="loading" [extraClasses]="'w-100 fw-bold'">
            Save & Continue
          </metutors-submit-button>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>
