.heading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
}

.preview-box {
  width: 170px;
  height: 170px;
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.guide1 {
  color: rgba(0, 0, 0, 0.6);
}

.guide2 {
  color: rgba(220, 53, 69, 0.8) !important;
}

.cover-preview {
  height: 200px;
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.edit-cover {
  position: absolute;
  right: 10px;
  top: 10px;
}

.delete-cover {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(255, 56, 92, 0.15);
  color: #FF385C;
}
