<div class="booking-details" *ngLet="(view$ | async) as view">

  <div class="card">
    <div class="card-body">
      <ng-container [ngSwitch]="view.loading">
        <ng-container *ngSwitchCase="false">
          <div class="row">
            <div class="col-md-5">
              <h1 class="title overflow-hidden d-flex align-items-center">
                {{ view.course.courseName}}
                <span class="ms-2">({{view.course.courseCode}})</span>
                <button mat-button class="ms-2 status" [ngClass]="view.course.status">{{ statusLabel[view.course.status].long }}</button>
              </h1>
            </div>
            <div class="col-md-3 percentage d-flex align-items-center">
              <strong class="me-2">Attendance Percentage</strong>
              <div class="position-relative my-progress">
                <mat-progress-spinner class="progress-spinner" [color]="'primary'" [mode]="'determinate'" [value]="view.course?.attendencePercentage">
                </mat-progress-spinner>
                <span class="position-absolute">{{ view.course?.attendencePercentage}}%</span>
              </div>
            </div>
            <div class="col-md-4 d-flex justify-content-end actions">
              <button mat-button (click)="onOpenAssignmentsModal()">View Assignments</button>
              <button mat-button (click)="onOpenFeedbackModal()">View Feedback</button>
            </div>
          </div>
          <div class="row list rounded">
            <div class="col-md d-flex menu align-items-center">
              <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
              <strong>Total Hour: </strong>
              <span>{{view.course?.totalHours}}hrs</span>
            </div>
            <div class="col-md d-flex menu align-items-center">
              <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
              <strong>Remaining Classes: </strong>
              <span>{{view.course?.remainingClasses}}</span>
            </div>
            <div class="col-md d-flex menu align-items-center">
              <img src="assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15" draggable="false">
              <strong>Completed Classes: </strong>
              <span>{{view.course?.completedClasses}}</span>
            </div>
            <div class="col-md d-flex menu align-items-center">
              <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
              <strong>Rescheduled Classes: </strong>
              <span>{{view.course?.rescheduledClasses}}</span>
            </div>
            <div class="col-md d-flex menu align-items-center">
              <img src="assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15" draggable="false">
              <strong>Added Classes: </strong>
              <span>{{view.course?.addedClasses}}</span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="student-info d-flex align-items-center">
                <img [src]="imageUrl+view.course?.student?.avatar" meTutorsDefaultAvatar alt="" class="rounded-circle">
                <div class="ms-2">
                  <h1 class="mb-0">{{view.course?.student?.firstName}} {{view.course?.student?.lastName}}</h1>
                  <div>
                    <rating [(ngModel)]="view.course.student.averageRating" [max]="5" [readonly]="true"></rating>
                    <span class="ms-2 count">{{view.course?.student?.averageRating.toFixed(2)}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 in-progress">
              <h3>Assignment Completion Rate</h3>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <mat-progress-bar class="example-margin" [color]="'primary'" [value]="view.course.assignmentCompletionRate">
                  </mat-progress-bar>
                </div>
                <strong>{{view.course?.assignmentCompletionRate}}%</strong>
              </div>
            </div>
            <div class="col-md-5 info d-flex justify-content-end">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <span class="d-block">Program</span>
                  <strong class="d-block">{{view.course?.program?.code}}</strong>
                </li>
                <li class="list-inline-item">
                  <span class="d-block">Grade</span>
                  <strong class="d-block">{{view.course?.subject?.grade || '-'}}</strong>
                </li>
                <li class="list-inline-item">
                  <span class="d-block">Field of Study</span>
                  <strong class="d-block">{{view.course?.field?.name}}</strong>
                </li>
              </ul>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="true">
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-10 big mt-3"></div>
            <div class="ph-col-2 big empty mt-3"></div>
            <div class="ph-col-6 mt-4"></div>
            <div class="ph-col-6 mt-4 empty"></div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>


  <div class="list-tables">
    <div class="row">
      <div class="col-12">
        <h3 class="overview mb-3">Completed Classess</h3>
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <table class="table my-table default-title" *ngSwitchCase="false">
            <tr>
              <th>#</th>
              <th>Topic</th>
              <th>Tutor Name</th>
              <th>Start Time - End Time</th>
              <th>Duration</th>
              <th>Attendance</th>
            </tr>
            <tr *ngFor="let cls of view.course.classes; let i=index">
              <td>{{i+1}}</td>
              <td>{{ cls?.title}} </td>
              <td>
                <a>
                  <img [src]="imageUrl+cls.teacher?.avatar" width="25" height="25" class="rounded-circle p-0 me-2" draggable="false"
                       meTutorsDefaultAvatar alt="">
                  <span>
                  <bdi>{{ cls?.teacher?.firstName }} {{ cls?.teacher?.lastName }}</bdi>
                </span>
                </a>
              </td>
              <td>{{ cls?.startTime}} - {{ cls?.endTime}} </td>
              <td>{{ cls?.duration}} Hour</td>
              <td class="d-flex">
                <button mat-button class="attend text-capitalize" [ngClass]="cls.classAttendence">{{cls?.classAttendence}}</button>
              </td>
            </tr>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<metutors-admin-student-view-assignments-modal *ngIf="showAssignmentsModal$ | async"
                                               (closeModal)="onCloseModals()"
                                               [loading]="(isLoadingAssignment$ | async)!"
                                               [summary]="(assignmentsSummary$ | async)!"
                                               [showModal]="(showAssignmentsModal$ | async)!">
</metutors-admin-student-view-assignments-modal>

<metutors-admin-student-view-feedback-modal *ngIf="showFeedbackModal$ | async"
                                            (closeModal)="onCloseModals()" [loading]="(loadingFeedback$ | async)!"
                                            [feedbacks]="(feedbacks$ | async)!"
                                            [showModal]="(showFeedbackModal$ | async)!">
</metutors-admin-student-view-feedback-modal>
