.finance-orders {
  padding: 30px 40px 20px;

  .filters {
    h1 {
      font-size: 25px;
      font-weight: bold;
      margin: 0;
    }

    mat-icon {
      position: absolute;
      left: 15px;
      top: 11px;

      &.filter {
        left: auto;
        right: 15px;
      }
    }

    .search-request {
      padding-left: 45px;
    }
  }

  .table-responsive {
    border-top: 4px solid #E2E2E2;
    padding-top: 25px;

    .my-table {
      overflow: visible;

      th {
        color: #696969;
        font-size: 14px;
      }

      td {
        .transaction-id {
          max-width: 100px;
        }
      }
    }
  }
}
