<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)" class="edit-classroom">
  <div class="d-flex" mat-dialog-title>
    <h2 class="flex-grow-1 m-0 d-flex flex-column">
      Edit Classroom
      <span class="d-block mt-2">We’re sorry, Tutor you’re selected isn’t available for your days and time.</span>
    </h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-6">
        <h3>Starting Date</h3>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="startPicker" [placeholder]="'Choose a date'" (focus)="startPicker.open()"
            [min]="minDate" formControlName="startDate" (dateChange)="onChangeDate()" [disabled]="true">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <h3>Days</h3>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="days" [placeholder]="'Choose day'" [disabled]="true">
            <mat-option [value]="day" *ngFor="let day of listDays">
              {{ day }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <h3>Starting Time</h3>
        <div class="ngx-timepicker-field-example">
          <input placeholder="Select starting time" aria-label="Select starting time" [ngxTimepicker]="startingTime"
            formControlName="startTime" class="form-control" (blur)="onChangeTimePicker()">
          <ngx-material-timepicker #startingTime [appendToInput]="true" [minutesGap]="30"
            (closed)="onChangeTimePicker()">
          </ngx-material-timepicker>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Ending Time</h3>
        <div class="ngx-timepicker-field-example">
          <input placeholder="Select ending time" aria-label="Select ending time" [ngxTimepicker]="endingTime"
            formControlName="endTime" class="form-control" (blur)="onChangeTimePicker()">
          <ngx-material-timepicker #endingTime [appendToInput]="true" [minutesGap]="30" (closed)="onChangeTimePicker()">
          </ngx-material-timepicker>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Duration</h3>
        <input type="text" class="form-control" formControlName="duration">

        <div class="text-danger" *ngIf="editForm?.hasError('durationError')">
          Time duration must be between {{ classroomTimeDuration.min }} & {{ classroomTimeDuration.max }} hours
        </div>
      </div>
    </div>

    <button mat-button class="btn-save" [disabled]="editForm.invalid" type="submit" cdkFocusInitial>
      Save & Continue
    </button>
  </div>
</form>
