<div class="slide">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img src="assets/languages/circles.svg" alt="" draggable="false">
        <h1>Learn your favorite language</h1>
        <p>
          The language courses at MEtutors take a
          communicative approach to language instruction,
          with the student at the center of every class.
        </p>
      </div>
      <div class="col-md-5">
        <img src="assets/languages/lang.svg" width="100%" alt="" draggable="false" />
      </div>
    </div>
  </div>
</div>
