.slide {
  padding: 90px 0;
  background: rgb(59 179 193 / 6%);

  h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    color: #2a2a2a;
    margin-top: 30px;
  }

  p {
    font-size: 24px;
    margin-top: 30px;
    line-height: 1.42;
    color: #696969;
  }
}

