<div class="why-teaching-us" style="background-image: url(assets/homepage/oval.svg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="f-size-25-md-sm">Why tutors love working with us</h1>

        <p>
          We connect educators with more students to help shape the future of education
        </p>
        <ul class="list-unstyled row">
          <li class="col-md-12" *ngFor="let item of whyTeachingUsList">
            <img src="assets/svg/correct.svg" alt="">
            <span class="f-size-15-md-sm">{{ item?.value }}</span>
          </li>
        </ul>
      </div>
      <div class="col-lg-7">
        <img src="assets/about/users.png" height="600px" alt="" class="contact-img" draggable="false">
      </div>
    </div>
  </div>
</div>
