:host ::ng-deep .feedback {
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;

  .stars {
    h3 {
      font-size: 12px;
      width: 80px;
      white-space: nowrap;
    }

    .example-progress {
      height: 6px !important;
    }

    span {
      margin-left: 9px;
      color: var(--main-color);
      font-size: 11px;
    }
  }

  .reviews:not(:last-child) {
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
  }

  .teacher {
    img {
      width: 40px;
      height: 40px;
    }

    h3 {
      color: #2a2a2a;
      font-size: 17px;
      font-weight: bold;
    }

    span {
      color: #FF8E18;
      font-size: 15px;
    }
  }

  .rating-block {
    h2 {
      color: #2A2A2A;
      font-size: 14px;
      font-weight: normal;
    }

    rating span.bs-rating-star {
      font-size: 15px;
    }
  }

  .user-feedback {
    h2 {
      color: #2a2a2a;
      font-size: 15px;
    }

    p {
      font-size: 14px;
    }

    span {
      color: var(--main-color);

      &.edit {
        color: #727272;
      }
    }
  }

  &.container-block {
    .rating-block {
      h2 {
        color: #2A2A2A;
        font-size: 15px;
      }

      rating span.bs-rating-star {
        font-size: 15px;
      }
    }

    .user-feedback p {
      color: #2A2A2A;
      font-size: 15px;
    }

    .stars h3 {
      font-size: 15px;
      color: #696969;
    }
  }
}
