.course-details-popup {
  .mat-dialog-title {
    margin: 0 0 10px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #000;

      span {
        font-weight: normal;
        color: #696969;
        font-size: 18px;
      }
    }
  }

  .list-videos {
    .card-title {
      color: #2a2a2a;
      font-size: 17px;
      font-weight: bold;
      margin: 10px 0 5px;
    }

    .desc {
      color: #696969;
      font-size: 17px;
      margin: 15px 0;
    }

    .video {
      margin-bottom: 15px;
      box-shadow: 0 6px 10px 0 rgb(0 0 0 / 3%);
      // border: solid 1px #ededed;

      .card-body {
        padding: 0;

        .title {
          padding: 10px 1.25rem;
          border: solid 1px #ededed;
          border-radius: 6px;
          background-color: #fafafa;

          &.open {
            border-bottom: none;
            border-radius: 6px 6px 0 0;
          }
        }
      }

      h1 {
        color: #2a2a2a;
        font-size: 15px;
        font-weight: bold;
      }

      h3 {
        font-size: 13px;
        margin-right: 15px !important;

        strong {
          font-weight: bold;
          font-size: 12px;
        }
      }

      .table-responsive {
        border-radius: 0 0 6px 6px;
        border: 1px solid #ededed;
        border-top: none;
      }

      table {
        margin: 0;
        border-top: none;

        th {
          color: #949494;
          font-size: 13px;
          border-bottom: none;
        }

        td {
          border-bottom: 1px solid #ededed;
          color: #2a2a2a;
          font-size: 13px;
        }

        tr:last-child td {
          border-bottom: none;
        }
      }
    }
  }
}

@media(max-width:767px) {
  .course-details-popup {
    .list-videos {
      .list {
        padding: 0;

        .menu {
          margin-bottom: 10px;
        }
      }

      .video {
        .card-body .title {
          padding: 10px;
        }

        h1 {
          font-size: 13px;
        }

        h3 {
          margin-right: 5px !important;
        }
      }
    }
  }
}
