<div class="services-features" style="background-image: url(assets/homepage/stars_bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-15-sm mb-20-md">
        <div class="card text-center h-100">
          <div class="card-body position-relative">
            <span class="first">F</span>
            <h1>Flexibility</h1>
            <p>Find a tutor to fit your schedule, anytime, anywhere.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-15-sm mb-20-md">
        <div class="card text-center h-100">
          <div class="card-body position-relative">
            <span class="second">A</span>
            <h1>Agility</h1>
            <p>You can rely on our team for any questions you may have.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-15-sm">
        <div class="card text-center h-100">
          <div class="card-body position-relative">
            <span class="third">C</span>
            <h1>Competitivness</h1>
            <p>Expect the best rates always with a premium service.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-15-sm">
        <div class="card text-center h-100">
          <div class="card-body position-relative">
            <span class="forth">T</span>
            <h1>Transparency</h1>
            <p>No hidden costs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
