<div class="services-features" style="background-image: url(assets/homepage/stars_bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body position-relative">
            <span class="first">F</span>
            <h1>Flexibility</h1>
            <p>Build your class schedule on the go.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body position-relative">
            <span class="second">A</span>
            <h1>Agility</h1>
            <p>Responsive service around the clock.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body position-relative">
            <span class="third">C</span>
            <h1>Competitivness</h1>
            <p>Best prices with premium service.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body position-relative">
            <span class="forth">T</span>
            <h1>Transparency</h1>
            <p>No hidden cost. Pay as needed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
