<div class="services-features p-10-sm mt-15-sm" style="background-image: url(assets/homepage/stars_bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-15-sm mb-20-md">
        <div class="card text-center h-100">
          <div class="card-body position-relative">
            <img src="assets/svg/flexibility.svg" alt="" draggable="false">
            <h1 class="f-size-25-md-sm">Flexible</h1>
            <p class="f-size-15-md-sm">Find a tutor to fit your schedule, anytime, anywhere.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-15-sm mb-20-md">
        <div class="card text-center h-100">
          <div class="card-body position-relative">
            <img src="assets/svg/agile.svg" alt="" draggable="false">
            <h1 class="f-size-25-md-sm">Attentive</h1>
            <p class="f-size-15-md-sm">Our team are always on hand to answer your questions.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-15-sm">
        <div class="card text-center h-100">
          <div class="card-body position-relative">
            <img src="assets/svg/competition.svg" alt="" draggable="false">
            <h1 class="f-size-25-md-sm">Competitive</h1>
            <p class="f-size-15-md-sm">The best rates with a guaranteed premium service.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-15-sm">
        <div class="card text-center h-100">
          <div class="card-body position-relative">
            <img src="assets/svg/transparent.svg" alt="" draggable="false">
            <h1 class="f-size-25-md-sm">Transparent</h1>
            <p class="f-size-15-md-sm">No hidden costs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
