.services-features {
  padding: 100px 0;
  background-origin: padding-box;
  background-color: rgba(243, 244, 245, 0.4);
  background-size: cover;
  background-repeat: no-repeat;

  .card {
    box-shadow: 0px 2px 15px #00000021;

    .card-body {
      padding: 60px 30px 35px;

      img {
        position: absolute;
        top: -10px;
        left: 10px;
        padding: 10px;
        border-radius: 5px;
        color: #FFF;
        box-shadow: 0px 0px 6px #00000029;
        background: #FFF;
        width: 40px;
        height: 40px;
      }

      h1 {
        color: #2A2A2A;
        font-size: 30px;
      }

      p {
        color: #5A7184;
        margin-top: 20px;
        font-size: 19px;
      }
    }
  }
}

@media (max-width:767px) {
  .services-features {
    .card .card-body {
      padding: 30px 20px;
    }
  }
}
