<div class="row why-we-teach">
  <div class="col-md-5">
    <img src="assets/about/meeting.png" class="w-100" draggable="false" alt="">
  </div>
  <div class="col-md-7">
    <h1>What We Teach</h1>
    <p>
      MEtutors offers intensive and highly impactful courses in 6 areas: college admission
      test preparation, foreign language, university, US middle and high school, Middle
      Eastern school, and daily assignment tutoring. Courses vary in duration and intensity,
      with some courses lasting just a few weeks while others providing a full semester
      of instruction.
    </p>
    <p class="second">
      Every one of our courses has been sensibly designed by seasoned curriculum
      developers with the goal of maximizing the student learning experience Textbooks
      and other learning materials have been thoughtfully selected to optimize student
      learning. And students of all competency levels are welcometo enroll in our courses.
      So whether you just want to brush up on your Arabicor want to begin learning
      Englishfor the first time, we have a course that will meet your specific needs.
      And small class sizes ensure an individualized Learning experience
    </p>
    <button mat-flat-button color="primary">Check our courses</button>
  </div>
</div>
