<div class="row why-we-teach">
  <div class="col-md-5">
    <img src="assets/about/meeting.png" class="w-100" draggable="false" alt="">
  </div>
  <div class="col-md-7">
    <h1 class="f-size-25-md-sm mt-15-md-sm">{{ 'SERVICES' | translate }}</h1>
    <p class="f-size-15-md-sm">{{ 'WHY_WE_TEACH_DESC1' | translate }}</p>
    <p class="mt-5 f-size-15-md-sm">{{ 'WHY_WE_TEACH_DESC2' | translate }}</p>
    <p class="mt-5 f-size-15-md-sm">{{ 'WHY_WE_TEACH_DESC3' | translate }}</p>
    <button mat-flat-button color="primary" class="px-5 mt-4" routerLink="/" fragment="explore-services">
      {{ 'FIND_COURSE' | translate }}
    </button>
  </div>
</div>
