<div class="row why-we-teach">
  <div class="col-md-5">
    <img src="assets/about/meeting.png" class="w-100" draggable="false" alt="">
  </div>
  <div class="col-md-7">
    <h1 class="f-size-25-md-sm">Services</h1>
    <p class="f-size-15-md-sm">
      MEtutors offers a range of international programs, global national curriculums and homework help taught by
      experienced tutors that support students through their studies. Whether you choose to study, Spanish, Science or
      Statistics. We’ll find the right tutor for you.
    </p>
    <p class="mt-5 f-size-15-md-sm">
      Students can choose between private one-on-one tutoring or group
      classes. The small class size for group learning allows teachers to focus on and empower each individual student
      to achieve their learning goals.
    </p>
    <p class="mt-5 f-size-15-md-sm">
      Our expert tutors have experience with international education programs such as
      AP, IB, IGCSE-GCE, global national curriculums and a huge range of university subjects. Whether you need subject
      study support, help preparing for an exam or submitting an assignment, MEtutors can help.
    </p>
    <button mat-flat-button color="primary" class="px-5 mt-4" routerLink="/" [fragment]="'improve-grades'">
      Find a Course
    </button>
  </div>
</div>
