<metutors-become-tutor-slide [token]="(token$ | async)!"></metutors-become-tutor-slide>

<div class="container">
  <metutors-become-tutors-us></metutors-become-tutors-us>
</div>

<metutors-why-teaching-us [whyTeachingUsList]="whyTeachingUsList"></metutors-why-teaching-us>

<!-- <metutors-request-post-course [requestCoursesList]="requestCoursesList" [selectedCourse]="selectedCourse" [step]="step">
</metutors-request-post-course> -->

<metutors-exceptional-opportunities></metutors-exceptional-opportunities>

<metutors-loving-opportunities [opportunities]="opportunities"></metutors-loving-opportunities>

<metutors-become-online-tutor [token]="(token$ | async)!"></metutors-become-online-tutor>
