<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'"
                [heading]="this.selectedCoupon?.id ? 'Edit coupon' : 'Create new coupon'"
                [template]="template">
  <ng-template #template>
    <form class="row add-coupon-modal mt-4" [formGroup]="form" (ngSubmit)="submitForm.emit(form.value)">
      <div class="col-12">
        <div class="form-group">
          <label for="name">Coupon name</label>
          <metutors-char-counter [limit]="50" [controlName]="name"></metutors-char-counter>
          <input class="form-control custom-input input-bordered" formControlName="name" id="name" autocomplete="off" maxlength="50"
                 placeholder="Enter coupon name" (keydown.space)="$event.preventDefault()">
            <span class="text-danger" *ngIf="name?.invalid && name?.touched">
              Please write name with a max of 50 characters
            </span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="expiry_date">Expiry date</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="startPicker" placeholder="Select date"
                   (focus)="startPicker.open()" autocomplete="off" id="expiry_date"
                   [min]="minDate" formControlName="expiry_date">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="description">Coupon description</label>
          <metutors-char-counter [limit]="150" [controlName]="description"></metutors-char-counter>
          <textarea class="form-control custom-input input-bordered" formControlName="description" id="description"
                    placeholder="Enter coupon description" maxlength="150"></textarea>
            <span class="text-danger" *ngIf="description?.invalid && description?.touched">
              Please write description with a max of 150 characters
            </span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="expiry_date">Discount percentage</label>
          <mat-slider thumbLabel id="select-class" min="0" [max]="100" class="w-100 slider"
                      [value]="discount?.value ? discount?.value : 0"
                      formControlName="discount" [displayWith]="formatLabel"></mat-slider>
          <div class="d-flex justify-content-between">
            <span>0%</span>
            <span>100%</span>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-2 overflow-hidden">
        <metutors-submit-button [form]="form" [isSubmitting]="isAdding"
                                [extraClasses]="'float-end py-1 px-5'">
          Add coupon
        </metutors-submit-button>

        <button mat-flat-button class="float-end rounded d-block border py-1 px-5"
                (click)="closeModal.emit()">
          Cancel
        </button>
      </div>
    </form>
  </ng-template>
</metutors-modal>
