.success-modal {
  h1 {
    color: #000000;
    font-size: 36px;
    font-weight: 600;
  }

  .subheading {
    font-size: 24px;
    color: #949494;
    font-weight: normal;
  }

  button {
    font-size: 20px;
    font-weight: bold;
  }
}
