<metutors-terms-header [title]="'COOKIES_NOT_ONES'"
                       [description]="'COOKIES_NOT_ONES_DESC'">
</metutors-terms-header>

<div class="container cookie-notice mt-5">
  <div class="row">
    <div class="col-md-9">
      <h1 class="title">{{ 'COOKIES_NOTICE' | translate }}</h1>
      <p class="details">
        We want you to understand our usage of cookies when you use our website or platform.
        <br />
        <br />
        We only use cookies which we don’t consider to be intrusive and are designed to help us provide you with a
        better experience when using our website or platform. We will also make sure we set them to expire so they are
        not kept for long periods of time.
      </p>

      <div class="card question" *ngFor="let question of questions">
        <div class="card-body">
          <div class="d-flex">
            <h1 class="flex-grow-1 m-0 f-size-25-md-sm"
              [class.main-color]="openQuestion && selectedQuestion === question.id">
              <bdi>{{ question?.title }}</bdi>
            </h1>
            <button mat-button *ngIf="selectedQuestion !== question.id" (click)="changeOpenSelection(question.id)">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-button class="main-color" *ngIf="openQuestion && selectedQuestion === question.id"
              (click)="changeOpenSelection(question.id)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <p class="desc" *ngIf="openQuestion && selectedQuestion === question.id" [@slideInOut]>
            <bdi>{{ question?.answer }}</bdi>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <metutors-terms-sidebar [active]="'COOKIES_NOTICE'"></metutors-terms-sidebar>
    </div>
  </div>
</div>