<div class="success-stories" id="success-stories" style="background-image: url(assets/homepage/stars_bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 text-center">
        <h1 class="f-size-25-md-sm">{{ title | translate }}</h1>
        <p class="f-size-18-md-sm">{{ desc | translate }}</p>
      </div>

      <div class="col-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let testmonial of testmonials">
            <div class="px-3 h-100 d-flex flex-column card-item">
              <rating [ngModel]="testmonial?.rate" [max]="5" [readonly]="true"></rating>
              <p class="desc flex-grow-1">
                <q>{{ testmonial.content | translate }}</q>
              </p>
              <div class="row info">
                <div class="col-2 d-flex align-items-center">
                  <img [src]="testmonial?.picture" meTutorsDefaultAvatar class="person" alt="">
                </div>
                <div class="col-10">
                  <h2>{{ testmonial?.postedBy }}</h2>
                  <h3 *ngIf="testmonial?.isVerified" class="d-flex">
                    <img src="assets/svg/verified.svg" class="verfied me-2" alt="">
                    {{ 'VERIFIED_STUDENT' | translate }}
                  </h3>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
