<div class="container py-5 reset-block" [style.height.px]="heightPX">
  <div class="row h-100">
    <div class="col-md-5 d-flex align-items-center">
      <form [formGroup]="reform" (ngSubmit)="onSubmit(reform)" class="w-100">
        <div>
          <h4 class="mb-5">Reset password</h4>

          <div class="form-group">
            <label for="pass">New password</label>
            <input type="password" class="custom-input w-100 input-bordered" id="pass" placeholder="**********"
              formControlName="password">
            <!-- <div class="text-danger" *ngIf="password.touched && password.errors?.required">
              Please enter Password
            </div>
            <div class="text-danger"
              *ngIf="password.touched && !password.errors?.required && password.errors?.minlength">
              Password cannot be less than 8 characters
            </div>
            <div class="text-danger"
              *ngIf="password.touched && !password.errors?.required && password.errors?.maxlength">
              Password cannot be more than 100 characters
            </div> -->
          </div>

          <div class="form-group">
            <label for="retype">Retype password</label>
            <input type="password" class="custom-input w-100 input-bordered" id="retype" placeholder="**********"
              formControlName="repassword" (input)="checkSamePasswords()">
            <!-- <div class="text-danger" *ngIf="repassword.touched && repassword.errors?.required">
              Please enter Password
            </div> -->
            <!-- <div class="text-danger"
              *ngIf="repassword.touched && !repassword.errors?.required && repassword.errors?.minlength">
              Password cannot be less than 8 characters
            </div>
            <div class="text-danger"
              *ngIf="repassword.touched && !repassword.errors?.required && repassword.errors?.maxlength">
              Password cannot be more than 100 characters
            </div> -->
            <!-- <div class="text-danger"
              *ngIf="repassword.touched && !repassword.errors?.required && !repassword.errors?.minlength && !repassword.errors?.maxlength && !passwordSame">
              Passwords do not match
            </div> -->
          </div>

          <div class="form-group mt-4 mb-2">
            <button mat-flat-button color="primary" class="py-2 d-block w-100" cdkFocusInitial type="submit"
              [disabled]="reform.invalid || !passwordSame || loading">
              Confirm
              <mat-icon class="spinner" *ngIf="loading">autorenew</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-7 d-flex align-items-center img-cover">
      <!-- <metutors-opinions></metutors-opinions> -->
    </div>
  </div>
</div>
