<div class="container py-5 reset-block full-height">
  <div class="row h-100">
    <div class="col-md-5 d-flex flex-column">
      <a class="pt-5 pb-3 logo" routerLink="/">
        <img alt="logo" src="assets/logo/logo-dark.png" width="200px" draggable="false">
      </a>

      <form [formGroup]="reform" (ngSubmit)="onSubmit(reform)" class="w-100 flex-grow-1 d-flex align-items-center">
        <div class="w-100">
          <h4 class="mb-5">Reset password</h4>

          <div class="form-group position-relative">
            <label for="pass">New password</label>
            <input [type]="!passwordVisibility ? 'password' : 'text'"  class="custom-input w-100 input-bordered" id="pass" placeholder="**********"
              formControlName="password">
            <mat-icon matSuffix class="position-absolute password-visibility" (click)="passwordVisibility = !passwordVisibility">{{ !passwordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
            <span class="text-danger" *ngIf="password?.invalid && password?.touched">
              Password cannot be less than 8 characters and cannot be more than 100 characters
            </span>
          </div>

          <div class="form-group position-relative">
            <label for="retype">Retype password</label>
            <input [type]="!confirmPasswordVisibility ? 'password' : 'text'" class="custom-input w-100 input-bordered" id="retype" placeholder="**********"
              formControlName="confirmPassword">
            <mat-icon matSuffix class="position-absolute password-visibility" (click)="confirmPasswordVisibility = !confirmPasswordVisibility">{{ !confirmPasswordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
            <div class="text-danger" *ngIf="reform?.hasError('passwordMismatch')">
              Passwords do not match
            </div>
          </div>

          <div class="form-group mt-4 mb-2">
            <metutors-submit-button [form]="reform" [isSubmitting]="loading" [extraClasses]="'w-100'">
              Reset Password
            </metutors-submit-button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-7 d-flex align-items-center img-cover">
      <metutors-auth-opinions></metutors-auth-opinions>
    </div>
  </div>
</div>
