.header {
  border-bottom: 10px solid var(--main-color);
  padding: 20px 60px;

  .brand {
    padding: 20px 15px 20px 0;
    margin: -20px 20px -20px 0;
    border-right: 3px solid #C4C4C4;
  }

  .step {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
  }

  .exit {
    color: var(--main-color);
    font-size: 20px;
  }
}

.heading {
  font-size: 30px;
  color: #131313;
  font-weight: 500;
}

.steps {
  h2 {
    color: #2a2a2a;
    font-weight: normal;
    font-size: 25px;
  }

  p {
    color: #696969;
    font-size: 15px;
    line-height: 28px;
  }

  ul {
    li {
      padding: 15px 25px;
      color: rgba(0, 0, 0, 0.38);
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.5px;
      position: relative;

      &.active {
        color: var(--main-color);

        &:after {
          content: "";
          background: var(--main-color);
          height: 4px;
          position: absolute;
          left: calc(25px + 5%);
          right: calc(25px + 5%);
          bottom: 10px;
        }
      }
    }
  }
}
