<div class="container py-5">
  <div class="row h-100">
    <div class="col-md-12 align-items-center">
      <div class="steps">
        <ul class="list-unstyled sidebar-nav">
          <li [ngClass]="{ 'active':  step === 'STEP1' }">
            <span>Personal Information</span>
          </li>
          <li [ngClass]="{ 'active': step === 'STEP2' }">
            <span>Profile Picture</span>
          </li>
          <li [ngClass]="{ 'active': step === 'STEP3' }">
            <span>Qualification Details</span>
          </li>
          <li [ngClass]="{ 'active': step === 'STEP4' }">
            <span>Teaching Specifications</span>
          </li>
        </ul>
      </div>

      <metutors-complete-tutor-profile-personal-information *ngIf="step === 'STEP1'" [loading]="loading"
        [countries]="countries" [cities]="cities" (loadCities)="loadCities($event)"
        (submitForm)="sendTeacherAccount($event, 'STEP2')">
      </metutors-complete-tutor-profile-personal-information>

      <metutors-complete-tutor-profile-profile-picture *ngIf="step === 'STEP2'" [loading]="loading"
        (submitForm)="sendTeacherAccount($event, 'STEP3')">
      </metutors-complete-tutor-profile-profile-picture>

      <metutors-complete-tutor-profile-qualification-details *ngIf="step === 'STEP3'" [loading]="loading"
        (submitForm)="sendTeacherAccount($event, 'STEP4')">
      </metutors-complete-tutor-profile-qualification-details>

      <metutors-complete-tutor-profile-teaching-specifications *ngIf="step === 'STEP4'" [loading]="loading"
        (submitForm)="sendTeacherAccount($event, 'STEP5')">
      </metutors-complete-tutor-profile-teaching-specifications>
    </div>
  </div>
</div>
