<header class="header d-flex align-items-center">
  <div class="flex-grow-1">
    <a class="brand" routerLink="/">
      <img alt="logo" src="assets/logo/logo-dark.png" width="170px" draggable="false">
    </a>

    <span class="step">
      Step {{ step$ | async }} of 5
    </span>
  </div>

  <a routerLink="/" class="exit">
    Exit
  </a>
</header>

<div class="container py-5" *ngLet="(step$ | async) as step">
  <div class="row h-100">
    <div class="col-md-12 align-items-center">
      <h1 class="heading text-center mb-4">Complete Account Information </h1>

      <div class="steps mb-5">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item" [ngClass]="{ 'active': step === 1 }">
            <span>Personal Information</span>
          </li>
          <li class="list-inline-item" [ngClass]="{ 'active': step === 2 }">
            <span>Profile Picture</span>
          </li>
          <li class="list-inline-item" [ngClass]="{ 'active': step === 3 }">
            <span>Qualification Details</span>
          </li>
          <li class="list-inline-item" [ngClass]="{ 'active': step === 4 }">
            <span>Teaching Specifications</span>
          </li>
          <li class="list-inline-item" [ngClass]="{ 'active': step === 5 }">
            <span>Tutoring Courses</span>
          </li>
        </ul>
      </div>

      <metutors-complete-tutor-profile-personal-information *ngIf="step === 1" 
                                                            [loading]="loading$ | async"
                                                            [countries]="countries$ | async" 
                                                            [cities]="cities$ | async" 
                                                            (loadCities)="loadCities($event)"
                                                            (submitForm)="sendTeacherAccount($event, 2)">
      </metutors-complete-tutor-profile-personal-information>

      <metutors-complete-tutor-profile-profile-picture *ngIf="step === 2"
                                                       [loading]="loading$ | async"
                                                       (submitForm)="sendTeacherAccount($event, 3)">
      </metutors-complete-tutor-profile-profile-picture>

      <metutors-complete-tutor-profile-qualification-details *ngIf="step === 3"
                                                             [loading]="loading$ | async"
                                                             [languagesList]="languages$ | async"
                                                             (submitForm)="sendTeacherAccount($event, 4)">
      </metutors-complete-tutor-profile-qualification-details>

      <metutors-complete-tutor-profile-teaching-specifications *ngIf="step === 4"
                                                               [loading]="loading$ | async"
                                                               [levels]="levels$ | async"
                                                               (submitForm)="sendTeacherAccount($event, 5)">
      </metutors-complete-tutor-profile-teaching-specifications>

      <metutors-complete-tutor-profile-tutoring-courses *ngIf="step === 5"
                                                        [loading]="loading$ | async"
                                                        [programsList]="(programs$ | async)!"
                                                        [countries]="programCountries$ | async"
                                                        [fields]="(fields$ | async)!"
                                                        [subjectsList]="(subjects$ | async)!"
                                                        (submitForm)="sendTeacherAccount($event, 6)">
      </metutors-complete-tutor-profile-tutoring-courses>
    </div>
  </div>
</div>
