.my-tickets {
  padding: 50px 40px 20px;

  .title {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: bold;
  }

  .card {
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #e5eaf4;
    margin-top: 20px;

    h2 {
      color: #2a2a2a;
      font-size: 20px;
      font-weight: bold;

      a {
        color: #2a2a2a;
      }

      .label {
        padding: 5px 8px 4px;
        border-radius: 13px;
        color: #FFF;
        font-size: 11px;
        margin-left: 10px;

        &.response {
          background-color: #3bb3c1;
        }

        &.closed {
          background-color: #ff554b;
        }

        &.issued {
          background-color: #ff8300;
        }
      }
    }

    p {
      color: #696969;
      font-size: 15px;
      margin-top: 10px;
    }
  }

  .no-data {
    font-size: 15px;
  }
}
