.classroom-item {
  overflow: hidden;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);

  button.status {
    margin-right: 10px;
  }

  .date {
    background-color: rgba(59, 179, 193, 0.04);

    h2 {
      color: #696969;
      font-size: 16px;
    }

    h3 {
      font-weight: bold;
      font-size: 20px;
      color: #2a2a2a;
    }

    h4 {
      font-size: 15px;
      color: #696969;
    }
  }

  .card-title {
    color: #2a2a2a;
    font-size: 22px;

    span {
      color: #696969;
      font-size: 15px;
    }
  }

  .review {
    color: #949494;
    font-size: 14px;
    margin-left: 10px;
  }

  .info {
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    h2 {
      color: #2a2a2a;
      font-size: 14px;
      margin: 0;
      font-weight: bold;

      img {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        border-radius: 0;
      }

      .count {
        color: #FF8E18;
        font-weight: bold;
        font-size: 15px;
        margin-left: 5px;
      }
    }

    h3 {
      color: #696969;
      font-size: 12px;
      margin: 0;
    }

    .logos {
      .fw-bold {
        font-size: 13px;
      }

      img {
        width: 24px;
        height: 24px;
        object-fit: cover;
      }
    }
  }

  .in-progress {
    h3 {
      font-size: 12px;
      color: #000;
    }

    strong {
      color: #000;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  .book-classroom {
    color: white;
    font-weight: bold;
    padding: 5px 30px;
    transition: all 0.25s ease-in-out;
    background-color: var(--main-color);
  }

  .class-btn {
    border-radius: 20px;
    line-height: 0;
  }

  .secondary-btn {
    border: 2px solid #dfdfdf;
    margin-right: 5px;
  }
}
