<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'" [template]="template"
  [showHeader]="false">
  <ng-template #template>
    <div class="change-schedule text-center">
      <button mat-icon-button (click)="closeModal.emit()" class="close-btn">
        <mat-icon>close</mat-icon>
      </button>
      <img src="assets/svg/sad.svg" draggable="false" alt="">
      <h2 class="mt-4">{{ 'NEED_CHANGE_COURSE_SCHEDULE' | translate }}</h2>

      <p class="mb-5">{{ 'KEEP_DESIRED_SCHEDULE_48_HOURS' | translate }}</p>

      <button mat-flat-button color="primary" class="px-3 py-1 fw-bold" (click)="changeSchedule.emit()">
        {{ 'CHANGE_SCHEDULE' | translate }}
      </button>
    </div>
  </ng-template>
</metutors-modal>
