.change-schedule {
  padding: 20px 30px;

  .close-btn {
    position: absolute;
    right: -10px;
    top: -10px;
  }

  img {
    background: #F0F0F0;
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 50%;
  }

  h2 {
    color: #000000;
  }

  p {
      
  }
}
