.become-online-tutor {
  background-color: rgba(59, 179, 193, 0.04);

  .block {
    padding: 60px 80px;
    background-color: #4ACAC4;
    border-radius: 16px;
    background-position: left bottom;
    background-repeat: no-repeat;

    h1 {
      font-size: 40px;
      line-height: normal;
      color: #FFF;
    }

    p {
      font-size: 20px;
      color: #FFF;
    }

    a {
      background-color: #111a37;
      color: #FFF;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 10px 40px;
      margin-top: 30px;
    }
  }
}

@media (max-width:767px) {
  .become-online-tutor .block {
    padding: 20px;
  }
}
