<div class="become-online-tutor">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="block text-center" style="background-image: url('assets/homepage/shape-1.svg')">
          <h1 class="f-size-25-md-sm">Ready to begin tutoring with us?</h1>
          <p class="f-size-17-md-sm">Join our team of teachers and start earning today!</p>
          <a mat-button routerLink="/signup" [queryParams]="{role: 3}" *ngIf="!token">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
