<div class="my-tickets">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <h2 class="title">My Tickets</h2>
      <a mat-flat-button color="primary" routerLink="/student/help/support-ticket/create-ticket">Create new ticket</a>
    </div>
    <div class="col-12">
      <ng-container *ngIf="!(isLoading$ | async)">
        <div class="card" *ngFor="let ticket of tickets$ | async">
          <div class="card-body">
            <h2>
              <a [routerLink]="'/student/help/support-ticket/ticket-details/' + ticket?.ticketId">{{ ticket?.subject }}</a>
              <span class="label" [ngClass]="{
                  'issued': ticketStatus.open === ticket?.status,
                  'closed': ticketStatus.closed === ticket?.status,
                  'response': ticketStatus.inprogress === ticket?.status
                }">{{ ticket?.status }}</span>
            </h2>
            <p><bdi>{{ ticket?.message }}</bdi></p>
            <div class="row list">
              <!-- <div class="col-md-3 d-flex menu align-items-center" *ngIf="ticket?.assignedEmployee">
              <img src="assets/homepage/courses/person.png" meTutorsDefaultAvatar alt="" width="25" height="25"
                draggable="false">
              <strong>Agent: {{ ticket?.assignedEmployee?.official_name }}</strong>
            </div> -->
              <div class="col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
                <span>Open : {{ ticket?.createdDate | date: 'EEEE, d MMM y' }}</span>
              </div>
              <!-- <div class="col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                <span>{{ ticket?.category?.name }}</span>
              </div> -->
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="isLoading$ | async">
        <div class="card" *ngFor="let _ of [1, 2, 3]">
          <div class="card-body">
            <metutors-grid-placeholder></metutors-grid-placeholder>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
