<div class="slide" style="background-image: url('assets/homepage/student-cover.webp')">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="f-size-25-md-sm">
          Unlock your
          <br>
          potential
        </h1>
        <p class="f-size-17-md-sm">
          Get help with your most difficult subjects, homework assignments, projects and exam preparation.
        </p>
        <button mat-flat-button color="primary" routerLink="/signin" *ngIf="!token">Learn more!</button>
      </div>
    </div>
  </div>
</div>
