<div class="container request-tutor">
  <h1 class="f-size-20-md-sm">Course Booking</h1>
  
  <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
    <mat-step [stepControl]="courseInformationForm">
      <form [formGroup]="courseInformationForm">
        <ng-template matStepLabel>
          <div class="title-info" [class.done]="courseInformationForm.valid">
            <h3>
              <ng-container *ngIf="courseInformationForm.invalid">01</ng-container>
              <ng-container *ngIf="courseInformationForm.valid">
                <mat-icon>check</mat-icon>
              </ng-container>
            </h3>
            <h4 class="text-uppercase f-size-15-md-sm">Step one</h4>
            <h2 class="f-size-15-md-sm">Course Details</h2>
          </div>
        </ng-template>

        <metutors-course-information-form [form]="courseInformationForm"
                                          [fields]="fields$ | async" 
                                          [programs]="programs$ | async" 
                                          [languages]="languages$ | async"
                                          [subjects]="subjects$ | async" 
                                          [countries]="countries$ | async" 
                                          (submitForm)="nextStep()"
                                          (changeCourseProgram)="fetchCourseField($event)"
                                          (changeCourseField)="fetchCourseFieldSubject($event)"
                                          (changeCourseSubject)="calculateEstimatedPrice($event)">
        </metutors-course-information-form>
      </form>
    </mat-step>

    <mat-step [stepControl]="classroomDetailsForm">
      <form [formGroup]="classroomDetailsForm">
        <ng-template matStepLabel>
          <div class="title-info" [class.done]="classroomDetailsForm.valid">
            <h3>
              <ng-container *ngIf="classroomDetailsForm.invalid">02</ng-container>
              <ng-container *ngIf="classroomDetailsForm.valid">
                <mat-icon>check</mat-icon>
              </ng-container>
            </h3>
            <h4 class="text-uppercase f-size-15-md-sm">Step two</h4>
            <h2 class="f-size-15-md-sm">Classroom Setup</h2>
          </div>
        </ng-template>

        <metutors-classroom-info-form [form]="classroomDetailsForm" 
                                      [price]="price$ | async" 
                                      (onBack)="backStep()"
                                      (submitForm)="nextStep(); generateClassRooms()">
        </metutors-classroom-info-form>
      </form>
    </mat-step>

    <mat-step [stepControl]="classroomScheduleForm">
      <form [formGroup]="classroomScheduleForm">
        <ng-template matStepLabel>
          <div class="title-info" [class.done]="classroomScheduleForm.valid">
            <h3>
              <ng-container *ngIf="classroomScheduleForm.invalid">03</ng-container>
              <ng-container *ngIf="classroomScheduleForm.valid">
                <mat-icon>check</mat-icon>
              </ng-container>
            </h3>
            <h4 class="text-uppercase f-size-15-md-sm">Step three</h4>
            <h2 class="f-size-15-md-sm">Class Schedule</h2>
          </div>
        </ng-template>

        <metutors-list-classrooms-form [form]="classroomScheduleForm" 
                                       [price]="price$ | async" 
                                       [classrooms]="classrooms"
                                       (onBack)="backStep()" 
                                       (onNext)="nextStep()" 
                                       (updatedClassrooms)="updatedClassrooms($event)"
                                       (loadTutors)="loadTutors($event)">
        </metutors-list-classrooms-form>
      </form>
    </mat-step>

    <mat-step [stepControl]="selectTutorForm">
      <form [formGroup]="selectTutorForm">
        <ng-template matStepLabel>
          <div class="title-info" [class.done]="selectTutorForm.valid">
            <h3>
              <ng-container *ngIf="selectTutorForm.invalid">04</ng-container>
              <ng-container *ngIf="selectTutorForm.valid">
                <mat-icon>check</mat-icon>
              </ng-container>
            </h3>
            <h4 class="text-uppercase f-size-15-md-sm">Step four</h4>
            <h2 class="f-size-15-md-sm">Tutor Information</h2>
          </div>
        </ng-template>

        <metutors-select-tutor-form [form]="selectTutorForm" 
                                    [classrooms]="classrooms"
                                    [duration]="duration"
                                    [loading]="loadingTutors$ | async"
                                    [price]="price$ | async" 
                                    [hours]="reviewInfo?.hours"
                                    [suggestedTutors]="suggestedTutors$ | async"
                                    [availableTutors]="availableTutors$ | async"
                                    (onBack)="backStep()"
                                    (tutorAvailability)="onTutorAvailability($event)"
                                    (filterTutors)="filterTutors($event)"
                                    (changeSchedule)="onOpenChangeCourseScheduleModal($event)"
                                    (submitForm)="nextStep()">
        </metutors-select-tutor-form>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <div class="title-info">
          <h3>05</h3>
          <h4 class="text-uppercase f-size-15-md-sm">Step five</h4>
          <h2 class="f-size-15-md-sm">Order Summary</h2>
        </div>
      </ng-template>

      <metutors-review-request [reviewInfo]="reviewInfo" 
                               [isCreatingCourse]="isCreatingCourse$ | async"
                               [price]="price$ | async"
                               (submitForm)="onSubmit()" 
                               (onBack)="backStep()">
      </metutors-review-request>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<metutors-teacher-availability-modal [timeSlots]="(tutorAvailability$ | async)!"
                                     [isLoadingTimeSlots]="(isLoadingTutorAvailability$ | async)!"
                                     [showModal]="(showTeacherAvailabilityModal$ | async)!"
                                     *ngIf="showTeacherAvailabilityModal$ | async"
                                     (closeModal)="onCloseTeacherAvailabilityModal()">
</metutors-teacher-availability-modal>

<metutors-change-course-schedule-modal [showModal]="(showChangeCourseScheduleModal$ | async)!"
                                       *ngIf="showChangeCourseScheduleModal$ | async"
                                       (closeModal)="onCloseChangeCourseScheduleModal()"
                                       (changeSchedule)="onCloseChangeCourseScheduleModal(); changeSchedule()">
</metutors-change-course-schedule-modal>
