.metutors-values {
  h1 {
    font-size: 40px;
    line-height: normal;
    color: #000000;
  }

  p {
    font-size: 20px;
    color: #949494;
    margin-bottom: 50px;
  }

  .item {
    margin-bottom: 10px;

    .card {
      border-top: 3px solid var(--main-color);
    }

    &:nth-child(1) .card {
      border-color: #be63f9;
    }

    h2 {
      font-size: 20px;
      color: #000;
      margin-top: 15px;
      font-weight: bold;
    }

    h4 {
      font-size: 16px;
      color: #696969;
      margin: 20px 0 40px;
      line-height: 1.5;
    }
  }
}

@media (max-width:767px) {
  .metutors-values {
    .item {
      h4 {
        margin-bottom: 10px;
      }
    }
  }
}
