<div class="row metutors-values">
  <div class="col-md-12 text-center">
    <h1 class="f-size-25-md-sm">Our Values</h1>
    <p class="f-size-17-md-sm">
      Online education is shaping the way we learn and at MEtutors we are committed to providing quality education
      taught by expert tutors.
    </p>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-md-6 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/collaboration.svg" alt="" draggable="false" width="65" height="65" />
            <h2 class="f-size-17-md-sm">Education made simple</h2>
            <h4 class="f-size-15-md-sm">
              Our intuitive platform simplifies the whole process of starting a new course. Communicate with your tutor,
              track your progress and submit your assignments all in one place.
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-6 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/passionate.svg" alt="" draggable="false" width="65" height="65" />
            <h2 class="f-size-17-md-sm">A passion for lifelong learning</h2>
            <h4 class="f-size-15-md-sm">
              We are passionate about providing the best learning experience and want our students to progress
              academically to get the grades they need.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
