<div class="row metutors-values">
  <div class="col-md-12 text-center">
    <h1 class="f-size-25-md-sm">Our Values</h1>
    <p class="f-size-17-md-sm">
      Online tutoring is shaping the way we learn and with an all-time high demand for quality education from millions
      of people around the world, MEtutors aims to bring the best online courses with expert tutors at a very affordable
      price.
    </p>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-md-6 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/collaboration.svg" alt="" draggable="false" width="65" height="65" />
            <h2 class="f-size-17-md-sm">Education made simple</h2>
            <h4 class="f-size-15-md-sm">
              Our intuitive platform, easy-to-use website and exceptionally well-trained teaching professionals simplify
              the whole process of starting a new course with MEtutors. You can also enjoy the flexibility of online
              learning and take your course anytime, anywhere!
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-6 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/passionate.svg" alt="" draggable="false" width="65" height="65" />
            <h2 class="f-size-17-md-sm">A passion for lifelong learning</h2>
            <h4 class="f-size-15-md-sm">
              At MEtutors we are passionate about providing our students with the best learning experience. We want
              every single one of our students to achieve their goals and of course enjoy it along the way, made
              possible with our friendly, approachable tutoring team.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
