<div class="row metutors-values">
  <div class="col-md-12 text-center">
    <h1>MEtutors Values</h1>
    <p>
      Explore more than 500 courses in different subjects, languages and study fields.
    </p>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-md-6 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/collaboration.svg" alt="" draggable="false" width="65" height="65" />
            <h2>Collaboration become first</h2>
            <h4>
              From the comfort of their homes students can enroll in any of
              our carefully crafted courses. Through our easy-to-use website
              and dynamic multi-media instruction from exceptionally well-
              trained teaching professionals
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-6 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/passionate.svg" alt="" draggable="false" width="65" height="65" />
            <h2>Learning is our passionate</h2>
            <h4>
              As serious educators, the talented folks at MEtutors are
              passionate about providing the best possible learning experience
              for our students. We want every one of our students to meet
              and even surpass their learning goals.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
