<metutors-tutor-navbar [layout]="(layout$ | async)" [user]="user$ | async" (logout)="logout()"></metutors-tutor-navbar>

<div class="dashboard">
  <ng-container *ngLet="(view$ | async) as view">
    <div class="row">
      <div class="col-md-6">
        <h2 class="overview">Overview</h2>
        <p class="desc">
          See insights on how your Progress has changed from last <strong>{{insightRange[range]}}</strong>
        </p>
      </div>
      <div class="col-md-6">
        <button mat-flat-button color="primary" class="float-end ms-2" (click)="onShowSendFeedbackModal()">
          Send Feedback
        </button>

        <mat-button-toggle-group class="float-end">
          <mat-button-toggle value="7days" (change)="loadDashboard($event.value)" checked>7 Days</mat-button-toggle>
          <mat-button-toggle value="1month" (change)="loadDashboard($event.value)">1 Month</mat-button-toggle>
          <mat-button-toggle value="3months" (change)="loadDashboard($event.value)">3 Months</mat-button-toggle>
          <mat-button-toggle value="1year" (change)="loadDashboard($event.value)">Yearly</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <ng-container [ngSwitch]="view.loading">
      <div class="row list-cards" *ngSwitchCase="true">
        <div class="col-md-3" *ngFor="let _ of [1,2,3,4]">
          <div class="ph-col-3">
            <div class="ph-avatar rounded"></div>
          </div>
        </div>
      </div>

      <div class="row list-cards" *ngSwitchCase="false">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <h3>Total Courses</h3>
              <h1 class="flex-grow-1">
                {{ view.data.totalCourses}}
                <span [ngClass]="{'danger': view.data?.coursesGrowth < 0}">{{ view.data?.coursesGrowth >= 0 ? '+'+view.data?.coursesGrowth : view.data?.coursesGrowth}}%</span>
              </h1>
              <p>Compared to {{ view.data?.coursesLastCount}} (last {{insightRange[range]}})</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card red-bo">
            <div class="card-body d-flex flex-column">
              <h3>Total Completed Courses</h3>
              <h1 class="flex-grow-1">
                {{ view.data.totalCompletedCourses}}
                <span [ngClass]="{'danger': view.data?.completedCoursesGrowth < 0}">{{ view.data?.completedCoursesGrowth >= 0 ? '+'+view.data?.completedCoursesGrowth : view.data?.completedCoursesGrowth}}%</span>
              </h1>
              <p>Compared to {{view.data?.completedCoursesLastCount}} (last {{insightRange[range]}})</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card orange-bo">
            <div class="card-body d-flex flex-column">
              <h3>Kudos Points</h3>
              <h1 class="flex-grow-1">
                {{ view.data.kudosPoints}}
                <span [ngClass]="{'danger': view.data?.kudosPointsGrowth < 0}">{{ view.data?.kudosPointsGrowth >= 0 ? '+'+view.data?.kudosPointsGrowth : view.data?.kudosPointsGrowth}}%</span>
              </h1>
              <p>Compared to {{ view.data?.kudosPointsLastCount}} (last {{insightRange[range]}})</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card purple-bo">
            <div class="card-body d-flex flex-column">
              <h3>Newly Assigned courses</h3>
              <h1 class="flex-grow-1">
                {{ view.data.totalNewlyCourses}}
                <span [ngClass]="{'danger': view.data?.newlyCoursesGrowth < 0}">{{ view.data?.newlyCoursesGrowth >= 0 ? '+'+view.data?.newlyCoursesGrowth : view.data?.newlyCoursesGrowth}}%</span>
              </h1>
              <p>Compared to {{ view.data?.newlyCoursesLastCount}} (last {{insightRange[range]}})</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <div class="col-12">
        <h3 class="overview mb-3">Today's Classes - {{ view.data?.todaysDate }}</h3>
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <table class="table my-table" *ngSwitchCase="false">
            <tr>
              <th>#</th>
              <th>Program Name</th>
              <th>Course Name</th>
              <th>Class Subject</th>
              <th>Start time - End time</th>
              <th>Duration</th>
              <th></th>
            </tr>
            <tr *ngIf="!view.data?.todaysClasses?.length">
              <td colspan="6">
                <div class="text-center">No record found</div>
              </td>
            </tr>
            <ng-container *ngIf="view.data?.todaysClasses?.length">
              <tr *ngFor="let todaysClass of view.data.todaysClasses; let i=index">
                <td>{{ i+1}}</td>
                <td>{{ todaysClass?.course?.program?.name }}</td>
                <td>{{ todaysClass?.course?.courseName }}</td>
                <td>{{ todaysClass?.title }}</td>
                <td>{{ todaysClass?.startTime }} - {{ todaysClass?.endTime }}</td>
                <td>{{ todaysClass?.duration }} hour{{ +(todaysClass?.duration)! > 1 ? 's' : '' }}</td>
                <td class="d-flex justify-content-end">
                  <button mat-button class="main-button-opacity" (click)="launchClass(todaysClass.id)" [disabled]="(isLaunchingClass$ | async)">
                    <img src="assets/svg/play-fill.svg" draggable="false" alt="">
                    Launch Class
                  </button>
                </td>
              </tr>
            </ng-container>
          </table>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="overview mt-5">Newly Assigned Courses</h2>
      </div>
      <div class="col-12">
        <ng-container [ngSwitch]="view.loading">
          <metutors-card-placeholder *ngSwitchCase="true"></metutors-card-placeholder>
          <ng-container *ngSwitchCase="false">
            <ng-container *ngIf="view.data.courses?.length">
              <metutors-classroom-item [classroom]="course" *ngFor="let course of view.data.courses"
                                       [completeCourse]="true" (reject)="onOpenRejectCourse(course.id)"
                                       [isAcceptingCourse]="(isAccepting$ | async)!"
                                       (accept)="onAcceptCourse(course.id)"
                                       [url]="'/tutor/classrooms/classes/dashboard/'">
              </metutors-classroom-item>
            </ng-container>
            <ng-container *ngIf="!view.data.courses?.length">
              <div class="p-5 text-center">No record found</div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="overview mt-5 mb-3">
          Kudos Points Details

          <span class="float-end view-all text-main cursor-pointer" (click)="onOpenKudosPointsModal()">
            View all reviews
            <img src="assets/svg/arrow-left-line-colored.svg" alt="" class="ms-2" draggable="false">
          </span>
        </h2>
      </div>
      <div class="col-12">
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <table class="table my-table default-title" *ngSwitchCase="false">
            <tr>
              <th colspan="4">Kudos Points details</th>
              <th class="sm">
                <span class="float-end me-2">Total Points: {{view.data?.kudosPoints ? view.data?.kudosPoints : 0}}</span>
              </th>
            </tr>
            <tr>
              <td>Number</td>
              <td>Student Name</td>
              <td>Course Name</td>
              <td>Course Date</td>
              <td>Points</td>
            </tr>
            <tr *ngIf="!view.data.feedbacks?.data?.length">
              <td colspan="5">
                <div class="text-center">No record found</div>
              </td>
            </tr>
            <ng-container *ngIf="view.data.feedbacks?.data?.length">
              <tr *ngFor="let kudo of view.data.feedbacks.data; let i=index">
                <td>{{ i + 1}}</td>
                <td>
                  <metutors-user-avatar [avatar]="imageUrl+kudo?.avatar" [type]="'small'"
                                        [name]="kudo?.studentName"
                                        class="d-inline-block ps-0">
                  </metutors-user-avatar>
                </td>
                <td>{{ kudo?.courseName }}</td>
                <td>{{ kudo?.courseDate}}</td>
                <td>{{ kudo.kudosPoints}} Points</td>
              </tr>
            </ng-container>
          </table>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<metutors-tutor-view-kudos-points-detail *ngIf="showKudosPointsModal$ | async" [kudosPoints]="(kudosPoints$ | async)!"
                                         [loading]="(isLoadingKudosPoints$ | async)!"
                                         [showModal]="(showKudosPointsModal$ | async)!"
                                         (closeModal)="onCloseKudosPointsModal()">
</metutors-tutor-view-kudos-points-detail>

<metutors-tutor-reject-course-modal *ngIf="(showRejectCourseModal$ | async)"
                                    [showModal]="(showRejectCourseModal$ | async)!" (submitted)="onRejectCourse($event)"
                                    (closeModal)="onCloseRejectCourse()" [submitting]="(isRejecting$ | async)!">
</metutors-tutor-reject-course-modal>

<metutors-tutor-feedback-modal *ngIf="(showSendFeedbackModal$ | async)" [heading]="heading"
                               [messageLabel]="messageLabel" [tabLabel]="tabLabel" [subHeading]="subHeading"
                               [showModal]="(showSendFeedbackModal$ | async)!" [isPlatform]="true" [buttonLabel]="'Send Feedback'"
                               (closeModal)="onCloseSendFeedbackModal()" (submitFeedback)="onSubmitFeedback($event)">
</metutors-tutor-feedback-modal>
