<div class="bookings-list">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1>Tutor Assignment/Re-assignment</h1>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <div class="position-relative">
            <input type="text" class="form-control custom-input input-bordered" placeholder="Apply filters">
            <mat-icon class="filter">filter_alt</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sections my-4 d-flex">
    <div class="p-2 section me-3" [class.active]="currentSection === 1" (click)="onChangeTab(1)">Tutor Not Available
    </div>
    <div class="p-2 section me-3" [class.active]="currentSection === 2" (click)="onChangeTab(2)">Declined New Courses
    </div>
    <div class="p-2 section me-3" [class.active]="currentSection === 3" (click)="onChangeTab(3)">Cancelled Courses By
      Tutors
    </div>
    <div class="p-2 section" [class.active]="currentSection === 4" (click)="onChangeTab(4)">Running Courses</div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12" *ngLet="(view$ | async) as view">
      <mat-tab-group mat-align-tabs="start" *ngIf="currentSection !== 4">
        <mat-tab [label]="'New Requests ('+(view.reAssignment?.newlyCoursesCount || 0)+')'">
          <ng-container [ngSwitch]="view.loading">
            <metutors-grid-placeholder class="mt-4" *ngSwitchCase="true"></metutors-grid-placeholder>

            <ng-container *ngSwitchCase="false">
              <metutors-re-assignment-grid [reassignments]="view.reAssignment?.newlyRequestedCourses" [isNew]="true"
                                           (openReassignTutorModal)="onOpenReassigningTutorSelectionModal($event)"
                                           (openBookingModal)="onOpenBookingModal($event)"
                                           (changeTutorStatus)="onChangeTutorStatus($event)"></metutors-re-assignment-grid>
            </ng-container>
          </ng-container>
        </mat-tab>

        <mat-tab [label]="'Completed ('+(view.reAssignment?.completedCoursesCount || 0)+')'">
          <ng-container [ngSwitch]="view.loading">
            <metutors-grid-placeholder class="mt-4" *ngSwitchCase="true"></metutors-grid-placeholder>

            <ng-container *ngSwitchCase="false">
              <metutors-re-assignment-grid [reassignments]="view.reAssignment?.completedCourses" [isNew]="false" [isNotAvailable]="true"
                                           (openReassignTutorModal)="onOpenReassigningTutorSelectionModal($event)"
                                           (openBookingModal)="onOpenBookingModal($event)"
                                           (changeTutorStatus)="onChangeTutorStatus($event)"></metutors-re-assignment-grid>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>

      <ng-container *ngIf="currentSection === 4">
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder class="mt-4" *ngSwitchCase="true"></metutors-grid-placeholder>

          <ng-container *ngSwitchCase="false">
            <metutors-re-assignment-grid [reassignments]="view.reAssignment?.courses" [isNew]="false" [isRunning]="true"
                                         (openReassignTutorModal)="onOpenReassigningTutorSelectionModal($event)"
                                         (openBookingModal)="onOpenBookingModal($event)"
                                         (changeTutorStatus)="onChangeTutorStatus($event)"></metutors-re-assignment-grid>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<metutors-admin-success-modal *ngIf="showSuccessModal$ | async" [routerLink]="['/admin', 'management', 'tutor-re-assignment']"
                              [icon]="'green-tick-success.svg'" (closeModal)="onCloseSuccessModal()"
                              [showModal]="(showSuccessModal$ | async)!" [heading]="'Request Completed'"
                              [buttonLabel]="'View Assigned Bookings'"
                              [subHeading]="'Teacher will be assigned within 24 hours'">
</metutors-admin-success-modal>

<metutors-admin-student-total-booking-modal [showModal]="(openBookingModal$ | async)!" *ngIf="openBookingModal$|async"
                                            (closeModal)="onCloseBookingModal()" [type]="'subject'"
                                            [loading]="(loadingTotalBooking$ | async)!"
                                            [detail]="(totalBooking$ | async)!">
</metutors-admin-student-total-booking-modal>

<metutors-admin-reassigning-tutor-selection-modal *ngIf="showReassigningTutorSelectionModal$ | async"
                                                  (reassignTutor)="onReassignTutor($event)"
                                                  [isReassigningTutor]="(reassigningTutor$ | async)!"
                                                  (closeModal)="onCloseReassigningTutorSelectionModal()"
                                                  (tutorAvailability)="onTutorAvailability($event)"
                                                  [tutors]="(availableTutors$ | async)!"
                                                  [timeSlots]="(tutorAvailability$ | async)!"
                                                  [loading]="(isLoadingAvailableTutors$ | async)!"
                                                  [isLoadingTimeSlots]="(isLoadingTutorAvailability$ | async)!"
                                                  [showModal]="(showReassigningTutorSelectionModal$ | async)!">
</metutors-admin-reassigning-tutor-selection-modal>
