<div class="container-fluid forget-block full-height">
  <div class="row h-100">
    <div class="col-md-3 offset-md-2 d-flex align-items-center">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="w-100">
        <div>
          <h4 class="mb-5">Forget password</h4>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="custom-input w-100 input-bordered" id="email" placeholder="ku@pecafhuj.co.uk"
              formControlName="email" email>
          </div>

          <div class="form-group mt-4 mb-2">
            <button mat-flat-button color="primary" class="py-2 d-block w-100" cdkFocusInitial type="submit"
              [disabled]="form.invalid || loading">
              Send reset link
              <mat-icon class="spinner" *ngIf="loading">autorenew</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-7 d-flex align-items-center img-cover">
      <img src="assets/authentication/forget-password.png" class="w-100 full-height" alt="" draggable="false">
    </div>
  </div>
</div>
