<form [formGroup]="form" class="card classroom-info" (ngSubmit)="onSubmit(form)">
  <div class="card-body">
    <div class="row row-block">
      <div class="col-md-4">
        <h2>Classroom information</h2>
        <h4>Insert classroom all information </h4>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <h3>Starting Date</h3>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="startPicker" [placeholder]="'Choose a Date'" (focus)="startPicker.open()"
                [min]="minDate" (dateChange)="onChangeDateDay(); onChangeDate()" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <h3>Ending Date</h3>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="endPicker" [placeholder]="'Choose a Date'" (focus)="endPicker.open()"
                [min]="startDate?.value" (dateChange)="onChangeDateDay(); onChangeDate()" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <h3>Days</h3>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="days" [placeholder]="'Choose Days'" multiple
                (selectionChange)="onChangeDateDay()">
                <mat-option [value]="day" [disabled]="checkDisabledDays(day)"
                  *ngFor="let day of listDays; let i = index">
                  {{ day }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <h3>Type of Classroom</h3>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="type" (selectionChange)="onChangeType()" [placeholder]="'Choose Type'">
                <mat-option [value]="type.value" *ngFor="let type of types | keyvalue: returnZero">
                  {{ type.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <h3>Starting Time</h3>
            <div class="ngx-timepicker-field-example">
              <input placeholder="Select Starting Time" aria-label="Select starting time" [ngxTimepicker]="startingTime"
                formControlName="startTime" class="form-control">
              <ngx-material-timepicker #startingTime [appendToInput]="true" [minutesGap]="30"
                (closed)="onChangeTimePicker()">
              </ngx-material-timepicker>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Ending Time</h3>
            <div class="ngx-timepicker-field-example">
              <input placeholder="Select Ending Time" aria-label="Select ending time" [ngxTimepicker]="endingTime"
                formControlName="endTime" class="form-control">
              <ngx-material-timepicker #endingTime [appendToInput]="true" [minutesGap]="30"
                (closed)="onChangeTimePicker()">
              </ngx-material-timepicker>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <h3>Duration</h3>
            <input type="text" class="form-control" formControlName="duration">
          </div>
          <div class="col-md-6">
            <h3>Total Hours</h3>
            <input type="text" class="form-control" formControlName="hours">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <h3>Total Classes</h3>
            <input type="text" class="form-control" formControlName="totalClasses">
          </div>
          <div class="col-md-6" *ngIf="showSeatAttendees">
            <h3>Seat Attendees</h3>
            <input type="number" max="10" min="1" step="1" class="form-control" formControlName="seatAttendees">
          </div>
        </div>
        <div class="row mt-4" [@slideInOut] *ngIf="price && hours?.value">
          <div class="col-md-12">
            <div class="d-flex est-price">
              <div class="flex-grow-1">
                <h5>Estimated Price:</h5>
                <p>Price change based on total hours, total classess, time</p>
              </div>
              <h1>{{ (price * +hours?.value) | currency: 'USD' }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 overflow-hidden">
        <button mat-flat-button color="primary" class="float-end" [disabled]="form.invalid" type="submit">
          Save & Continue
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-button class="float-end back-btn" type="button" (click)="onBack.emit()">
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
      </div>
    </div>
  </div>
</form>
