:host ::ng-deep .classroom-info {
  border-radius: 12px;
  border: solid 1px #e2e2e2;
  box-shadow: none;

  h2 {
    color: #2a2a2a;
    font-weight: bold;
    font-size: 20px;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    color: #2a2a2a;
  }

  h4 {
    color: #696969;
    font-size: 18px;
  }

  .est-price {
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 15px 20px;

    h5 {
      color: #2a2a2a;
      font-size: 22px;
    }

    h1 {
      font-size: 22px;
      font-weight: bold;
      color: #2a2a2a;
    }

    p {
      color: #2a2a2a;
      font-size: 15px;
    }
  }

  p-calendar {
    width: 100%;
    display: block;

    .p-calendar-timeonly,
    .p-calendar-timeonly input {
      width: 100%;
    }

    .p-calendar-timeonly input {
      border: 1px solid #ced4da;

      &:hover {
        border-color: #ced4da;
      }
    }
  }

  button {
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;

    &.back-btn {
      margin-right: 10px;
      border: solid 1px var(--main-color);
      color: var(--main-color);
    }
  }
}
