<div class="get-your-classes">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>Get your classes in a single place</h1>
        <ul class="list-unstyled mt-5">
          <li class="d-flex">
            <img src="assets/svg/collaborate.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2>Team Collaboration</h2>
              <p class="details">
                We’ve helped over 2,500 job seekers to get into the most popular tech teams.
              </p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/chat.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2>Instant Chat</h2>
              <p class="details">
                We’ve helped over 2,500 job seekers to get into the most popular tech teams.
              </p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/needs.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2>Customize your needs</h2>
              <p class="details">
                We’ve helped over 2,500 job seekers to get into the most popular tech teams.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <metutors-video-player [videoSrc]="'http://static.videogular.com/assets/videos/videogular.mp4'">
        </metutors-video-player>
      </div>
    </div>
  </div>
</div>
