<div class="get-your-classes">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Learning Made Simple</h1>
        <ul class="list-unstyled mt-5 mt-15-sm mt-15-md">
          <li class="d-flex">
            <img src="assets/svg/collaborate.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2>View Lesson Recordings</h2>
              <p class="details">
                Review live class recordings whenever you want.
              </p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/chat.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2>Get Smart Recommendations</h2>
              <p class="details">
                Our AI-enabled tools track your study habits and assess your capabilities to match you with the best suited tutor.
              </p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/needs.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2>100s of Courses & Expert Tutors</h2>
              <p class="details">
                Online tutoring for every subject and exam with skilled teachers available twenty-four seven.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <img src="assets/homepage/modern.png" draggable="false" class="img-responsive rounded w-100" alt="">
        <!-- <metutors-video-player [videoSrc]="'http://static.videogular.com/assets/videos/videogular.mp4'">
        </metutors-video-player> -->
      </div>
    </div>
  </div>
</div>
