<div class="get-your-classes">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="f-size-25-md-sm">{{ 'LEARNING_MADE_SIMPLE' | translate }}</h1>
        <ul class="list-unstyled mt-5 mt-15-sm mt-15-md">
          <li class="d-flex">
            <img src="assets/svg/collaborate.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2 class="f-size-17-md-sm">{{ 'FLEXIBLE_ONLINE_CLASSES' | translate }}</h2>
              <p class="details f-size-15-md-sm">{{ 'FLEXIBLE_ONLINE_CLASSES_DESC' | translate }}</p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/qualification-hat.svg" class="pd-12" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2 class="f-size-17-md-sm">{{ 'STUDY_QUALIFICATIONS' | translate }}</h2>
              <p class="details f-size-15-md-sm">{{ 'STUDY_QUALIFICATIONS_DESC' | translate }}</p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/technology.svg" class="pd-12" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2 class="f-size-17-md-sm">{{ 'MODERN_TECHNOLOGY' | translate }}</h2>
              <p class="details f-size-15-md-sm">{{ 'MODERN_TECHNOLOGY_DESC' | translate }}</p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/certificate.svg" class="pd-12" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2 class="f-size-17-md-sm">{{ 'PERFECT_TUTOR_PICKED' | translate }}</h2>
              <p class="details f-size-15-md-sm">{{ 'PERFECT_TUTOR_PICKED_DESC' | translate }}</p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/chat.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2 class="f-size-17-md-sm">{{ 'INSTANT_HOMEWORK' | translate }}</h2>
              <p class="details f-size-15-md-sm">{{ 'INSTANT_HOMEWORK_DESC' | translate }}</p>
            </div>
          </li>
          <li class="d-flex mt-4">
            <img src="assets/svg/needs.svg" width="55px" height="55px" draggable="false" alt="">
            <div class="ms-2">
              <h2 class="f-size-17-md-sm">{{ 'SUPPORT_FROM_TUTORS' | translate }}</h2>
              <p class="details f-size-15-md-sm">{{ 'SUPPORT_FROM_TUTORS_DESC' | translate }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <img src="assets/homepage/modern.png" draggable="false" class="img-responsive rounded w-100 modern-img" alt="">
        <!-- <metutors-video-player [videoSrc]="'http://static.videogular.com/assets/videos/videogular.mp4'">
        </metutors-video-player> -->
      </div>
    </div>
  </div>
</div>
