<div class="success-stories" style="background-image: url(assets/homepage/stars_bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Read our success stories</h1>
        <p>
          Our tutors have helped thousands of students around the world
        </p>
      </div>

      <div class="col-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let testmonial of testmonials">
            <rating [ngModel]="testmonial?.rate" [max]="5" [readonly]="true"></rating>
            <p class="desc">
              {{ testmonial?.content }}
            </p>
            <div class="row info">
              <div class="col-md-2 d-flex align-items-center">
                <img [src]="testmonial?.profile_pic" meTutorsDefaultAvatar class="person" alt="">
              </div>
              <div class="col-md-10">
                <h2>{{ testmonial?.posted_by }}</h2>
                <h3>
                  {{ testmonial?.posted_date | date }}
                </h3>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
