<div class="resources">
  <div class="card">
    <div class="card-body">
      <h1 class="title">Chemistry 101</h1>
      <div class="row list">
        <div class="col-md-3 d-flex menu align-items-center">
          <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
          <strong>Days: </strong>
          <span>Fri, Sat, Sun</span>
        </div>
        <div class="col-md-3 d-flex menu align-items-center">
          <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
          <strong>Time: </strong>
          <span>13</span>
        </div>
        <div class="col-md-3 d-flex menu align-items-center">
          <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
          <strong>Total Hours: </strong>
          <span>10</span>
        </div>
        <div class="col-md-3 d-flex menu align-items-center">
          <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
          <strong>Total Classes: </strong>
          <span>10</span>
        </div>
      </div>
    </div>
  </div>

  <div class="details">
    <h3>Classes</h3>
    <div class="table-responsive">
      <table class="table my-table default-title">
        <tr>
          <th scope="col">Class Number</th>
          <th scope="col">Class Subject</th>
          <th scope="col">Class Days</th>
          <th scope="col">Action</th>
        </tr>
        <tr>
          <td scope="row">1</td>
          <td>
            Introduction Class
          </td>
          <td>Monday, 07 Feb 2022</td>
          <td>
            <div>
              <button mat-button class="main-button-transparent">Add Resource</button>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">1</td>
          <td>
            Introduction Class
          </td>
          <td>Monday, 07 Feb 2022</td>
          <td>
            <div>
              <button mat-button class="secondary-button-transparent">Edit Resource</button>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">1</td>
          <td>
            Introduction Class
          </td>
          <td>Monday, 07 Feb 2022</td>
          <td>
            <div>
              <button mat-button class="main-button-transparent">Add Resource</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
