<metutors-student-navbar [layout]="(layout$ | async)" [user]="user$ | async"></metutors-student-navbar>

<div class="dashboard">
  <ng-container *ngLet="(view$ | async) as view">
    <div class="row">
      <div class="col-md-6">
        <h2 class="overview">Overview</h2>
        <p class="desc">
          See insights on how your Progress has changed from <strong>{{ insightRange[range] }}</strong>
        </p>
      </div>
      <div class="col-md-6">
        <button mat-flat-button color="primary" class="float-end ms-2" (click)="onOpenFeedbackModal()">
          Send Feedback
        </button>

        <mat-button-toggle-group class="float-end">
          <mat-button-toggle value="" checked (change)="loadDashboard('')">All</mat-button-toggle>
          <mat-button-toggle value="7days" (change)="loadDashboard($event.value)">7 Days</mat-button-toggle>
          <mat-button-toggle value="1month" (change)="loadDashboard($event.value)">1 Month</mat-button-toggle>
          <mat-button-toggle value="3months" (change)="loadDashboard($event.value)">3 Months</mat-button-toggle>
          <mat-button-toggle value="1year" (change)="loadDashboard($event.value)">Yearly</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <ng-container [ngSwitch]="view.loading">
      <div class="row list-cards" *ngSwitchCase="true">
        <div class="col-md-3" *ngFor="let _ of [1,2,3,4]">
          <div class="ph-col-3">
            <div class="ph-avatar rounded"></div>
          </div>
        </div>
      </div>

      <div class="row list-cards" *ngSwitchCase="false">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <h3>Overall Progress</h3>
              <h1 class="flex-grow-1">
                {{ view.dashboard.totalProgress}}%
                <span>+2.5%</span>
              </h1>
              <p>Compared to (77% last Month)</p>
              <mat-progress-bar class="example-margin" [color]="'primary'" [value]="view.dashboard.totalProgress">
              </mat-progress-bar>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card orange-bo">
            <div class="card-body d-flex flex-column">
              <h3>Total Completed Courses</h3>
              <h1 class="flex-grow-1">
                {{ view.dashboard.totalCompletedCourses}}
                <span>+0.5%</span>
              </h1>
              <p>Compared to 9 courses Last Month</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card red-bo">
            <div class="card-body d-flex flex-column">
              <h3>Attendance rate</h3>
              <h1 class="flex-grow-1">
                {{ view?.dashboard?.attendenceRate}}%
                <span class="danger">-1.5%</span>
              </h1>
              <p>Compared to (%65 last month)</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card purple-bo">
            <div class="card-body d-flex flex-column">
              <h3>Total payment</h3>
              <h1 class="flex-grow-1">
                ${{ view?.dashboard?.totalPayment}}
                <span>+2.5%</span>
              </h1>
              <p>Compared to ($105 last month)</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>


    <div class="row">
      <div class="col-12">
        <h3 class="overview mb-3">Today's Classes - 21 March 2020 [SUNDAY]</h3>
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <table class="table my-table" *ngSwitchCase="false">
            <tr>
              <th>#</th>
              <th>Class Subject</th>
              <th>Class Tutor</th>
              <th>Start time - End time</th>
              <th>Duration</th>
              <th></th>
            </tr>
            <tr *ngIf="!view.dashboard.todaysClasses.length">
              <td colspan="6">
                <div class="text-center">No record found</div>
              </td>
            </tr>
            <ng-container *ngIf="view.dashboard.todaysClasses.length">
              <tr *ngFor="let todaysClass of view.dashboard.todaysClasses; let i=index">
                <td>{{ i + 1}}</td>
                <td>{{ todaysClass?.title }}</td>
                <td><img width="35" height="35" [src]="todaysClass?.course?.teacher?.avatar" meTutorsDefaultAvatar
                         alt=""> {{ todaysClass?.course?.teacher?.firstName }} {{ todaysClass?.course?.teacher?.lastName }}
                </td>
                <td>{{ todaysClass?.startTime }} - {{ todaysClass?.endTime }}</td>
                <td>{{ todaysClass?.duration }}</td>
                <td>
                  <button mat-button class="main-button-opacity">View Class</button>
                </td>
              </tr>
            </ng-container>
          </table>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="overview mt-5">Completed courses</h2>
        <p class="desc">Quickly see Completed courses from <strong>{{ insightRange[range]}}</strong></p>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <ng-container [ngSwitch]="view.loading">
              <div class="row list-cards" *ngSwitchCase="true">
                <div class="col-md-6" *ngFor="let _ of [1,2]">
                  <div class="ph-col-6">
                    <div class="ph-avatar rounded"></div>
                  </div>
                </div>
              </div>
              <owl-carousel-o [options]="customOptions" *ngSwitchCase="false">
                <ng-template carouselSlide *ngFor="let completedCourse of view.dashboard.completedCourses;">
                  <div class="row card-item">
                    <div class="col-md-4">
                      <img
                        src="https://tutors.zaptatechnologies.com/public/assets/2022032816474827.jpg"
                        alt="" class="rounded" width="100%" height="150">
                    </div>
                    <div class="col-md-8">
                      <h1>{{ completedCourse?.course?.courseName }}</h1>
                      <!-- <rating [(ngModel)]="rate" max="5" [readonly]="true"></rating> -->
                      <div>
                        <rating [(ngModel)]="completedCourse.totalRating" [max]="5" [readonly]="true"></rating>
                        <span class="count">{{ completedCourse?.totalRating }}</span>
                        <span class="review">({{ completedCourse?.totalReviews }} review)</span>
                      </div>
                      <h3 class="mt-2">{{ completedCourse?.percentCompleted }}% Completed</h3>
                      <mat-progress-bar class="example-margin" [color]="'primary'" [value]="completedCourse?.percentCompleted">
                      </mat-progress-bar>
                      <div class="row mt-3">
                        <div class="col-md-4">
                          <h5>Total hours</h5>
                          <h4 class="m-0">{{ completedCourse?.course?.totalHours }} Hours</h4>
                        </div>
                        <div class="col-md-4">
                          <h5>Total Classes</h5>
                          <h4 class="m-0">{{ completedCourse?.course?.totalClasses }}</h4>
                        </div>
                        <div class="col-md-4">
                          <h5>Study type:</h5>
                          <h4 class="m-0">Groups</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<metutors-student-feedback-modal *ngIf="showSendFeedbackModal$ | async" [subHeading]="subHeading" [tabLabel]="tabLabel"
                                 [messageLabel]="messageLabel" [isPlatform]="true"
                                 [showModal]="(showSendFeedbackModal$ | async)!"
                                 (closeModal)="onCloseFeedbackModal()" (submitFeedback)="onSubmitFeedback($event)">
</metutors-student-feedback-modal>
