<metutors-student-navbar [layout]="(layout$ | async)" [user]="user$ | async"></metutors-student-navbar>

<div class="dashboard p-15-md-sm">
  <ng-container *ngLet="(view$ | async) as view">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="overview f-size-17-md-sm">{{ 'OVERVIEW' | translate }}</h2>
        <p class="desc">
          {{ 'SEE_PROGRESS_LAST' | translate }} <strong>{{ insightRange[range] }}</strong>
        </p>
      </div>
      <div class="col-lg-6">
        <button mat-flat-button color="primary" class="float-end ms-2 mb-15-sm" (click)="onOpenFeedbackModal()">
          {{ 'SEND_FEEDBACK' | translate }}
        </button>

        <mat-button-toggle-group class="float-end">
          <mat-button-toggle value="7days" (change)="loadDashboard($event.value)" checked>7 {{ 'DAYS_SM' | translate }}</mat-button-toggle>
          <mat-button-toggle value="1month" (change)="loadDashboard($event.value)">1 {{ 'MONTH_SM' | translate }}</mat-button-toggle>
          <mat-button-toggle value="3months" (change)="loadDashboard($event.value)">3 {{ 'MONTHS_SM' | translate }}</mat-button-toggle>
          <mat-button-toggle value="1year" (change)="loadDashboard($event.value)">{{ 'YEARLY' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <ng-container [ngSwitch]="view.loading">
      <div class="row list-cards" *ngSwitchCase="true">
        <div class="col-md-3 col-sm-6 mb-15-sm" *ngFor="let _ of [1, 2, 3, 4]">
          <div class="ph-col-3">
            <div class="ph-avatar rounded"></div>
          </div>
        </div>
      </div>

      <div class="row list-cards" *ngSwitchCase="false">
        <div class="col-md-3 col-sm-6 mb-15-sm">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <h3>{{ 'COURSE_PROGRESS' | translate }}</h3>
              <h1 class="flex-grow-1">
                {{ view.dashboard.totalProgress }}%
                <span [ngClass]="{'danger': view.dashboard?.totalProgressGrowth < 0}">{{ view.dashboard?.totalProgressGrowth >= 0 ? '+'+view.dashboard?.totalProgressGrowth : view.dashboard?.totalProgressGrowth }}%</span>
              </h1>
              <p>{{ 'COMPARED_TO' | translate }} ({{ view.dashboard?.totalProgressLastCount }}% {{ 'IN_LAST' | translate }} {{ insightRange[range] }})</p>
              <mat-progress-bar class="example-margin" [color]="'primary'" [value]="view.dashboard.totalProgress">
              </mat-progress-bar>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-15-sm">
          <div class="card orange-bo">
            <div class="card-body d-flex flex-column">
              <h3>{{ 'TOTAL_NUMBER_COURSES' | translate }}</h3>
              <h1 class="flex-grow-1">
                {{ view.dashboard.totalCompletedCourses }}
                <span [ngClass]="{'danger': view.dashboard?.completedCoursesGrowth < 0}">{{ view.dashboard?.completedCoursesGrowth >= 0 ? '+'+view.dashboard?.completedCoursesGrowth : view.dashboard?.completedCoursesGrowth }}%</span>
              </h1>
              <p>{{ 'COMPARED_TO' | translate }} {{ view.dashboard?.completedCoursesLastCount }} {{ 'COURSES_SM' | translate }} {{ 'IN_LAST' | translate }} {{ insightRange[range] }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-15-sm">
          <div class="card red-bo">
            <div class="card-body d-flex flex-column">
              <h3>{{ 'ATTENDANCE_RATE' | translate }}</h3>
              <h1 class="flex-grow-1">
                {{ view?.dashboard?.attendenceRate }}%
                <span [ngClass]="{'danger': view.dashboard?.attendenceGrowth < 0}">{{ view.dashboard?.attendenceGrowth >= 0 ? '+'+view.dashboard?.attendenceGrowth : view.dashboard?.attendenceGrowth }}%</span>
              </h1>
              <p>{{ 'COMPARED_TO' | translate }} ({{ view.dashboard?.attendenceRateLastCount }}% {{ 'IN_LAST' | translate }} {{ insightRange[range] }})</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-15-sm">
          <div class="card purple-bo">
            <div class="card-body d-flex flex-column">
              <h3>{{ 'TOTAL_PAYMENT' | translate }}</h3>
              <h1 class="flex-grow-1">
                {{ view?.dashboard?.totalPayment | metutorsMoney | async }}
                <span [ngClass]="{'danger': view.dashboard?.paymentGrowth < 0}">{{ view.dashboard?.paymentGrowth >= 0 ? '+'+view.dashboard?.paymentGrowth : view.dashboard?.paymentGrowth }}%</span>
              </h1>
              <p>{{ 'COMPARED_TO' | translate }} ({{ view.dashboard?.paymentLastCount | metutorsMoney | async }} {{ 'IN_LAST' | translate }} {{ insightRange[range] }})</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <div class="col-12">
        <h3 class="overview mb-3 f-size-17-md-sm mt-15-md-sm">{{ 'TODAY_CLASSES' | translate }} - {{ view.dashboard?.todaysDate }}</h3>
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <div class="table-responsive" *ngSwitchCase="false">
            <table class="table my-table">
              <tr>
                <th>#</th>
                <th>{{ 'CLASS_SUBJECT' | translate }}</th>
                <th>{{ 'CLASS_TUTOR' | translate }}</th>
                <th>{{ 'START_END_TIME' | translate }}</th>
                <th>{{ 'DURATION' | translate }}</th>
                <th></th>
              </tr>
              <tr *ngIf="!view.dashboard.todaysClasses.length">
                <td colspan="6">
                  <div class="text-center">{{ 'NO_RECORD_FOUND' | translate }}</div>
                </td>
              </tr>
              <ng-container *ngIf="view.dashboard.todaysClasses.length">
                <tr *ngFor="let todaysClass of view.dashboard.todaysClasses; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ todaysClass?.title }}</td>
                  <td>
                    <metutors-user-avatar [avatar]="imageUrl+todaysClass?.course?.teacher?.avatar" [type]="'small'"
                                          [name]="todaysClass?.course?.teacher?.firstName+' '+todaysClass?.course?.teacher?.lastName"
                                          class="d-inline-block">
                    </metutors-user-avatar>
                  </td>
                  <td>{{ todaysClass?.startTime | date:'h:mm a' }} - {{ todaysClass?.endTime | date:'h:mm a' }}</td>
                  <td>{{ todaysClass?.duration }}</td>
                  <td>
                    <button mat-button class="main-button-opacity flex-grow-1 w-100" (click)="joinClass(todaysClass.id)"
                            *ngIf="todaysClass?.status !== 'completed'" [disabled]="(isJoiningClass$ | async)">
                      <img src="assets/svg/play-fill.svg" draggable="false" alt="">
                      {{ 'JOIN_CLASS' | translate }}
                    </button>
                    <button mat-button class="main-button-opacity flex-grow-1 w-100" (click)="viewClass(todaysClass.id)"
                            *ngIf="todaysClass?.status === 'completed'" [disabled]="isLoadingViewClass$ | async">
                      <img src="assets/svg/eye-fill.svg" draggable="false" alt="">
                      {{ 'VIEW_CLASS' | translate }}
                    </button>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="overview mt-5 f-size-17-md-sm mt-15-md-sm">{{ 'COMPLETED_COURSES' | translate }}</h2>
        <p class="desc">{{ 'SEE_COMPLETED_COURSE_LAST' | translate }} <strong>{{ insightRange[range] }}</strong></p>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <ng-container [ngSwitch]="view.loading">
              <div class="row list-cards" *ngSwitchCase="true">
                <div class="col-md-6" *ngFor="let _ of [1,2]">
                  <div class="ph-col-6">
                    <div class="ph-avatar rounded"></div>
                  </div>
                </div>
              </div>
              <ng-container *ngSwitchCase="false">
              <owl-carousel-o [options]="customOptions" >
                <ng-template carouselSlide *ngFor="let completedCourse of view.dashboard.completedCourses;">
                  <div class="row card-item">
                    <div class="col-md-4">
                      <img src="assets/defaults/course.jpg" alt="" class="rounded" width="100%" height="175">
                    </div>
                    <div class="col-md-8">
                      <h1>{{ completedCourse?.course?.courseName }}</h1>
                      <!-- <rating [(ngModel)]="rate" max="5" [readonly]="true"></rating> -->
                      <div>
                        <rating [(ngModel)]="completedCourse.totalRating" [max]="5" [readonly]="true"></rating>
                        <span class="count">{{ completedCourse?.totalRating }}</span>
                        <span class="review">({{ completedCourse?.totalReviews }} review)</span>
                      </div>
                      <h3 class="mt-2">{{ completedCourse?.percentCompleted }}% {{ 'COMPLETED' | translate }}</h3>
                      <mat-progress-bar class="example-margin" [color]="'primary'" [value]="completedCourse?.percentCompleted">
                      </mat-progress-bar>
                      <div class="row mt-3">
                        <div class="col-md-4">
                          <h5>{{ 'TOTAL_HOURS' | translate }}</h5>
                          <h4 class="m-0">{{ completedCourse?.course?.totalHours }} {{ 'HOURS_SM' | translate }}</h4>
                        </div>
                        <div class="col-md-4">
                          <h5>{{ 'TOTAL_CLASSES' | translate }}</h5>
                          <h4 class="m-0">{{ completedCourse?.course?.totalClasses }}</h4>
                        </div>
                        <!-- <div class="col-md-4">
                          <h5>Study type:</h5>
                          <h4 class="m-0">One on One</h4>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </ng-template>
                <div></div>
              </owl-carousel-o>

              <ng-container *ngIf="!view.dashboard.completedCourses?.length">
                <div class="text-center fw-bold p-xxl-5">{{ 'NO_RECORD_FOUND' | translate }}</div>
              </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<metutors-student-feedback-modal *ngIf="showSendFeedbackModal$ | async" [subHeading]="subHeading" [tabLabel]="tabLabel"
                                 [messageLabel]="messageLabel" [isPlatform]="true"
                                 [showModal]="(showSendFeedbackModal$ | async)!" [buttonLabel]="'SEND_FEEDBACK'"
                                 (closeModal)="onCloseFeedbackModal()" (submitFeedback)="onSubmitFeedback($event)">
</metutors-student-feedback-modal>
