<div class="classes-dashboard" *ngLet="(view$ | async) as view" xmlns="http://www.w3.org/1999/html">
  <div class="card">
    <div class="card-body p-15-sm">
      <ng-container [ngSwitch]="view.loading">
        <ng-container *ngSwitchCase="false">
          <h1 class="title overflow-hidden f-size-20-md-sm">{{ view.data?.course?.courseName }}
            <span>({{ view.data.course?.courseCode}})</span>
            <button mat-button class="ms-2 status text-decoration-none" [ngClass]="view?.data?.course?.status">
              {{ view?.data?.course?.status === 'cancelled_by_teacher' ? ('CANCELLED' | translate) :  statusLabel[view?.data?.course?.status].long }}
            </button>

            <button mat-button class="float-end cancel-course text-danger text-decoration-underline d-none d-md-block" (click)="onShowSendFeedbackModal(view.data?.course?.studentId)"
                    *ngIf="view?.data?.course?.status === courseStatus.active || view?.data?.course?.status === courseStatus.inprogress">
              {{ 'CANCEL_COURSE' | translate }}
            </button>
          </h1>
          <div class="row list-items">
            <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
              <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
              <strong>{{ 'TOTAL_HOURS' | translate }}: </strong>
              <span class="f-size-17-md-sm">{{ view.data?.course?.totalHours }}{{ +(view.data?.course?.totalHours)! > 1 ? ('HRS_SM' | translate) : ('HR_SM' | translate) }}</span>
            </div>

            <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
              <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
              <strong>{{ 'REMAINING_CLASSES' | translate }}: </strong>
              <span class="f-size-17-md-sm">{{ view.data?.remainingClasses }}</span>
            </div>
            <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
              <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
              <strong>{{ 'TOTAL_CLASSES' | translate }}: </strong>
              <span class="f-size-17-md-sm">{{ view.data?.course?.totalClasses }}</span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-xl-2 col-lg-3">
              <div class="overflow-visible logos">
                <div class="fw-bold">{{ 'ENROLLED_STUDENTS' | translate }}</div>
                <ng-container *ngFor="let participant of view.data?.course?.participants">
                  <metutors-user-avatar [avatar]="participant?.user?.avatar" class="d-block"></metutors-user-avatar>
                </ng-container>
              </div>
            </div>
            <div class="col-md-4 in-progress mt-15-sm">
              <h3 class="f-size-15-md-sm" *ngIf="view.data?.progress === 100">{{ 'COMPLETED' | translate }}</h3>
              <h3 class="f-size-15-md-sm" *ngIf="view.data?.progress === 0">{{ 'NOT_STARTED_YET' | translate }}</h3>
              <h3 class="f-size-15-md-sm"*ngIf="view.data?.progress && (view.data?.progress > 0 && view.data?.progress < 100)">{{ 'INPROGRESS' | translate }}</h3>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <mat-progress-bar class="example-margin"
                                    [color]="'primary'"
                                    [value]="view.data?.progress">
                  </mat-progress-bar>
                </div>
                <strong>{{ view.data?.progress.toFixed(0) }}%</strong>
              </div>
            </div>
            <div class="col-xl-6 col-lg-5 mt-15-sm">
              <button mat-button class="main-button-transparent float-end"
                      (click)="onShowCourseAttendanceModal()">
                {{ 'ATTENDANCE_FEEDBACK' | translate }}
              </button>

              <button mat-button class="cancel-course text-danger text-decoration-underline d-block d-md-none f-size-15-sm" (click)="onShowSendFeedbackModal(view.data?.course?.studentId)"
                    *ngIf="view?.data?.course?.status === courseStatus.active || view?.data?.course?.status === courseStatus.inprogress">
                {{ 'CANCEL_COURSE' | translate }}
            </button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="true">
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-10 big mt-3"></div>
            <div class="ph-col-2 big empty mt-3"></div>
            <div class="ph-col-6 mt-4"></div>
            <div class="ph-col-6 mt-4 empty"></div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="list-tables p-15-sm">
    <div class="row">
      <div class="col-12">
        <h3 class="overview mb-3 f-size-17-md-sm">{{ 'TODAY_CLASSES' | translate }} - {{ view?.data?.todaysDate ? view?.data?.todaysDate : 0 }}</h3>
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <div class="table-responsive">
            <table class="table my-table" *ngSwitchCase="false">
              <tr>
                <th>#</th>
                <th>{{ 'CLASS_SUBJECT' | translate }}</th>
                <th>{{ 'CLASS_ATTENDEES' | translate }}</th>
                <th style="min-width: 150px">{{ 'START_END_TIME' | translate }}</th>
                <th>{{ 'DURATION' | translate }}</th>
                <th></th>
              </tr>
              <tr *ngIf="!view.data?.todaysClasses?.length">
                <td colspan="6">
                  <div class="text-center">{{ 'NO_RECORD_FOUND' | translate }}</div>
                </td>
              </tr>
              <ng-container *ngIf="view.data?.todaysClasses?.length">
                <tr *ngFor="let todaysClass of view.data.todaysClasses; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ todaysClass.title }}</td>
                  <td>
                    <metutors-user-avatar [avatar]="attendee?.user?.avatar"
                                          *ngFor="let attendee of todaysClass?.attendees" [type]="'small'"
                                          [name]="attendee?.user?.firstName+' '+attendee?.user?.lastName"
                                          class="d-inline-block">
                    </metutors-user-avatar>
                  </td>
                  <td>{{ todaysClass.startTime | date:'h:mm a' }} - {{ todaysClass.endTime | date:'h:mm a' }} </td>
                  <td>{{ todaysClass?.duration }} {{ +(todaysClass?.duration)! > 1 ? ('HOURS_SM' | translate) : ('HOUR_SM' | translate) }}</td>
                  <td>
                    <button mat-button class="main-button-opacity flex-grow-1 w-100" (click)="launchClass(todaysClass.id)"
                            *ngIf="todaysClass?.status !== 'completed'" [disabled]="(isLaunchingClass$ | async)">
                      <img src="assets/svg/play-fill.svg" draggable="false" alt="">
                      {{ 'LAUNCH_CLASS' | translate }}
                    </button>
                    <button mat-button class="main-button-opacity flex-grow-1 w-100" (click)="onViewClass(todaysClass.id)"
                            *ngIf="todaysClass?.status === 'completed'">
                      <img src="assets/svg/eye-fill.svg" draggable="false" alt="">
                      {{ 'VIEW_CLASS' | translate }}
                    </button>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </ng-container>
      </div>

      <div class="col-12 mt-5">
        <h3 class="overview mb-3 f-size-17-md-sm">{{ 'UPCOMING_CLASSES' | translate }} -
          ({{ view?.data?.totalUpcomingClasses ? view?.data?.totalUpcomingClasses : 0 }})</h3>
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <div class="table-responsive">
            <table class="table my-table orange-title" *ngSwitchCase="false">
              <tr>
                <th>#</th>
                <th>{{ 'CLASS_SUBJECT' | translate }}</th>
                <th>{{ 'CLASS_ATTENDEES' | translate }}</th>
                <th>{{ 'DAY' | translate }}</th>
                <th>{{ 'DATE' | translate }}</th>
                <th style="min-width: 150px">{{ 'START_END_TIME' | translate }}</th>
                <th>{{ 'DURATION' | translate }}</th>
                <th></th>
              </tr>
              <tr *ngIf="!view.data?.upcomingClasses?.data?.length">
                <td colspan="8">
                  <div class="text-center">{{ 'NO_RECORD_FOUND' | translate }}</div>
                </td>
              </tr>
              <ng-container *ngIf="view.data?.upcomingClasses?.data?.length">
                <tr *ngFor="let upcomingClass of view.data.upcomingClasses.data; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ upcomingClass.title ? upcomingClass.title : 'N/A' }}</td>
                  <td>
                    <metutors-user-avatar [avatar]="attendee?.user?.avatar"
                                          *ngFor="let attendee of upcomingClass?.attendees" [type]="'small'"
                                          [name]="attendee?.user?.firstName+' '+attendee?.user?.lastName"
                                          class="d-inline-block">
                    </metutors-user-avatar>
                  </td>
                  <td>{{ (upcomingClass.startDate | date: 'EEEE')! | uppercase | translate }} </td>
                  <td>{{ upcomingClass.startDate | date: 'YYYY-MM-dd' }} </td>
                  <td>{{ upcomingClass.startTime | date: 'h:mm a' }} - {{ upcomingClass.endTime | date: 'h:mm a' }} </td>
                  <td>{{ upcomingClass?.duration }} {{ +(upcomingClass?.duration)! > 1 ? ('HOURS_SM' | translate) : ('HOUR_SM' | translate) }}</td>
                  <td>
                    <button mat-button class="main-button-opacity me-2 flex-grow-1 w-100"
                            (click)="onOpenRescheduleModal(upcomingClass.id)"
                            [disabled]="getHours(upcomingClass.startDate) < 48">
                      {{ 'RESCHEDULE' | translate }}
                    </button>
                  </td>
                </tr>
                <!--<tr>
                  <td colspan="8">
                    <span class="text-main text-center d-block fw-bold cursor-pointer" (click)="onShowMoreUpcomingClasses()">Show more classes <mat-icon class="rotate-90">chevron_right</mat-icon></span>
                  </td>
                </tr>-->
              </ng-container>
            </table>
          </div>
        </ng-container>
      </div>

      <div class="col-12 mt-5">
        <h3 class="overview mb-3 f-size-17-md-sm">{{ 'PREVIOUS_CLASSES' | translate }} -
          ({{ view?.data?.totalPastClasses ? view?.data?.totalPastClasses : 0 }})</h3>
        <ng-container [ngSwitch]="view.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <div class="table-responsive">
            <table class="table my-table purple-title" *ngSwitchCase="false">
              <tr>
                <th>#</th>
                <th>{{ 'CLASS_SUBJECT' | translate }}</th>
                <th>{{ 'CLASS_ATTENDEES' | translate }}</th>
                <th>{{ 'DAY' | translate }}</th>
                <th>{{ 'DATE' | translate }}</th>
                <th style="min-width: 150px">{{ 'START_END_TIME' | translate }}</th>
                <th>{{ 'DURATION' | translate }}</th>
                <th></th>
              </tr>
              <tr *ngIf="!view.data.pastClasses?.data?.length">
                <td colspan="8">
                  <div class="text-center">{{ 'NO_RECORD_FOUND' | translate }}</div>
                </td>
              </tr>
              <ng-container *ngIf="view.data.pastClasses?.data?.length">
                <tr *ngFor="let pastClass of view.data.pastClasses.data; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ pastClass.title }}</td>
                  <td>
                    <metutors-user-avatar [avatar]="attendee?.user?.avatar"
                                          *ngFor="let attendee of pastClass?.attendees" [type]="'small'"
                                          [name]="attendee?.user?.firstName+' '+attendee?.user?.lastName"
                                          class="d-inline-block">
                    </metutors-user-avatar>
                  </td>
                  <td>{{ (pastClass.startDate | date: 'EEEE')! | uppercase | translate }} </td>
                  <td>{{ pastClass.startDate | date }} </td>
                  <td>{{ pastClass.startTime | date:'h:mm a' }} - {{ pastClass.endTime | date:'h:mm a' }} </td>
                  <td>{{ pastClass?.duration }} {{ +(pastClass?.duration)! > 1 ? ('HOURS_SM' | translate) : ('HOUR_SM' | translate) }}</td>
                  <td>
                    <ng-container *ngIf="pastClass?.studentAttendence?.status === 'absent'; else second">
                      <span class="w-100 text-center text-main">{{ 'STUDENT_ABSENT' | translate }}</span>
                    </ng-container>

                    <ng-template #second>
                      <ng-container  *ngIf="pastClass?.studentAttendence?.status === 'present' && pastClass?.teacherAttendence?.status === 'absent'; else third">
                        <span class="w-100 text-center text-main">{{ 'TEACHER_ABSENT' | translate }}</span>
                      </ng-container>
                    </ng-template>

                    <ng-template #third>
                      <button mat-button class="main-button-opacity flex-grow-1 w-100"
                              (click)="onViewClass(pastClass.id)" [disabled]="isLoadingViewClass$ | async">
                        <img src="assets/svg/eye-fill.svg" draggable="false" alt="">
                        {{ 'VIEW_CLASS' | translate }}
                      </button>
                    </ng-template>
                  </td>
                </tr>
              </ng-container>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <metutors-tutor-attendance-modal *ngIf="(showCourseAttendanceModal$ | async)"
                                   [showModal]="(showCourseAttendanceModal$ | async)!"
                                   (closeModal)="onCloseCourseAttendanceModal()">
  </metutors-tutor-attendance-modal>

  <metutors-tutor-feedback-modal *ngIf="(showSendFeedbackModal$ | async)"
                                 [subHeading]="subHeading" [buttonLabel]="'SEND_FEEDBACK'"
                                 [showModal]="(showSendFeedbackModal$ | async)!"
                                 (closeModal)="onCloseSendFeedbackModal()" (submitFeedback)="onSubmitFeedback($event)">
  </metutors-tutor-feedback-modal>

  <metutors-tutor-cancel-course-modal *ngIf="(showCancelCourseModal$ | async)"
                                      [showModal]="(showCancelCourseModal$ | async)!"
                                      (closeModal)="onCloseCancelCourseModal()" (submitted)="onCancelCourse($event)">
  </metutors-tutor-cancel-course-modal>

  <metutors-tutor-reschedule-class-modal *ngIf="(showRescheduleModal | async)"
                                         [classId]="classId"
                                         [showModal]="(showRescheduleModal | async)!"
                                         [submitting]="(isReschedulingClass$ | async)!"
                                         (closeModal)="onCloseRescheduleModal()"
                                         (submitted)="onSubmitRescheduleClass($event)">
  </metutors-tutor-reschedule-class-modal>

</div>
