.classes-dashboard {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13);

    .card-body {
      padding: 20px 40px;

      .cancel-course {
        font-size: 20px;
      }
    }

    .title {
      color: #000;
      font-size: 30px;

      .cancel {
        color: #e72347;
        text-decoration: underline;
      }

      .hold {
        color: #e72347;
        font-size: 16px;
        padding: 3px 15px;
        border-radius: 8px;
        background: rgb(231 35 71 / 17%);
      }
    }

    .in-progress {
      h3 {
        font-size: 17px;
        color: #000;
      }

      strong {
        color: #000;
        font-size: 12px;
        margin-left: 10px;
      }
    }

    .logos {
      .fw-bold {
        font-size: 14px;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .list {
      padding: 5px;

      .menu {
        padding-right: 0;
        margin-top: 10px;

        img {
          margin-right: 5px;
        }

        span {
          color: #2a2a2a;
          margin-left: 5px;
          font-size: 20px;
        }

        strong {
          font-size: 17px;
          color: #696969;
          font-weight: 500;
        }
      }
    }
  }

  .list-tables {
    padding: 45px 40px;

    .add-class {
      font-size: 15px;
      font-weight: bold;
    }

    .overview {
      color: #2a2a2a;
      font-size: 20px;
      font-weight: bold;
    }

  }
}
