<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'xmedium'"
                [heading]="'Reschedule Class'" [subHeading]="'You can reschedule your class'" [template]="template">
  <ng-template #template>
    <form class="row submit-interview" [formGroup]="form" (ngSubmit)="submitted.emit(form)">
      <div class="col-12">

        <div class="row mt-4">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-bold">Class Date</label>
              <mat-form-field appearance="outline" class="w-100">
                <input matInput [matDatepicker]="interviewPicker" [placeholder]="'Choose class date'" autocomplete="off"
                       (focus)="interviewPicker.open()" [min]="minDate" formControlName="start_date" (dateChange)="onDateChange()">
                <mat-datepicker-toggle matSuffix [for]="interviewPicker"></mat-datepicker-toggle>
                <mat-datepicker #interviewPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-bold">Class Day</label>
              <input placeholder="Class Day" aria-label="class Day" formControlName="day" class="form-control" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-bold">Class Start Time</label>
              <input type="url" class="form-control custom-input input-bordered" formControlName="start_time"
                     placeholder="12:00 PM" [ngxTimepicker]="startTime">
              <ngx-material-timepicker #startTime [appendToInput]="true" [minutesGap]="30" (closed)="onChangeTimePicker()">
              </ngx-material-timepicker>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-bold">Class End Time</label>
              <input type="url" class="form-control custom-input input-bordered" formControlName="end_time"
                     placeholder="12:00 PM" [ngxTimepicker]="endTime">
              <ngx-material-timepicker #endTime [appendToInput]="true" [minutesGap]="30" (closed)="onChangeTimePicker()">
              </ngx-material-timepicker>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-bold">Class Duration</label>
              <input type="url" class="form-control custom-input input-bordered" formControlName="duration"
                     placeholder="Total hours" readonly>
            </div>
          </div>

          <div class="col-md-6">
         <!--   <label class="fw-bold">Type of Classroom</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="class_type" [placeholder]="'Choose Type'">
                <mat-option [value]="type.value" *ngFor="let type of types | keyvalue: returnZero">
                  {{ type.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>-->
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-12 overflow-hidden">
            <metutors-submit-button [form]="form" [extraClasses]="'float-end py-1 px-5'" [isSubmitting]="submitting">
              Reschedule
            </metutors-submit-button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</metutors-modal>
