<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'" [template]="template">
  <ng-template #template>
    <ng-container *ngLet="(view$ | async) as view">
      <ng-container [ngSwitch]="view?.loading">
        <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>

        <div class="assignment-details-modal" *ngSwitchCase="false">
          <label>Time received by student</label>
          <p class="mt-1 mb-0">
            {{ view?.assignment?.assignment?.createdAt | date: 'EEEE, d MMM y, h:mm a' }}
          </p>

          <label class="mt-3">Details</label>
          <p class="mt-1">
            {{ view?.assignment?.assignment?.description }}
          </p>

          <div class="form-group row" *ngIf="view?.assignment?.assignment?.file">
            <div class="col-md-6 list-files d-flex align-items-center">
              <mat-icon>attach_file</mat-icon>
              <div class="ms-2 flex-grow-1">
                <h3>{{  view?.assignment?.assignment?.file }}</h3>
                <!--<h5>100MB</h5>-->
              </div>
              <a [href]="view?.assignment?.assignment?.file" target="_blank" mat-button class="add-url float-end">
                Download
              </a>
            </div>
          </div>

          <ng-container
            *ngIf="view?.assignment?.assignment?.feedback && view?.assignment?.assignment?.feedback?.length">
            <div class="form-group row mt-3">
              <strong>Assignment Feedback</strong>
              <p class="mb-1">
                {{ view?.assignment?.assignment?.feedback[0]?.review }}
              </p>
              <p class="mb-0">
                <span class="grade">Grade Rating: </span>
                <span> {{ view?.assignment?.assignment?.feedback[0]?.rating }} on a scale of 10 </span>
              </p>
            </div>

            <div class="form-group row" *ngIf="view?.assignment?.assignment?.feedback[0]?.file">
              <div class="col-md-6 list-files d-flex align-items-center">
                <mat-icon>attach_file</mat-icon>
                <div class="ms-2 flex-grow-1">
                  <h3>{{ view?.assignment?.assignment?.feedback[0]?.file }}</h3>
                  <!--<h5>100MB</h5>-->
                </div>
              </div>
            </div>
          </ng-container>

          <div class="row mt-2">
            <div class="col-md-12 overflow-hidden" *ngIf="view?.assignment?.assignment.status !== 'completed'">
              <button mat-flat-button color="primary" class="float-end"
                      (click)="onOpenAcceptRejectAssignmentModal(view?.assignment?.assignment.assignmentId, view?.assignment?.assignment.userId)">
                Accept
              </button>
              <button mat-button class="secondary-button-transparent float-end me-2"
                      (click)="onOpenAcceptRejectAssignmentModal(view?.assignment?.assignment.assignmentId, view?.assignment?.assignment.userId,true)">
                Reject
              </button>
            </div>

            <div class="col-md-12 overflow-hidden" *ngIf="view?.assignment?.assignment.status === 'completed'">
              <button mat-flat-button color="primary" class="float-end"
                      (click)="onBack()">
                Back
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</metutors-modal>
