.assignment-details-modal {
  margin-top: -10px;

  .status-icon {
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;

    &.pending {
      background-color: #f8e3cc;
      color: #c98843;
    }

    &.submitted {
      background-color: #eae4ff;
      color: #7a5ce2;
    }

    &.completed {
      background-color: #d1f7fc;
      color: #32bed0;
    }

    &.rejected {
      background-color: #f9d3da;
      color: #d34c65;
    }

    &.resubmitted {
      background-color: #e1e0fe;
      color: #5955cd;
    }
  }

  .title-info {
    h3 {
      color: #2A2A2A;
      font-weight: bold;
      font-size: 17px;
    }
  }

  label {
    color: #696969;
    font-size: 15px;
  }

  p {
    color: #2A2A2A;

    .grade {
      color: #949494;
      font-weight: bold;
      font-size: 14px;
    }
  }

  .list-files {
    >div {
      width: 50%;
    }

    h3 {
      font-size: 16px;
      margin: 0;
      color: #2a2a2a;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }

    h5 {
      font-size: 13px;
      color: #696969;
      margin: 0;
    }

    .add-url {
      color: var(--main-color);
      font-weight: bold;
      font-size: 13px;
    }
  }

  .reject-btn {
    border-color: #FF385C !important;
    color: #FF385C !important;

    &:hover {
      color: #FFF !important;
      background-color: #FF385C !important;
    }
  }
}
