.tutor-navbar {
  padding: 20px 40px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .icons {
    img {
      margin-left: 30px;
      cursor: pointer;
      object-fit: cover;
    }
  }

  .svg-icon {
    width: 22px;
    margin-top: -2px;
    margin-right: 5px;
  }
}
