<div class="tutor-navbar p-15-sm">
  <div class="d-flex justify-content-between align-items-center flex-column-reverse-sm">
    <h3 class="d-flex text-uppercase m-0 d-block-sm text-center w-100-sm mt-15-sm">
      <svg-icon [name]=" layout.icon" class="w-24 -mt-1" [applyClass]="true" *ngIf="layout.icon"></svg-icon>
      <span class="title">{{ layout.navbarTitle | translate }}</span>
    </h3>
    <div class="icons text-end w-100-sm d-block-sm">
      <img src="assets/svg/mail-b.svg" draggable="false" width="25" height="25" alt="">
      <img src="assets/svg/notification.svg" draggable="false" width="25" height="25" alt="">
      <img [src]="user?.avatar" meTutorsDefaultAvatar alt="" class="rounded-circle" draggable="false" width="40"
        height="40" [matMenuTriggerFor]="menu">
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="h-auto btn-menu" routerLink="/tutor/settings">
    <span>{{ 'VIEW_PROFILE' | translate }}</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu" routerLink="/tutor/payment-records">
    <span>{{ 'PAYMENT_HISTORY' | translate }}</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu" (click)="logout.emit()">
    <span>{{ 'LOGOUT' | translate }}</span>
  </button>
</mat-menu>
