<div class="card mb-3">
  <div class="ph-item mx-2 pt-3">
    <div class="ph-col-3">
      <div class="ph-avatar rounded"></div>
    </div>
    <div class="pb-2 ps-2">
      <div class="ph-row">
        <div class="ph-col-2"></div>
        <div class="ph-col-10 empty"></div>
        <div class="ph-col-6 big"></div>
        <div class="ph-col-6 big empty"></div>
        <div class="ph-col-8 mt-2"></div>
        <div class="ph-col-4 mt-2 empty"></div>
        <div class="ph-col-10 mt-4"></div>
        <div class="ph-col-2 empty mt-4"></div>
        <div class="ph-col-10"></div>
        <div class="ph-col-2 empty"></div>
      </div>
    </div>
  </div>
</div>
