<div class="row still-questions">
  <div class="col-md-12 text-center">
    <h1 class="f-size-25-md-sm">{{ 'STILL_HAVE_QUESTION' | translate }}</h1>
    <p class="f-size-17-md-sm">{{ 'IF_CANT_FIND_ANSWER_FAQ' | translate }}</p>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-md offset-md-1 item">
        <div class="card text-center h-100">
          <div class="card-body">
            <img src="assets/svg/envelope.svg" alt="" draggable="false" width="65" height="65">

            <h2>
              <a href="mailto:hello@MEtutors.com" target="_blank" class="h-link">hello@MEtutors.com</a>
            </h2>
            <h4 class="mb-0">{{ 'EMAIL_US_DESC' | translate }}</h4>
          </div>
        </div>
      </div>

      <div class="col-md item">
        <div class="card text-center h-100">
          <div class="card-body">
            <img src="assets/svg/phone.svg" alt="" draggable="false" width="65" height="65">

            <h2>
              <a href="tel:+1 (646) 786-5060" class="h-link"><bdi>+1 (646) 786-5060</bdi></a>
            </h2>
            <h4 class="mb-0">{{ 'WE_HAPPY_HELP' | translate }}</h4>
          </div>
        </div>
      </div>

      <div class="offset-md-1"></div>
    </div>
  </div>
</div>
