<form [formGroup]="form">
  <mat-chip-list>
    <ng-container *ngFor="let lang of form.value.languages; let i = index">
      <mat-chip *ngIf="lang.language && lang.level">
        <div class="lang-info d-flex align-items-center justify-content-center">
          {{ lang.language?.name }} - <span>{{ lang.level }}</span>
          <mat-icon (click)="removeLanguage.emit(i)">cancel</mat-icon>
        </div>
      </mat-chip>
    </ng-container>
  </mat-chip-list>
  <ng-container formArrayName="languages">
    <ng-container *ngFor="let _ of languages.controls; let i = index" [formGroupName]="i">
      <ng-container *ngIf="!form.value.languages[i].language || !form.value.languages[i].level">
        <mat-form-field appearance="outline" class="w-100 mt-3">
          <mat-select formControlName="language" [placeholder]="'Select language'">
            <mat-option [value]="lang" *ngFor="let lang of filteredLanguages">{{ lang?.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="level" [placeholder]="'Select level'">
            <mat-option [value]="level?.value" *ngFor="let level of levels | keyvalue: returnZero">
              {{ level?.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
