.lang-info {
  font-size: 15px;
  color: #000;

  span {
    font-size: 11px;
    margin-left: 5px;
    color: #00000099;
  }

  mat-icon {
    color: #C4C4C4;
    cursor: pointer;
    margin-left: 10px;
  }
}
:host::ng-deep {
  .mat-chip-list-wrapper {
    display: block;
    margin: 0;
  }

  .mat-chip.mat-standard-chip {
    border: 1px solid #000000;
  }
}
