<div class="academic-learning" style="background-image: url('assets/courses/academic-learning.png');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="f-size-20-md-sm">
          Relaxed yet professional academic
          learning environment
        </h1>
        <p class="mt-1 f-size-17-md-sm">
          We offer one-on-one tutoring at the cost you can afford
          resulting in an experience quality learning time.
        </p>
        <p class="mt-4 f-size-17-md-sm">
          We specialize in US curriculum (KG - 12th grade), Middle
          Eastern schools and University courses. You can always request
          new courses to be tutored on MEtutors.
        </p>
        <button mat-flat-button color="primary" class="mt-4" (click)="requestCourse.emit()">
          Request New Course
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.172 10.9999H4V12.9999H16.172L10.808 18.3639L12.222 19.7779L20 11.9999L12.222 4.22192L10.808 5.63592L16.172 10.9999Z"
              fill="#FFF" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
