<div class="country position-relative">
  <button mat-button mat-dialog-close (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>

  <div mat-dialog-content>
    <div class="text-center country" style="background-image: url('./assets/png/world-map.png')">
      <h1>Choose your country</h1>
      <input type="text" class="form-control" placeholder="Find country" (keyup)="onChangeCountry($event)">
    </div>

    <div class="row">
      <div class="col-md-3" *ngFor="let country of tempCountries">
        <h3 class="cursor-pointer" (click)="onSelectCountry(country.id)">
          {{ country?.name }}
        </h3>
      </div>
    </div>
  </div>
</div>
