.learning-environment {
  background-color: #F1F6F7;
  padding: 40px 100px 100px;

  h3 {
    color: #2A2A2A;
    text-align: center;
    margin: 30px 0 50px;
    font-size: 40px;
  }

  .tabs {
    button {
      padding: 10px 20px;
      border-radius: 4px 4px 0 0;
      min-width: 250px;

      span {
        color: #707070;
        line-height: 20px;
      }

      strong {
        color: #2A2A2A;
      }

      &.active {
        background-color: #FFF;

        strong {
          color: var(--main-color);
        }

        span {
          font-weight: bold;
        }

        &::after {
          content: "";
          position: absolute;
          height: 4px;
          background: var(--main-color);
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
    }
  }

  .content {
    background-color: #FFF;
    padding: 20px 50px;

    h1 {
      color: #2a2a2a;
      font-size: 35px;
    }

    p {
      color: #696969;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 300;
    }

    h2 {
      font-size: 20px;

      a {
        color: #2a2a2a;
        padding: 0;
        margin: 0;
      }
    }

    p.details {
      margin: 0;
      color: #5a7184;
      font-size: 16px;
      line-height: 22px;

      a {
        color: #5a7184;
        padding: 0;
        margin: 0;
      }
    }

    a {
      padding: 5px 30px;
      margin-top: 50px;

      &.pricing {
        color: var(--main-color);
        text-decoration: underline;
        font-size: 20px;
        padding-left: 0;
      }

      &.explore-all {
        color: #707070;
        border: 1px solid #707070;
      }
    }

    .contact-img {
      height: 400px;
      object-fit: contain;
    }
  }
}

.country {
  button {
    position: absolute;
    right: 0;
    width: 35px;
    background: #ebebeb;
    height: 35px;
    padding: 0;
    min-width: 0;
    border-radius: 50%;
    color: #2a2a2a;
  }

  h1 {
    font-size: 30px;
    padding: 20px 0;
  }

  .country {
    background-repeat: no-repeat;
    background-position: center center;

    input {
      border: 1px solid #E0E0E0;
      border-radius: 13px;
      width: 35%;
      margin: 10px auto 35px;
    }
  }

  h3 {
    font-size: 16px;
    color: #2a2a2a;
    margin-bottom: 20px;
  }

  table {
    margin: 0;
    border-top: none;

    th {
      font-size: 13px;
      border-bottom: none;
      background: var(--main-color);
      color: #FFF;
    }

    td {
      border-bottom: 1px solid #e2edef;
      color: #2a2a2a;
      font-size: 13px;
      background-color: #ebf7f9;
    }

    &>:not(:first-child) {
      border: none;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }
}

.fields {
  background-color: #f4f5fa;
  border: 1px solid #dfe0e3;
  border-radius: 5px;
  padding: 15px;

  h2 {
    font-size: 18px;
    color: #3e3e3e;
    font-weight: bold;
  }

  p {
    font-size: 13px;
    margin: 0;
    color: #6b6b6f;
  }
}

@media(max-width: 992px) {
  .learning-environment {
    padding: 30px 0;

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 20px;
    }

    .content {
      padding: 20px;

      a.explore-all {
        margin-top: 5px;
        margin-left: 0 !important;
      }

      a.pricing {
        width: 100%;
        text-align: center;
        display: inline-block;
        margin: 0;
      }
    }

    .country {
      h1 {
        margin-bottom: 20px !important;
      }
    }

    .contact-img {
      width: 100%;
      height: auto;
    }

    a {
      width: 100%;
    }
  }
}
