<div class="learning-environment" id="exploreServices">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Veriety of subjects, College and High School Tutoring </h1>

        <p>
          We offer one-on-one tutoring at the cost you can afford resulting in an experience quality learning time.
        </p>

        <div class="row mt-4">
          <div class="col-md-6 d-flex mt-4">
            <img src="assets/svg/engineering.svg" width="65px" height="65px" draggable="false" alt="">
            <div class="ms-2">
              <h2>Engineering</h2>
              <p class="details">
                Computer Science Tutors,
                Programming Tutors
                Electrical Engineering,
                Mechanical Engineering
                C C# C++ HTML Java Python
              </p>
            </div>
          </div>
          <div class="col-md-6 d-flex mt-4">
            <img src="assets/svg/science.svg" width="65px" height="65px" draggable="false" alt="">
            <div class="ms-2">
              <h2>Science</h2>
              <p class="details">
                Chemistry Tutors
                Physics Tutors
                Accounting Tutors
                Economics Tutors
                Finance Tutors
              </p>
            </div>
          </div>
          <div class="col-md-6 d-flex mt-4">
            <img src="assets/svg/humanities.svg" width="65px" height="65px" draggable="false" alt="">
            <div class="ms-2">
              <h2>Humanities</h2>
              <p class="details">
                Writing Tutors, French Tutors
                Spanish Tutors, ESL Tutors
                Latin Tutors
              </p>
            </div>
          </div>
          <div class="col-md-6 d-flex mt-4">
            <img src="assets/svg/math.svg" width="65px" height="65px" draggable="false" alt="">
            <div class="ms-2">
              <h2>Math</h2>
              <p class="details">
                Algebra Tutors
                Calculus Tutors Trigonometry
                Tutors, Statistics Tutors
                Geometry Tutors
              </p>
            </div>
          </div>
        </div>

        <a mat-flat-button color="primary" routerLink="/requests/request-tutor">
          Start learning now
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.172 10.9999H4V12.9999H16.172L10.808 18.3639L12.222 19.7779L20 11.9999L12.222 4.22192L10.808 5.63592L16.172 10.9999Z"
              fill="#FFF" />
          </svg>
        </a>
      </div>
      <div class="col-md-5">
        <img src="assets/homepage/contact.png" class="contact-img" draggable="false" height="450px" alt="">
      </div>
    </div>
  </div>
</div>
