<div class="country position-relative">
  <button mat-button mat-dialog-close (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>

  <h1 mat-dialog-title class="text-center mb-5">Available affordable prices now!</h1>

  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <div class="fields">
          <div class="row">
            <div class="col-md-7">
              <h2>Field of study</h2>
              <p>View very destinations in Markesh</p>
            </div>
            <div class="col-md-5">
              <label>Select Field of Study</label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select [placeholder]="'Please select'" (selectionChange)="fieldId = $event.value">
                  <mat-option [value]="field.id" *ngFor="let field of fields">{{ field?.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Subject Name</th>
                <th scope="col">Course ID</th>
                <th scope="col">Price per Hour</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let subject of subjects">
                <tr *ngIf="!fieldId || subject.fieldId === +fieldId">
                  <td scope="row">{{ subject?.name }}</td>
                  <td scope="row">CID{{ subject?.id }}</td>
                  <td><strong>{{ subject?.pricePerHour | metutorsMoney | async }}</strong></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
