<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'"
                [template]="template">
  <ng-template #template>
    <ng-container [ngSwitch]="loading">
      <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
      <div class="refund-modal col-12 mt-4" *ngSwitchCase="false">
       add UI here please

        <button mat-button class="main-button-transparent float-end py-2" (click)="refundPayment.emit()">
          Yes
        </button>

        <button mat-button class="main-button-transparent float-end py-2 m-lg-1" (click)="closeModal.emit()">
          Cancel
        </button>
      </div>
    </ng-container>
  </ng-template>
</metutors-modal>
