<a class="card" [routerLink]="linkUrl">
  <div class="card-body">
    <div class="priority">
      Priority:
      <span class="status" [ngClass]="{
          'high': ticketPriority.high === ticket?.priority?.name,
          'low': ticketPriority.low === ticket?.priority?.name,
          'critical': ticketPriority.critical === ticket?.priority?.name
        }">{{ ticket?.priority?.name }}</span>

      <div class="change-status float-end position-relative d-flex" *ngIf="isAdmin">
        <a class="cursor-pointer" (click)="$event.stopPropagation(); $event.preventDefault(); changeStatus.emit(ticket?.ticketId)">Change Status</a>
      </div>
    </div>
    <h2>
      <a>{{ ticket?.subject }}</a>
      <span class="label" [ngClass]="{
            'open': ticketStatus.open === ticket?.status,
            'closed': ticketStatus.closed === ticket?.status,
            'urgent': ticketStatus.urgent === ticket?.status,
            'inprogress': ticketStatus.inprogress === ticket?.status
          }">{{ ticket?.status }}</span>
    </h2>
    <p><bdi>{{ ticket?.message }}</bdi></p>
    <div class="row list-items sm-item">
      <div class="col-md-3 d-flex menu align-items-center" *ngIf="ticket?.user">
        <img [src]="ticket?.user?.avatar" meTutorsDefaultAvatar class="rounded-circle" alt="" width="25" height="25"
          draggable="false">
        <strong>
          <ng-container *ngIf="ticket?.user?.roleName === 'teacher'">Teacher:</ng-container>
          <ng-container *ngIf="ticket?.user?.roleName === 'student'">Student:</ng-container>
          <ng-container *ngIf="ticket?.user?.roleName !== 'teacher' && ticket?.user?.roleName !== 'student'">Admin:</ng-container>
          {{ ticket?.user?.name }}
        </strong>
      </div>
      <div class="col-md-3 d-flex menu align-items-center">
        <mat-icon>square</mat-icon>
        <span>Open: {{ ticket?.createdDate | date: 'EEEE, d MMM y' }}</span>
      </div>
      <div class="col-md-3 d-flex menu align-items-center" *ngIf="ticketStatus.closed !== ticket?.status">
        <mat-icon>circle</mat-icon>
        <span>Last Reply: {{ ticket?.updatedDate | amTimeAgo }}</span>
      </div>
      <div class="col-md-3 d-flex menu align-items-center" *ngIf="ticketStatus.closed !== ticket?.status">
        <mat-icon>circle</mat-icon>
        <span>{{ ticket?.category?.name }}</span>
      </div>
      <div class="col-md-3 d-flex menu align-items-center" *ngIf="ticketStatus.closed === ticket?.status">
        <mat-icon>circle</mat-icon>
        <span>Duration: {{ ticket?.duration }} Days</span>
      </div>
      <div class="col-md-3 d-flex menu align-items-center" *ngIf="ticketStatus.closed === ticket?.status">
        <mat-icon>circle</mat-icon>
        <span>Closed: {{ ticket?.updatedDate | date: 'EEEE, d MMM y' }}</span>
      </div>
    </div>
  </div>
</a>
