<table class="table my-table default-title mt-4">
  <tr>
    <th>Number</th>
    <th>BIN</th>
    <th>SIN</th>
    <th>Program Name</th>
    <th *ngIf="!isNew">TIN</th>
    <th>Course ID</th>
    <th>Course Name</th>
    <th *ngIf="!isNew && !isRunning && !isNotAvailable">Starting Date</th>
    <th>Course Duration</th>
    <th *ngIf="isNew || isRunning || isNotAvailable">Amount($)</th>
    <ng-container *ngIf="!isNew">
      <th>Current TIN</th>
      <th>New TIN</th>
    </ng-container>

    <ng-container *ngIf="isNew">
      <th>Tutor Status</th>
      <th>Remaining Time</th>
    </ng-container>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr *ngIf="!reassignments || !reassignments.length">
    <td colspan="11">
      <div class="text-center">No records found</div>
    </td>
  </tr>
  <tr *ngFor="let reassignment of reassignments; let i = index">
    <td>{{ i + 1 }}</td>
    <td><a
      [routerLink]="['/admin','student', reassignment?.student?.id, 'booking-detail', reassignment?.id]">BIN{{ reassignment?.id }}</a>
    </td>
    <td><a [routerLink]="['/admin','student', 'profile', reassignment.studentId]">SIN{{ reassignment?.studentId }}</a>
    </td>
    <td>{{ reassignment?.program?.code }}</td>
    <td *ngIf="!isNew">TIN</td>
    <td><a href="javascript: void(0)"
           (click)="openBookingModal.emit(reassignment?.subject?.id)">{{ reassignment?.courseCode }}</a></td>
    <td>{{ reassignment?.courseName }}</td>
    <td *ngIf="!isNew && !isRunning && !isNotAvailable">{{ reassignment?.startDate | date }}</td>
    <td>{{ reassignment?.totalHours }}hour{{ +(reassignment?.totalHours)! > 1 ? 's' : '' }}</td>
    <td *ngIf="isNew || isRunning || isNotAvailable">{{ reassignment?.totalPrice | metutorsMoney | async }}</td>
    <ng-container *ngIf="!isNew">
      <td>SIN123</td>
      <td>SIN456</td>
    </ng-container>
    <ng-container *ngIf="isNew">
      <td>
        <div dropdown class="change-status position-relative d-flex">
          <button class="teacher-status text-capitalize" dropdownToggle mat-button
                  [ngClass]="reassignment?.teacherStatus">
            {{ reassignment?.teacherStatus }}
          </button>
          <!--<button dropdownToggle class="status text-capitalize" mat-button [ngClass]="reassignment?.status"
                  [tooltip]="statusLabel[reassignment?.status]?.long">{{ statusLabel[reassignment?.status]?.short }}
          </button>-->
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
            <li role="menuitem" class="cursor-pointer text-capitalize offered available"
                (click)="changeTutorStatus.emit({id: reassignment.id, status: 'available'})"
                *ngIf="reassignment.teacherStatus === 'N/A' || reassignment.teacherStatus === 'not-available'">
              Available
            </li>
            <li role="menuitem" class="cursor-pointer text-capitalize offered not-available"
                (click)="changeTutorStatus.emit({id: reassignment.id, status: 'not-available'})"
                *ngIf="reassignment.teacherStatus === 'N/A' || reassignment.teacherStatus === 'available'">
              Not Available
            </li>
          </ul>
        </div>

      </td>
      <td>{{ reassignment?.timer }}</td>
    </ng-container>

    <!--<td><a href="javascript: void(0)" (click)="openBookingModal.emit(reassignment.id)">{{ reassignment?.totalBooking }}</a></td>
    <td><a [routerLink]="['/admin', 'finance', 'orders']">{{ reassignment?.totalAmount | metutorsMoney | async }}</a></td>-->
    <td>
      <button class="status text-capitalize" mat-button [ngClass]="reassignment?.status"
              [tooltip]="statusLabel[reassignment?.status]?.long">{{ statusLabel[reassignment?.status]?.short }}
      </button>
    </td>
    <td>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0"
              (click)="studentId = reassignment?.student?.id; courseId=reassignment.id">
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </tr>
</table>
<mat-menu #menu="matMenu">
  <button mat-menu-item class="h-auto btn-menu"
          [routerLink]="['/admin', 'student', studentId, 'booking-detail', courseId]">
    <span>Booking Details</span>
  </button>
  <!-- <button mat-menu-item class="h-auto btn-menu" [matMenuTriggerFor]="status">
    <span>Change Status</span>
  </button> -->
  <button mat-menu-item class="h-auto btn-menu" (click)="openReassignTutorModal.emit(courseId)">
    <span>Re-assign Tutor</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu">
    <span>Email Student</span>
  </button>
</mat-menu>

<!-- <mat-menu #status="matMenu">
  <button mat-menu-item class="h-auto btn-menu">
    <span>Pending</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu" >
    <span>Rejected</span>
  </button>
</mat-menu> -->
