.review-request {
  border-radius: 12px;
  border: solid 1px #e2e2e2;
  box-shadow: none;

  h2 {
    color: #2a2a2a;
    font-weight: bold;
    font-size: 20px;
  }

  .row-block {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 20px;

    h3 {
      color: #696969;
      font-weight: normal;
      font-size: 14px;
    }

    h4 {
      color: #2a2a2a;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .list-classes {
      border-radius: 6px;
      border: solid 1px #ededed;
      overflow: hidden;
      margin-bottom: 20px;

      table {
        tr {
          position: relative;
          border: none;

          th {
            padding: 10px;
            color: #949494;
            font-size: 13px;
            border-top: none;
            background-color: #fafafa;
          }

          td {
            padding: 10px;
            border-top: 1px solid #ededed;
          }

          &:first-child {
            background-color: #fafafa;
          }
        }
      }
    }

    .list-tutors {
      .img-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 10px 0 20px;

        img {
          border-radius: 50%;
        }

        .status {
          right: 5px;
          top: 5px;

          &.is-online circle {
            fill: #00ab1e;
          }

          &.is-offline circle {
            fill: #949494;
          }

          &.is-busy circle {
            fill: #ad0909;
          }

          &.is-away circle {
            fill: #da9312;
          }
        }
      }

      h2 {
        color: #2a2a2a;
        font-size: 15px;

        span {
          color: #fff;
          font-size: 12px;
          padding: 3px;
          border-radius: 4px;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &.pro {
            background-color: #949494;
          }

          &.verified {
            background-color: #007cff;
          }
        }
      }

      h3 {
        color: #7d7d7d;
        font-size: 13px;
      }

      .count {
        color: #FF8E18;
        font-weight: bold;
        font-size: 15px;
        margin-left: 10px;
      }

      .review {
        color: #949494;
        font-size: 14px;
        margin-left: 10px;
      }

      .list {
        margin: 20px 0;

        span {
          color: #949494;
          font-size: 13px;
        }

        .icon {
          margin-right: 5px;
          width: auto;
        }
      }

      .full-profile {
        color: var(--main-color);

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }

  button {
    font-weight: bold;
    font-size: 17px;
    padding: 5px 20px;

    &.back-btn {
      margin-right: 10px;
      border: solid 1px var(--main-color);
      color: var(--main-color);
    }
  }
}
