<div class="finance-orders" *ngLet="(view$ | async) as view">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1>Refund Orders</h1>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-7">
          <div class="position-relative">
            <mat-icon>search</mat-icon>
            <input type="text" class="form-control custom-input input-bordered search-request"
                   placeholder="Search orders...">
          </div>
        </div>
        <div class="col-md-5">
          <div class="position-relative">
            <input type="text" class="form-control custom-input input-bordered" placeholder="Apply filters">
            <mat-icon class="filter">filter_alt</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive mt-4">
    <ng-container [ngSwitch]="view.loading">
      <div class="mt-4" *ngSwitchCase="true">
        <metutors-grid-placeholder></metutors-grid-placeholder>
      </div>
      <table class="table my-table default-title" *ngSwitchCase="false">
        <tr>
          <th>Number</th>
          <th>Order ID</th>
          <th>BIN</th>
          <th>Student Name</th>
          <th>Teacher Name</th>
          <th>Total Amount</th>
          <th>Cancelled Date</th>
          <th>Cancelled By</th>
          <th>Refund Classes</th>
          <th>Refund Amount</th>
          <th>Refund Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        <tr *ngIf="!view.orders || !view.orders?.length">
          <td colspan="11">
            <div class="text-center">No records found</div>
          </td>
        </tr>
        <tr *ngFor="let order of view.orders; let i = index">
          <td>{{ i + 1}}</td>
          <td>OID{{order?.courseId}}</td>
          <td><a
            [routerLink]="['/admin', 'student', order?.studentId, 'booking-detail', order?.courseId]">BIN{{order?.id}}</a>
          </td>
          <td>
            <metutors-user-avatar [avatar]="imageUrl+order?.student?.avatar" [type]="'small'"
                                  [name]="order?.student?.firstName+' ' + order?.student?.lastName"
                                  [routerLink]="['/admin', 'student', 'profile', order?.student?.id]"
                                  class="d-block">
            </metutors-user-avatar>
          </td>
          <td>
            <metutors-user-avatar [avatar]="imageUrl+order?.teacher?.avatar" [type]="'small'"
                                  [name]="order?.teacher?.firstName+' ' + order?.teacher?.lastName"
                                  [routerLink]="['/admin', 'tutor', 'profile', order?.teacher?.id]"
                                  class="d-block">
            </metutors-user-avatar>
          </td>
          <td>{{ order?.course?.totalPrice | currency}}</td>
          <td>{{ order?.canceledCourse?.createdAt | date}}</td>
          <td>{{ order?.canceledCourse?.cancelledBy}}</td>
          <td> {{ order?.refundedClassesCount }} out of {{ order?.course?.totalClasses}}</td>
          <td>{{ order?.totalRefunds | currency }}</td>
          <td>{{ order?.updatedAt | date }}</td>
          <td>
            <button mat-button class="status text-capitalize" [ngClass]="order?.status">
              {{ order?.status }}
            </button>
          </td>
          <td>
            <button mat-icon-button class="p-0" [matMenuTriggerFor]="menu" (click)="courseId=order.courseId; studentId=order.studentId">
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </ng-container>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="h-auto btn-menu" (click)="onOpenRefundDetailModal(courseId)">
    <span>View Cancelled Detail</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu" (click)="onOpenRefundPaymentModal(courseId)">
    <span>Process Refund Payment</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu" (click)="onOpenTeacherFeedbackModal(courseId, studentId)">
    <span>Teacher's Feedback</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu">
    <span>Send Message</span>
  </button>
</mat-menu>

<metutors-admin-view-feedback-modal *ngIf="showFeedbackModal$ | async"
                                    (closeModal)="onCloseModals()" [loading]="(loadingFeedback$ | async)!"
                                    [feedbacks]="(feedbacks$ | async)!" [heading]="'Teacher\'s Feedback'"
                                    [subHeading]="'View Teacher\'s Feedback'"
                                    [showModal]="(showFeedbackModal$ | async)!">
</metutors-admin-view-feedback-modal>

<metutors-admin-finance-refund-payment-modal *ngIf="showRefundPaymentModal | async"
                                             [showModal]="(showRefundPaymentModal | async)!"
                                             (closeModal)="onCloseModals()">
</metutors-admin-finance-refund-payment-modal>

<metutors-admin-finance-refund-detail-modal *ngIf="showRefundDetailModal | async"
                                            (closeModal)="onCloseModals()"
                                            [loading]="(loadingRefund$ | async)!"
                                            [reFundDetail]="(reFundDetail$ | async)!"
                                            [showModal]="(showRefundDetailModal | async)!"
                                            (refundClicked)="onOpenRefundPaymentModal(courseId)">
</metutors-admin-finance-refund-detail-modal>
