<form [formGroup]="form" (ngSubmit)="submitFormData()" class="w-100 p-10-sm">
  <div>
    <h4 class="mb-5 heading text-center f-size-17-md-sm mb-15-sm text-uppercase">{{ 'PROVIDE_PERSONAL_INFO' | translate }}</h4>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="middleName" class="form-label">{{ 'MIDDLE_NAME' | translate }} <span>({{ 'OPTIONAL' | translate }})</span></label>
          <input type="text" class="custom-input w-100 input-bordered" id="middleName" placeholder="{{ 'ENTER_MIDDLE_NAME' | translate }}"
            formControlName="middleName" meTutorsLettersOnly>
          <div class="text-danger" *ngIf="middleName?.touched && middleName?.invalid">
            {{ 'WRITE_VALID_NAME' | translate }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="country" class="form-label">{{ 'COUNTRY' | translate }}</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="country" placeholder="{{ 'SELECT_COUNTRY' | translate }}"
              (selectionChange)="loadCities.emit(country?.value); resetCity()">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="filterCountry" [ngModelOptions]="{standalone: true}"
                  placeholderLabel="{{ 'SEARCH' | translate }}" noEntriesFoundLabel="{{ 'NO_MATCHING_COUNTRY_FOUND' | translate }}">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let country of filteredCountries" [value]="country.id">
                <img [src]="country?.flag" *ngIf="country?.flag" width="22px" class="me-2" alt="">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="country?.touched && country?.invalid">
            {{ 'CHOOSE_UR_COUNTRY' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="dateOfBirth" class="form-label">{{ 'DATE_BIRTH' | translate }}</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="datetPicker" placeholder="{{ 'SELECT_DATE_BIRTH' | translate }}"
              (focus)="datetPicker.open()" formControlName="dateOfBirth" [max]="maxDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="datetPicker"></mat-datepicker-toggle>
            <mat-datepicker #datetPicker></mat-datepicker>
          </mat-form-field>
          <div class="text-danger" *ngIf="dateOfBirth?.touched && dateOfBirth?.invalid">
            {{ 'SELECT_UR_DATE_BIRTH' | translate }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="city" class="form-label">{{ 'CITY' | translate }}</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="city" placeholder="{{ 'SELECT_CITY' | translate }}" [disabled]="!cities || !cities.length">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="filterCity" [ngModelOptions]="{standalone: true}"
                  placeholderLabel="{{ 'SEARCH' | translate }}" noEntriesFoundLabel="{{ 'NO_MATCHING_CITY_FOUND' | translate }}">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let city of filteredCities" [value]="city.name">{{ city.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="city?.touched && city?.invalid">
            {{ 'CHOOSE_UR_CITY' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="gender" class="form-label">{{ 'SELECT_GENDER' | translate }}</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="gender" placeholder="{{ 'SELECT_UR_GENDER' | translate }}">
              <mat-option [value]="gender" *ngFor="let gender of genders">{{ gender }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="gender?.touched && gender?.invalid">
            {{ 'CHOOSE_UR_GENDER' | translate }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="nationality" class="form-label">{{ 'NATIONALITY' | translate }}</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="nationality" placeholder="{{ 'SELECT_NATIONALITY' | translate }}" id="nationality">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="filterNationality" [ngModelOptions]="{standalone: true}"
                  placeholderLabel="{{ 'SEARCH' | translate }}" noEntriesFoundLabel="{{ 'NO_MATCHING_COUNTRY_FOUND' | translate }}">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let country of filteredNationalities" [value]="country.name">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="nationality?.touched && nationality?.invalid">
            {{ 'CHOOSE_NATIONALITY' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="bio" class="form-label">{{ 'ADD_BIOGRAPHY' | translate }}
            <span>({{ 'WRITE_BIOGRAPHY_NOTE' | translate }})</span>
            <metutors-char-counter [limit]="400" [controlName]="bio"></metutors-char-counter>
          </label>
          <textarea class="custom-input w-100 input-bordered" placeholder="{{ 'ADD_BIO_HERE' | translate }}" rows="5"
            formControlName="bio" minlength="200" maxlength="400"></textarea>
          <small class="text-danger">({{ 'BIO_CHARACTERS' | translate }})</small>
          <div class="text-danger" *ngIf="bio?.touched && bio?.invalid">
            {{ 'WRITE_UR_BIO' | translate }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="address" class="form-label">{{ 'ADDRESS_1' | translate }}</label>
          <input type="text" class="custom-input w-100 input-bordered" id="address" placeholder="{{ 'ENTER_STREET_ADDRESS' | translate }}"
            formControlName="address">
          <div class="text-danger" *ngIf="address?.touched && address?.invalid">
            {{ 'ADDRESS_CHARACTERS' | translate }}
          </div>
        </div>

        <div class="form-group">
          <label for="address2" class="form-label">{{ 'ADDRESS_2' | translate }} <span>({{ 'OPTIONAL' | translate }})</span></label>
          <input type="text" class="custom-input w-100 input-bordered" id="address2" placeholder="{{ 'ENTER_STREET_ADDRESS' | translate }}"
            formControlName="address2">
          <div class="text-danger" *ngIf="address2?.touched && address2?.invalid">
            {{ 'ADDRESS_CHARACTERS' | translate }}
          </div>
        </div>

        <div class="form-group">
          <label for="postalCode" class="form-label">{{ 'POSTAL_CODE' | translate }}</label>
          <input type="text" class="custom-input w-100 input-bordered" id="postalCode" placeholder="{{ 'POSTAL_CODE' | translate }}"
            formControlName="postalCode">
          <div class="text-danger" *ngIf="postalCode?.touched && postalCode?.invalid">
            {{ 'WRITE_VALID_POSTAL_CODE' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-4 mb-2">
      <div></div>

      <metutors-submit-button [form]="form" [isSubmitting]="loading" [extraClasses]="'w-100 fw-bold px-5'">
        {{ 'SAVE_CONTINUE' | translate }}
      </metutors-submit-button>
    </div>
  </div>
</form>
