<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'large'"
                [heading]="'Class Attendance'"
                [template]="template" [subHeading]="'View Class Attendance'">
  <ng-template #template>
    <div class="row attendance-modal" *ngLet="(view$ | async) as view">
      <div class="col-12">
        <ng-container [ngSwitch]="view?.loading">
          <metutors-card-placeholder *ngSwitchCase="true"></metutors-card-placeholder>
          <div class="card classroom-item" *ngSwitchCase="false">
            <div class="row">
              <div class="col">
                <div
                  class="position-relative rounded date d-flex flex-column align-items-center justify-content-center h-100">
                  <img src="assets/svg/calendar-fill.svg" alt="" width="30" height="30"/>
                  <h2 class="mt-2">Starting date</h2>
                  <h3>{{ view.attendance?.course?.startDate | date }}</h3>
                  <h4 class="m-0">Ending date: {{ view.attendance?.course?.endDate | date }}</h4>
                </div>
              </div>
              <div class="col-md-9 d-flex flex-column">
                <h5 class="card-title d-flex align-items-center m-0 h-100">
                  {{ view?.attendance?.course?.courseName }}
                  <img src="assets/svg/user-group.svg" matTooltip="One-o-One" matTooltipPosition="above"
                       draggable="false"
                       height="25px" alt=""/>
                </h5>
                <p>
                  <!--Very few destinations in Marrakech are blessed with Very few destinations in Marrakech
                  are blessed with beautiful natural scenery, a unique culture, and unmatched-->
                </p>
                <div class="row list-items sm-item">
                  <div class="col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
                    <strong>Days: </strong>
                    <span>{{ getDays(view.attendance?.course?.weekdays)}}</span>
                  </div>
                  <div class="col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                    <strong>Completed classes: </strong>
                    <span>{{ view?.attendance?.completedClasses}}</span>
                  </div>
                  <div class="col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
                    <strong>Total hour: </strong>
                    <span>{{view?.attendance?.course?.totalHours}}hrs</span>
                  </div>
                  <div class="col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                    <strong>Time: </strong>
                    <!--<span>6pm : 8pm (2 hours)</span>-->
                  </div>
                  <div class="col-md-4 d-flex menu align-items-center">
                    <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                    <strong>Remaining classes: </strong>
                    <span>{{ view?.attendance?.remainingClasses}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="col-12 mt-4">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Student Attendance">
            <div class="table-responsive mt-2">
              <ng-container [ngSwitch]="view.loading">
                <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
                <table class="table my-table default-title mb-0" *ngSwitchCase="false">
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Classroom Title</th>
                    <th scope="col">Attending States</th>
                    <th scope="col">Date</th>
                  </tr>

                  <tr *ngIf="!view.attendance?.studentsAttendance || !view.attendance?.studentsAttendance?.length">
                    <td colspan="8">
                      <div class="text-center">No records found</div>
                    </td>
                  </tr>

                  <tr *ngFor="let attendance of view.attendance?.studentsAttendance; let i = index">
                    <td scope="row">{{ i + 1}}</td>
                    <td>Understanding Operating Systems</td>
                    <td>
                      <button mat-button [class]="attendance?.status">{{ attendance?.status }}</button>
                    </td>
                    <td>{{ attendance?.updatedAt | date}}</td>
                  </tr>
                </table>
              </ng-container>
            </div>
          </mat-tab>
          <mat-tab label="My Attendance">
            <div class="table-responsive mt-2">
              <table class="table my-table default-title mb-0">
                <tr>
                  <th scope="col">Number</th>
                  <th scope="col">Classroom Title</th>
                  <th scope="col">Attending States</th>
                  <th scope="col">Date</th>
                </tr>
                <tr *ngIf="!view.attendance?.myAttendence || !view.attendance?.myAttendence?.length">
                  <td colspan="8">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let attendance of view.attendance?.myAttendence; let i = index">
                  <td scope="row">{{ i + 1}}</td>
                  <td>Understanding Operating Systems</td>
                  <td>
                    <button mat-button [class]="attendance?.status">{{ attendance?.status }}</button>
                  </td>
                  <td>{{ attendance?.updatedAt | date}}</td>
                </tr>
              </table>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </ng-template>
</metutors-modal>
