<metutors-modal [showModal]="showModal" [showHeader]="false" [size]="'medium'" [template]="template">
  <ng-template #template>
    <div class="course-success-modal flex-row mt-5 p-3">
      <div class="text-center">
        <img src="assets/svg/green-tick.svg" alt="" width="100">

        <h3 class="mt-4">Congratulations</h3>
        <p class="heading">Your course cancelled successfully.</p>
        <p class="para-1">Allow us 72 hours to process your request. You should receive your refund into your bank account soon.</p>
        <p class="para-2">Your refund in the amount of</p>
        <span class="fw-bold amount">{{ 50 | metutorsMoney | async }}</span>

        <div class="mt-5">
          <button mat-flat-button color="primary" class="w-100 p-1 fw-bold text-white" (click)="submitted.emit()">Go to class Dashboard</button>
        </div>
      </div>
    </div>
  </ng-template>
</metutors-modal>
