<metutors-modal [showModal]="showModal" [showHeader]="false" [size]="'medium'" [template]="template">
  <ng-template #template>
    <div class="course-success-modal flex-row mt-5 p-3">
      <div class="text-center">
        <img src="assets/svg/correct.svg" alt="" width="100">

        <h3 class="mt-4">Congratulations</h3>
        <p>Your course cancelled successfully.</p>
        <p>We will send you the refund amount in you bank account in next 72 business hours. Also maybe your bank takes sometime to reflect amount to your account.</p>
        <p>We will refund</p>
        <span class="fw-bold">${{amount?.refundAmount}}</span>

        <div class="mt-5">
          <button mat-flat-button color="primary" class="w-100 p-1 fw-bold" (click)="submitted.emit()">Go to class Dashboard</button>
        </div>
      </div>
    </div>
  </ng-template>
</metutors-modal>
