<form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-100">
  <div>
    <ng-container *ngIf="showHint">
      <h4 class="mb-3">Email Verification</h4>

      <h3 class="mb-5">You registered with email <span>{{ email }}</span>
        <button (click)="changeStep.emit()" mat-button>I have no access to this email</button>
      </h3>
    </ng-container>

    <div class="form-group">
      <label for="code">Enter Code</label>
      <div class="align">
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
      </div>
    </div>

    <div class="form-group mt-4 mb-2">
      <metutors-submit-button [form]="form" [isSubmitting]="loading" [extraClasses]="'w-100'">
        Submit Code
      </metutors-submit-button>
    </div>
    <div class="form-group mt-4 mb-2">
      <button mat-button class="py-1 d-block w-100 main-button-transparent" (click)="resendEmailConfirm()"
        [disabled]="resendLoading">
        Resend Email Verification
        <mat-icon class="spinner" *ngIf="resendLoading">autorenew</mat-icon>
      </button>
    </div>
  </div>
</form>
