<form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-100">
  <div>
    <ng-container *ngIf="showHint">
      <h4 class="mb-3">{{ 'EMAIL_VERIFICATION' | translate }}</h4>

      <h3 class="mb-5">{{ 'YOU_REGISTERED_WITH_EMAIL' | translate }} <span>{{ email }}</span>
        <button (click)="changeStep.emit()" mat-button type="button">{{ 'I_HAVE_NO_ACCESS_EMAIL' | translate }}</button>
      </h3>
    </ng-container>

    <div class="form-group">
      <label for="code">{{ 'ENTER_CODE' | translate }}</label>
      <div class="align">
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
      </div>
    </div>

    <div class="form-group mt-4 mb-2">
      <metutors-submit-button [form]="form" [isSubmitting]="loading" [extraClasses]="'w-100'">
        {{ 'SUBMIT_CODE' | translate }}
      </metutors-submit-button>
    </div>
    <div class="form-group mt-4 mb-2">
      <button mat-button class="py-1 d-block w-100 main-button-transparent" (click)="resendEmailConfirm()"
        [disabled]="resendLoading">
        {{ 'RESEND_EMAIL_VERIFICATION' | translate }}
        <mat-icon class="spinner" *ngIf="resendLoading">autorenew</mat-icon>
      </button>
    </div>
  </div>
</form>
