<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()"
                [heading]="'Highlighted topics'" [subHeading]="'Add the topics you need a tutor for'"
                [template]="template">
  <ng-template #template>
    <form [formGroup]="form" (ngSubmit)="submitted.emit(form)">
      <div class="row add-topic-modal mt-5">
        <div class="col-12">
          <div class="classroom-item">
            <div class="row">
              <div class="mb-3">
                <label for="topic" class="form-label">Add topic name</label>
                <metutors-char-counter [limit]="120" [controlName]="topicName"></metutors-char-counter>
                <input type="text" class="form-control custom-input input-bordered" formControlName="name" id="topic"
                       placeholder="Enter Topic Name" autocomplete="off">
                <div class="text-danger" *ngIf="topicName?.touched && topicName?.invalid">
                  Please write topic name with a max of 120 characters
                </div>
              </div>

              <div class="">
                <label for="scale" class="form-label">Knowledge confidence scale</label>
                <mat-slider id="scale" class="w-100 p-0" [max]="3" [min]="1" formControlName="confidence_scale" [step]="1"
                            aria-labelledby="example-name-label">
                </mat-slider>
              </div>
              <div class="d-flex justify-content-between titles">
                <span *ngFor="let scale of topicsScale | keyvalue">{{ scale.value }}</span>
              </div>

              <div class="mt-5">
                <div class="col-auto col-3 float-end">
                  <metutors-submit-button [form]="form" [isSubmitting]="isSubmitting"
                                          [extraClasses]="'w-100 float-end'">
                    {{ topic ? 'Edit' : 'Add'}}
                  </metutors-submit-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</metutors-modal>
