<div class="row send-message">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <google-map [options]="options"></google-map>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" class="w-100">
          <div>
            <h4 class="mb-4 f-size-20-md-sm">Send a message</h4>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="f-size-15-md-sm" for="name">Your Name*</label>
                  <input type="text" class="custom-input w-100 input-bordered" id="name" placeholder="Type name here"
                    formControlName="name">
                  <span class="text-danger" *ngIf="name?.invalid && name?.touched">
                    Please write your name
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="f-size-15-md-sm" for="email">Contact Email *</label>
                  <input type="email" email class="custom-input w-100 input-bordered" id="email"
                    placeholder="you@example.com" formControlName="email">
                  <span class="text-danger" *ngIf="email?.invalid && email?.touched">
                    {{ 'WRITE_VALID_EMAIL' | translate }}
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="f-size-15-md-sm" for="companyName">School Name (Optional)</label>
                  <input type="text" class="custom-input w-100 input-bordered" id="companyName"
                    placeholder="Type company name here" formControlName="companyName">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-4">
                  <label class="f-size-15-md-sm" for="subject">Message Subject *</label>
                  <input type="text" class="custom-input w-100 input-bordered" id="subject"
                    placeholder="Type subject here" formControlName="subject">
                  <span class="text-danger" *ngIf="subject?.invalid && subject?.touched">
                    Please write your message subject
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group mb-4">
                  <label class="f-size-15-md-sm" for="message">Your Message*</label>
                  <textarea rows="5" class="custom-input w-100 input-bordered" id="message"
                    placeholder="Type your message…." formControlName="message"></textarea>
                  <span class="text-danger" *ngIf="message?.invalid && message?.touched">
                    Please write your message
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group mb-4 mt-2 mb-2 d-flex justify-content-between">
              <div class="d-flex">
                <div class="file-upload d-flex align-items-center" (click)="filePicker.click()">
                  <img src="assets/svg/upload.svg" alt="" draggable="false" width="25" height="25">
                  <div>
                    <h2>Attach file</h2>
                    <h3>accept .jpg, .png, .pdf</h3>
                  </div>
                  <input type="file" hidden #filePicker (change)="onFileUpload($event)">
                </div>
                <div class="block-file d-flex ms-3 align-items-center" *ngIf="filePreview">
                  <mat-icon>attach_file</mat-icon>
                  <div class="ms-2">
                    <h3>{{ filePreview?.name }}</h3>
                    <h5>{{ filePreview?.size }}</h5>
                  </div>
                </div>
              </div>

              <div>
                <metutors-submit-button [form]="contactForm" [isSubmitting]="loading">
                  Send message
                </metutors-submit-button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
