.heading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
}

.form-label {
  color: #000;
  font-size: 15px;
}

.list-days {
  button {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, .6);
    padding: 4px 40px;
    margin-right: 15px;

    &.active {
      background-color: #3BB3C1;
      color: #FFF;
      border-color: #3BB3C1;
    }
  }
}

.subj-info {
  font-size: 15px;
  color: #FFF;
  background: #3BB3C1;
  border-radius: 30px;
  height: auto;

  .field {
    font-size: 18px;
    font-weight: bold;
  }

  .subject {
    font-size: 12px;
  }

  mat-icon {
    color: #C4C4C4;
    cursor: pointer;
    font-size: 30px;
    margin: 0 5px;
  }
}

.dialog-title {
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

.time-button {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 4px;

  &.active {
    background-color: #3BB3C1;
    color: #FFF;
    border-color: #3BB3C1;
  }
}

.buttons {
  button {
    padding: 3px 30px;
  }

  .btn-cancel {
    color: #000;
    border: 1px solid #000000;
  }
}
