<form [formGroup]="form" (ngSubmit)="submitFormData()" class="w-100">
  <div>
    <h4 class="mb-5 heading">PROVIDE YOUR TEACHING SPECIFICATIONS</h4>

    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label for="level_of_education"><b>Level</b></label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="level_of_education" [placeholder]="'Select Level'">
              <mat-option value="Matric">Matric</mat-option>
              <mat-option value="Intermediate">Intermediate</mat-option>
              <mat-option value="Bachelors">Bachelors</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <div class="text-danger" *ngIf="level_of_education.touched && level_of_education.errors?.required">
              Please choose your Level
            </div> -->
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="expected_salary_per_hour"><b>Expected Salary (Per Hour)</b></label>
          <input type="text" class="custom-input w-100 input-bordered" id="expected_salary_per_hour" placeholder="0"
            formControlName="expected_salary_per_hour">
          <!-- <div class="text-danger"
              *ngIf="expected_salary_per_hour.touched && expected_salary_per_hour.errors?.required">
              Please write your Expected Salary
            </div> -->
          <!-- <div class="text-danger"
              *ngIf="expected_salary_per_hour.touched && !expected_salary_per_hour.errors?.required && expected_salary_per_hour.errors?.NotANumber">
              Please write Valid Expected Salary
            </div> -->
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label for="field_of_study"><b>Field of Study</b></label>
          <input type="text" class="custom-input w-100 input-bordered" id="field_of_study"
            placeholder="e.g. Business Management" formControlName="field_of_study">
          <!-- <div class="text-danger" *ngIf="field_of_study.touched && field_of_study.errors?.required">
              Please write your Field of Study
            </div> -->
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="availability_start_date"><b>When you are Available to Start?</b></label>
          <!-- <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="datetPicker2" [placeholder]="'04/02/2022'" (focus)="datetPicker2.open()"
              formControlName="availability_start_date" (dateChange)="formatDate2()">
            <mat-datepicker-toggle matSuffix [for]="datetPicker2"></mat-datepicker-toggle>
            <mat-datepicker #datetPicker2></mat-datepicker>
          </mat-form-field> -->
          <!-- <div class="text-danger"
              *ngIf="availability_start_date.touched && availability_start_date.errors?.required">
              Please select your Availability to Start
            </div> -->
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label for="subject"><b>Select Subject</b></label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="subject" [placeholder]="'Math'">
              <mat-option value="Math">Math</mat-option>
              <mat-option value="Physics">Physics</mat-option>
              <mat-option value="Chemistry">Chemistry</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <div class="text-danger" *ngIf="subject.touched && subject.errors?.required">
              Please choose your Subject
            </div> -->
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="availability_end_date"><b>Availability End Date</b></label>
          <!-- <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="datetPicker3" [placeholder]="'04/02/2022'" (focus)="datetPicker3.open()"
              formControlName="availability_end_date" (dateChange)="formatDate3()">
            <mat-datepicker-toggle matSuffix [for]="datetPicker3"></mat-datepicker-toggle>
            <mat-datepicker #datetPicker3></mat-datepicker>
          </mat-form-field> -->
          <!-- <div class="text-danger"
              *ngIf="availability_end_date.touched && availability_end_date.errors?.required">
              Please select your Availability End Date
            </div> -->
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label for="subject"><b>Type of Tutoring</b></label>
          <br>
          <label>
            <input type="radio" value="One-on-one" formControlName="type_of_tutoring">
            &nbsp;<span>One-on-one</span>
          </label>
          <br>
          <label>
            <input type="radio" value="Group" formControlName="type_of_tutoring">
            &nbsp;<span>Group</span>
          </label>
          <br>
          <label>
            <input type="radio" value="Both" formControlName="type_of_tutoring">
            &nbsp;<span>Both</span>
          </label>
          <br>
          <!-- <div class="text-danger" *ngIf="type_of_tutoring.touched && type_of_tutoring.errors?.required">
              Please select Type of Tutoring
            </div> -->
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="teaching_days"><b>How many days per week are you available? </b></label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="teaching_days" [placeholder]="'Select Days'">
              <mat-option value="Monday">Monday</mat-option>
              <mat-option value="Tuesday">Tuesday</mat-option>
              <mat-option value="Wednesday">Wednesday</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <div class="text-danger" *ngIf="teaching_days.touched && teaching_days.errors?.required">
              Please choose your Teaching Days
            </div> -->
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="teaching_hours"><b>Availability Per Day </b></label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="teaching_hours" [placeholder]="'Select Hours'">
              <mat-option value="5 Hours">5 Hours</mat-option>
              <mat-option value="6 Hours">6 Hours</mat-option>
              <mat-option value="7 Hours">7 Hours</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <div class="text-danger" *ngIf="teaching_hours.touched && teaching_hours.errors?.required">
              Please choose your Teaching Hours
            </div> -->
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-4"></div>

      <div class="col-4">
        <div class="form-group mt-4 mb-2">
          <metutors-submit-button [form]="form" [isSubmitting]="loading" [extraClasses]="'w-100'">
            Save & Continue
          </metutors-submit-button>
        </div>
      </div>

      <div class="col-4"></div>

    </div>


  </div>
</form>
