<form [formGroup]="form" (ngSubmit)="submitFormData()" class="w-100 p-10-sm">
  <div>
    <h4 class="mb-5 heading text-center f-size-20-md-sm">PROVIDE YOUR TEACHING SPECIFICATIONS</h4>

    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label">Available Starting Date</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="datetPicker" [placeholder]="'Select Available Starting Date'"
              (focus)="datetPicker.open()" (dateChange)="onChangeStartDate()" [min]="minDate" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="datetPicker"></mat-datepicker-toggle>
            <mat-datepicker #datetPicker></mat-datepicker>
          </mat-form-field>
          <div class="text-danger" *ngIf="startDate?.touched && startDate?.invalid">
            Please select your Availability to Start
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label class="form-label">Tutoring Preferences</label>
          <mat-radio-group class="d-flex flex-row mt-3 fw-bold flex-column-sm mt-15-sm" formControlName="typeOfTutoring">
            <mat-radio-button [ngClass]="{'mt-15-sm ms-5': !isFirst}" class="m-0-sm" [value]="type.value"
              *ngFor="let type of types | keyvalue: returnZero; let isFirst = first" [disabled]="type.key !== 'one'">
              {{ type?.value }}
            </mat-radio-button>
          </mat-radio-group>
          <div class="text-danger" *ngIf="typeOfTutoring?.touched && typeOfTutoring?.invalid">
            Please select Type of Tutoring
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="form-group">
          <label for="endDate" class="form-label">Available End Date</label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput id="endDate" [matDatepicker]="datetPicker2" [placeholder]="'Select Available End Date'"
              (focus)="datetPicker2.open()" [min]="startDate?.value" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="datetPicker2"></mat-datepicker-toggle>
            <mat-datepicker #datetPicker2></mat-datepicker>
          </mat-form-field>
          <div class="text-danger" *ngIf="endDate?.touched && endDate?.invalid">
            Please select your Availability End Date
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label class="form-label">Select Desired Teaching Days and Times</label>
          <div class="list-days">
            <button type="button" mat-button [class.active]="selectedDays?.includes(i)" [disabled]="checkDisabledDays(day)"
              *ngFor="let day of days; let i = index" (click)="onChangeDay(i)" class="w-100-sm">{{ day }}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-4 mb-2">
      <button class="main-button-transparent px-4" mat-button (click)="changeStep.emit(3)">Back</button>

      <metutors-submit-button [form]="form" [isSubmitting]="loading"
        [isDisabled]="!selectedDays || !selectedDays?.length" [extraClasses]="'w-100 fw-bold px-5'">
        Save & Continue
      </metutors-submit-button>
    </div>
  </div>
</form>
