<h2 mat-dialog-title class="dialog-title">
  Select available teaching hours

  <!-- *ngIf="selectedHoursList && selectedHoursList.length" -->
  <button mat-button (click)="unSelectAll()" [mat-dialog-close]="[]" type="button"
    class="float-end reset-btn">Reset</button>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-6" *ngFor="let hour of hours; let i = index">
      <button class="time-button w-100" (click)="onSelectHour(hour, i)" mat-button
        [class.active]="selectedHours?.includes(i)">
        {{ hour?.displayTime }}
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons">
  <ng-container *ngIf="selectedHoursList">
    <mat-checkbox [checked]="selectedHoursList.length === hours.length"
      (change)="selectedHoursList.length === hours.length ? unSelectAll() : selectAll()">
      Select all
    </mat-checkbox>
  </ng-container>
  <div class="d-flex justify-content-end flex-grow-1">
    <button mat-button [mat-dialog-close]="tempHours" type="button" class="btn-cancel">Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="selectedHoursList" cdkFocusInitial
      [disabled]="!selectedHoursList || !selectedHoursList.length">Confirm</button>
  </div>
</mat-dialog-actions>
