<metutors-student-navbar [layout]="(layout$ | async)" [user]="user$ | async"></metutors-student-navbar>

<div class="certificates p-15-sm">
  <div class="row">
    <div class="col-12">
      <h3 class="head mb-3 f-size-17-md-sm mt-15-md-sm">{{ 'CERTIFICATES_HEADING' | translate }} </h3>

      <div class="certificate" [style.background-image]="'url(assets/academic/certificate.jpg)'">
        <h3 class="heading">CERTIFICATE</h3>
        <h5 class="mt-3">OF COMPLETION</h5>

        <h5 class="mt-5">This is to certify that</h5>

        <h2 class="mt-5">Kamran Khatti</h2>

        <h4 class="mt-4">Has successfully completed course</h4>

        <h3 class="mt-5">CALCULUS 101</h3>
      </div>


    </div>
  </div>
</div>
