<div class="assignments">
  <div class="card">
    <div class="card-body">
      <ng-container [ngSwitch]="loading$ | async">
        <ng-container *ngSwitchCase="false">
          <ng-container *ngLet="(assignments$ | async) as assignments">
            <h1 class="title">{{ assignments?.course?.courseName }}</h1>
            <div class="row list-items">
              <div class="col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
                <strong>Total assignments: </strong>
                <span>{{ assignments?.totalAssignments }}</span>
              </div>
              <div class="col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/class.svg" alt="" width="15" height="15" draggable="false">
                <strong>Active assignments: </strong>
                <span>{{ assignments?.activeAssignments }}</span>
              </div>
              <div class="col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/class.svg" alt="" width="15" height="15" draggable="false">
                <strong>Completed assignments: </strong>
                <span>{{ assignments?.completedAssignments }}</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-5 overflow-visible logos">
                <div class="fw-bold">Enrolled Students</div>
                <ng-container *ngFor="let participant of assignments?.course.participants">
                  <img meTutorsDefaultAvatar [src]="participant?.user?.avatar" alt="" draggable="false"
                       class="d-inline-block rounded-circle">
                </ng-container>
              </div>
              <div class="col-md-7">
                <button mat-button class="main-button-transparent float-end" (click)="onOpenAddAssignment()">
                  <mat-icon>add</mat-icon>
                  Add new assignment
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="true">
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-10 big mt-3"></div>
            <div class="ph-col-2 big empty mt-3"></div>
            <div class="ph-col-6 mt-4"></div>
            <div class="ph-col-6 mt-4 empty"></div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="assign-tabs">
    <button mat-button class="class-btn main-button-transparent text-uppercase"
            (click)="filterAssignments('active')" [ngClass]="{'active': activeAssignment}">
      Active assignments
    </button>
    <button mat-button class="class-btn main-button-transparent text-uppercase"
            (click)="filterAssignments('completed')" [ngClass]="{'active': !activeAssignment}">
      Completed assignments
    </button>
  </div>

  <div class="items">
    <ng-container [ngSwitch]="loading$ | async">
      <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
      <ng-container *ngSwitchCase="false">
        <ng-container *ngLet="(assignments$ | async) as assignments">
          <div class="text-center p-xxl-5 fw-bold"
               *ngIf="!assignments?.course?.assignments?.length">No record
            found
          </div>

          <ng-container *ngIf="assignments?.course?.assignments && assignments?.course?.assignments?.length">
            <div class="item position-relative"
                 *ngFor="let assignment of assignments?.course?.assignments; let i = index">
              <span class="number">{{ i + 1 }}</span>
              <div class="row set-padding">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-7">
                      <h2>{{ assignment?.title}}</h2>
                      <p class="col">{{ assignment?.description }}</p>
                    </div>
                    <div class="col-md-5 d-flex align-items-start justify-content-end date-data">
                      <span class="cursor-pointer text-decoration-underline extend-date" *ngIf="assignment.status === 'active'" (click)="onOpenEditAssignmentModal(assignment.id)">Extend Due Date</span>
                      <div class="d-flex flex-column mx-3">
                        <span>Remaining Time</span>
                        <strong class="alert-msg" *ngIf="assignment?.remainingDays <= 1">{{ assignment?.remainingDays ? assignment?.remainingDays : 0 }} Days</strong>
                        <strong *ngIf="assignment?.remainingDays > 1">{{ assignment?.remainingDays }} Days</strong>
                      </div>
                      <button mat-button class="main-button-transparent"
                              (click)="onOpenAssignmentDetails(assignment.id)">
                        View Details
                        <mat-icon>arrow_forward</mat-icon>
                      </button>
                    </div>
                  </div>

                  <div class="row list-items md-item p-0 pb-3">
                    <div class="col d-flex menu align-items-center">
                      <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                      <strong>Start: </strong>
                      <span>{{ assignment?.startDate | date: 'MMMM d y' }}</span>
                    </div>
                    <div class="col d-flex menu align-items-center">
                      <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                      <strong>Deadline: </strong>
                      <span>{{ assignment?.deadline | date: 'MMMM d y' }}</span>
                    </div>
                    <div class="col d-flex menu align-items-center">
                      <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                      <strong>Answer received:</strong>
                      <span>{{ assignment?.answerReceived?.length }} out of {{ assignment?.assignees?.length }}</span>
                    </div>
                    <div class="col-1">
                      <button mat-button class="expand" *ngIf="selectedBlock !== assignment.id">
                        <mat-icon (click)="openBlock = true; selectedBlock = assignment.id">expand_more</mat-icon>
                      </button>
                      <button mat-button class="expand" *ngIf="openBlock && selectedBlock === assignment.id">
                        <mat-icon (click)="openBlock = false; selectedBlock = null">expand_less</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="table-responsive" *ngIf="openBlock && selectedBlock === assignment.id" [@slideInOut]>
                    <table class="table my-table default-title">
                      <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Time Received By Student</th>
                        <th scope="col">Submitted At</th>
                        <th scope="col">Status</th>
                      </tr>

                      <tr *ngFor="let assignee of assignment?.assignees; let num = index" class="cursor-pointer"
                          (click)="openViewStudentAssignmentModal(assignment.id, assignee.userId, assignee?.status)">
                        <td scope="row">{{ num + 1 }}</td>
                        <td>
                          <img [src]="assignee?.user?.avatar" meTutorsDefaultAvatar draggable="false" width="25"
                               height="25"
                               class="rounded-circle"
                               alt="">
                          <span class="ms-2">{{ assignee?.user?.firstName }} {{ assignee?.user?.lastName }}</span>
                        </td>
                        <td>{{ assignee?.createdAt | date: 'EEEE, d MMM y, h:mm a' }}</td>
                        <td>{{ assignee.status !== 'pending' ? (assignee?.updatedAt | date) : ''}}</td>
                        <td>
                          <span class="status-icon text-capitalize"
                                [ngClass]="assignee?.status">{{ assignee?.status }}</span>
                          <span class="late ms-2" *ngIf="!assignment?.remainingDays && (assignee.status !== 'submitted' || assignee.status !== 'completed')">Late</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <metutors-tutor-add-assignment-modal *ngIf="showAddAssignmentModal$ | async"
                                               (closeModal)="onCloseAddAssignment()"
                                               [courseId]="assignments?.course?.id"
                                               [showModal]="(showAddAssignmentModal$ | async)!">
          </metutors-tutor-add-assignment-modal>

          <metutors-tutor-assignment-details-modal *ngIf="showAssignmentDetailsModal$ | async"
                                                   (closeModal)="onCloseAssignmentDetails()"
                                                   [showModal]="(showAssignmentDetailsModal$ | async)!">
          </metutors-tutor-assignment-details-modal>

          <metutors-tutor-view-submitted-assignment-modal *ngIf="showViewStudentAssignmentModal$ | async"
                                                   (closeModal)="onCloseTutorViewStudentAssignmentModal()"
                                                   [showModal]="(showViewStudentAssignmentModal$ | async)!">
          </metutors-tutor-view-submitted-assignment-modal>

          <metutors-tutor-accept-reject-assignment-modal *ngIf="showAcceptRejectAssignmentModal$ | async"
                                                         (closeModal)="onCloseAcceptRejectAssignmentModal()"
                                                         [showModal]="(showAcceptRejectAssignmentModal$ | async)!">
          </metutors-tutor-accept-reject-assignment-modal>

        </ng-container>
      </ng-container>
    </ng-container>
  </div>

</div>
