<div class="assignments">
  <div class="card">
    <div class="card-body p-15-sm">
      <ng-container [ngSwitch]="loading$ | async">
        <ng-container *ngSwitchCase="false">
          <ng-container *ngLet="(assignments$ | async) as assignments">
            <h1 class="title f-size-20-md-sm">{{ assignments?.course?.courseName }}</h1>
            <div class="row list-items">
              <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
                <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
                <strong>{{ 'TOTAL_ASSIGNMENTS' | translate }}: </strong>
                <span class="f-size-17-md-sm">{{ assignments?.totalAssignments }}</span>
              </div>
              <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
                <img src="assets/svg/class.svg" alt="" width="15" height="15" draggable="false">
                <strong>{{ 'ACTIVE_ASSIGNMENTS' | translate }}: </strong>
                <span class="f-size-17-md-sm">{{ assignments?.activeAssignments }}</span>
              </div>
              <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
                <img src="assets/svg/class.svg" alt="" width="15" height="15" draggable="false">
                <strong>{{ 'COMPLETED_ASSIGNMENTS' | translate }}: </strong>
                <span class="f-size-17-md-sm">{{ assignments?.completedAssignments }}</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-5 overflow-visible">
                <div class="fw-bold">{{ 'ENROLLED_STUDENTS' | translate }}</div>
                <ng-container *ngFor="let participant of assignments?.course.participants">
                  <metutors-user-avatar [avatar]="participant?.user?.avatar" class="d-block"></metutors-user-avatar>
                </ng-container>
              </div>
              <div class="col-md-7 mt-15-sm">
                <button mat-button class="main-button-transparent float-end" (click)="onOpenAddAssignment()">
                  <mat-icon>add</mat-icon>
                  Add new assignment
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="true">
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-10 big mt-3"></div>
            <div class="ph-col-2 big empty mt-3"></div>
            <div class="ph-col-6 mt-4"></div>
            <div class="ph-col-6 mt-4 empty"></div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="assign-tabs p-15-sm">
    <button mat-button class="class-btn main-button-transparent text-uppercase m-0-sm w-100-sm mb-5-sm"
            (click)="filterAssignments('active')" [ngClass]="{'active': activeAssignment}">
      {{ 'ACTIVE_ASSIGNMENTS' | translate }}
    </button>
    <button mat-button class="class-btn main-button-transparent text-uppercase m-0-sm w-100-sm"
            (click)="filterAssignments('completed')" [ngClass]="{'active': !activeAssignment}">
      {{ 'COMPLETED_ASSIGNMENTS' | translate }}
    </button>
  </div>

  <div class="items">
    <ng-container [ngSwitch]="loading$ | async">
      <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
      <ng-container *ngSwitchCase="false">
        <ng-container *ngLet="(assignments$ | async) as assignments">
          <div class="text-center p-xxl-5 fw-bold"
               *ngIf="!assignments?.course?.assignments?.length">{{ 'NO_RECORD_FOUND' | translate }}
          </div>

          <ng-container *ngIf="assignments?.course?.assignments && assignments?.course?.assignments?.length">
            <div class="item item-assign position-relative"
                 *ngFor="let assignment of assignments?.course?.assignments; let i = index">
              <span class="number">{{ i + 1 }}</span>
              <div class="row set-padding">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-xl-6">
                      <h2 class="f-size-20-sm">{{ assignment?.title }}</h2>
                      <p class="col f-size-15-sm">{{ assignment?.description }}</p>
                    </div>
                    <div class="col-xl-6 d-flex align-items-start justify-content-end date-data d-block-sm">
                      <span class="cursor-pointer text-decoration-underline extend-date"
                            *ngIf="assignment.status === 'active'" (click)="onOpenEditAssignmentModal(assignment.id)">Extend Due Date</span>
                      <div class="d-flex flex-column mx-3 m-0-sm">
                        <span>{{ 'REMAINING_TIME' | translate }}</span>
                        <strong class="alert-msg f-size-15-sm"
                                *ngIf="assignment?.remainingDays < 1">{{ assignment?.remainingDays === 0 ? 'Today' : '0 Day' }}
                          </strong>
                        <strong class="f-size-15-sm" *ngIf="assignment?.remainingDays >= 1">{{ assignment?.remainingDays }} {{ 'DAYS_SM' | translate }}</strong>
                      </div>
                      <button mat-button class="main-button-transparent float-end mb-15-sm"
                              (click)="onOpenAssignmentDetails(assignment.id)">
                        {{ 'VIEW_DETAILS' | translate }}
                        <mat-icon class="rotate-180-ar">arrow_forward</mat-icon>
                      </button>
                    </div>
                  </div>

                  <div class="row list-items md-item p-0 pb-3 d-block-sm">
                    <div class="col d-flex menu align-items-center">
                      <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                      <strong class="f-size-17-md-sm">{{ 'START' | translate }}: </strong>
                      <span class="f-size-15-md-sm">{{ assignment?.startDate | date: 'MMMM d y' }}</span>
                    </div>
                    <div class="col d-flex menu align-items-center">
                      <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                      <strong class="f-size-17-md-sm">{{ 'DEADLINE' | translate }}: </strong>
                      <span class="f-size-15-md-sm">{{ assignment?.deadline | date: 'MMMM d y' }}</span>
                    </div>
                    <div class="col d-flex menu align-items-center">
                      <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                      <strong class="f-size-17-md-sm">Answer received:</strong>
                      <span class="f-size-15-md-sm">{{ assignment?.answerReceived?.length }} out of {{ assignment?.assignees?.length }}</span>
                    </div>
                    <div class="col-1 m-auto-sm mt-15-sm">
                      <button mat-button class="expand" *ngIf="selectedBlock !== assignment.id"
                              (click)="openBlock = true; selectedBlock = assignment.id">
                        <mat-icon>expand_more</mat-icon>
                      </button>
                      <button mat-button class="expand" *ngIf="openBlock && selectedBlock === assignment.id"
                              (click)="openBlock = false; selectedBlock = null">
                        <mat-icon>expand_less</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="table-responsive" *ngIf="openBlock && selectedBlock === assignment.id" [@slideInOut]>
                    <table class="table my-table default-title">
                      <tr>
                        <th scope="col">{{ 'NUMBER' | translate }}</th>
                        <th scope="col">{{ 'STUDENT_NAME' | translate }}</th>
                        <th scope="col" style="min-width: 150px">Time Received By Student</th>
                        <th scope="col">{{ 'SUBMITTED_AT' | translate }}</th>
                        <th scope="col">{{ 'STATUS' | translate }}</th>
                      </tr>

                      <tr *ngFor="let assignee of assignment?.assignees; let num = index" class="cursor-pointer"
                          (click)="openViewStudentAssignmentModal(assignment.id, assignee)">
                        <td scope="row">{{ num + 1 }}</td>
                        <td>
                          <img [src]="assignee?.user?.avatar" meTutorsDefaultAvatar draggable="false"
                               width="25" height="25" class="rounded-circle" alt="">
                          <span class="ms-2">{{ assignee?.user?.firstName }} {{ assignee?.user?.lastName }}</span>
                        </td>
                        <td>{{ assignee?.createdAt | date: 'EEEE, d MMM y, h:mm a' }}</td>
                        <td>{{ assignee.status !== 'pending' ? (assignee?.updatedAt | date) : '' }}</td>
                        <td>
                          <span class="status-icon text-capitalize"
                                [ngClass]="assignee?.status">{{ assignee?.status }}</span>
                          <span class="late ms-2"
                                *ngIf="!assignment?.remainingDays && (assignee.status !== 'submitted' || assignee.status !== 'completed')">Late</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <metutors-confirm-modal *ngIf="showConfirmModal$ | async" [showModal]="(showConfirmModal$ | async)!"
                                  [loading]="(isDeletingAssignment$ | async)!"
                                  [heading]="'Delete an Assignment'"
                                  (confirm)="onDeleteAssignment(assignmentId)" (closeModal)="onCloseConfirmModal()">
          </metutors-confirm-modal>

          <metutors-tutor-add-assignment-modal *ngIf="showAddAssignmentModal$ | async"
                                               (closeModal)="onCloseAddAssignment()"
                                               [courseId]="assignments?.course?.id"
                                               [showModal]="(showAddAssignmentModal$ | async)!">
          </metutors-tutor-add-assignment-modal>

          <metutors-tutor-assignment-details-modal *ngIf="showAssignmentDetailsModal$ | async"
                                                   (closeModal)="onCloseAssignmentDetails()"
                                                   (deleteAssignment)="onOpenConfirmModal($event)"
                                                   [showModal]="(showAssignmentDetailsModal$ | async)!">
          </metutors-tutor-assignment-details-modal>

          <metutors-tutor-view-submitted-assignment-modal *ngIf="showViewStudentAssignmentModal$ | async"
                                                          (closeModal)="onCloseTutorViewStudentAssignmentModal()"
                                                          [showModal]="(showViewStudentAssignmentModal$ | async)!">
          </metutors-tutor-view-submitted-assignment-modal>

          <metutors-tutor-accept-reject-assignment-modal *ngIf="showAcceptRejectAssignmentModal$ | async"
                                                         (closeModal)="onCloseAcceptRejectAssignmentModal()"
                                                         [showModal]="(showAcceptRejectAssignmentModal$ | async)!">
          </metutors-tutor-accept-reject-assignment-modal>

        </ng-container>
      </ng-container>
    </ng-container>
  </div>

</div>
