<ng-container *ngLet="(loadingCourses$ | async) as loadingCourses">
  <ng-container *ngLet="(selectedProgram$ | async) as selectedProgram">
    <metutors-explore-heading [loading]="loadingCourses"
                              [name]="selectedProgram?.name || 'EXPLORE_PROGRAMS_COURSES'"
                              [title]="selectedProgram?.title"
                              [description]="selectedProgram?.description"
                              [image]="selectedProgram?.image || 'assets/png/exhausted.png'"
                              [placeholderText]="'SEARCH_BY_COURSE_NAME'"
                              [btnText]="'FIND_COURSES'"
                              [searchText]="title"
                              (filter)="title = $event; onFilterCourses()">
    </metutors-explore-heading>
  </ng-container>

  <div class="container all-courses mt-5">
    <div class="row">
      <div class="col-md-7">
        <h1 class="f-size-20-md-sm heading">{{ 'ALL_AVAILABLE_COURSES' | translate }}</h1>
      </div>
      <div class="col-md-5">
        <a mat-button class="main-button-transparent float-end request-course" (click)="onOpenRequestCourseModal()">
          {{ 'REQUEST_NEW_COURSE' | translate }}
        </a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <metutors-select-program-category [countries]="(countries$ | async)!"
                                          [loadingCountries]="(loadingCountries$ | async)!"
                                          [programs]="(programs$ | async)!"
                                          [selectedProgram]="program"
                                          [loadingPrograms]="(loadingPrograms$ | async)!"
                                          (changeProgram)="onChangeProgram($event)">
        </metutors-select-program-category>
      </div>
    </div>

    <div class="mt-4 fields-list" *ngIf="fields && fields.length">
      <mat-chip-list>
        <mat-chip *ngFor="let field of fields; let i = index">
          <div class="d-flex align-items-center justify-content-center">
            {{ getFieldObject((fields$ | async)!, field)?.name }}
            <mat-icon (click)="removeField(field)" class="ms-2 cursor-pointer">cancel</mat-icon>
          </div>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="row mt-4" *ngLet="(courses$ | async)! as courses">
      <div class="col-md-3 filters" *ngLet="(range$ | async)! as range">
        <div class="d-flex align-items-center cursor-pointer title justify-content-between"
          [class.open]="openFilter" (click)="openFilter = !openFilter">
          <h3 class="m-0">{{ 'CHOOSE_FIELD_STUDY' | translate }}</h3>
          <button mat-button *ngIf="!openFilter">
            <mat-icon>expand_more</mat-icon>
          </button>
          <button mat-button *ngIf="openFilter">
            <mat-icon>expand_less</mat-icon>
          </button>
        </div>
        <div class="content" *ngIf="openFilter" [@slideInOut]>
          <div class="d-block mb-2" *ngFor="let field of (fields$ | async)!">
            <mat-checkbox (change)="onChangeField($event, field.id)" [value]="field.id.toString()"
                          [checked]="fields.includes(field.id)">
              {{ field?.name }}
            </mat-checkbox>
          </div>
        </div>

        <div class="d-flex align-items-center cursor-pointer title justify-content-between"
          [class.open]="openPriceFilter" (click)="openPriceFilter = !openPriceFilter"
          *ngIf="range?.min !== range?.max">
          <h3 class="m-0">{{ 'SELECT_PRICE_RANGE' | translate }}</h3>
          <button mat-button *ngIf="!openPriceFilter">
            <mat-icon>expand_more</mat-icon>
          </button>
          <button mat-button *ngIf="openPriceFilter">
            <mat-icon>expand_less</mat-icon>
          </button>
        </div>
        <div class="content" *ngIf="openPriceFilter" [@slideInOut]>
          <div class="d-block">
            <ngx-slider [value]="range?.min" [highValue]="range?.max"
              [options]="{floor: range?.min, ceil: range?.max}" (userChangeEnd)="onChangeValue($event)"></ngx-slider>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <ng-container *ngIf="!loadingCourses">
          <ng-container *ngIf="courses && courses.length">
            <metutors-course-card *ngFor="let course of courses" [course]="course">
            </metutors-course-card>
  
            <pagination [totalItems]="(count$ | async)!" [itemsPerPage]="perPage" [maxSize]="5"
                        [boundaryLinks]="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                        (pageChanged)="onPageChange($event)" 
                        *ngIf="+(count$ | async)! > perPage">
            </pagination>
          </ng-container>
  
          <div class="card no-data" *ngIf="!courses || !courses.length">
            <div class="card-body">
              <img src="assets/svg/sad.svg" draggable="false" alt="">
              <h2 class="mt-4">{{ 'NO_DATA_FOUND' | translate }}</h2>
            </div>
          </div>
        </ng-container>
  
        <ng-container *ngIf="loadingCourses">
          <metutors-card-placeholder *ngFor="let _ of [1, 2, 3]"></metutors-card-placeholder>
        </ng-container>
      </div>
    </div>
  </div>

  <metutors-academic-learning-environment (requestCourse)="onOpenRequestCourseModal()">
  </metutors-academic-learning-environment>
</ng-container>

<metutors-request-new-course-modal *ngIf="showRequestCourseModal$ | async"
                                   (closeModal)="onCloseRequestCourseModal()"
                                   (submitForm)="requestCourse($event)"
                                   [programs]="(programs$ | async)!"
                                   [countries]="(countries$ | async)!"
                                   [languages]="(languages$ | async)!"
                                   [isSubmitting]="(isRequestCourse$ | async)!"
                                   [showModal]="(showRequestCourseModal$ | async)!">
</metutors-request-new-course-modal>
