<div class="py-5 security-settings p-15-sm mt-15-sm">
  <div class="row h-100">
    <div class="col-md-12 align-items-center">
      <form [formGroup]="form" class="w-100" (ngSubmit)="onSubmit(form)">
        <div>
          <div class="form-group">
            <div class="col-xl-6 position-relative">
              <label for="oldPassword">{{ 'CURRENT_PASSWORD' | translate }}</label>
              <input [type]="!currentPasswordVisibility ? 'password' : 'text'" class="custom-input w-100 input-bordered"
                     id="oldPassword"
                     placeholder="{{ 'TYPE_CURRENT_PASSWORD' | translate }}" formControlName="oldPassword">
              <mat-icon matSuffix class="position-absolute password-visibility"
                        (click)="currentPasswordVisibility = !currentPasswordVisibility">{{ !currentPasswordVisibility ? 'visibility_off' : 'visibility' }}</mat-icon>
              <span class="text-danger" *ngIf="oldPassword?.invalid && oldPassword?.touched">
                {{ 'PASSWORD_ERROR_CHARACTERS' | translate }}
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xl-6 position-relative">
              <label for="password">{{ 'NEW_PASSWORD' | translate }}</label>
              <input [type]="!newPasswordVisibility ? 'password' : 'text'" class="custom-input w-100 input-bordered"
                     id="password"
                     placeholder="{{ 'TYPE_NEW_PASSWORD' | translate }}" formControlName="password">
              <mat-icon matSuffix class="position-absolute password-visibility"
                        (click)="newPasswordVisibility = !newPasswordVisibility">{{ !newPasswordVisibility ? 'visibility_off' : 'visibility' }}</mat-icon>
              <span class="text-danger" *ngIf="password?.invalid && password?.touched">
                {{ 'PASSWORD_ERROR_CHARACTERS' | translate }}
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xl-6 position-relative">
              <label for="confirmPassword">{{ 'REPEAT_NEW_PASSWORD' | translate }}</label>
              <input [type]="!repeatPasswordVisibility ? 'password' : 'text'" class="custom-input w-100 input-bordered"
                     id="confirmPassword"
                     placeholder="{{ 'CONFIRM_NEW_PASSWORD' | translate }}" formControlName="confirmPassword">
              <mat-icon matSuffix class="position-absolute password-visibility"
                        (click)="repeatPasswordVisibility = !repeatPasswordVisibility">{{ !repeatPasswordVisibility ? 'visibility_off' : 'visibility' }}</mat-icon>
              <div class="text-danger" *ngIf="form?.hasError('passwordMismatch')">
                {{ 'PASSWORDS_DONT_MATCH' | translate }}
              </div>
            </div>
          </div>

          <div class="row btn-list mt-5">
            <div class="col-12 d-flex justify-content-end">
              <metutors-submit-button [form]="form" [isSubmitting]="isChanging">
                {{ 'CHANGE_PASSWORD' | translate }}
              </metutors-submit-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
