<div class="featured-tutors" id="featured-tutors" style="background-image: url(assets/homepage/stars_bg.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="f-size-25-md-sm">
          Expert Tutors At Your Fingertips
        </h1>
      </div>
      <div class="col-md-5">
        <a mat-button class="main-button-transparent float-end">
          Hire Tutor
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.172 10.9999H4V12.9999H16.172L10.808 18.3639L12.222 19.7779L20 11.9999L12.222 4.22192L10.808 5.63592L16.172 10.9999Z"
              fill="#3BB3C1" />
          </svg>
        </a>
      </div>

      <div class="col-12">
        <p class="f-size-18-md-sm">
          Our top-rated tutors have been carefully selected to ensure our students work with educators who are passionate and highly knowledgeable in their subject area. Our tutors follow a step-by-step approach to teach concepts easily and quickly. We use AI based algorithms to perfectly match each tutor with each student’s needs.
        </p>
      </div>

      <div class="col-12 mt-4" *ngIf="!isLoading">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let teacher of teachers; let i = index">
            <div class="row card-item">
              <div class="col-4">
                <div class="position-relative img-avatar">
                  <img [src]="teacher?.avatar" meTutorsDefaultAvatar alt="" width="90px" height="90px">
                  <!-- <svg class="position-absolute status" width="16" height="16" [ngClass]="{
                    'is-online': teacher?.status === tutorStatus.online, 
                    'is-busy': teacher?.status === tutorStatus.busy, 
                    'is-offline': teacher?.status === tutorStatus.offline, 
                    'is-away': teacher?.status === tutorStatus.away
                  }" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="7" fill="#949494" stroke="white" stroke-width="2" />
                  </svg> -->
                </div>
              </div>
              <div class="col-8">
                <h2>
                  <a [routerLink]="'/profile/tutor/' + teacher?.id">{{ teacher?.name }}</a>
                  <!-- <span class="text-uppercase pro">Pro</span> -->
                  <!-- <span class="text-uppercase verified">Verified</span> -->
                </h2>
                <h3 *ngIf="teacher?.roleName">{{ teacher?.roleName }}</h3>
                <div>
                  <rating [ngModel]="teacher?.averageRating" [max]="5" [readonly]="true"></rating>
                  <span class="count">{{ teacher?.averageRating }}</span>
                  <span class="review" *ngIf="teacher?.totalFeedbacks">({{ teacher?.totalFeedbacks }} reviews)</span>
                </div>
              </div>

              <div class="col-12 list">
                <div class="row">
                  <div class="col-6 d-flex" *ngIf="teacher?.country">
                    <img src="assets/svg/map.svg" class="icon" draggable="false" width="16" height="16" alt="">
                    <span>
                      From {{ teacher?.country }}
                    </span>
                  </div>
                  <div class="col-6 d-flex" *ngIf="teacher?.studentsTeaching">
                    <img src="assets/svg/classes.svg" class="icon" draggable="false" width="16" height="16" alt="">
                    <span>
                      Taught {{ teacher?.studentsTeaching }} students
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-12" *ngIf="teacher?.bio">
                <p class="bio f-size-18-md-sm">
                  Bio:
                  {{ (teacher.bio && teacher.bio.length > 100) ? ((teacher?.bio | slice:0:100) + '...') : teacher?.bio }}
                </p>
              </div>

              <div class="col-12 specialization" *ngIf="teacher?.programs && teacher?.programs?.length">
                <h2>Specialization:</h2>
                <div class="programs">
                  <button mat-button class="main-button-transparent me-2" *ngFor="let program of teacher?.programs">
                    {{ program?.code }}
                  </button>
                </div>
                <span *ngFor="let subject of teacher?.subjects">{{ subject?.name }}</span>
              </div>

              <div class="col-12 d-flex actions">
                <button mat-flat-button color="primary" class="flex-grow-1 book">
                  Contact Tutor
                </button>
                <button mat-button class="more">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>

      <ng-container *ngIf="isLoading">
        <div class="col-md-4" *ngFor="let _ of [1, 2, 3]">
          <div class="card">
            <div class="card-body">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
                <div class="ph-col-4 big empty"></div>
                <div class="ph-col-10 big mt-3"></div>
                <div class="ph-col-2 big empty mt-3"></div>
                <div class="ph-col-6 mt-4"></div>
                <div class="ph-col-6 mt-4 empty"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
