<div class="d-flex min-h-100">
  <div class="sidemenu">
<!--    <div class="heading">
      <h1>First Code</h1>
      <button mat-button>British</button>
    </div>-->

    <ul class="list-unstyled m-0" *ngLet="(routeParams$ | async) as params">
      <li>
        <a [routerLink]="'/tutor/classrooms/classes/syllabus/'+ params?.id" routerLinkActive="active">
          <span class="text-uppercase">Syllabus</span>
        </a>
      </li>
      <li>
        <a [routerLink]="'/tutor/classrooms/classes/resources/'+params?.id" routerLinkActive="active">
          <span class="text-uppercase">Resources</span>
        </a>
      </li>
      <li>
        <a [routerLink]="'/tutor/classrooms/classes/dashboard/'+params?.id" routerLinkActive="active">
          <span class="text-uppercase">Classes Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/tutor/support-ticket" routerLinkActive="active">
          <span class="text-uppercase">Support ticket</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="flex-grow-1 overflow-auto">
    <metutors-tutor-navbar [user]="user$ | async"></metutors-tutor-navbar>

    <router-outlet></router-outlet>
  </div>
</div>
