<div class="d-flex min-h-100">
  <div class="sidemenu">
<!--    <div class="heading">
      <h1>First Code</h1>
      <button mat-button>British</button>
    </div>-->

    <ul class="list-unstyled m-0">
      <li>
        <a routerLink="/tutor/classrooms/classes/14/syllabus" routerLinkActive="active">
          <span class="text-uppercase">Syllabus</span>
        </a>
      </li>
      <li>
        <a routerLink="/tutor/classrooms/classes/14/resources" routerLinkActive="active">
          <span class="text-uppercase">Resources</span>
        </a>
      </li>
      <li>
        <a routerLink="/tutor/classrooms/classes" routerLinkActive="active">
          <span class="text-uppercase">Classes Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/tutor/support-ticket" routerLinkActive="active">
          <span class="text-uppercase">Support ticket</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="flex-grow-1 overflow-auto">
    <metutors-tutor-navbar [user]="user$ | async"></metutors-tutor-navbar>

    <router-outlet></router-outlet>
  </div>
</div>
