<div class="avatar d-flex align-items-center" *ngIf="type === 'small'">
  <img [src]="avatar" [width]="width" [height]="height"
       class="rounded-circle p-0 me-2" [ngClass]="{'-mt-22': tagLine}"
       draggable="false"
       meTutorsDefaultAvatar alt="">
  <span>
    <a [routerLink]="routerLink" *ngIf="routerLink" class="fw-bold"><bdi *ngIf="name">{{ name }}</bdi></a>
    <bdi *ngIf="name && !routerLink" class="title" [ngClass]="{'fw-bold': tagLine}">{{ name }}</bdi>
    <span *ngIf="showRating" class="rating"><rating [ngModel]="rating" [max]="1" [readonly]="true" class="ms-1"></rating> {{rating}}/5</span>
    <p *ngIf="tagLine" class="text-truncate w-50">{{tagLine}}</p>
  </span>
</div>

<div class="avatar d-flex align-items-center" *ngIf="type==='medium'">
  <img [src]="avatar" [width]="width" [height]="height" meTutorsDefaultAvatar alt="" class="rounded-circle">
  <div class="ms-2">
    <h1 class="mb-0">{{ name }}</h1>
    <div *ngIf="rating">
      <rating [ngModel]="rating" [max]="5" [readonly]="true"></rating>
      <span class="ms-2 rating">{{ rating.toFixed(2) }}</span>
      <span class="ms-2 count">({{ count || 0 }} {{ +(count)! > 1 ? ('REVIEWS_SM' | translate) : ('REVIEW_SM' | translate) }})</span>
    </div>
  </div>
</div>
