<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()"
                [heading]="(params$ | async)?.heading"
                [template]="template">
  <ng-template #template>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row accept-reject-modal">
        <div class="col-12">
          <div class="classroom-item">
            <div class="row">
              <div class="mb-3">
                <textarea class="form-control custom-input input-bordered" id="review" rows="6"
                          formControlName="review"></textarea>
              </div>
              <div class="col-auto col-10 align-middle">
                <label for="rating" class="form-label fw-bold">Rating</label>
                <div class="col-md-10 d-flex ">
                  <mat-slider thumbLabel id="rating" min="0" [max]="10" class="w-100 -mt-16"
                              [value]="rating?.value ? rating?.value : 0"
                              (change)="onRatingSelect($event)"></mat-slider>
                  <span class="total-rating col-md-2">10 Total</span>
                </div>
              </div>

              <div class="form-group">
                <label class="fw-bold">File</label>
                <div class="d-flex flex-column">
                  <div>
                    <button mat-button type="button" class="main-button mb-4" (click)="filePicker.click()">
                      <img src="assets/svg/upload-solid.svg" width="15" height="15" alt=""/>
                      {{ 'UPLOAD' | translate }}
                    </button>
                  </div>
                  <input type="file" hidden #filePicker (change)="onFileChange($event)">
                </div>

                <ng-container *ngLet="fileUploadProgress$ | async as fileUploadProgress">
                  <ng-container *ngIf="fileUploadProgress?.length">
                    <ng-container *ngFor="let uploadProgress of fileUploadProgress">
                      <ng-container *ngIf="uploadProgress.responseType !== uploadComplete">
                        <metutors-file-upload-progress [fileName]="uploadProgress.fileName"
                                                       [uploadedPercentage]="uploadProgress.progress">
                        </metutors-file-upload-progress>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <div class="form-group" *ngIf="(uploadedFiles$ | async)?.length">
                  <metutors-uploaded-files [files]="(uploadedFiles$ | async)" [showDownloadFile]="false"
                                           [showDeleteFile]="true" [extraClasses]="'col-md-8'"
                                           (deleteFile)="removeFile($event)">
                  </metutors-uploaded-files>
                </div>
              </div>

              <div class="mt-3">
                <div class="col-auto col-3 float-end">
                  <metutors-submit-button [form]="form" [isSubmitting]="isSubmitting$ | async"
                                          [isDisabled]="isSubmitting$| async"
                                          [extraClasses]="'w-100 float-end'">
                    Submit
                  </metutors-submit-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</metutors-modal>
