<ng-progress id="myProgress"></ng-progress>

<div class="d-flex flex-column full-height">
  <metutors-navbar *ngIf="layout === undefined || layout.showHeader || layout.showHeader === undefined"
                   [countries]="(countries$ | async)!"
                   [loadingCountries]="(loadingCountries$ | async)!">
  </metutors-navbar>

  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  <metutors-footer *ngIf="layout === undefined || layout.showFooter || layout.showFooter === undefined">
  </metutors-footer>
</div>

<alert-notifications></alert-notifications>
