<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'"
                [heading]="'Previous Teachers'"
                [template]="template"
                [subHeading]="'List of all the previous teachers who who were assigned this course'">
  <ng-template #template>
    <ng-container [ngSwitch]="loading">
      <ng-container *ngSwitchCase="true">
        <metutors-grid-placeholder></metutors-grid-placeholder>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <div *ngIf="!previousTutors?.length" class="fw-bold text-center">No Previous Teachers Found</div>
        <div class="table-responsive" *ngIf="previousTutors?.length">
          <table class="table my-table default-title mb-0">
            <tr>
              <th>Number</th>
              <th>TIN</th>
              <th>BIN</th>
              <th>Teacher Name</th>
            </tr>
            <tr *ngFor="let tutor of previousTutors; let i=index">
              <td>{{ i + 1 }}</td>
              <td>{{ tutor.idNumber }}</td>
              <td>BIN101 </td>
              <td>
                <div class="d-flex align-items-center">
                  <img [src]="imagePath+tutor?.avatar" width="25" height="25" class="rounded-circle p-0 me-2"
                    draggable="false" meTutorsDefaultAvatar alt="">
                  <span>
                    <bdi>{{ tutor.firstName }} {{ tutor.lastName }}</bdi>
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</metutors-modal>
