<metutors-student-success-slide [token]="(token$ | async)!"></metutors-student-success-slide>

<metutors-trust-happy-students></metutors-trust-happy-students>

<metutors-get-your-classes></metutors-get-your-classes>

<div class="container">
  <metutors-learning-made-easy [token]="(token$ | async)!"></metutors-learning-made-easy>
</div>

<metutors-benefits-online-tutoring [token]="(token$ | async)!"></metutors-benefits-online-tutoring>

<metutors-success-stories [testmonials]="testmonials"
                          [title]="'Our students have greater flexibility and freedom in when, where and how they want to learn!'"
                          [desc]="'We helped 1000s of students succeed in learning through quality online education.'">
</metutors-success-stories>

<metutors-start-learning-now [token]="(token$ | async)!"
                             [title]="'Excel in Every Exam With MEtutors'"
                             [desc]="'Browse the collection of LIVE online tutoring courses and start building your knowledge today!'"
                             [btnText]="'Enroll Now!'">
</metutors-start-learning-now>
