<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'xmedium'"
                [heading]="'Leave a feedback'"
                [template]="template" [subHeading]="'Share with us your feedback on your teacher'">
  <ng-template #template>
    <div class="row leave-feedback-modal" *ngLet="(view$ | async) as view">
      <div class="col-12">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Tutor Feedback">
            <ng-container [ngSwitch]="view?.loading">
              <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
              <form [formGroup]="form" (ngSubmit)="onSubmitTutorFeedback(form)"
                    class="rating-block" *ngSwitchCase="false">
                <ng-container formArrayName="feedbacks">
                  <div class="row mt-1" *ngFor="let option of view?.feedbackOptions?.params; let i =index; " [formGroupName]="i">
                    <div class="col">
                      <p>{{ option?.name }}</p>
                    </div>
                    <div class="col-md-2">
                      <rating [max]="5" formControlName="rating"></rating>
                    </div>
                  </div>
                </ng-container>

                <div class="row mt-3">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="message" class="fw-bold">Write a message to your teacher:*</label>
                      <textarea rows="5" class="custom-input w-100 input-bordered" id="message"
                                placeholder="Write a message describing your experience with your teacher"
                                formControlName="review"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 overflow-hidden">
                    <metutors-submit-button [form]="form" [isSubmitting]="submittingFeedback$ | async" [extraClasses]="'float-end py-1 px-5'">
                      Send Feedback
                    </metutors-submit-button>
                  </div>
                </div>
              </form>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </ng-template>
</metutors-modal>
