<div class="confirm-delete">
  <div class="d-flex" mat-dialog-title>
    <h2 class="flex-grow-1 m-0 d-flex flex-column">{{ 'DELETE_CLASSROOM' | translate }}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <p>{{ 'SURE_DELETE_CLASSROOM' | translate }}</p>
  </div>
  <div mat-dialog-actions class="justify-content-center">
    <button mat-button [mat-dialog-close]="data.id" class="btn-confirm" cdkFocusInitial>{{ 'DELETE_CLASSROOM' | translate }}</button>
  </div>
</div>
