<div class="card list-classroom">
  <div class="card-body">
    <div class="row row-block">
      <div class="col-md-3">
        <h2>Classes Schedule</h2>
        <h4>Review and make necessary changes</h4>

        <h5 class="mt-4">Course ID: <span>CID123</span></h5>
        <h5 class="mb-0">Course Name: <span>Calculus</span></h5>
      </div>
      <div class="col-md-9">
        <div class="list-classes">
          <table class="table table-striped table-hover">
            <tr>
              <th>Day</th>
              <th>Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Duration</th>
            </tr>
            <tr *ngFor="let classroom of _classrooms">
              <td>{{ classroom?.date | date: 'EEEE' }}</td>
              <td>{{ classroom?.date | date: 'd MMM y' }}</td>
              <td>{{ classroom?.startTime }}</td>
              <td>{{ classroom?.endTime }}</td>
              <td>{{ classroom?.duration + 'hrs' }}</td>
              <div class="actions">
                <button mat-button class="delete-btn" *ngIf="_classrooms.length > 1"
                  (click)="deleteClassroom(classroom?.number)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-button class="edit-btn" (click)="editClassroom(classroom)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </tr>
          </table>
        </div>

        <div class="est-price mt-4" [@slideInOut] *ngIf="price && hours">
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h5 class="d-flex align-items-center">
                    Estimated Price: <h1 class="mb-0">{{ (price * +hours) | metutorsMoney | async }}</h1>
                  </h5>
                  <p>Price change based on total hours, total classes, time</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h5 class="d-flex align-items-center">
                    Total Hours: <h1 class="mb-0">{{ hours }} hrs</h1>
                  </h5>
                  <p>Hourly Rate: {{ price | metutorsMoney | async }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 overflow-hidden">
        <button mat-flat-button color="primary" class="float-end" type="button"
          (click)="onNext.emit(); loadTutors.emit(_classrooms)">
          Save & Continue
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-button class="float-end back-btn" type="button" (click)="onBack.emit()">
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
      </div>
    </div>
  </div>
</div>
