<div class="support-ticket">
  <div class="row">
    <div class="col-12">
      <h2 class="title">My Tickets</h2>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3>Create new ticket</h3>
          <form class="row" [formGroup]="supportForm" (ngSubmit)="onSubmit(supportForm)">
            <div class="col-md-6">
              <label for="topic">Topic *</label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="category" [placeholder]="'Choose topic'">
                  <mat-option [value]="category?.id" *ngFor="let category of categories$ | async">
                    {{ category?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <label for="priority">Priority *</label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="priority" [placeholder]="'Choose priority'">
                  <mat-option [value]="priority?.id" *ngFor="let priority of priorities$ | async">
                    {{ priority?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-3">
              <label for="subject">Subject *</label>
              <input type="text" id="subject" class="form-control custom-input input-bordered" placeholder="Type subject here"
                formControlName="title">
            </div>
            <div class="col-md-12 mt-4">
              <label for="details">Ticket details *</label>
              <textarea id="details" class="form-control custom-input input-bordered" rows="10" formControlName="message"></textarea>
            </div>

            <div class="col-md-12 mt-4 mb-2">
              <div class="row">
                <p class="col me-5 mb-0">
                  You can include files (documents, screen recordings, screenshots, crash logs, etc.)
                  Please make sure the correct sharing permissions have been set.
                </p>
                <div class="block-file d-flex me-3 align-items-center" *ngIf="filePreview">
                  <mat-icon>attach_file</mat-icon>
                  <div class="ms-2">
                    <h3>{{ filePreview?.name }}</h3>
                    <h5>{{ filePreview?.size }}</h5>
                  </div>
                </div>
                <div class="file-upload d-flex align-items-center col-md-3" (click)="filePicker.click()">
                  <img src="assets/svg/upload.svg" alt="" draggable="false" width="25" height="25">
                  <div>
                    <h2>Attach file</h2>
                    <h3>accept .jpg, .png, .pdf</h3>
                  </div>
                  <input type="file" hidden #filePicker (change)="onFileUpload($event)">
                </div>
              </div>
            </div>

            <div class="col-12 mt-5">
              <metutors-submit-button [form]="supportForm" [isSubmitting]="isCreatingTicket$ | async"
                [extraClasses]="'float-end'">
                Send message
              </metutors-submit-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
