<div class="support-ticket p-15-sm">
  <div class="row">
    <div class="col-12">
      <h2 class="title f-size-18-md-sm mb-0">{{ 'MY_TICKETS' | translate }}</h2>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="f-size-18-md-sm">{{ 'CREATE_NEW_TICKET' | translate }}</h3>
          <form class="row" [formGroup]="supportForm" (ngSubmit)="onSubmit(supportForm)">
            <div class="col-md-6">
              <label for="topic">{{ 'TOPIC' | translate }} *</label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="category" placeholder="{{ 'CHOOSE_TOPIC' | translate }}">
                  <mat-option [value]="category?.id" *ngFor="let category of categories$ | async">
                    {{ category?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <label for="priority">{{ 'PRIORITY' | translate }} *</label>
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="priority" placeholder="{{ 'CHOOSE_PRIORITY' | translate }}">
                  <mat-option [value]="priority?.id" *ngFor="let priority of priorities$ | async">
                    {{ priority?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12 mt-3">
              <label for="subject">{{ 'SUBJECT' | translate }} *</label>
              <input type="text" id="subject" class="form-control custom-input input-bordered" placeholder="{{ 'TYPE_SUBJECT_HERE' | translate }}"
                formControlName="title" meTutorsTrimInput>
            </div>
            <div class="col-md-12 mt-4">
              <label for="details">{{ 'TICKET_DETAILS' | translate }} *</label>
              <textarea id="details" class="form-control custom-input input-bordered" rows="10" formControlName="message" placeholder="{{ 'TYPE_TICKET_DETAILS' | translate }}"></textarea>
            </div>

            <div class="col-md-12 mt-4 mb-2">
              <div class="row">
                <p class="col me-5 mb-0">{{ 'TICKET_FILE_UPLOAD_DESC' | translate }}</p>
                <div class="block-file d-flex me-3 align-items-center" *ngIf="filePreview">
                  <mat-icon>attach_file</mat-icon>
                  <div class="">
                    <h3>{{ filePreview?.name }}</h3>
                    <h5>{{ filePreview?.size }}</h5>
                  </div>
                  <img src="assets/svg/delete.svg" alt="" draggable="false" class="cursor-pointer" (click)="onDeleteFile()"/>
                </div>
                <div class="file-upload d-flex align-items-center col-md-3" (click)="filePicker.click()">
                  <img src="assets/svg/upload.svg" alt="" draggable="false" width="25" height="25">
                  <div>
                    <h2>{{ 'ATTACH_FILE' | translate }}</h2>
                    <h3>{{ 'ACCEPT_FILE_TYPE' | translate }}</h3>
                  </div>
                  <input type="file" hidden #filePicker (change)="onFileUpload($event)">
                </div>
              </div>
            </div>

            <div class="col-12 mt-5">
              <metutors-submit-button [form]="supportForm" [isSubmitting]="isCreatingTicket$ | async"
                [extraClasses]="'float-end'">
                {{ 'SEND_MESSAGE' | translate }}
              </metutors-submit-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
