<div class="student-navbar p-15-sm">
  <div class="d-flex justify-content-between align-items-center flex-column-reverse-sm">
    <h3 class="text-uppercase m-0 d-block-sm text-center w-100-sm mt-15-sm">{{ layout.navbarTitle | translate }}</h3>
    <div class="icons text-end w-100-sm d-block-sm">
      <img src="assets/svg/mail-b.svg" draggable="false" width="25" height="25" alt="">
      <img src="assets/svg/notification.svg" draggable="false" width="25" height="25" alt="">
      <img [src]="user?.avatar" meTutorsDefaultAvatar alt="" class="rounded-circle" draggable="false" width="40"
        height="40">
    </div>
  </div>
</div>
