<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'xmedium'"
                [heading]="'Edit Testimonial'"
                [template]="template" [subHeading]="'You can only authorized to improve the language of the text below:'">
  <ng-template #template>
    <div class="row leave-feedback-modal" *ngLet="(view$ | async) as view">
      <div class="col-12">
        <ng-container [ngSwitch]="view?.loading">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <metutors-send-feedback [feedbackOptions]="view?.feedbackOptions"
                                  [isSubmitting]="(submittingFeedback$ | async)!" [form]="form"
                                  (submitFeedback)="submitFeedback.emit(form)" *ngSwitchCase="false">
          </metutors-send-feedback>
        </ng-container>
      </div>
    </div>
  </ng-template>
</metutors-modal>
