.sidebar-btn {
  padding: 1px 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.55);
  min-width: 0;
  margin: 25px 0 0 5px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 25px;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: #FFF;
}

.sidebar {
  background-color: #131b33;
  width: 340px;
  padding: 20px 0 0;
  overflow: auto;

  &.has-sidemenu {
    width: 80px;

    .hide-sidemenu {
      display: none;
    }

    ul li a,
    .sidebar-logo {
      padding: 15px 10px 25px;
      text-align: center;
    }
  }

  .sidebar-logo {
    width: 100%;
    padding: 15px 40px 35px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(226, 226, 226, 0.16);
    text-align: center;
  }

  ul li {
    a {
      color: #fff;
      width: 100%;
      padding: 15px 40px;
      transition: all 0.25s ease-in-out;

      &.active {
        background-color: #1c2540e0;
        border-left: 7px solid var(--main-color);
      }
    }

    span {
      font-size: 20px;
      margin-left: 10px;
    }

    ul li span {
      font-size: 17px;
    }

    ul {
      padding-left: 70px;

      li a {
        padding: 8px 0;
        color: #c4c3c3;

        &.active {
          background: transparent;
          border: none;
          color: #FFF;
        }
      }
    }
  }

  .help-settings {
    border-top: 1px solid rgba(226, 226, 226, 0.16);
    padding-top: 20px;
  }

  .logout {
    background-color: rgba(226, 226, 226, 0.16);
    padding: 10px;
    font-size: 18px;
    color: #FFF;
    opacity: 0.8;
  }
}

@media(max-width: 992px) {
  .sidebar {
    position: absolute;
    left: -340px;
    top: 0;
    z-index: 999;
    transition: all 0.25s ease-in-out;

    &.open-sidebar {
      left: 0;
    }

    ul li {
      a {
        svg {
          width: 18px;
          height: 18px;
        }
      }

      ul {
        padding-left: 30px;
      }
    }

    .logout {
      mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
      }
    }
  }
}
