<form class="security-settings">
  <div class="row mb-3">
    <div class="col-md-6">
      <h3>Current password</h3>
      <input type="password" class="form-control" placeholder="Type new password">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <h3>New password</h3>
      <input type="password" class="form-control" placeholder="Type new password">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <h3>Repeat new password</h3>
      <input type="password" class="form-control" placeholder="Type new password">
    </div>
  </div>
  <div class="row btn-list mt-5">
    <div class="col-12 d-flex justify-content-end">
      <button mat-flat-button color="primary" type="submit">Update </button>
    </div>
  </div>
</form>
