:host ::ng-deep .security-settings {
  padding: 30px 20px 30px 0;

  h3 {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: bold;
  }

  input {
    color: #7d7d7d;
    font-size: 13px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    height: 45px;
  }

  .btn-list {
    border-top: solid 1px #e2e2e2;
    padding: 20px 0;

    button {
      font-weight: bold;
      padding: 10px 30px;
      font-size: 18px;
    }
  }
}
