<div class="container trust-happy-student">
  <div class="row">
    <div class="col-md-5">
      <h2 [innerHTML]="'TRUST_HAPPY_STUDENT' | translate"></h2>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col">
          <h1>1.5K</h1>
          <div class="heart">
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
          </div>
          <span>{{ 'STUDENTS_ENROLLED' | translate }}</span>
        </div>
        <div class="col">
          <h1>300+</h1>
          <div class="grade">
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
          </div>
          <span>{{ 'EXPERT_TUTORS' | translate }}</span>
        </div>
        <div class="col">
          <h1>5,000</h1>
          <div class="user">
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
          </div>
          <span>{{ 'HOURS_TAUGHT' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
