<div class="container trust-happy-student">
  <div class="row">
    <div class="col-md-5">
      <h2>
        Trusted by 35,000 happy
        Students till 2020.
      </h2>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col">
          <h1>10k</h1>
          <div class="heart">
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
          </div>
          <span>Active Students</span>
        </div>
        <div class="col">
          <h1>4.7</h1>
          <div class="grade">
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
          </div>
          <span>1,938 Feedback</span>
        </div>
        <div class="col">
          <h1>4.5K</h1>
          <div class="user">
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
          </div>
          <span>Certified tutors</span>
        </div>
      </div>
    </div>
  </div>
</div>
