.trust-happy-student {
  padding: 80px 0;

  h2 {
    color: #1d293f;
    font-size: 40px;
  }

  h1 {
    font-size: 50px;
    color: #1d293f;
    font-weight: bold;
    margin-bottom: 10px;
    height: 60px;
  }

  .heart {
    mat-icon {
      color: #ff523d;
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }

  .grade {
    mat-icon {
      color: #f5a623;
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }

  .user {
    img {
      width: 20px;
      height: 20px;
    }
  }

  span {
    color: #2a2a2a;
    font-size: 17px;
  }
}

@media (max-width:992px) {
  .trust-happy-student {
    padding: 30px 15px;

    h2 {
      font-size: 20px;
    }

    h1 {
      font-size: 25px;
      height: 30px;
    }

    span {
      font-size: 15px;
    }
  }
}
