<div class="container trust-happy-student">
  <div class="row">
    <div class="col-md-5">
      <h2>
        Changing the lives of <br> students worldwide <br> every day
      </h2>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col">
          <h1>10k</h1>
          <div class="heart">
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
            <mat-icon>favorite</mat-icon>
          </div>
          <span>Students enrolled</span>
        </div>
        <div class="col">
          <h1>3K</h1>
          <div class="grade">
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
          </div>
          <span>Certified tutors</span>
        </div>
        <div class="col">
          <h1>500+</h1>
          <div class="user">
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
            <img src="assets/svg/user.svg" alt />
          </div>
          <span>Courses available</span>
        </div>
      </div>
    </div>
  </div>
</div>
