<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'xmedium'"
                [heading]="heading"
                [template]="template" [subHeading]="subHeading">
  <ng-template #template>
    <ng-container [ngSwitch]="loading">
      <ng-container *ngSwitchCase="true">
        <metutors-grid-placeholder></metutors-grid-placeholder>
      </ng-container>

      <ng-container *ngSwitchCase="false">
        <div class="text-center p-xxl-5" *ngIf="!feedbacks?.feedback?.length">
          No feedbacks found!
        </div>

        <div class="view-feedback" *ngIf="feedbacks?.feedback?.length">
          <h1>Course Feedback</h1>
          <div class="rating-block">
            <ng-container *ngFor="let feedback of feedbacks.feedback">
            <div class="row">
              <div class="col">
                <h2>{{ feedback.name }}</h2>
              </div>
              <div class="col-md-3">
                <rating [ngModel]="feedback.rating" [max]="5" [readonly]="true"></rating>
              </div>
            </div>
            </ng-container>
          </div>

          <h2>Feedback</h2>
          <p>{{ feedbacks?.review }}</p>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</metutors-modal>

