.students-list {
  padding: 30px 40px 20px;

  .filters {
    mat-icon {
      position: absolute;
      left: 15px;
      top: 11px;

      &.filter {
        left: auto;
        right: 15px;
      }
    }

    .search-request {
      padding-left: 45px;
    }
  }

  .my-table {
    overflow: visible;

    th {
      color: #696969;
      font-size: 14px;
    }

    .change-status {
      .status {
        color: #FFF;
        line-height: 0;
        min-width: 0;
        padding: 15px;
        border-radius: 25px;

        &.active {
          background-color: #50C394;
        }

        &.pending {
          background-color: var(--main-color);
        }

        &.deactive {
          background-color: #FF8300;
        }
      }

      .statues {
        border-radius: 5px;
        overflow: hidden;

        li {
          padding: 5px 10px;
          color: #FFF;
          margin: 5px;
          border-radius: 5px;

          &.response {
            background-color: #ff8300;
          }

          &.closed {
            background-color: #50C394;
          }

          &.issued {
            background-color: var(--main-color);
          }
        }
      }
    }
  }
}

.btn-menu {
  font-size: 17px;
}
