<metutors-terms-header [title]="'TUTOR_BR_TERMS'"
                       [description]="'TUTOR_TERMS_DESC'">
</metutors-terms-header>

<div class="container tutor-terms mt-5">
  <div class="row">
    <div class="col-md-9">
      <h1 class="title">{{ 'TUTOR_TERMS' | translate }}</h1>
      <p class="details">
        MEtutors is an online tutoring platform and service that allows teachers to connect with thousands of students
        to support their learning needs. The Tutor Terms below set out what we ask of our tutors when using the
        platform.
      </p>

      <div class="card question" *ngFor="let question of questions">
        <div class="card-body">
          <div class="d-flex">
            <h1 class="flex-grow-1 m-0 f-size-25-md-sm"
              [class.main-color]="openQuestion && selectedQuestion === question.id">
              <bdi>{{ question?.title }}</bdi>
            </h1>
            <button mat-button *ngIf="selectedQuestion !== question.id" (click)="changeOpenSelection(question.id)">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-button class="main-color" *ngIf="openQuestion && selectedQuestion === question.id"
              (click)="changeOpenSelection(question.id)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <p class="desc" *ngIf="openQuestion && selectedQuestion === question.id" [@slideInOut]>
            <bdi [innerHTML]="question?.answer"></bdi>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <metutors-terms-sidebar [active]="'TUTOR_TERMS'"></metutors-terms-sidebar>
    </div>
  </div>
</div>

<!-- <div class="terms-condition">
  <div class="heading">
    <h1 class="f-size-20-md-sm">TUTORS TERMS & CONDITIONS</h1>
  </div>

  <div class="container my-4">
    <div class="card">
      <div class="card-body">
        <p>
          Through online tutoring services (“Services”), MEtutors.com (“Site”), and its software (“Software”) as defined
          below, enables users to connect with independent contractors (“Tutors”) who provide live, one-to-one or
          one-to-group instruction, tutoring and learning services in our proprietary online classrooms (“Tutoring
          Sessions”).
          <br>
          1. The Services include, without limitation, keeping track of users' favorite Tutors, smart-matching users
          with the best available Tutors, facilitating and hosting Tutoring Sessions, and taking feedback from users.
          <br>
          2. As part of the Services, the Site requires all Tutors to pass a third-party verification service
          ("Verification Service"), which makes reasonable commercial efforts to confirm the validity of Tutors' claimed
          educational credentials and clear criminal record. The Site does not control, and is not responsible for, the
          Verification Service or any information provided by such Verification Service. Furthermore, the Site does not
          endorse or make any representations or warranties regarding the reliability of the Verification Service or
          Tutors.
          <br>
          3. Tutors are solely responsible for all service, communications, telephony and/or other fees and costs
          associated with their access to and use of the Services and for obtaining and maintaining all telephone,
          computer hardware and other equipment required for such access and use.
          <br>
          4. As an online service, the Site may periodically be unavailable as we perform regular maintenance and
          upgrades scheduled approximately during the following times: Saturday from 01:00 a.m. to 04:00 a.m. (+3 GTM).
          This scheduled time may change without notice.
          <br>
          5. To be able to work with MEtutors as a Tutor, individuals need to apply for and obtain an account, username
          and password. Upon registering, the information such individuals provide to the Site during the registration
          process will help in providing a fair offer to the Tutors.
          <br>
          6. (a) Tutors are solely responsible for maintaining the confidentiality of their account(s), username(s) and
          password(s) and for all activities and liabilities associated with or occurring under their account(s),
          username(s) and password(s).
          <br>
          6. (b) Tutors must notify the Site immediately of any unauthorized use of their account(s), username(s) or
          password(s) and any other breach of security, and ensure that they exit from their account(s) at the end of
          each session.
          <br>
          6. (c) The Site cannot and will not be responsible for any loss or damage arising from Tutors’ failure to
          comply with this requirement or as a result of misuse of their account(s), username(s) or password(s), either
          with or without their knowledge. However, Tutors can be held liable for losses incurred by the Site or another
          party due to someone else using their account(s), username(s) or password(s).
          <br>
          6. (d) Tutors may not transfer their account(s), username(s) or password(s) to another person, and may not use
          anyone else's account(s), username(s) or password(s) at any time without the permission of the account holder.
          <br>
          7. In consideration of Tutors’ use of the Services, you agree to:
          <br>
          (a)
          provide true, accurate, current and complete information about yourself as prompted by the Service's
          registration form (such information being "Your Data");
          <br>
          (b) maintain and promptly update Your Data to keep it true, accurate, current and complete; and
          <br>
          (c) comply with these Terms.
          <br>
          8. If Tutors provide any information that is untrue, inaccurate, not current or incomplete, or if the Site
          believes that such information is untrue, inaccurate, not current or incomplete, the Site reserves the right
          to suspend or terminate their account(s) and refuse to work with them in the future.
          <br>
          9. Tutors agree not to use the Site, the Services or the Company Content (as defined below) to recruit,
          solicit, or contact in any form Tutors or potential Consumers for employment or contracting for a business not
          affiliated with the Site without advance written permission.
        </p>

        <h2 class="mt-5">COPYRIGHT</h2>
        <p>
          1. You acknowledge that the Software, the technology underlying the Services, and all other software, designs,
          materials, information, communications, text, graphics, links, electronic art, animations, illustrations,
          artwork, audio clips, video clips, photos, images, and other data or copyrightable materials, including the
          selection and arrangements thereof, provided or made available to you in connection with the Site, the
          Software or the Services (collectively, the "Company Content") are the proprietary works of the Site and/or
          our affiliates and/or third party providers and suppliers (Third Parties) and are protected, without
          limitation, pursuant to copyrights laws of the United States of America.
          <br>
          2. Except as expressly authorized by the Site or in these Terms, you may not copy, reproduce, publish,
          perform, distribute, disseminate, broadcast, circulate, modify, create derivative works of, rent, lease, sell,
          assign, sublicense, otherwise transfer, display, transmit, compile or collect in a database, or in any manner
          commercially exploit the Site, Company Content or the Services, in whole or in part.
          <br>
          3. You will not, in any manner, without our prior written approval, decompile, disassemble, reverse engineer,
          reverse assemble or otherwise attempt to discover any source code of, the Software or any other Company
          Content, the Site or the Services.
          <br>
          4. You may not store any significant portion of any Company Content or the Services in any form, whether
          archival files, computer-readable files or any other medium.
          <br>
          5. You may not "mirror" any Company Content or the Services on any server. Any unauthorized or prohibited use
          of the Software, other Company Content, the Site or the Services may subject the offender to civil liability
          and criminal prosecution under applicable laws.
          <br>
          6. You may download and print a reasonable number of copies of documentation provided or available in
          connection with the Company Content for noncommercial personal or educational use only and we grant you a
          limited, non-perpetual, revocable, nontransferable, non-assignable, non-exclusive, royalty-free license to
          access and utilize the Services, the Software and the other Company Content for noncommercial personal or
          educational purposes while these Terms are in full force and effect; provided that:
          <br>
          (i) any permitted copies of documentation provided or available in connection with the Company Content
          contain, in an unmodified form,
          <br>
          <span class="margin-20 d-inline-block">
            (a)
            all language designations contained in the materials originally provided to you by us indicating the
            confidential nature thereof, and
            <br>
            (b) all copyright or other proprietary rights notices contained in the materials originally provided to you
            by us and an original source attribution to us and/or the applicable third parties; and
          </span>
          <br>
          (ii) you will not modify of any of the Company Content except as approved by us in advance in writing.
          <br>
          7. You acknowledge that we and/or Third Parties, as applicable, hold all right, title and interest in and to
          all tangible and intangible aspects of the Company Content, the Site and the Services, including without
          limitation, all patents, copyrights, trademarks and trade secrets pertaining thereto, and that, except for the
          limited rights set forth above, you do not acquire any intellectual property right or license in any of the
          foregoing by downloading or printing the Company Content or otherwise, including without limitation, by
          accessing or using the Site, the Company Content or the Services. The rights granted to you herein are
          revocable by us in accordance with these Terms.
          <br>
          8. You acknowledge and agree that the Service and any necessary software used in connection with the Service
          ("Software") contain proprietary and confidential information that is protected by applicable intellectual
          property and other laws. You further acknowledge and agree that
          <br>
          (i) Company Content contained in sponsor advertisements or information presented to you through the Service or
          advertisers, and
          <br>
          (ii) the videos generated during Tutoring Sessions, is protected by copyrights, trademarks, service marks,
          patents or other proprietary rights and laws. Except as expressly authorized by the Site or advertisers, you
          agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Service or
          the Software, in whole or in part. Additionally, you understand that you may have to agree to additional terms
          and conditions before you use such Software or third-party content.
        </p>

        <h2 class="mt-5">CONFIDENTIAL INFORMATION</h2>
        <p>
          1. You agree to safeguard the Company Content and the Services (collectively, “Proprietary Information”) and
          to prevent the unauthorized, negligent or inadvertent use or disclosure thereof.
          <br>
          2. You will not, without our prior written approval, directly or indirectly, use or disclose the Proprietary
          Information to any person or business entity except for a limited number of your employees who are on a
          need-to-know basis and who agree in writing to be bound by the restrictions on use and disclosure set forth in
          these Terms or restrictions no less restrictive than these Terms.
          <br>
          3. You agree to promptly notify us in writing of any use or disclosure of Proprietary Information in violation
          of these Terms and further acknowledge that the use or disclosure of the Proprietary Information in any manner
          inconsistent with these Terms will cause us irreparable damage and that we will have the right to
          <br>
          (i) equitable and injunctive relief to prevent such prohibited use or disclosure, and
          <br>
          (ii) recover the amount of all damages (including attorneys fees and expenses) in connection with such
          prohibited use or disclosure.
        </p>

        <div class="mt-5 margin-50">
          <h2>INDEMNIFICATION</h2>
          <p>
            You agree to indemnify, defend and hold harmless us, and our affiliates, officers, directors, agents,
            partners, employees, licensors, representatives and third party providers (including our affiliates'
            respective officers, directors, agents, partners, employees, licensors, representatives, and third party
            providers), from and against all losses, expenses, damages, costs, claims and demands, including reasonable
            attorney's fees and related costs and expenses, due to or arising out of any content you submit, post to,
            email, or otherwise transmit to us or through the Services, your use of the Services, the Company Content or
            any portion thereof, your connection to the Services, or your breach of these Terms. We reserve the right,
            at our own expense, to assume the exclusive defense and control of any matter otherwise subject to
            indemnification by you, and in such case, you agree to fully cooperate with such defense and in asserting
            any available defenses.
          </p>

          <h2 class="mt-4">TRADEMARK NOTICE</h2>
          <p>
            The trademarks, service marks, and logos (the "Trademarks") used and displayed on the Site or in any Company
            Content are registered and unregistered Trademarks of the Site and are protected, without limitation,
            pursuant to trademark laws of the United States of America. Nothing on the Site, the Services or otherwise
            should be construed as granting, by implication, estoppels, or otherwise, any license or right to use any
            Trademark displayed on the Site or in connection with the Services, Company Content or Software, without the
            written permission of the applicable Trademark owner. We aggressively enforce our intellectual property
            rights to the fullest extent of the law. You may not use the Trademarks, either ours or others, in any way
            without the prior written permission of the applicable Trademark owner. We prohibit use of our logo as a
            "hot" link to any other World Wide Web Site unless approved by us in advance in writing.
          </p>

          <h2 class="mt-4">LOCAL LAWS; EXPORT CONTROL</h2>
          <p>
            Recognizing the global nature of the Internet, you agree to comply with all local rules including, without
            limitation, rules about the Internet, data or privacy. Specifically, you agree to comply with all applicable
            laws regarding the transmission of technical data exported from the country in which you reside. In
            addition, if you reside in a country which is prohibited by law, regulation, treaty or administrative act
            from entering into trade relations with the United States of America or its citizens, you may not use this
            Site.
          </p>
        </div>

        <h2 class="mt-5">GENERAL</h2>
        <p>
          1. These Terms and any policies applicable to you posted on the Site constitute the entire agreement between
          the parties with respect to the subject matter hereof, and supersede all previous written or oral agreements
          between the parties with respect to such subject matter. All rights not expressly granted herein are expressly
          reserved.
          <br>
          2. These Terms shall inure to our benefit and to the benefit of our agents, licensors, licensees, successors,
          and assigns. If any provision of these Terms is found to be illegal or unenforceable, these Terms will be
          deemed curtailed to the extent necessary to make the Terms legal and enforceable and will remain, as modified,
          in full force and effect.
          <br>
          3. These Terms and all matters or issues collateral thereto will be governed by, construed and enforced in
          accordance with the laws of the United States of America applicable to contracts executed and performed
          entirely therein (without regard to any principles of conflict of laws), and jurisdiction for any court action
          in the United States of America. Any notice or other communication to be given hereunder will be in writing
          and given by facsimile, postpaid registered or certified mail return receipt requested, or electronic mail.
          <br>
          4. Nothing in these Terms shall be construed as making either party the partner, joint venture, agent, legal
          representative, employer, contractor or employee of the other. Neither party shall have or hold itself out to
          any third party as having, any authority to make any statements, representations or commitments of any kind,
          or to take any action that shall be binding on the other except as provided for herein or authorized in
          writing by the party to be bound.
          <br>
          5. By agreeing to the terms and conditions you are agreeing that we
          may record all or any part of any Tutoring Sessions (including voice
          or written chat communications) for quality control and other
          purposes. We reserve the right to review the Tutoring Sessions for
          any purpose. Notwithstanding anything to the contrary above, you
          agree that the Site owns all transcripts and recordings of Tutoring
          Sessions and all comments that you may provide to us on or through
          the Site, the Services or any other means, such as a part of user
          satisfaction or other similar surveys, and that these Terms shall be
          deemed an irrevocable assignment of all such transcripts and
          comments, each portion thereof and all intellectual property rights therein to us. MEtutors reserves the
          rights to use these recordings as
          they wish.
          <br>
          6. You agree not to download any part of the Tutoring Sessions
          recordings, doing so would be in violation of this contract and may
          lead to termination of contract.
        </p>

        <h2 class="mt-5">BEHAVIOR & CONDUCT</h2>
        <p>
          You are expected to behave in a professional manner (“Professional Conduct”) throughout the duration of
          Tutoring Session and in any other contact with the student(s). Professional Conduct includes the use of polite
          and respectful language with the student(s), calm and clear control of tutoring sessions, timely grading and
          assessment of student assignments, and prompt responses to all emails and other correspondences from students.
          <br>
          Business casual attire is acceptable and allows you to project a professional image while taking advantage of
          more casual and relaxed clothing. Casual dress offers an alternative to the formal business attire of dresses,
          suits, ties, and dress shoes. Examples of appropriate casual dress for men are cotton, wrinkle-free slacks;
          collared shirts; and sweaters with collared shirts underneath. For women, examples are skirts, khaki shirts,
          blouses, sweaters, and knit tops. Unacceptable clothing includes anything denim, t-shirts, and sleeveless
          shirts. If the Tutor has any questions about appropriate dress, he or she should speak with the Site.
          <br>
          Tutors are expected not to interfere or influence Student’s tutors rating submission in anyway, doing so would
          be in violation of this contract and may lead to lower Tutor’s rating and termination of contract.
        </p>

        <h2 class="mt-5">ATTENDANCE</h2>
        <p>
          1. The Tutor is expected to attend all scheduled classes and
          appointments in a timely manner. Canceling classes repeatedly or
          being late or not showing up for any class would be in violation of
          this contract and may lead to lowering the Tutor’s rating, minimize
          securing business and termination of contract.
          <br>
          2. Tutors are expected to attend every class and in case of missing any
          class a make-up classes will be offered to Students.
          <br>
          3. Classes rescheduling is permitted in emergency situations providing
          student’s approval and lead time of more than 48 hours from staring
          class time.
          <br>
          4. Attendance is determined by the Site at the beginning of each class.
          Tutors are encouraged to maintain a perfect attendance record.
        </p>

        <h2 class="mt-5">Suspension or termination of contract</h2>

        <strong>1. Termination by tutor</strong>
        <p class="margin-50"> Tutors must keep their desired availability end date updated to be
          accurate on their tutor profile. Should a tutor wish to terminate the
          contract before this specified date they must contact MEtutors admin
          and give 7 days notice. All classes in the remaining 7 days must be
          completed and no more classes will be assigned. Upon termination, the
          MEtutors account will be closed and tutors will no longer be able to use
          the platform. Failing to notify MEtutors of termination will result in a
          reduction in or no pay in and after the notice period.
        </p>
        <strong>2. Suspension of MEtutors account</strong>
        <p class="margin-50">
          Upon signing up to MEtutors, tutor’s account remains as pending until
          all appropriate documents have been signed and received by MEtutors
          and tutor receives a confirmation of this receipt. Only then will the
          tutor’s account go from ‘pending’ status to ‘active.’ Tutor’s account
          remains as active until agreed contract ends. Tutors may request to
          inactivate their account for a short period of time which they can do by
          emailing admin stating why and for how long they wish to inactivate for.
          Account will then appear as ‘Inactive.’ Suspension of tutor’s account will
          happen automatically if specified availability end date expires.
          Suspension can also happen by MEtutors if terms and conditions or
          anything mentioned in the signed code of conduct document are
          breached. For example, if tutor continuously cancels courses.
        </p>
      </div>
    </div>
  </div>
</div> -->
