<div class="slide" style="background-image: url('assets/homepage/teacher-cover.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          Educate Globally
          <br>
          with Metutors
        </h1>
        <p>MEtutors is a newly formed educational organization.
          The founder and all of MEtutors</p>
        <button mat-flat-button color="primary" routerLink="/signin" *ngIf="!token">Become a Tutor</button>
      </div>
    </div>
  </div>
</div>
