.slide {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0;
  margin: 0;
  background-position: center center;

  h1 {
    color: #2a2a2a;
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
  }

  p {
    font-size: 24px;
    color: #696969;
    margin-top: 30px;
    line-height: 1.42;
  }

  button {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 8px 30px;
  }
}

@media(max-width:767px) {
  .slide {
    h1 {
      font-size: 25px;
    }

    p {
      font-size: 17px;
      margin-top: 10px;
    }

    button {
      font-size: 17px;
    }
  }
}
