<metutors-terms-header [title]="'COMMUNITY_BR_TERMS'"
                       [description]="'COMMUNITY_TERMS_DESC'">
</metutors-terms-header>

<div class="container community-terms mt-5">
  <div class="row">
    <div class="col-md-9">
      <h1 class="title">{{ 'COMMUNITY_TERMS' | translate }}</h1>
      <p class="details">
        These community terms set out the ways in which we expect our students and tutors to use our platform, interact
        with each other and information contained within the platform. These should be read in conjunction with our
        <a routerLink="/student-terms">
          <strong>{{ 'STUDENT_TERMS' | translate }}</strong>
        </a> and
        <a routerLink="/tutor-terms">
          <strong>{{ 'TUTOR_TERMS' | translate }}</strong>
        </a>.
      </p>

      <div class="card question" *ngFor="let question of questions">
        <div class="card-body">
          <div class="d-flex">
            <h1 class="flex-grow-1 m-0 f-size-25-md-sm"
              [class.main-color]="openQuestion && selectedQuestion === question.id">
              <bdi>{{ question?.title }}</bdi>
            </h1>
            <button mat-button *ngIf="selectedQuestion !== question.id" (click)="changeOpenSelection(question.id)">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-button class="main-color" *ngIf="openQuestion && selectedQuestion === question.id"
              (click)="changeOpenSelection(question.id)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <p class="desc" *ngIf="openQuestion && selectedQuestion === question.id" [@slideInOut]>
            <bdi>{{ question?.answer }}</bdi>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <metutors-terms-sidebar [active]="'COMMUNITY_TERMS'"></metutors-terms-sidebar>
    </div>
  </div>
</div>