<div class="row faq-topics">
  <div class="col-md-12 text-center">
    <h1>Select From our topic</h1>
  </div>

  <div class="col-12">
    <div class="row">
      <ng-container [ngSwitch]="isLoading">
        <ng-container *ngSwitchCase="true">
          <div class="col item" *ngFor="let _ of [1,2,3,4]">
            <div class="ph-col-3">
              <div class="ph-avatar rounded"></div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="false">
          <div class="col item" *ngFor="let topic of topics">
            <a routerLink="/faq/{{ topic?.id }}" class="card text-center h-100">
              <div class="card-body">
                <h4 class="mb-0">{{ topic?.name }}</h4>
              </div>
            </a>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
