<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'" [heading]="'Add Resources'"
                [template]="template" >
  <ng-template #template>
    <form class="row add-class-modal" [formGroup]="form" (ngSubmit)="submitted.emit(form)">
      <div class="col-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" formControlName="description" id="description" rows="4" placeholder="Enter description here..."></textarea>
        </div>

        <div class="form-group">
          <label>URLs</label>
          <ng-container *ngFor="let url of selectedURLs; let i = index">
              <div class="url-info d-flex flex-column my-2">
                  <span>{{ url.title }}</span>
                  <strong class="d-flex align-items-center">
                      {{ url.link }}
                      <mat-icon class="cursor-pointer ms-2" (click)="removeURL(i)">cancel</mat-icon>
                  </strong>
              </div>
          </ng-container>
          <div class="overflow-hidden">
            <ng-container formArrayName="urls">
              <ng-container *ngFor="let _ of urls.controls; let i = index" [formGroupName]="i">
                <ng-container *ngIf="i >= selectedURLs.length">
                  <input type="text" class="form-control" formControlName="title" placeholder="Enter title here...">
                  <input type="url" class="form-control mt-2" formControlName="link" placeholder="Enter URL here...">
                  <button mat-button class="add-url main-button-transparent float-end mt-2" 
                          [disabled]="!form.value.urls[i].title || !form.value.urls[i].link" (click)="saveURL()">
                          Add
                  </button>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="form-group">
          <label>Files</label>
          <div class="d-flex flex-column">
            <div>
              <button mat-button class="main-button" (click)="filePicker.click()">
                <img src="assets/svg/upload-solid.svg" width="15" height="15" alt="" />
                Upload
              </button>
            </div>
            <span class="extensions">JPG, pdf, video, etc</span>
            <input type="file" hidden #filePicker (change)="onFileChange($event)" multiple>
          </div>

          <div class="form-group row" *ngIf="filesPreview && filesPreview.length">
            <div class="col-md-4 list-files d-flex" *ngFor="let filePreview of filesPreview">
              <mat-icon>attach_file</mat-icon>
              <div class="ms-2">
                <h3>{{ filePreview?.name }}</h3>
                <h5>{{ filePreview?.size }}</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-12 overflow-hidden">
            <metutors-submit-button [form]="form" [isSubmitting]="submitting" [extraClasses]="'float-end py-1 px-5'">
                Add
            </metutors-submit-button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</metutors-modal>
