<div class="study-more" id="improve-grades" style="background-image: url(assets/homepage/study.svg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Improve Your Grades While Building Your Skills and Gaining Confidence</h1>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4 mb-15-sm mb-20-md">
        <div class="item first text-center">
          <h2>Book today and claim your discount!</h2>
          <h3>
            <span>When booking</span>
            10 to 15 hours
          </h3>
          <button mat-button (click)="scrollToAnchor()">Book Now</button>
        </div>
      </div>

      <div class="col-md-4 mb-15-sm mb-20-md">
        <div class="item second text-center">
          <h2>Book today and claim your discount!</h2>
          <h3>
            <span>When booking</span>
            16 to 30 hours
          </h3>
          <button mat-button (click)="scrollToAnchor()">Book Now</button>
        </div>
      </div>

      <div class="col-md-4 mb-15-sm mb-20-md">
        <div class="item third text-center">
          <h2>Book today and claim your discount!</h2>
          <h3>
            <span>When booking</span>
            31+ hours
          </h3>
          <button mat-button (click)="scrollToAnchor()">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
