<div class="study-more" style="background-image: url(assets/homepage/study.svg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Study More, Save More</h1>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="item first text-center">
          <h2>Get 3%<br />Discount</h2>
          <h3>
            <span>When booking</span>
            10 to 15 hrs
          </h3>
          <button mat-button>Act Now</button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item second text-center">
          <h2>Get 5% <br />Discount</h2>
          <h3>
            <span>When booking</span>
            16 to 30 hrs
          </h3>
          <button mat-button>Act Now</button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item third text-center">
          <h2>Get 7% <br />Discount</h2>
          <h3>
            <span>When booking</span>
            31+ hrs
          </h3>
          <button mat-button>Act Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
