<div class="study-more" style="background-image: url(assets/homepage/study.svg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          Study More Save More</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500.
        </p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <div class="item text-center">
          <h2>Get 5%<br />Discount</h2>
          <h3>
            <span>Flat 5% off for</span>
            1 to 15 hrs
          </h3>
          <button mat-button>Get Now</button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item text-center">
          <h2>Get 10% <br />Discount</h2>
          <h3>
            <span>Flat 5% off for</span>
            16 to 30 hrs
          </h3>
          <button mat-button>Get Now</button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item text-center">
          <h2>Get 25% <br />Discount</h2>
          <h3>
            <span>Flat 5% off for</span>
            31+ hrs
          </h3>
          <button mat-button>Get Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
