.study-more {
  padding: 80px 30px;
  background-origin: padding-box;
  background-color: rgba(243, 244, 245, 0.4);
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-size: 35px;
    line-height: 1.3;
    color: #2a2a2a;
  }

  .item {
    padding: 30px;
    border-radius: 5px;

    h2 {
      color: #FFF;
      font-weight: 600;
      font-size: 40px;
    }

    h3 {
      font-size: 30px;
      color: #FFF;
      margin-top: 30px;

      span {
        color: #FFFFFF99;
        font-size: 15px;
        display: block;
        margin-bottom: 5px;
      }
    }

    button {
      border: 1px solid #FFF;
      width: 100%;
      color: #FFF;
      padding: 5px 0;
      font-size: 20px;
      margin-top: 50px;
    }

    &.first {
      background-color: #36C6BE;
    }

    &.second {
      background-color: #3BB3C1;
    }

    &.third {
      background-color: #0BB4D1;
    }
  }
}
