<metutors-tutor-navbar [layout]="(layout$ | async)" [user]="user$ | async" (logout)="logout()"></metutors-tutor-navbar>

<div class="badges p-15-sm">
  <h3 class="title mb-5 f-size-15-sm">{{ 'TUTOR_BADGES_DESC' | translate }}</h3>

  <div class="row">
    <div class="col-lg-3 col-md-6 mb-15-md-sm">
      <div class="card">
        <div class="card-body">
          <div class="item text-center">
            <img src="assets/svg/checked.svg" draggable="false" width="70" height="70" alt="">
            <h3 class="f-size-25-md-sm">{{ 'TALENTED' | translate }}</h3>
            <h4 class="f-size-15-md-sm">{{ 'VERIFIED_METUTORS_TEAM' | translate }}</h4>
            <h5 class="f-size-15-md-sm">{{ 'YOU_ARE_HERE' | translate }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-15-md-sm">
      <div class="card">
        <div class="card-body">
          <div class="item text-center">
            <img src="assets/svg/reward.svg" draggable="false" width="70" height="70" alt="">
            <h3 class="f-size-25-md-sm">{{ 'MERIT' | translate }}</h3>
            <h4 class="f-size-15-md-sm">
              5 {{ 'COURSES_COMPLETED' | translate }} <br />
              100 {{ 'POINTS_EARNED' | translate }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-15-md-sm">
      <div class="card">
        <div class="card-body">
          <div class="item text-center">
            <img src="assets/svg/medal.svg" draggable="false" width="70" height="70" alt="">
            <h3 class="f-size-25-md-sm">{{ 'EXPERT_LG' | translate }}</h3>
            <h4 class="f-size-15-md-sm">
              15 {{ 'COURSES_COMPLETED' | translate }} <br />
              250 {{ 'POINTS_EARNED' | translate }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-15-md-sm">
      <div class="card">
        <div class="card-body">
          <div class="item text-center">
            <img src="assets/svg/genius.svg" draggable="false" width="70" height="70" alt="">
            <h3 class="f-size-25-md-sm">{{ 'MASTER' | translate }}</h3>
            <h4 class="f-size-15-md-sm">
              25 {{ 'COURSES_COMPLETED' | translate }} <br />
              500+ {{ 'POINTS_EARNED' | translate }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
