.badges {
  padding: 20px 40px;

  .title {
    color: #2a2a2a;
    font-size: 18px;
  }

  .card {
    border-radius: 7px;
    box-shadow: 0 16px 60px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    height: 100%;

    .item {
      padding-top: 25px;

      img {
        width: 90px;
        height: 90px;
      }

      h3 {
        font-weight: 600;
        margin-top: 20px;
        color: #2a2a2a;
        font-size: 30px;
      }

      h4 {
        color: #696969;
        font-weight: normal;
        font-size: 16px;
      }

      h5 {
        color: #2a2a2a;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 15px;
      }
    }
  }
}
