.qualification {
  ul li {
    margin-bottom: 10px;

    img {
      margin-right: 10px;
    }

    span {
      font-size: 14px;
      color: #171725;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
