<div class="card qualification">
  <div class="card-body">
    <h1 class="title">{{ 'QUALIFICATION_DETAILS' | translate }}</h1>

    <ul class="list-unstyled m-0" *ngIf="!isLoading">
      <li>
        <img src="assets/svg/qualification.svg" draggable="false" width="20" height="20" alt=""
          *ngIf="tutor?.qualifications?.degreeLevel">
        <span>{{ 'DEGREE_LEVEL' | translate }}: {{ (tutor?.qualifications?.degreeLevel)! | metutorsUppercase | translate }}</span>
      </li>
      <li>
        <img src="assets/svg/qualification.svg" draggable="false" width="20" height="20" alt=""
          *ngIf="tutor?.qualifications?.degreeField">
        <span>{{ 'DEGREE_FIELD' | translate }}: {{ tutor?.qualifications?.degreeField }}</span>
      </li>
      <li>
        <img src="assets/svg/computer.svg" draggable="false" width="20" height="20" alt=""
          *ngIf="tutor?.qualifications?.computerSkills">
        <span>{{ 'COMPUTER_SKILLS' | translate }}: {{ (tutor?.qualifications?.computerSkills)! | uppercase | translate }}</span>
      </li>
    </ul>

    <div class="item" *ngIf="isLoading">
      <div class="ph-row">
        <div class="ph-col-12 big mt-1"></div>
        <div class="ph-col-0 big empty"></div>
        <div class="ph-col-12 big mt-1"></div>
        <div class="ph-col-0 big empty mt-1"></div>
        <div class="ph-col-12 big mt-1"></div>
        <div class="ph-col-0 big empty mt-1"></div>
      </div>
    </div>
  </div>
</div>
