.list {
  margin-bottom: 15px;

  h2 {
    font-size: 14px;
    font-weight: bold;
  }

  span {
    border-radius: 15px;
    border: solid 1px #e2e2ea;
    padding: 5px 15px;
    color: #000;
    font-size: 13px;
    background-color: rgba(17, 26, 55, 0.1);
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
