<div class="card qualification">
  <div class="card-body">
    <h1 class="title">Qualification Details</h1>

    <ul class="list-unstyled m-0">
      <li>
        <img src="assets/svg/qualification.svg" draggable="false" width="20" height="20" alt="">
        <span>Degree Level: Master Level</span>
      </li>
      <li>
        <img src="assets/svg/computer.svg" draggable="false" width="20" height="20" alt="">
        <span>Computer Skills Level: Expert</span>
      </li>
    </ul>

    <div class="list">
      <h2>Degree Field/Major</h2>

      <span>Geographics</span>
      <span>Math</span>
      <span>Science</span>
      <span>Math</span>
      <span>Geographics</span>
      <span>Math</span>
      <span>Science</span>
      <span>Math</span>
      <span>Geographics</span>
      <span>Math</span>
      <span>Science</span>
      <span>Math</span>
    </div>
  </div>
</div>
