<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'xmedium'" [heading]="heading"
                [template]="template" [subHeading]="subHeading">
  <ng-template #template>
    <ng-container *ngLet="(view$ | async) as view">
      <form class="row cancel-course-modal" [formGroup]="form" (ngSubmit)="onSubmit(form, view.refund?.totalRefunds)">
        <div class="col-md-12" *ngIf="courseType !== 1 && !hasSelectedClasses">
          <div class="form-group">
            <mat-radio-group class="d-flex flex-row mt-3" formControlName="courseType">
              <div class="col-md-6">
                <mat-radio-button value="1" (change)="onCourseClassTypeSelect(1)">Cancel my entire course</mat-radio-button>
              </div>
              <div class="col-md-6">
                <mat-radio-button value="2" (change)="onCourseClassTypeSelect(2)">Cancel only selective classes</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <ng-container *ngIf="courseType === 1 || hasSelectedClasses">
          <ng-container [ngSwitch]="view.loading">
            <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
            <div class="col-12 mt-4" *ngSwitchCase="false">
              <div class="form-group" *ngIf="courseType === 1">
                <span class="fw-bold mb-2 d-block">Summary:</span>
                <div class="row">
                  <div class="col-md-6 mb-2"><span
                    class="text-secondary">Total classes: </span> {{ view.refund?.totalClasses}}</div>
                  <div class="col-md-6"><span
                    class="text-secondary">Remaining classes: </span> {{ view.refund?.remainingClasses}}</div>
                </div>

                <div class="row">
                  <div class="col-md-6"><span
                    class="text-secondary">Refundable classes: </span> {{ view.refund?.totalRefundableClasses}}</div>
                  <div class="col-md-6"><span
                    class="text-secondary">Non Refundable classes: </span> {{ view.refund?.totalNonRefundableClasses}}</div>
                </div>
                <span class="note text-danger">*We will pay back only refundable classes</span>
                <hr class="text-secondary">
              </div>

              <div class="form-group" *ngIf="hasSelectedClasses">
                <span class="fw-bold mb-2 d-block">Summary:</span>
                <div class="row mb-3">
                  <div class="col-md-6"><span class="text-secondary">Total classes</span></div>
                  <div class="col-md-6 text-right">{{ view.refund?.totalClasses}}</div>
                </div>
                <hr class="text-secondary">
              </div>

              <div class="form-group mt-3">
                <div class="row mb-3">
                  <div class="col-md-6"><span class="text-secondary">Per hour price </span></div>
                  <div class="col-md-6 text-right"><span class="text-secondary">${{ view.refund?.perHourPrice }}
                    *  {{ view.refund?.totalDuration}} = </span> ${{ view.refund?.subtotalRefunds}}</div>
                </div>

                <div class="row mb-4">
                  <div class="col-md-6"><span class="text-secondary">Service fee per class </span></div>
                  <div class="col-md-6 text-right"><span class="text-secondary">${{view.refund?.serviceFee}}
                    * {{ view.refund?.totalRefundableClasses}} = </span> - ${{ view.refund?.totalServiceFee}}</div>
                </div>

                <div class="row">
                  <div class="col-md-6">Total Refunds</div>
                  <div class="col-md-6 text-right">${{ view.refund?.totalRefunds}}</div>
                </div>
              </div>

              <div class="form-group mt-2">
                <label>Why you want to cancel this course?</label>
                <textarea class="form-control custom-input input-bordered" formControlName="reason"
                          id="exampleFormControlTextarea1" rows="5" placeholder="Enter the reason here..."></textarea>
              </div>

              <div class="form-group mt-2">
                <mat-checkbox formControlName="agree">I agree to METutors <a href="" target="_blank">cancel policy</a>
                </mat-checkbox>
              </div>

              <div class="form-group mt-2" *ngIf="!view.refund?.totalRefunds">
                <div class="alert-warning p-3">No refundable class found</div>
              </div>

              <div class="row mt-2">
                <div class="col-md-12 overflow-hidden">
                  <metutors-submit-button [form]="form" [isSubmitting]="isCanceling$ | async"
                                          [isDisabled]="!view.refund?.totalRefunds"
                                          [extraClasses]="'float-end py-1 px-5'">
                    Confirm
                  </metutors-submit-button>

                  <span class="back-button float-end text-secondary cursor-pointer" (click)="goBack()">Back</span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="courseType === 2 && !hasSelectedClasses">
          <ng-container [ngSwitch]="view.loading">
            <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
            <div class="col-12 mt-4" *ngSwitchCase="false">
              <ng-container *ngIf="!view.refund.allClasses?.length">
                <div class="p-5 text-center">No record found</div>
              </ng-container>

              <table class="table refund-classes"
                     *ngIf="view.refund.nonRefundableClasses?.length || view.refund.refundableClasses?.length">
                <thead>
                <tr>
                  <th scope="col" class="text-secondary">Class Number</th>
                  <th scope="col" class="text-secondary">Class Subject</th>
                  <th scope="col" class="text-secondary">Class Days</th>
                  <th scope="col" class="text-secondary">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let allClass of view.refund.allClasses; let i = index">
                  <td>{{ i + 1}}</td>
                  <td>{{ allClass?.title }}</td>
                  <td>{{ allClass?.startDate }}</td>
                  <td>
                    <mat-checkbox [value]="allClass?.id" [id]="allClass?.id" (change)="onClassSelect($event, allClass?.id)"
                                  [disabled]="allClass?.isNonRefundable"></mat-checkbox>
                  </td>
                </tr>
                </tbody>
              </table>

              <div class="form-group mt-2" *ngIf="!view.refund.refundableClasses?.length">
                <div class="alert-warning p-3">No refundable class found</div>
              </div>

              <div class="row mt-2">
                <div class="col-md-12 overflow-hidden">
                  <button mat-flat-button color="primary" [disabled]="!selectedClasses.length"
                          type="button" class="float-end py-1 px-5" (click)="onNextSelectedClassRefund()"> <!--[disabled]="!view.refund.refundableClasses?.length"-->
                    Next
                  </button>

                  <span class="back-button float-end text-secondary cursor-pointer" (click)="goBack()">Back</span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </form>
    </ng-container>
  </ng-template>
</metutors-modal>
