<div class="container-fluid signin-block full-height">
  <div class="row full-height">
    <div class="col-md-4 offset-md-2 d-flex align-items-center">
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm)" class="w-100">
        <div>
          <h4 class="mb-5">Login</h4>

          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="custom-input w-100 input-bordered" id="email" placeholder="ku@pecafhuj.co.uk"
              formControlName="username">
            <div *ngIf="username?.invalid && username?.touched">
              <small class="text-danger">Please write a valid email</small>
            </div>
          </div>

          <div class="form-group">
            <label for="pass">Choose Password</label>
            <div class="position-relative">
              <input type="password" class="custom-input w-100 input-bordered" id="pass" placeholder="**********"
                formControlName="password">
              <div *ngIf="password?.invalid && password?.touched">
                <small class="text-danger">Please write youe password</small>
              </div>
              <a routerLink="/forget-password" class="forget-link">Forget!</a>
            </div>
          </div>

          <div class="form-group">
            <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
          </div>

          <div class="form-group mt-4 mb-2">
            <metutors-submit-button [form]="signinForm" [isSubmitting]="loading" [extraClasses]="'w-100'">
              Login
            </metutors-submit-button>
          </div>

          <div class="row mt-4 social">
            <div class="col-md-6">
              <button (click)="openRolesDialog('google')" mat-button type="button" class="w-100 google"
                [disabled]="authLoading">
                <img src="assets/svg/google.svg" alt="">
                Sign up with Google
              </button>
            </div>
            <div class="col-md-6">
              <button (click)="openRolesDialog('facebook')" mat-button type="button" class="w-100"
                [disabled]="authLoading">
                <img src="assets/svg/facebook.svg" alt="">
                Sign up with Facebook
              </button>
            </div>
          </div>

          <div class="form-group mt-4">
            <p>
              haven’t an account?
              <a routerLink="/signup">Sign up now</a>
            </p>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 d-flex align-items-center img-cover">
      <img src="assets/authentication/login.png" class="w-100 full-height" alt="" draggable="false">
    </div>
  </div>
</div>
