.signin-block {
  form {
    h4 {
      font-size: 35px;
      line-height: 1.3;
      color: #2a2a2a;
    }

    .forget-link {
      position: absolute;
      right: 10px;
      top: 10px;
      color: var(--main-color);
    }

    button {
      font-weight: bold;
    }

    .social {
      button {
        border: solid 1px #0077b7;
        padding: 5px 15px 5px 15px;
        font-weight: 500;
        color: #000;

        img {
          margin-right: 5px;
        }

        &.google {
          border-color: #eeeeee
        }
      }
    }

    p {
      font-size: 15px;
      color: #696969;
      font-weight: bold;

      a {
        color: var(--main-color);
        margin-left: 15px;
      }
    }
  }
}

@media(max-width:767px) {
  .signin-block {
    h4 {
      text-align: center;
      margin-top: 20px;
    }

    .img-cover {
      display: none !important;
    }
  }
}
