<metutors-explore-heading [name]="'EXPLORE_TUTORS'"
                          [description]="'EXPLORE_TUTORS_DESC'"
                          [image]="'assets/png/exhausted.png'"
                          [placeholderText]="'SEARCH_BY_TUTOR_NAME'"
                          [btnText]="'FIND_TUTORS'"
                          (filter)="title = $event; onFilterTutors()">
</metutors-explore-heading>

<div class="container explore-tutors mt-4">
  <div class="row">
    <div class="col-md-7">
      <h1 class="f-size-20-md-sm heading">{{ 'ALL_AVAILABLE_TUTORS' | translate }}</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <metutors-select-program-category [countries]="(countries$ | async)!"
                                        [loadingCountries]="(loadingCountries$ | async)!"
                                        [programs]="(programs$ | async)!"
                                        [loadingPrograms]="(loadingPrograms$ | async)!"
                                        (changeProgram)="onChangeProgram($event)">
      </metutors-select-program-category>
    </div>
  </div>

  <div class="mt-4 fields-list" *ngIf="fields && fields.length">
    <mat-chip-list>
      <mat-chip *ngFor="let field of fields; let i = index">
        <div class="d-flex align-items-center justify-content-center">
          {{ getFieldObject((fields$ | async)!, field)?.name }}
          <mat-icon (click)="removeField(field)" class="ms-2 cursor-pointer">cancel</mat-icon>
        </div>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="row mt-4" *ngLet="(tutors$ | async) as tutors">
    <div class="col-md-3 filters">
      <div class="d-flex align-items-center cursor-pointer title justify-content-between" [class.open]="openFilter"
        (click)="openFilter = !openFilter">
        <h3 class="m-0">{{ 'CHOOSE_FIELD_STUDY' | translate }}</h3>
        <button mat-button *ngIf="!openFilter">
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-button *ngIf="openFilter">
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
      <div class="content" *ngIf="openFilter" [@slideInOut]>
        <div class="d-block mb-2" *ngFor="let field of (fields$ | async)!">
          <mat-checkbox (change)="onChangeField($event, field.id)" [value]="field.id.toString()"
                        [checked]="fields.includes(field.id)">
            {{ field?.name }}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-md-9" *ngLet="(loadingTutors$ | async) as loadingTutors">
      <ng-container *ngIf="!loadingTutors">
        <ng-container *ngIf="tutors && tutors.length">
          <metutors-tutor-card *ngFor="let tutor of tutors" [tutor]="tutor">
          </metutors-tutor-card>

          <pagination [totalItems]="(count$ | async)!" [itemsPerPage]="perPage" [maxSize]="5"
                      [boundaryLinks]="true"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                      (pageChanged)="onPageChange($event)" 
                      *ngIf="+(count$ | async)! > perPage">
          </pagination>
        </ng-container>

        <div class="card no-data" *ngIf="!tutors || !tutors.length">
          <div class="card-body">
            <img src="assets/svg/sad.svg" draggable="false" alt="">
            <h2 class="mt-4">{{ 'NO_DATA_FOUND' | translate }}</h2>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="loadingTutors">
        <metutors-card-placeholder *ngFor="let _ of [1, 2, 3]"></metutors-card-placeholder>
      </ng-container>
    </div>
  </div>
</div>
