<metutors-explore-heading [name]="'EXPLORE_TUTORS'"
                          [description]="'EXPLORE_TUTORS_DESC'"
                          [image]="'assets/png/exhausted.png'"
                          [placeholderText]="'SEARCH_BY_TUTOR_NAME'"
                          [btnText]="'FIND_TUTORS'">
</metutors-explore-heading>

<div class="container explore-tutors mt-4">
  <div class="row">
    <div class="col-md-7">
      <h1>{{ 'ALL_AVAILABLE_TUTORS' | translate }}</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <metutors-select-program-category [countries]="(countries$ | async)!"
                                        [loadingCountries]="(loadingCountries$ | async)!"
                                        [programs]="(programs$ | async)!"
                                        [loadingPrograms]="(loadingPrograms$ | async)!">
      </metutors-select-program-category>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-3 filters">
      <div class="d-flex align-items-center cursor-pointer title justify-content-between" [class.open]="openFilter"
        (click)="openFilter = !openFilter">
        <h3 class="m-0">{{ 'CHOOSE_FIELD_STUDY' | translate }}</h3>
        <button mat-button *ngIf="!openFilter">
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-button *ngIf="openFilter">
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
      <div class="content" *ngIf="openFilter" [@slideInOut]>
        <!--  *ngFor="let fieldOfStudy of exploredCourses?.fieldOfStudies" -->
        <div class="d-block mb-2">
          <!-- (change)="onChangeField($event, fieldOfStudy?.id); filterCourses()" [value]="fieldOfStudy?.id" -->
          <mat-checkbox>Mahtematics
            <!-- {{ fieldOfStudy?.name }} -->
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <metutors-tutor-card *ngFor="let tutor of tutors" [tutor]="tutor">
      </metutors-tutor-card>
    </div>
  </div>
</div>
