<div class="loving-opportunities">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-icon class="favorite">favorite</mat-icon>
      </div>
      <div class="col-md-6">
        <h1 class="f-size-25-md-sm">What Our Tutors Say About Us</h1>
      </div>
      <div class="col-md-6 buttons-list">
        <button mat-button (click)="owlCar.next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-button (click)="owlCar.prev()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>

      <div class="col-md-12">
        <owl-carousel-o [options]="customOptions" #owlCar>
          <ng-template carouselSlide *ngFor="let opportunity of opportunities">
            <div class="row card-item">
              <div class="col-md-4">
                <img [src]="opportunity?.picture" meTutorsDefaultAvatar alt="" width="90px" height="90px"
                  class="img-avatar">
              </div>

              <div class="col-12 d-flex flex-column">
                <p class="bio flex-grow-1">
                  <q>{{ opportunity?.content }}</q>
                </p>

                <h3>- {{ opportunity?.postedBy }}</h3>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
