<div class="footer p-0-md-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg links">
        <h1>{{ 'ABOUT_US' | translate }}</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a routerLink="/about">{{ 'OUR_FOUNDERS_TEAM' | translate }}</a>
          </li>
          <li>
            <a routerLink="/" [fragment]="'featured-tutors'">{{ 'FEATURED_TUTORS' | translate }}</a>
          </li>
          <li>
            <a routerLink="/" [fragment]="'success-stories'">{{ 'SUCCESS_STORIES' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg links">
        <h1>{{ 'HELP' | translate }}</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a routerLink="/faq">{{ 'FAQS' | translate }}</a>
          </li>
          <li>
            <a routerLink="/contact">{{ 'CONTACT_US' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg links">
        <h1>{{ 'LEARN' | translate }}</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a routerLink="/all-courses/1">{{ 'EXPLORE_COURSES' | translate }}</a>
          </li>
          <li>
            <a [routerLink]="['/requests', 'request-tutor']">{{ 'CUSTOMIZED_COURSES' | translate }}</a>
          </li>
          <li>
            <a routerLink="/" [fragment]="'explore-services'">{{ 'PRICING' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg links">
        <h1>{{ 'JOIN_PLATFORM' | translate }}</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a routerLink="/signup" [queryParams]="{role: 1}">{{ 'START_LEARNING' | translate }}</a>
          </li>
          <li>
            <a routerLink="/signup" [queryParams]="{role: 3}">{{ 'START_TEACHING' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg links">
        <h1>{{ 'TERMS' | translate }}</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a routerLink="/student-terms-conditions">{{ 'STUDENT_TERMS_CONDITIONS' | translate }}</a>
          </li>
          <li>
            <a routerLink="/tutor-terms-conditions">{{ 'TEACHER_TERMS_CONDITIONS' | translate }}</a>
          </li>
          <li>
            <a routerLink="/privacy-policy">{{ 'PRIVACY_POLICY' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="divider mt-30 mt-15-sm"></div>
    <div class="row subscribe mt-15-sm p-10-sm">
      <h1 class="col-12 p-0-sm">{{ 'SUBSCRIBE_NEWSLETTER' | translate }}</h1>
      <div class="col-md-7 p-0-sm">
        <form>
          <div class="form-block position-relative">
            <input type="email" placeholder="{{ 'ENTER_UR_EMAIL' | translate }}" class="w-100" />
            <button mat-flat-button color="primary">{{ 'SUBSCRIBE' | translate }}</button>
          </div>
        </form>
      </div>
      <div class="col-md-4 offset-md-1 social p-0-sm mt-15-sm d-flex justify-content-end">
        <a mat-button href="https://www.facebook.com/metutorsco/" target="_blank">
          <img src="assets/svg/facebook.svg" alt="" draggable="false" />
        </a>
        <a mat-button href="https://twitter.com/metutorsco" target="_blank">
          <img src="assets/svg/twitter.svg" alt="" draggable="false" />
        </a>
        <a mat-button href="https://www.instagram.com/metutorsco/" target="_blank">
          <img src="assets/svg/instagram.svg" alt="" draggable="false" />
        </a>
        <a mat-button href="https://www.linkedin.com/company/metutors" target="_blank">
          <img src="assets/svg/linkedin-circle.svg" alt="" draggable="false" />
        </a>
        <a mat-button href="https://www.youtube.com/channel/UC2f8Y6Hhc2qTsjISnjlrmiQ" target="_blank">
          <img src="assets/svg/youtube.svg" alt="" draggable="false" />
        </a>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row copyright">
      <div class="col-md-8 d-flex justify-content-between">
        <div class="d-flex">
          <img src="assets/svg/mastercard.svg" height="38" alt="mastercard" class="mastercard">
          <img src="assets/svg/visa.svg" alt="visa" class="visa">
        </div>
        <ul class="list-inline m-0 p-0">
          <li class="list-inline-item">
            <a routerLink="/privacy-policy">{{ 'COOKIES_POLICY' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-end">
        <bdi> © {{ myDate | date: "y" }} MEtutors. {{ 'ALL_RIGHTS_RESERVED' | translate }}</bdi>
      </div>
    </div>
  </div>
</div>
