<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col links">
        <h1>About Us</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a>Our Founders Team</a>
          </li>
          <li>
            <a>Featured Tutors</a>
          </li>
          <li>
            <a>Success Stories</a>
          </li>
        </ul>
      </div>
      <div class="col links">
        <h1>Help</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a routerLink="/faq">FAQs</a>
          </li>
          <li>
            <a routerLink="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col links">
        <h1>Learn</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a>Explore Courses</a>
          </li>
          <li>
            <a>Customized Courses</a>
          </li>
          <li>
            <a>Pricing</a>
          </li>
        </ul>
      </div>
      <div class="col links">
        <h1>Join Platform</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a>Start Learning</a>
          </li>
          <li>
            <a>Start Teaching</a>
          </li>
        </ul>
      </div>
      <div class="col links">
        <h1>Terms</h1>
        <ul class="list-unstyled m-0 d-flex flex-column justify-content-center h-100">
          <li>
            <a routerLink="/student-terms-conditions">Student Terms & Conditions</a>
          </li>
          <li>
            <a routerLink="/tutor-terms-conditions">Teacher Terms & Conditions</a>
          </li>
          <li>
            <a routerLink="/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row bordered-top subscribe">
      <h1 class="col-12">Subscribe Newsletter.</h1>
      <div class="col-md-7">
        <form>
          <div class="form-block position-relative">
            <input type="email" placeholder="Enter your email" class="w-100" />
            <button mat-flat-button color="primary">Subscribe for free</button>
          </div>
        </form>
      </div>
      <div class="col-md-4 offset-md-1 social">
        <button mat-button>
          <img src="assets/svg/facebook.svg" alt="" draggable="false" />
        </button>
        <button mat-button>
          <img src="assets/svg/twitter.svg" alt="" draggable="false" />
        </button>
        <button mat-button>
          <img src="assets/svg/instagram.svg" alt="" draggable="false" />
        </button>
        <button mat-button>
          <img src="assets/svg/linkedin-circle.svg" alt="" draggable="false" />
        </button>
        <button mat-button>
          <img src="assets/svg/youtube.svg" alt="" draggable="false" />
        </button>
      </div>
    </div>

    <div class="row bordered-top copyright">
      <div class="col-md-8">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <a routerLink="/privacy-policy">Cookies Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-end">
        © {{ myDate | date: "y" }} MEtutors. All Rights Reserved
      </div>
    </div>
  </div>
</div>
