.heading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
}

.form-label {
  color: #000;
  font-size: 15px;
  font-weight: bold;

  span {
    font-weight: normal;
  }
}

.video-preview {
  height: 200px;
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.edit-video {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.cancel-upload {
  margin-top: 36px;
}
