.heading {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
}

.form-label {
  color: #000;
  font-size: 15px;
  font-weight: bold;

  span {
    font-weight: normal;
  }

  .size {
    color: #707070;
    font-size: 13px;
  }
}

.video-preview {
  height: 200px;
  background: #F4F5FA;
  border: 1px dashed rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.edit-video {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.cancel-upload {
  margin-top: 36px;
}

.preview-style {
  margin: auto;
}

.video-notes {
  margin: 30px 0 20px;
  padding: 0;
  list-style: none;

  li {
    color: #4A4A4A;
    margin-bottom: 7px;
    display: flex;
    align-items: start;
    padding: 0;
    font-size: 15px;

    &:before {
      content: "";
      background-image: url('/assets/svg/tick.svg');
      width: 20px;
      height: 20px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 10px;
    }
  }
}

.list-files {
  box-shadow: none;

  tr {
    th {
      color: #949494;
      font-size: 13px;
    }

    th.w-7 {
      width: 7%;
    }

    th.w-15 {
      width: 15%;
    }

    td {
      color: #2A2A2A;
      font-size: 15px;
      border-bottom: 1px solid #EDEDED;

      img {
        padding: 0;
        width: 20px;
        height: 20px;
        padding: 0;
      }

      .download-btn,
      .view-sign-btn {
        padding: 0 10px;
        font-size: 12px;
      }
    }
  }
}
