<form [formGroup]="form" (ngSubmit)="submitFormData()" class="w-100">
  <div>
    <h4 class="mb-5 heading text-center">PROVIDE YOUR QUALIFICATION DETAILS</h4>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nameOfUniversity" class="form-label">Name of University</label>
          <input type="text" class="custom-input w-100 input-bordered" id="nameOfUniversity" placeholder="Enter Name"
            formControlName="nameOfUniversity">
          <div class="text-danger" *ngIf="nameOfUniversity?.touched && nameOfUniversity?.invalid">
            Please write your University Name
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="computerSkills" class="form-label">Computer Skills</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="computerSkills" [placeholder]="'Above Average'">
              <mat-option value="Average">Average</mat-option>
              <mat-option value="Above Average">Above Average</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="computerSkills?.touched && computerSkills?.invalid">
            Please choose your Computer Skills Level
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="degreeLevel" class="form-label">Degree Level</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="degreeLevel" [placeholder]="'Select Degree Level'">
              <mat-option value="Masters">Masters</mat-option>
              <mat-option value="Bachlors">Bachlors</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="degreeLevel?.touched && degreeLevel?.invalid">
            Please choose your Degree Level
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="teachingExperience" class="form-label">Teaching Experience</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="teachingExperience" [placeholder]="'Select Years'">
              <mat-option value="1 Year">1 Year</mat-option>
              <mat-option value="2 Years">2 Years</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="teachingExperience?.touched && teachingExperience?.invalid">
            Please choose your Years of Teacher Experience
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="degreeField" class="form-label">Degree Field</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="degreeField" [placeholder]="'Computer Science'">
              <mat-option value="Computer Science">Computer Science</mat-option>
              <mat-option value="Mathematics">Mathematics</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="degreeField?.touched && degreeField?.invalid">
            Please choose your Degree Field
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="teachingExperienceOnline" class="form-label">Teaching Experience Online</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="teachingExperienceOnline" [placeholder]="'Select Years'">
              <mat-option value="1 Year">1 Year</mat-option>
              <mat-option value="2 Years">2 Years</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="teachingExperienceOnline?.touched && teachingExperienceOnline?.invalid">
            Please choose your Years of Teacher Experience Online
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div>
            <label for="languages" class="form-label">Spoken languages</label>
            <a class="float-end cursor-pointer" (click)="addLanguage()">Add new</a>
          </div>
          <mat-chip-list>
            <ng-container *ngFor="let lang of form.value.languages; let i = index">
              <mat-chip *ngIf="lang.language && lang.level">
                <div class="lang-info d-flex align-items-center justify-content-center">
                  {{ lang.language?.name }} - <span>{{ lang.level }}</span>
                  <mat-icon (click)="removeLanguage(i)">cancel</mat-icon>
                </div>
              </mat-chip>
            </ng-container>
          </mat-chip-list>
          <ng-container formArrayName="languages">
            <ng-container *ngFor="let _ of languages.controls; let i = index" [formGroupName]="i">
              <ng-container *ngIf="!form.value.languages[i].language || !form.value.languages[i].level">
                <mat-form-field appearance="outline" class="w-100 mt-3">
                  <mat-select formControlName="language" [placeholder]="'Select language'">
                    <mat-option [value]="lang" *ngFor="let lang of languagesList">{{ lang?.name }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-select formControlName="level" [placeholder]="'Select level'">
                    <mat-option [value]="level?.value" *ngFor="let level of levels | keyvalue">
                      {{ level?.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group">
          <label for="currentEmployer" class="form-label">Current Employer (Optional)</label>
          <input type="text" class="custom-input w-100 input-bordered" id="currentEmployer" placeholder="Enter Here"
            formControlName="currentEmployer">
        </div>
        <div class="form-group">
          <label for="currentTitle" class="form-label">Current Title (Optional)</label>
          <input type="text" class="custom-input w-100 input-bordered" id="currentTitle" placeholder="Enter Here"
            formControlName="currentTitle">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="form-group mt-4 mb-2">
          <metutors-submit-button [form]="form" [isSubmitting]="loading" [extraClasses]="'w-100'">
            Save & Continue
          </metutors-submit-button>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>
