<form [formGroup]="form" (ngSubmit)="submitFormData()" class="w-100 p-10-sm">
  <div>
    <h4 class="mb-5 heading text-center f-size-18-md-sm mb-15-sm">PROVIDE YOUR QUALIFICATION DETAILS</h4>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nameOfUniversity" class="form-label">Name of University</label>
          <input type="text" class="custom-input w-100 input-bordered" id="nameOfUniversity" placeholder="Enter Name"
                 formControlName="nameOfUniversity" meTutorsLettersOnly>
          <div class="text-danger" *ngIf="nameOfUniversity?.touched && nameOfUniversity?.invalid">
            Please write your University name
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="teachingExperience" class="form-label">Teaching Experience</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="teachingExperience" [placeholder]="'Select Years'" id="teachingExperience">
              <mat-option [value]="experience" *ngFor="let experience of experiences">{{ experience }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="teachingExperience?.touched && teachingExperience?.invalid">
            Please choose your years of teaching experience in schools
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="degreeLevel" class="form-label">Degree Level</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="degreeLevel" [placeholder]="'Select Degree Level'" id="degreeLevel"
                        (selectionChange)="resetDegreeField()">
              <mat-option [value]="level" *ngFor="let level of degreeLevels">{{ level }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="degreeLevel?.touched && degreeLevel?.invalid">
            Please choose your degree level
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="teachingExperienceOnline" class="form-label">Teaching Experience Online</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="teachingExperienceOnline" [placeholder]="'Select Years'"
                        id="teachingExperienceOnline">
              <mat-option [value]="experience" *ngFor="let experience of experiences">{{ experience }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="teachingExperienceOnline?.touched && teachingExperienceOnline?.invalid">
            Please choose your years of teaching experience online
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="degreeField" class="form-label">Degree Field</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="degreeField" [placeholder]="'Computer Science'" id="degreeField">
              <mat-option>
                <ngx-mat-select-search [(ngModel)]="filterDegree" [ngModelOptions]="{standalone: true}"
                                       placeholderLabel="Search..."
                                       noEntriesFoundLabel="No matching degree field found">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option [value]="field" *ngFor="let field of filteredDegreeFields">{{ field }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="degreeField?.touched && degreeField?.invalid">
            Please choose your degree field
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="currentEmployer" class="form-label">Current Employer <span>(Optional)</span></label>
          <input type="text" class="custom-input w-100 input-bordered" id="currentEmployer" placeholder="Enter Here"
                 formControlName="currentEmployer">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="computerSkills" class="form-label">Computer Skills</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="computerSkills" [placeholder]="'Select Computer Skills'" id="computerSkills">
              <mat-option [value]="skill" *ngFor="let skill of skills">{{ skill }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="text-danger" *ngIf="computerSkills?.touched && computerSkills?.invalid">
            Please choose your computer skill level
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="currentTitle" class="form-label">Current Title <span>(Optional)</span></label>
          <input type="text" class="custom-input w-100 input-bordered" id="currentTitle" placeholder="Enter Here"
                 formControlName="currentTitle" meTutorsLettersOnly>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div>
            <label for="languages" class="form-label">Spoken languages <span>(For Teaching)</span></label>
            <a class="float-end cursor-pointer" (click)="addLanguage()"
               [ngClass]="{'text-secondary cursor-not-allowed': languages.status === invalid}">Add New</a>
          </div>
          <metutors-spoken-languages [form]="form" [languagesList]="languagesList" id="languages"
                                     (removeLanguage)="removeLanguage($event)">
          </metutors-spoken-languages>
        </div>
      </div>
    </div>

    <div class="row mb-4 mt-3">
      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <label for="currentTitle" class="form-label">Curriculum Vitae / Resumé <span
            class="size">(Max 5 MB)</span></label>
          <span class="text-decoration-underline" (click)="resumePicker.click()"
                [ngClass]="{'text-main cursor-pointer' : !resume?.value?.length, 'text-secondary pointer-events-none' : resume?.value?.length}">Upload Document</span>

          <input #resumePicker type="file" hidden class="form-control"
                 accept="image/*,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                 (change)="onUploadResume($event)">
        </div>
        <div>
          <ng-container *ngIf="resumeUploadProgress?.length">
            <ng-container *ngFor="let uploadProgress of resumeUploadProgress">
              <ng-container *ngIf="uploadProgress.responseType !== uploadComplete">
                <metutors-file-upload-progress [fileName]="uploadProgress.fileName"
                                               [uploadedPercentage]="uploadProgress.progress">
                </metutors-file-upload-progress>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <table class="table my-table default-title mb-0 list-files" *ngIf="resume?.value?.length">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="w-7 text-center">Action</th>
          </tr>

          <tr>
            <td>{{ resume?.value[0]?.originalName }}</td>
            <td class="text-center"><img src="assets/svg/delete.svg" alt="" draggable="false" class="cursor-pointer"
                     (click)="onDeleteResume()"/></td>
          </tr>

        </table>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <label for="currentTitle" class="form-label">Degree Certificate <span class="size">(Max 5 MB)</span></label>
          <span class="text-decoration-underline" (click)="degree.click()"
                [ngClass]="{'text-main cursor-pointer' : !degrees?.value?.length || degrees?.value?.length < 10, 'text-secondary pointer-events-none' : degrees?.value?.length >= 10}">Upload Document</span>

          <input #degree type="file" hidden multiple class="form-control"
                 accept="image/*,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                 (change)="onUploadDegree($event)">
        </div>

        <div>
          <ng-container *ngIf="degreeUploadProgress?.length">
            <ng-container *ngFor="let uploadProgress of degreeUploadProgress">
              <ng-container *ngIf="uploadProgress.responseType !== uploadComplete">
                <metutors-file-upload-progress [fileName]="uploadProgress.fileName"
                                               [uploadedPercentage]="uploadProgress.progress">
                </metutors-file-upload-progress>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <table class="table my-table default-title mb-0 list-files" *ngIf="degrees?.value?.length">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="w-7 text-center">Action</th>
          </tr>

          <tr *ngFor="let degree of degrees.controls; let i = index">
            <td>{{degree.value.originalName}}</td>
            <td class="text-center"><img src="assets/svg/delete.svg" alt="" draggable="false" class="cursor-pointer"
                     (click)="onDeleteDegree(i)"/></td>
          </tr>

        </table>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <label for="currentTitle" class="form-label">Other Certifications <span class="size">(Max 5 MB)</span></label>
          <span class="text-decoration-underline"
                (click)="certificate.click()"
                [ngClass]="{'text-main cursor-pointer' : !certificates?.value?.length || certificates?.value?.length < 10, 'text-secondary pointer-events-none' : certificates?.value?.length >= 10}">Upload Document</span>

          <input #certificate type="file" hidden multiple class="form-control"
                 accept="image/*,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                 (change)="onUploadCertificate($event)">
        </div>

        <div>
          <ng-container *ngIf="certificateUploadProgress?.length">
            <ng-container *ngFor="let uploadProgress of certificateUploadProgress">
              <ng-container *ngIf="uploadProgress.responseType !== uploadComplete">
                <metutors-file-upload-progress [fileName]="uploadProgress.fileName"
                                               [uploadedPercentage]="uploadProgress.progress">
                </metutors-file-upload-progress>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <table class="table my-table default-title mb-0 list-files" *ngIf="certificates?.value?.length">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="w-7 text-center">Action</th>
          </tr>

          <tr *ngFor="let certificate of certificates.controls; let i = index">
            <td>{{ certificate?.value?.originalName }}</td>
            <td class="text-center"><img src="assets/svg/delete.svg" alt="" draggable="false" class="cursor-pointer"
                     (click)="onDeleteCertificate(i)"/></td>
          </tr>

        </table>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <label for="currentTitle" class="form-label">Onboarding Document</label>
        <p>Please sign the onboarding document to agree that you have read and understood all sections.</p>

        <table class="table my-table default-title mb-0 list-files">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="w-16 text-center">Action</th>
          </tr>

          <tr>
            <td>Code of Conduct Document.docx</td>
            <td class="text-center">
              <button class="main-button-transparent view-sign-btn me-2" mat-button type="button" (click)="onOpenViewDocumentModal()">View & Sign</button>
              <a [href]="document.url" target="_blank" class="text-white">
                <button mat-flat-button color="primary" class="download-btn" type="button">Download</button>
              </a>
            </td>
          </tr>

        </table>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-8 offset-md-2">
        <div class="form-group">
          <input type="file" #videoPicker (change)="onChangeVideo($event)" hidden accept="video/*"/>

          <div class="preview-style">
            <label class="form-label">Please upload a video to show your teaching style with the following
              guidelines:</label>
            <div class="position-relative">
              <metutors-video-player [videoSrc]="video?.value" *ngIf="video?.value">
              </metutors-video-player>
              <button mat-flat-button color="primary" class="px-4 edit-video" type="button"
                      *ngIf="video?.value" (click)="videoPicker.click()" [disabled]="uploadingVideo"> Change
              </button>
            </div>
          </div>
          <div class="preview-style video-preview d-flex align-items-center justify-content-center flex-column"
               *ngIf="!video?.value">
            <button mat-flat-button color="primary" class="px-4" type="button" [disabled]="uploadingVideo"
                    (click)="videoPicker.click()"> Upload
            </button>
            <div class="guide1 mt-2">Upload Video Demo (Max 120 MB)</div>
          </div>
          <div class="position-relative preview-style">
            <ng-container *ngLet="fileUploadProgress$ | async as fileUploadProgress">
              <ng-container *ngIf="fileUploadProgress?.length">
                <ng-container *ngFor="let uploadProgress of fileUploadProgress">
                  <ng-container *ngIf="uploadProgress.responseType !== uploadComplete">
                    <metutors-file-upload-progress [fileName]="uploadProgress.fileName" [fileType]="'video'"
                                                   (onCancelUpload)="onCancelVideoUpload()"
                                                   [uploadedPercentage]="uploadProgress.progress" [cancelUpload]="true">
                    </metutors-file-upload-progress>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <ul class="video-notes row">
            <li class="col-md-6">You must be in your video.</li>
            <li class="col-md-6">Your video must be between 2-3 minutes.</li>
            <li class="col-md-6">You must teach a concept from a subject you want to teach on MEtutors.</li>
            <li class="col-md-6">All video formats are accepted.</li>
            <li class="col-md-12">Your video should be filmed horizontally with good lighting, in a quiet environment
              and with a tidy background.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-4 mb-2">
      <button class="main-button-transparent px-4" mat-button type="button" (click)="changeStep.emit(2)">Back</button>

      <metutors-submit-button [form]="form" [isSubmitting]="loading" [isDisabled]="uploadingVideo"
                              [extraClasses]="'w-100 fw-bold px-5'">
        Save & Continue
      </metutors-submit-button>
    </div>
  </div>
</form>

<metutors-doc-viewer-modal *ngIf="showViewDocumentModal$ | async" [document]="document"
                           [heading]="'Onboarding Document'" (submit)="onAddSignature($event)"
                           (addSignature)="onUploadSignature($event)" [signatureInfo]="signatureUploadInfo"
                           (closeModal)="onCloseViewDocumentModal()" [showSignature]="true"
                           [addingSignature]="(addingSignature$ | async)!"
                           [showModal]="(showViewDocumentModal$ | async)!">
</metutors-doc-viewer-modal>
