<div class="bookings-list p-15-md-sm">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1 class="f-size-18-md-sm mb-15-sm">Tutor Approval Request</h1>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-end">
        <div class="col-md-5">
        </div>
        <div class="col-md-5">
          <metutors-search-input (searchedText)="onSearch($event)"></metutors-search-input>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12" *ngLet="(view$ | async) as view">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab [label]="'New ('+(view.approvalRequest?.newlyCoursesCount || 0)+')'">
          <ng-container [ngSwitch]="view.loading">
            <metutors-grid-placeholder class="mt-4" *ngSwitchCase="true"></metutors-grid-placeholder>

            <ng-container *ngSwitchCase="false">
              <metutors-tutor-approval-grid [courses]="view.approvalRequest?.newlyRequestedCourses?.data"
                                            (openBookingModal)="onOpenBookingModal($event)">
              </metutors-tutor-approval-grid>
            </ng-container>

            <div class="d-flex mt-2 justify-content-center"
                 *ngIf="view?.approvalRequest?.newlyRequestedCourses?.data?.length < view?.approvalRequest?.newlyRequestedCourses?.total">
              <pagination [totalItems]="view?.approvalRequest?.newlyRequestedCourses?.total" [itemsPerPage]="perPage" [maxSize]="5"
                          (pageChanged)="onPageChange($event)">
              </pagination>
            </div>
          </ng-container>
        </mat-tab>

        <mat-tab [label]="'Completed ('+(view.approvalRequest?.completedCoursesCount || 0)+')'">
          <ng-container [ngSwitch]="view.loading">
            <metutors-grid-placeholder class="mt-4" *ngSwitchCase="true"></metutors-grid-placeholder>

            <ng-container *ngSwitchCase="false">
              <metutors-tutor-approval-grid [courses]="view.approvalRequest?.completedCourses?.data"
                                            (openBookingModal)="onOpenBookingModal($event)">
              </metutors-tutor-approval-grid>
            </ng-container>
          </ng-container>

          <div class="d-flex mt-2 justify-content-center"
               *ngIf="view?.approvalRequest?.completedCourses?.data?.length < view?.approvalRequest?.completedCourses?.total">
            <pagination [totalItems]="view?.approvalRequest?.completedCourses?.total" [itemsPerPage]="perPage" [maxSize]="5"
                        (pageChanged)="onPageChange($event)">
            </pagination>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<metutors-admin-student-total-booking-modal [showModal]="(openBookingModal$ | async)!" *ngIf="openBookingModal$|async"
                                            (closeModal)="onCloseBookingModal()" [type]="'subject'"
                                            [loading]="(loadingTotalBooking$ | async)!"
                                            [detail]="(totalBooking$ | async)!">
</metutors-admin-student-total-booking-modal>
