<div class="approval-requests">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1>Tutors Approval Requests</h1>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
          <div class="position-relative">
            <input type="text" class="form-control custom-input input-bordered" placeholder="Apply filters">
            <mat-icon class="filter">filter_alt</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab [label]="'New (0)'">
          <!-- <ng-container [ngSwitch]="view.loading">
              <metutors-grid-placeholder class="mt-4" *ngSwitchCase="true"></metutors-grid-placeholder>
  
              <ng-container *ngSwitchCase="false"> -->
          <table class="table my-table default-title mt-4">
            <tr>
              <th>Number</th>
              <th>BIN</th>
              <th>Program Name</th>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>SIN</th>
              <th>Course Duration</th>
              <th>Amount($)</th>
              <th>Request Duration</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>1</td>
              <td>BIN123</td>
              <td>AP</td>
              <td>CID123</td>
              <td>Science 123</td>
              <td>SN 1234</td>
              <td>3 Weeks</td>
              <td>300</td>
              <td>02H, 30 min</td>
              <td>
                <div class="change-status position-relative d-flex">
                  <button class="status text-capitalize pending" mat-button>
                    Pending
                  </button>
                </div>
              </td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
            </tr>
          </table>
          <!-- </ng-container>
            </ng-container> -->
        </mat-tab>

        <mat-tab [label]="'Completed (0)'">
          <table class="table my-table default-title mt-4">
            <tr>
              <th>Number</th>
              <th>BIN</th>
              <th>Program Name</th>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>SIN</th>
              <th>Course Duration</th>
              <th>Amount($)</th>
              <th>Request Duration</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>1</td>
              <td>BIN123</td>
              <td>AP</td>
              <td>CID123</td>
              <td>Science 123</td>
              <td>SN 1234</td>
              <td>3 Weeks</td>
              <td>300</td>
              <td>02H, 30 min</td>
              <td>
                <div class="change-status position-relative d-flex">
                  <button class="status text-capitalize deactive" mat-button>
                    Critical
                  </button>
                </div>
              </td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>


<mat-menu #menu="matMenu">
  <button mat-menu-item class="h-auto btn-menu">
    <span>Re-assign Tutor</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu">
    <span>Email Student</span>
  </button>
</mat-menu>
