<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'large'" [heading]="'Please add your reason to decline teaching this course:'"
                [template]="template" >
  <ng-template #template>
    <form class="row" [formGroup]="form" (ngSubmit)="submitted.emit(form)">
      <div class="col-12">
        <div class="form-group">
          <textarea class="form-control custom-input input-bordered" formControlName="rejectReason" rows="10" placeholder="{{ 'ENTER_REASON_HERE' | translate }}"></textarea>
        </div>

        <div class="row mt-2">
          <div class="col-md-12 overflow-hidden">
            <metutors-submit-button [form]="form" [extraClasses]="'float-end py-1 px-5'" [isSubmitting]="submitting">
              {{ 'SUBMIT' | translate }}
            </metutors-submit-button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</metutors-modal>
