<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'large'" [heading]="'Please add your reason to decline teaching this course:'"
                [template]="template" >
  <ng-template #template>
    <div class="row leave-feedback-modal" [formGroup]="form">
      <div class="col-12">
        <div class="form-group">
          <textarea class="form-control" formControlName="rejectReason" id="exampleFormControlTextarea1" rows="10" placeholder="Enter the reason here..."></textarea>
        </div>

        <div class="row mt-2">
          <div class="col-md-12 overflow-hidden">
            <button mat-flat-button color="primary" class="float-end" type="submit" [disabled]="form.invalid || submitting" (click)="submitted.emit(form)">
              Submit
              <mat-icon class="spinner" *ngIf="submitting">autorenew</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</metutors-modal>
