.total-bookings {
  .heading {
    padding: 10px 0;
    background: #F8F8F8;
    border-bottom: 1px solid #EDEDED;

    .student-info {
      img {
        width: 50px;
        height: 50px;
      }

      h1 {
        color: #2A2A2A;
        font-size: 18px;
        font-weight: bold;
      }

      .count {
        color: #FF8300;
        font-size: 14px;
      }
    }

    .info {
      span {
        font-size: 14px;
        color: #696969;
        font-weight: 500;
      }

      strong {
        color: #2a2a2a;
        margin-left: 5px;
        font-size: 17px;
      }
    }

    .percentage {
      strong {
        color: #2A2A2A;
        font-weight: normal;
      }

      .my-progress,
      .progress-spinner,
      .progress-spinner svg {
        width: 40px !important;
        height: 40px !important;

        span {
          top: 0;
          left: 0;
          bottom: 0;
          font-size: 13px;
          right: 0;
          text-align: center;
          line-height: 40px;
        }
      }
    }

    .close-btn {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  .table-block {
    margin: 0 -12px;

    .my-table {
      overflow: visible;

      th {
        color: #949494;
        font-size: 12px;
      }

      .view-details {
        line-height: 0;
        min-width: 0;
        padding: 15px;
        border-radius: 25px !important;
      }
    }
  }
}
