<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'large'"
                [showHeader]="true" [template]="template" [heading]="heading">
  <ng-template #template>
    <div class="total-bookings">
      <ng-container [ngSwitch]="loading">
        <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>

        <ng-container *ngSwitchCase="false">
          <div *ngIf="!data?.bookings?.length" class="text-center p-xxl-5">
            No records found
          </div>

          <ng-container *ngIf="data?.bookings?.length">
            <div class="heading row">
              <div class="col-md-6">
                <metutors-user-avatar [type]="'medium'" [rating]="data.averageRating" *ngIf="type !== 'subject'"
                                      [avatar]="imageUrl+data?.student?.avatar" [width]="50" [height]="50"
                                      [name]="data.name"></metutors-user-avatar>
              </div>
              <div class="col-md-2 info d-flex align-items-center" *ngIf="type !== 'subject'">
                <span>Total Records </span>
                <strong> {{ data?.totalBookings }}</strong>
              </div>
              <div class="col-md-6 info d-flex justify-content-end" *ngIf="type === 'subject'">
                <span>
                  Total Active <strong>{{ data?.totalBookings }} Bookings</strong>
                </span>
              </div>
              <div class="col-md-4 percentage d-flex align-items-center" *ngIf="type!=='subject'">
                <strong class="me-2">Attendance Percentage</strong>
                <div class="position-relative my-progress">
                  <mat-progress-spinner class="progress-spinner" [color]="'primary'" [mode]="'determinate'"
                                        [value]="data.attendenceRate">
                  </mat-progress-spinner>
                  <span class="position-absolute">{{data?.attendenceRate}}%</span>
                </div>
              </div>
            </div>

            <div class="table-responsive table-block">
              <table class="table my-table default-title mb-0">
                <tr>
                  <th>Number</th>
                  <th>BIN</th>
                  <th>SIN</th>
                  <th>{{ type === 'student' ? 'Teacher Name' : 'Student Name'}}</th>
                  <th>Program Name</th>
                  <th>Field of Study</th>
                  <th>Subject</th>
                  <th>Course ID</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let booking of data?.bookings; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>BIN1</td>
                  <td>SIN1</td>
                  <td>

                    <metutors-user-avatar [avatar]="imageUrl+booking?.teacher?.avatar" [type]="'small'"
                                          [name]="booking?.teacher?.firstName+' ' + booking?.teacher?.lastName"
                                          *ngIf="type==='student'"></metutors-user-avatar>
                    <metutors-user-avatar [avatar]="imageUrl+booking?.student?.avatar" [type]="'small'"
                                          [name]="booking?.student?.firstName+ ' ' +booking?.student?.lastName"
                                          *ngIf="type==='subject' || type === 'teacher'"></metutors-user-avatar>
                  </td>
                  <td class="text-capitalize">{{ booking?.program?.code }}</td>
                  <td>{{ booking?.field?.name }}</td>
                  <td>{{ booking?.subject?.name }}</td>
                  <td>{{ booking?.courseCode }}</td>
                  <td>{{ booking?.totalPrice }}$</td>
                  <td>
                    <button class="status text-capitalize" mat-button [ngClass]="booking?.status">
                      {{ booking?.status }}
                    </button>
                  </td>
                  <td>
                    <button mat-button class="view-details main-button-transparent"
                            [routerLink]="['/admin', 'student', booking?.studentId, 'booking-detail', booking?.id]"
                            (click)="closeModal.emit()">
                      View Details
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</metutors-modal>
