<div class="student-profile" *ngLet="(view$ | async) as view">
  <div class="card">
    <div class="card-body">
      <ng-container [ngSwitch]="view.loading">
        <ng-container *ngSwitchCase="true">
          <div class="ph-row">
            <div class="ph-col-8 big"></div>
            <div class="ph-col-4 big empty"></div>
            <div class="ph-col-10 big mt-3"></div>
            <div class="ph-col-2 big empty mt-3"></div>
            <div class="ph-col-6 mt-4"></div>
            <div class="ph-col-6 mt-4 empty"></div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="false">
          <div class="row">
            <div class="col-md-6">
              <h1>Student Profile</h1>
            </div>
            <div class="col-md-6">
              <div class="row list-items md-item p-0 d-flex justify-content-end mt-3">
                <div class="col-md-2">
                  <span>Joining Date:</span>
                </div>
                <div class="col-md-3 d-flex menu align-items-center">
                  <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
                  <strong>{{ view.profile?.student?.createdAt | date: 'E d, Y'}} </strong>
                </div>
                <div class="col-md-3 d-flex menu align-items-center">
                  <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                  <strong>{{ view.profile?.student?.createdAt | date : 'shortTime'}}, PKT</strong>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 d-flex justify-content-between my-4">
              <div class="d-flex align-items-center">
                <img [src]="imageUrl+view.profile?.student?.avatar" width="25" height="25" class="rounded-circle p-0 me-3" draggable="false"
                     meTutorsDefaultAvatar
                     alt="">
                <strong>
                  <bdi>{{view.profile?.student?.firstName}} {{ view.profile?.student?.lastName }}</bdi>
                </strong>
                <span class="ms-2">({{view.profile?.student?.idNumber}})</span>
              </div>

              <button class="status text-capitalize status" mat-button [ngClass]="view.profile?.student?.status">{{view.profile?.student?.status}}</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <table class="basic-table w-100">
                <tr>
                  <td>Email</td>
                  <td>{{view.profile?.student?.email}}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{view.profile?.student?.mobile}}0</td>
                </tr>
                <tr>
                  <td>Attendance Percentage</td>
                  <td>
                    <div class="position-relative my-progress">
                      <mat-progress-spinner class="progress-spinner" [color]="'primary'" [mode]="'determinate'"
                                            [value]="view.profile?.attendenceRat">
                      </mat-progress-spinner>
                      <span class="position-absolute">{{view.profile?.attendenceRate}}%</span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <table class="basic-table w-100">
                <tr>
                  <td>Total Courses</td>
                  <td class="text-end">{{view.profile?.totalCourses}}</td>
                </tr>
                <tr>
                  <td>Completed Courses</td>
                  <td class="text-end">{{view.profile?.completedCourses}}</td>
                </tr>
                <tr>
                  <td>Total amount spent</td>
                  <td class="text-end">${{view.profile?.totalSpendings}}</td>
                </tr>
              </table>
            </div>
          </div>
        </ng-container>

        <h2>Courses</h2>

        <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>

        <ng-container *ngSwitchCase="false">
          <div class="text-center p-xxl-5" *ngIf="!view.profile?.courses?.length">
            No Course found!
          </div>

          <table class="table my-table default-title mt-4" *ngIf="view.profile?.courses?.length">
            <tr>
              <th>Number</th>
              <th>BIN</th>
              <th>SIN</th>
              <th>Student Name</th>
              <th>Program Name</th>
              <th>Field of Study</th>
              <th>Subject</th>
              <th>Course ID</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let course of view.profile?.courses; let i=index">
              <td>{{ i+1}}</td>
              <td>BIN1</td>
              <td>{{view.profile?.student?.idNumber}}</td>
              <td>
                <div class="d-flex align-items-center">
                  <a>
                    <img [src]="imageUrl+view.profile?.student?.avatar" width="25" height="25" class="rounded-circle p-0 me-2" draggable="false"
                         meTutorsDefaultAvatar alt="">
                    <span>
                  <bdi>{{ view.profile?.student?.firstName }} {{ view.profile?.student?.lastName }}</bdi>
                </span>
                  </a>
                </div>
              </td>
              <td class="text-capitalize">{{ course?.program?.code}}</td>
              <td>{{ course?.field?.name }}</td>
              <td>{{ course?.subject?.name}}</td>
              <td>{{ course?.courseCode}}</td>
              <td>{{course?.totalPrice}}$</td>
              <td>
                <button class="status text-capitalize" mat-button [ngClass]="course?.status"
                        [tooltip]="statusLabel[course?.status]?.long">{{ statusLabel[course?.status]?.short}}
                </button>
              </td>
              <td>
                <button mat-button class="view-details main-button-transparent" [routerLink]="['/admin', 'student', view.profile?.student?.id, 'booking-detail', course?.id]">
                  View Details
                </button>
              </td>
            </tr>
          </table>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
