<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'xlarge'"
  [heading]="data?.program?.name" [template]="template" [subHeading]="data?.subject?.fieldName">
  <ng-template #template>
    <div class="subject-card my-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-1">
              <img [src]="imageURL + data?.subject?.field?.image" width="65px" height="65px" draggable="false" alt="">
            </div>
            <div class="col-md-8">
              <h1>{{ data?.subject?.name }}</h1>
              <p class="mb-0">{{ data?.subject?.description }}</p>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-between">
              <h3>
                Hourly Price
                <span>{{ data?.subject?.pricePerHour | metutorsMoney | async }}</span>
              </h3>

              <a mat-flat-button color="primary" class="py-1 fw-bold" (click)="closeModal.emit()"
                routerLink="/requests/request-tutor"
                [queryParams]="{program: data?.program?.id, field: data?.subject?.fieldId, subject: data?.subject?.id, country: data?.country, grade: data?.grade}">
                Start learning now
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotate-180-ar">
                  <path
                    d="M16.172 10.9999H4V12.9999H16.172L10.808 18.3639L12.222 19.7779L20 11.9999L12.222 4.22192L10.808 5.63592L16.172 10.9999Z"
                    fill="#FFF" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tutors row">
      <div class="col-md-12">
        <h1>Featured Tutors</h1>
        <p>Choose from more than 500 professional academic instructors in different subjects and study fields</p>
      </div>

      <ng-container [ngSwitch]="isLoading">
        <ng-container *ngSwitchCase="true">
          <div class="col-md-4" *ngFor="let _ of [1, 2, 3]">
            <div class="card">
              <div class="card-body">
                <div class="ph-row">
                  <div class="ph-col-8 big"></div>
                  <div class="ph-col-4 big empty"></div>
                  <div class="ph-col-10 big mt-3"></div>
                  <div class="ph-col-2 big empty mt-3"></div>
                  <div class="ph-col-6 mt-4"></div>
                  <div class="ph-col-6 mt-4 empty"></div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="false">
          <div class="col-md-4" *ngFor="let teacher of teachers; let i = index">
            <div class="tutor-item">
              <div class="row">
                <div class="col-4">
                  <div class="position-relative img-avatar">
                    <img [src]="teacher?.avatar" meTutorsDefaultAvatar alt="" width="90px" height="90px">
                    <!-- <svg class="position-absolute status" width="16" height="16" [ngClass]="{
                  'is-online': teacher?.status === tutorStatus.online,
                  'is-busy': teacher?.status === tutorStatus.busy,
                  'is-offline': teacher?.status === tutorStatus.offline,
                  'is-away': teacher?.status === tutorStatus.away
                }" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="8" cy="8" r="7" fill="#949494" stroke="white" stroke-width="2" />
                </svg> -->
                  </div>
                </div>
                <div class="col-8">
                  <h2>
                    <a [routerLink]="'/profile/tutor/' + teacher?.id"
                      (click)="closeModal.emit()">{{ teacher?.name }}</a>
                    <!-- <span class="text-uppercase pro">Pro</span> -->
                    <!-- <span class="text-uppercase verified">Verified</span> -->
                  </h2>
                  <h3 *ngIf="teacher?.qualifications?.nameOfUniversity">
                    {{ teacher?.qualifications?.nameOfUniversity }}
                  </h3>
                  <div>
                    <rating [ngModel]="teacher?.averageRating" [max]="5" [readonly]="true"></rating>
                    <span class="count">{{ teacher?.averageRating | number:'.1-1' }}</span>
                    <span class="review" *ngIf="teacher?.totalFeedbacks">
                      ({{ teacher?.totalFeedbacks }} review{{ +(teacher?.totalFeedbacks)! > 1 ? 's' : '' }})</span>
                  </div>
                </div>
              </div>

              <div class="col-12 list">
                <div class="row">
                  <div class="col-6 d-flex">
                    <img src="assets/svg/map.svg" class="icon" draggable="false" width="16" height="16" alt="">
                    <span>
                      From {{ teacher?.country?.name || '-'}}
                    </span>
                  </div>
                  <div class="col-6 d-flex" *ngIf="teacher?.studentsTeaching">
                    <img src="assets/svg/classes.svg" class="icon" draggable="false" width="16" height="16" alt="">
                    <span>
                      Taught {{ teacher?.studentsTeaching || 0 }}
                      student{{ +(teacher?.studentsTeaching)! > 1 ? 's' : '' }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-12 flex-grow-1">
                <p class="bio">
                  Bio:
                  {{ (teacher.bio && teacher.bio.length > 80) ? ((teacher?.bio | slice:0:80) + '...') : (teacher?.bio || '-' ) }}
                  <a [routerLink]="'/profile/tutor/' + teacher?.id" *ngIf="teacher.bio && teacher.bio.length > 80">
                    Read more
                  </a>
                </p>
              </div>

              <div class="col-12 specialization" *ngIf="teacher?.programs && teacher?.programs?.length">
                <h2>Specialization:</h2>
                <div class="programs">
                  <button mat-button class="main-button-transparent me-2" *ngFor="let program of teacher?.programs">
                    {{ program?.code }}
                  </button>
                </div>
                <span *ngFor="let subject of teacher?.subjects">{{ subject?.name }}</span>
              </div>

              <div class="col-12 d-flex actions">
                <a mat-flat-button color="primary" class="flex-grow-1 book"
                  [routerLink]="'/profile/tutor/' + teacher?.id">
                  View Full Profile
                </a>
                <!-- <button mat-button class="more">
                  <mat-icon>more_vert</mat-icon>
                </button> -->
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</metutors-modal>
