<div class="tutors-list" *ngLet="view$ | async as view">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1>Pending Teachers</h1>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-end">
        <div class="col-md-5">
          <metutors-search-input (searchedText)="onSearch($event)"></metutors-search-input>
        </div>
        <!--<div class="col-md-5">
          <div class="position-relative">
            <input type="text" class="form-control custom-input input-bordered" placeholder="Apply filters">
            <mat-icon class="filter">filter_alt</mat-icon>
          </div>
        </div>-->
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedIndex">
        <mat-tab [label]="'Pending (' + view.tutorCounts?.pendingCount + ')'">
          <ng-container [ngSwitch]="view.loading">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4">
                <tr>
                  <th>Number</th>
                  <th>TIN</th>
                  <th>Teacher Name</th>
                  <th>Gender</th>
                  <th>Work Contract</th>
                  <th>Country</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!view.pendingTutors || !view.pendingTutors?.length">
                  <td colspan="9">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let tutor of view.pendingTutors; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ tutor?.idNumber }}</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img [src]="tutor?.avatar" width="25" height="25" class="rounded-circle p-0 me-2"
                        draggable="false" meTutorsDefaultAvatar alt="">
                      <span>
                        <bdi>{{ tutor?.name }}</bdi>
                      </span>
                    </div>
                  </td>
                  <td class="text-capitalize">{{ tutor?.gender }}</td>
                  <td class="text-capitalize tutor-date">
                    <div>
                      <span>From</span> {{ tutor?.specifications?.availabilityStartDate | date: 'YYYY-MM-d' }}
                    </div>
                    <div>
                      <span>To</span> {{ tutor?.specifications?.availabilityEndDate | date: 'YYYY-MM-d' }}
                    </div>
                  </td>
                  <td>{{ tutor?.country?.name }}</td>
                  <td>{{ tutor?.createdAt | date }}</td>
                  <td>
                    <div class="change-status position-relative d-flex">
                      <button class="status text-capitalize pending" mat-button>Pending</button>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0" (click)="selectedTutor = tutor">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>

              <div class="d-flex mt-2 justify-content-center" *ngIf="view.tutorCounts.totalPending > view.pendingTutors?.length">
                <pagination
                  [totalItems]="view.tutorCounts?.totalPending"
                  [itemsPerPage]="perPage" [maxSize]="5"
                  (pageChanged)="onPageChange($event)">
                </pagination>
              </div>
            </ng-container>
          </ng-container>
        </mat-tab>
        <mat-tab [label]="'Rejected (' + view.tutorCounts?.rejectedCount + ')'">
          <ng-container [ngSwitch]="view.loading">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4">
                <tr>
                  <th>Number</th>
                  <th>TIN</th>
                  <th>Teacher Name</th>
                  <th>Gender</th>
                  <th>Work Contract</th>
                  <th>Country</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngIf="!view.rejectedTutors || !view.rejectedTutors?.length">
                  <td colspan="9">
                    <div class="text-center">No records found</div>
                  </td>
                </tr>
                <tr *ngFor="let tutor of view.rejectedTutors; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ tutor?.idNumber }}</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img [src]="tutor?.avatar" width="25" height="25" class="rounded-circle p-0 me-2"
                        draggable="false" meTutorsDefaultAvatar alt="">
                      <span>
                        <bdi>{{ tutor?.name }}</bdi>
                      </span>
                    </div>
                  </td>
                  <td class="text-capitalize">{{ tutor?.gender }}</td>
                  <td class="text-capitalize tutor-date">
                    <div>
                      <span>From</span> {{ tutor?.specifications?.availabilityStartDate | date: 'YYYY-MM-d' }}
                    </div>
                    <div>
                      <span>To</span> {{ tutor?.specifications?.availabilityEndDate | date: 'YYYY-MM-d' }}
                    </div>
                  </td>
                  <td>{{ tutor?.country?.name }}</td>
                  <td>{{ tutor?.createdat | date }}</td>
                  <td>
                    <div class="change-status position-relative d-flex">
                      <button class="status text-capitalize deactive" mat-button>Rejected</button>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0" (click)="selectedTutor = tutor">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>

              <div class="d-flex mt-2 justify-content-center" *ngIf="view.tutorCounts.totalRejected > view.rejectedTutors?.length">
                <pagination
                  [totalItems]="view.tutorCounts?.totalRejected"
                  [itemsPerPage]="perPage" [maxSize]="5"
                  (pageChanged)="onPageChange($event)">
                </pagination>
              </div>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="h-auto btn-menu"
    [routerLink]="['/admin', 'tutor', 'profile', selectedTutor?.id]">
    <span>View Profile</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu" (click)="onOpenTeacherAvailabilityModal((selectedTutor?.id)!)">
    <span>View Availability</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu">
    <span>Send Message</span>
  </button>
</mat-menu>

<metutors-teacher-availability-modal [timeSlots]="(tutorAvailability$ | async)!"
                                     [isLoadingTimeSlots]="(isLoadingTutorAvailability$ | async)!"
                                     [showModal]="(showTeacherAvailabilityModal$ | async)!"
                                     *ngIf="showTeacherAvailabilityModal$ | async"
                                     (closeModal)="onCloseTeacherAvailabilityModal()">
</metutors-teacher-availability-modal>
