<div class="field-study-list" *ngLet="(fields$ | async) as fields">
  <div class="row">
    <div class="col-md-12">
      <div class="mt-2">
        <ng-container [ngSwitch]="isLoading$ | async">
          <div class="mt-4" *ngSwitchCase="true">
            <metutors-grid-placeholder></metutors-grid-placeholder>
          </div>

          <ng-container *ngSwitchCase="false">
            <div class="row mb-3">
              <div class="col-12">
                <h2 class="title"> Field of Study
                  <button mat-flat-button color="primary" class="float-end"
                    (click)="onOpenAddNewField(); selectedField = undefined">
                    Add Field of Study
                  </button>
                </h2>
              </div>
            </div>
            <div class="row filters">
              <div class="col-md-9">
                <span class="title">Filters</span>
                <mat-form-field appearance="outline" class="me-2">
                  <mat-select [placeholder]="'By Program'" [(ngModel)]="program" (selectionChange)="onChangeSelection()">
                    <mat-option [value]="program?.id" *ngFor="let program of programs$ | async">
                      {{ program?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="me-2">
                  <mat-select [placeholder]="'By Country'" [(ngModel)]="country" (selectionChange)="onChangeSelection()">
                    <mat-option [value]="country?.id" *ngFor="let country of countries$ | async">
                      {{ country?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="me-2">
                  <mat-select [placeholder]="'By Grade'" [(ngModel)]="grade" (selectionChange)="onChangeSelection()">
                    <mat-option [value]="i" *ngFor="let grade of grades; let i = index">
                      {{ grade }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="me-2">
                  <mat-select [placeholder]="'By Status'" [(ngModel)]="status" (selectionChange)="onChangeSelection()">
                    <mat-option [value]="state.id" *ngFor="let state of statuses">
                      {{ state.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <div class="position-relative search-request">
                  <mat-icon>search</mat-icon>
                  <input type="text" class="form-control custom-input input-bordered" [(ngModel)]="title"
                    placeholder="Search..." (keyup)="onChangeSelection()">
                </div>
              </div>
            </div>

            <table class="table my-table default-title mt-4 overflow-visible">
              <tr>
                <th>Number</th>
                <th>Program</th>
                <th>Country</th>
                <th>Grade</th>
                <th>Field of Study</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              <tr *ngIf="!fields || !fields.length">
                <td colspan="7">
                  <div class="text-center">No records found</div>
                </td>
              </tr>
              <tr *ngFor="let field of fields; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ field?.program?.name }}</td>
                <td>{{ field?.country?.name }}</td>
                <td>{{ grades[field?.grade] }}</td>
                <td>{{ field?.name }}</td>
                <td>
                  <div dropdown class="change-status position-relative d-flex">
                    <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="{
                        'active': fieldStatus.active === field?.status,
                        'inactive': fieldStatus.inActive === field?.status
                     }">
                     <ng-container *ngIf="fieldStatus.active === field?.status">Active</ng-container>
                     <ng-container *ngIf="fieldStatus.inActive === field?.status">Inactive</ng-container>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                      <li role="menuitem" class="cursor-pointer text-capitalize" *ngFor="let status of statuses"
                        [ngClass]="{
                          'active': fieldStatus.active === status.id,
                          'inactive': fieldStatus.inActive === status.id
                        }" (click)="onChangeStatus(field, status.id)">
                        {{ status.name }}
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <button mat-icon-button class="p-0 action me-2" disabled
                    *ngIf="(isDeletingField$ | async) && deletedField?.id === field.id">
                    <mat-icon class="spinner">autorenew</mat-icon>
                  </button>
                  <button mat-icon-button class="p-0 action me-2" (click)="deleteField(field)"
                    *ngIf="deletedField?.id !== field.id">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button class="p-0 action" (click)="onOpenAddNewField(); selectedField = field">
                    <img src="assets/svg/edit-green.svg" width="17" height="17" alt="">
                  </button>
                </td>
              </tr>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<metutors-admin-add-new-field-study-modal *ngIf="showAddNewFieldModal$ | async"
                                          (closeModal)="onCloseAddNewField()"
                                          [programs]="(programs$ | async)!"
                                          [countries]="(countries$ | async)!"
                                          [selectedField]="selectedField!"
                                          [isAdding]="(isAddingEditingField$ | async)!"
                                          [showModal]="(showAddNewFieldModal$ | async)!"
                                          (submitForm)="onAddEditField($event)">
</metutors-admin-add-new-field-study-modal>
