<div class="row study-metutors">
  <div class="col-md-12 text-center">
    <h1>Why Tutor With Us?</h1>
    <p>
      Teaching with us is a rewarding experience and here’s why.
    </p>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-md-4 item">
        <div class="card text-center h-100">
          <div class="card-body">
            <img src="assets/svg/person.svg" alt="" draggable="false" width="75px" height="75" />

            <h2>Teach Students From Around the World</h2>
            <h4>
              We’ll find students so you don’t have to! MEtutors has a high demand for tutors of all subjects.
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="card text-center h-100">
          <div class="card-body">
            <img src="assets/svg/verify.svg" alt="" draggable="false" width="75px" height="75" />

            <h2>Design Your Own Courses</h2>
            <h4>
              With MEtutors, you can teach courses with fixed curriculums or design your very own custom course which
              we’ll help you launch - whichever suits you best!
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="card text-center h-100">
          <div class="card-body">
            <img src="assets/svg/planet.svg" alt="" draggable="false" width="75px" height="75" />

            <h2>Boost Your Tutor Profile</h2>
            <h4>
              Teaching more students and receiving positive feedback will boost your profile and get you noticed! More
              students means the potential to earn more money.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
