.study-metutors {
  padding: 80px 15px 0;

  h1 {
    font-size: 40px;
    line-height: normal;
    color: #000000;
  }

  p {
    font-size: 20px;
    color: #949494;
    margin-bottom: 50px;
  }

  .item {
    margin-bottom: 10px;

    .card {
      border-top: 3px solid var(--main-color);
    }

    &:nth-child(2) .card {
      border-color: #ff554b;
    }

    &:nth-child(3) .card {
      border-color: #be63f9;
    }

    h2 {
      font-size: 20px;
      color: #000;
      margin-top: 15px;
      font-weight: bold;
    }

    h4 {
      font-size: 16px;
      color: #696969;
      margin-bottom: 25px;
      line-height: 1.6;
    }

    button {
      color: #2a2a2a;
      font-weight: bold;
    }
  }
}

@media (max-width:767px) {
  .study-metutors {
    padding: 20px 15px 0;

    p {
      margin-bottom: 20px;
    }

    .item {
      h4 {
        margin-bottom: 0;
      }
    }
  }
}
