<div class="row study-metutors">
  <div class="col-md-12 text-center">
    <h1>Why Become a Tutor with Us?</h1>
    <p>
      Explore more than 500 courses in different subjects, languages and study fields.
    </p>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-md-4 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/person.svg" alt="" draggable="false" width="75px" height="75" />

            <h2>We’ll send students to you</h2>
            <h4>
              Train students in 160+ countries and improve
              thousands of lives and families across
              the globe.
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/verify.svg" alt="" draggable="false" width="75px" height="75" />

            <h2>Build your reputation</h2>
            <h4>
              Train students in 160+ countries and improve
              thousands of lives and families across
              the globe.
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 item">
        <div class="card text-center">
          <div class="card-body">
            <img src="assets/svg/planet.svg" alt="" draggable="false" width="75px" height="75" />

            <h2>Tutor from anywhere</h2>
            <h4>
              Train students in 160+ countries and improve
              thousands of lives and families across
              the globe.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
