<ng-container *ngIf="isLoadingTutor">
  <metutors-grid-placeholder></metutors-grid-placeholder>
  <metutors-grid-placeholder></metutors-grid-placeholder>
</ng-container>

<ng-container *ngIf="!isLoadingTutor">
  <div class="profile-header mb-3 position-relative">
    <button mat-button class="status-interview" *ngIf="tutor?.interviewRequest" [ngClass]="{
        'pending': tutor?.interviewRequest?.status === interviewStatus.pending,
        'approved': tutor?.interviewRequest?.status === interviewStatus.approved,
        'rejected': tutor?.interviewRequest?.status === interviewStatus.rejected,
        'scheduled': tutor?.interviewRequest?.status === interviewStatus.scheduled
      }">
      <ng-container *ngIf="tutor?.interviewRequest?.status === interviewStatus.pending">
        {{ 'ACCOUNT_UNDER_REVIEW' | translate }}
      </ng-container>
      <ng-container *ngIf="tutor?.interviewRequest?.status === interviewStatus.approved">
        {{ 'ACCOUNT_APPROVED' | translate }}
      </ng-container>
      <ng-container *ngIf="tutor?.interviewRequest?.status === interviewStatus.rejected">
        {{ 'ACCOUNT_REJECTED' | translate }}
      </ng-container>
      <ng-container *ngIf="tutor?.interviewRequest?.status === interviewStatus.scheduled">
        {{ 'INTERVIEW_SCHEDULED' | translate }}
      </ng-container>
    </button>
    <div class="row">
      <div class="col-12">
        <div class="cover position-relative" [ngStyle]="{'background-image': 'url(' + tutor?.cover + ')'}">
          <input type="file" #filePicker (change)="onChangeCover($event)" hidden accept="image/*"/>
          <button type="button" mat-flat-button color="primary" class="upload-cover"
                  [disabled]="isChangeCover && !isAvatar"
                  (click)="filePicker.click()">
            <img src="assets/svg/upload-solid-white.svg" draggable="false" width="15" height="15"
                 *ngIf="!isChangeCover"/>
            <mat-icon class="spinner" *ngIf="isChangeCover && !isAvatar">autorenew</mat-icon>
            {{ 'UPLOAD_COVER_PHOTO' | translate }}
          </button>
        </div>
        <div class="row avatar-name align-items-center">
          <div class="col-md-3">
            <div class="position-relative px-3">
              <div class="img-status position-relative">
                <img [src]="tutor?.avatar" meTutorsDefaultAvatar alt="" class="rounded-circle" draggable="false"
                     [class.uploading]="isChangeAvatar && isAvatar">
                <mat-icon class="spinner" *ngIf="isChangeAvatar && isAvatar">autorenew</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1 mb-2">
          <div class="col-md-3">
            <input type="file" #filePicker1 (change)="onChangeAvatar($event)" hidden accept="image/*"/>
            <button type="button" mat-button class="upload-btn mx-2" (click)="filePicker1.click()"
                    [disabled]="isChangeAvatar && isAvatar">
              <img src="assets/svg/upload-solid.svg" width="15" height="15" draggable="false" alt="">
              {{ 'UPLOAD_PROFILE_PHOTO' | translate }}
            </button>
          </div>
          <div class="col-md-9 d-flex justify-content-end align-items-center">
            <button mat-flat-button color="primary" class="mx-2" (click)="submitInterview.emit()"
                    *ngIf="!tutor?.interviewRequest">
              {{ 'SUBMIT_INTERVIEW_REQUEST' | translate }}
            </button>
            <ng-container *ngIf="tutor?.interviewRequest?.status === interviewStatus.scheduled">
              <div class="interview-details">
                <span>{{ tutor?.interviewRequest?.interviewDate | date: 'YYYY-MM-dd' }}</span>
                <span class="ms-2">{{ tutor?.interviewRequest?.interviewTime | date: 'h:mm a' }}</span>
              </div>
              <button mat-flat-button color="primary" class="mx-2"
                      (click)="joinMeeting.emit(tutor?.interviewRequest?.id)">
                {{ 'JOIN_MEETING' | translate }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card complete-form mb-3 video">
    <div class="card-body">
      <h1 class="title f-size-18-md-sm mb-3">{{ 'MY_TEACHING_STYLE' | translate }}</h1>

      <input type="file" #videoPicker (change)="onChangeVideo($event)" hidden accept="video/*"/>
      <button mat-flat-button color="primary" class="px-4 edit-video" type="button"
              (click)="videoPicker.click()"
              [disabled]="uploadingVideo || tutor?.interviewRequest?.status === interviewStatus.pending || tutor?.interviewRequest?.status === interviewStatus.scheduled || tutor?.interviewRequest?.status === interviewStatus.rejected">
        <img src="assets/svg/upload-solid-white.svg" width="15" height="15" draggable="false" alt=""
             *ngIf="!uploadingVideo">
        <mat-icon class="spinner" *ngIf="uploadingVideo && isVideo">autorenew</mat-icon>
        {{ 'UPLOAD_VIDEO' | translate }}
      </button>
      <metutors-video-player [videoSrc]="tutor?.qualifications?.video" [maxHeight]="'315px'">
      </metutors-video-player>

      <div class="position-relative preview-style" *ngIf="isVideo">
        <ng-container *ngIf="fileUploadProgress?.length">
          <ng-container *ngFor="let uploadProgress of fileUploadProgress">
            <ng-container *ngIf="uploadProgress.responseType !== uploadComplete">
              <metutors-file-upload-progress [fileName]="uploadProgress.fileName" [fileType]="'video'"
                                             (onCancelUpload)="cancelUploading.emit(); uploadingVideo = false"
                                             [uploadedPercentage]="uploadProgress.progress" [cancelUpload]="true">
              </metutors-file-upload-progress>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="card complete-form mb-3">
    <form class="card-body" [formGroup]="personalInfoForm" (ngSubmit)="submitPersonalInfo(personalInfoForm)">
      <div class="d-flex justify-content-between align-items-center w-100 mb-4">
        <h1 class="title f-size-18-md-sm">{{ 'PERSONAL_INFORMATION' | translate }}</h1>

        <div>
          <metutors-submit-button [form]="personalInfoForm" [isSubmitting]="isUpdateProfile && selectedForm === 1"
                                  [isDisabled]="tutor?.interviewRequest?.status === interviewStatus.pending || tutor?.interviewRequest?.status === interviewStatus.scheduled || tutor?.interviewRequest?.status === interviewStatus.rejected">
            {{ 'UPDATE' | translate }}
          </metutors-submit-button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName" class="form-label">{{ 'FIRST_NAME' | translate }}</label>
            <input type="text" class="custom-input w-100 input-bordered" id="firstName"
                   placeholder="{{ 'FIRST_NAME' | translate }}"
                   formControlName="firstName" meTutorsLettersOnly>
            <div class="text-danger" *ngIf="firstName?.touched && firstName?.invalid">
              {{ 'WRITE_VALID_FIRST_NAME' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName" class="form-label">{{ 'LAST_NAME' | translate }}</label>
            <input type="text" class="custom-input w-100 input-bordered" id="lastName"
                   placeholder="{{ 'LAST_NAME' | translate }}"
                   formControlName="lastName" meTutorsLettersOnly>
            <div class="text-danger" *ngIf="lastName?.touched && lastName?.invalid">
              {{ 'WRITE_VALID_LAST_NAME' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="middleName" class="form-label">{{ 'MIDDLE_NAME' | translate }}
              <span>({{ 'OPTIONAL' | translate }})</span></label>
            <input type="text" class="custom-input w-100 input-bordered" id="middleName"
                   placeholder="{{ 'ENTER_MIDDLE_NAME' | translate }}"
                   formControlName="middleName" meTutorsLettersOnly>
            <div class="text-danger" *ngIf="middleName?.touched && middleName?.invalid">
              {{ 'WRITE_VALID_NAME' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="email" class="form-label">{{ 'EMAIL_ADDRESS' | translate }}</label>
            <input type="text" class="custom-input w-100 input-bordered" id="email" [value]="tutor?.email" readonly>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="dateOfBirth" class="form-label">{{ 'DATE_BIRTH' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="dateOfBirthPicker" placeholder="{{ 'SELECT_DATE_BIRTH' | translate }}"
                     (focus)="dateOfBirthPicker.open()" formControlName="dateOfBirth" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
              <mat-datepicker #dateOfBirthPicker></mat-datepicker>
            </mat-form-field>
            <div class="text-danger" *ngIf="dateOfBirth?.touched && dateOfBirth?.invalid">
              {{ 'SELECT_UR_DATE_BIRTH' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="country" class="form-label">{{ 'COUNTRY' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="country" placeholder="{{ 'SELECT_COUNTRY' | translate }}" id="country"
                          (selectionChange)="onChangeCountry(country?.value)">
                <mat-option>
                  <ngx-mat-select-search [(ngModel)]="filterCountry" [ngModelOptions]="{standalone: true}"
                                         placeholderLabel="{{ 'SEARCH_DOTS' | translate }}"
                                         noEntriesFoundLabel="{{ 'NO_MATCHING_COUNTRY_FOUND' | translate }}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let country of filteredCountries" [value]="country.id">
                  <img [src]="country?.flag" *ngIf="country?.flag" width="22px" class="me-2" alt="">
                  {{ country.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="country?.touched && country?.invalid">
              {{ 'CHOOSE_UR_COUNTRY' | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="gender" class="form-label">{{ 'SELECT_GENDER' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="gender" id="gender" placeholder="{{ 'SELECT_UR_GENDER' | translate }}">
                <mat-option [value]="gender"
                            *ngFor="let gender of genders">{{ gender | uppercase | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="gender?.touched && gender?.invalid">
              {{ 'CHOOSE_UR_GENDER' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="city" class="form-label">{{ 'CITY' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="city" placeholder="{{ 'SELECT_CITY' | translate }}"
                          [disabled]="!cities || !cities.length" id="city">
                <mat-option>
                  <ngx-mat-select-search [(ngModel)]="filterCity" [ngModelOptions]="{standalone: true}"
                                         placeholderLabel="{{ 'SEARCH_DOTS' | translate }}"
                                         noEntriesFoundLabel="{{ 'NO_MATCHING_CITY_FOUND' | translate }}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let city of filteredCities" [value]="city.name">{{ city.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="city?.touched && city?.invalid">
              {{ 'CHOOSE_UR_CITY' | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nationality" class="form-label">{{ 'NATIONALITY' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="nationality" placeholder="{{ 'SELECT_NATIONALITY' | translate }}"
                          id="nationality">
                <mat-option>
                  <ngx-mat-select-search [(ngModel)]="filterNationality" [ngModelOptions]="{standalone: true}"
                                         placeholderLabel="{{ 'SEARCH_DOTS' | translate }}"
                                         noEntriesFoundLabel="{{ 'NO_MATCHING_COUNTRY_FOUND' | translate }}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let country of filteredNationalities" [value]="country.name">
                  {{ country.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="nationality?.touched && nationality?.invalid">
              {{ 'CHOOSE_NATIONALITY' | translate }}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="address" class="form-label">{{ 'ADDRESS_1' | translate }}</label>
            <input type="text" class="custom-input w-100 input-bordered" id="address"
                   placeholder="{{ 'ENTER_STREET_ADDRESS' | translate }}"
                   formControlName="address">
            <div class="text-danger" *ngIf="address?.touched && address?.invalid">
              {{ 'ADDRESS_CHARACTERS' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="bio" class="form-label">{{ 'ADD_BIOGRAPHY' | translate }}
              <span>({{ 'WRITE_BIOGRAPHY_NOTE' | translate }})</span>
              <metutors-char-counter [limit]="400" [controlName]="bio"></metutors-char-counter>
            </label>
            <textarea id="bio" class="custom-input w-100 input-bordered" placeholder="{{ 'ADD_BIO_HERE' | translate }}"
                      rows="10" formControlName="bio" minlength="200" maxlength="400"></textarea>
            <small class="text-danger">({{ 'BIO_CHARACTERS' | translate }})</small>
            <div class="text-danger" *ngIf="bio?.touched && bio?.invalid">
              {{ 'WRITE_UR_BIO' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="address2" class="form-label">{{ 'ADDRESS_2' | translate }} ({{ 'OPTIONAL' | translate }}
              )</label>
            <input type="text" class="custom-input w-100 input-bordered" id="address2"
                   placeholder="{{ 'ENTER_STREET_ADDRESS' | translate }}" formControlName="address2">
            <div class="text-danger" *ngIf="address2?.touched && address2?.invalid">
              {{ 'ADDRESS_CHARACTERS' | translate }}
            </div>
          </div>
          <div class="form-group">
            <label for="postalCode" class="form-label">{{ 'POSTAL_CODE' | translate }}</label>
            <input type="text" class="custom-input w-100 input-bordered" id="postalCode"
                   placeholder="{{ 'POSTAL_CODE' | translate }}"
                   formControlName="postalCode">
            <div class="text-danger" *ngIf="postalCode?.touched && postalCode?.invalid">
              {{ 'WRITE_VALID_POSTAL_CODE' | translate }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card complete-form mb-3">
    <form class="card-body" [formGroup]="qualificationForm" (ngSubmit)="submitQualificationDetails(qualificationForm)">
      <div class="d-flex justify-content-between align-items-center w-100 mb-4">
        <h1 class="title f-size-18-md-sm">{{ 'QUALIFICATION_DETAILS' | translate }}</h1>

        <div>
          <metutors-submit-button [form]="qualificationForm" [isSubmitting]="isUpdateProfile && selectedForm === 2"
                                  [isDisabled]="tutor?.interviewRequest?.status === interviewStatus.pending || tutor?.interviewRequest?.status === interviewStatus.scheduled || tutor?.interviewRequest?.status === interviewStatus.rejected">
            {{ 'UPDATE' | translate }}
          </metutors-submit-button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nameOfUniversity" class="form-label">{{ 'NAME_UNIVERSITY' | translate }}</label>
            <input type="text" class="custom-input w-100 input-bordered" id="nameOfUniversity"
                   placeholder="{{ 'ENTER_UNIVERSITY_NAME' | translate }}"
                   formControlName="nameOfUniversity" meTutorsLettersOnly>
            <div class="text-danger" *ngIf="nameOfUniversity?.touched && nameOfUniversity?.invalid">
              {{ 'VALID_UNIVERSITY_NAME' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="teachingExperience" class="form-label">{{ 'TEACHING_EXPERIENCE' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="teachingExperience" placeholder="{{ 'SELECT_YEARS' | translate }}">
                <mat-option [value]="experience" *ngFor="let experience of experiences">{{ experience }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="teachingExperience?.touched && teachingExperience?.invalid">
              {{ 'CHOOSE_YEARS_TEACHING_EXPERIENCE_SCHOOL' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="degreeLevel" class="form-label">{{ 'DEGREE_LEVEL' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="degreeLevel" placeholder="{{ 'SELECT_DEGREE_LEVEL' | translate }}"
                          (selectionChange)="resetDegreeField()">
                <mat-option [value]="level" *ngFor="let level of degreeLevels">
                  {{ level | metutorsUppercase | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="degreeLevel?.touched && degreeLevel?.invalid">
              {{ 'CHOOSE_DEGREE_LEVEL' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="teachingExperienceOnline"
                   class="form-label">{{ 'TEACHING_EXPERIENCE_ONLINE' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="teachingExperienceOnline" placeholder="{{ 'SELECT_YEARS' | translate }}">
                <mat-option [value]="experience" *ngFor="let experience of experiences">{{ experience }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="teachingExperienceOnline?.touched && teachingExperienceOnline?.invalid">
              {{ 'CHOOSE_YEARS_TEACHING_EXPERIENCE_ONLINE' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="degreeField" class="form-label">{{ 'DEGREE_FIELD' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="degreeField" placeholder="{{ 'SELECT_DEGREE_FIELD' | translate }}">
                <mat-option>
                  <ngx-mat-select-search [(ngModel)]="filterDegree" [ngModelOptions]="{standalone: true}"
                                         placeholderLabel="{{ 'SEARCH_DOTS' | translate }}"
                                         noEntriesFoundLabel="{{ 'NO_MATCHING_DEGREE_FIELD' | translate }}">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="field" *ngFor="let field of filteredDegreeFields">{{ field }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="degreeField?.touched && degreeField?.invalid">
              {{ 'CHOOSE_DEGREE_FIELD' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="currentEmployer" class="form-label">{{ 'CURRENT_EMPLOYER' | translate }}
              ({{ 'OPTIONAL' | translate }})</label>
            <input type="text" class="custom-input w-100 input-bordered" id="currentEmployer"
                   placeholder="{{ 'ENTER_CURRENT_EMPLOYER' | translate }}" formControlName="currentEmployer">
            <div class="text-danger" *ngIf="currentEmployer?.touched && currentEmployer?.invalid">
              {{ 'WRITE_VALID_CURRENT_EMPLOYER' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="computerSkills" class="form-label">{{ 'COMPUTER_SKILLS' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="computerSkills" placeholder="{{ 'SELECT_COMPUTER_SKILLS' | translate }}">
                <mat-option [value]="skill"
                            *ngFor="let skill of skills">{{ skill | uppercase | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="text-danger" *ngIf="computerSkills?.touched && computerSkills?.invalid">
              {{ 'CHOOSE_COMPUTER_SKILLS' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="currentTitle" class="form-label">{{ 'CURRENT_TITLE' | translate }} ({{ 'OPTIONAL' | translate }}
              )</label>
            <input type="text" class="custom-input w-100 input-bordered" id="currentTitle"
                   placeholder="{{ 'ENTER_CURRENT_TITLE' | translate }}"
                   formControlName="currentTitle" meTutorsLettersOnly>
            <div class="text-danger" *ngIf="currentTitle?.touched && currentTitle?.invalid">
              {{ 'WRITE_VALID_CURRENT_TITLE' | translate }}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="card complete-form mb-3">
    <form class="card-body" [formGroup]="teachingForm" (ngSubmit)="submitTeachingSpecification(teachingForm)">
      <div class="d-flex justify-content-between align-items-center w-100 mb-4">
        <h1 class="title f-size-18-md-sm">{{ 'TEACHING_PREFERENCES' | translate }}</h1>

        <div>
          <metutors-submit-button [form]="teachingForm" [isSubmitting]="isUpdateProfile && selectedForm === 3"
                                  [isDisabled]="tutor?.interviewRequest?.status === interviewStatus.pending || tutor?.interviewRequest?.status === interviewStatus.scheduled || tutor?.interviewRequest?.status === interviewStatus.rejected">
            {{ 'UPDATE' | translate }}
          </metutors-submit-button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="startDate" class="form-label">{{ 'AVAILABLE_START_DATE' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="startDatePicker"
                     placeholder="{{ 'SELECT_AVAILABLE_START_DATE' | translate }}"
                     (focus)="startDatePicker.open()" [min]="minDate" (dateChange)="onChangeStartDate()"
                     formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <div class="text-danger" *ngIf="startDate?.touched && startDate?.invalid">
              {{ 'SELECT_UR_AVAILABLE_START_DATE' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label">{{ 'TUTORING_PREFERENCES' | translate }}</label>
            <mat-radio-group class="d-flex flex-row mt-3 fw-bold flex-column-md-sm mt-15-sm"
                             formControlName="typeOfTutoring">
              <mat-radio-button [ngClass]="{'mt-15-md-sm ms-3': !isFirst}" class="m-0-md-sm" [value]="type.value"
                                *ngFor="let type of types | keyvalue: returnZero; let isFirst = first"
                                [disabled]="type.key !== 'one'">
                {{ type?.value }}
              </mat-radio-button>
            </mat-radio-group>
            <div class="text-danger" *ngIf="typeOfTutoring?.touched && typeOfTutoring?.invalid">
              {{ 'SELECT_TYPE_TUTORING' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="endDate" class="form-label">{{ 'AVAILABLE_END_DATE' | translate }}</label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="endDatePicker"
                     placeholder="{{ 'SELECT_AVAILABLE_END_DATE' | translate }}"
                     (focus)="endDatePicker.open()" [min]="startDate?.value" formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <div class="text-danger" *ngIf="endDate?.touched && endDate?.invalid">
              {{ 'SELECT_UR_AVAILABLE_END_DATE' | translate }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="form-label">{{ 'ADD_UR_AVAILABILITY' | translate }}</label>
            <div class="list-days">
              <button type="button" mat-button [class.active]="selectedDays?.includes(i)"
                      [disabled]="checkDisabledDays(day)"
                      *ngFor="let day of days; let i = index" (click)="onChangeDay(i)" class="w-100-md-sm">
                {{ day | uppercase | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <metutors-tutor-settings-profile-teaching-courses [subjects]="tutor?.subjects"
                                                    [sortedSubjects]="(tutor?.sortedSubjects)!"
                                                    [status]="(tutor?.interviewRequest?.status)!"
                                                    [isSubmitting]="isUpdateProfile && selectedForm === 4"
                                                    (submitForm)="submitTeachingCourses($event)">
  </metutors-tutor-settings-profile-teaching-courses>
</ng-container>
