.profile-header {
  border-radius: 15px;
  background-color: #FFF;
  border: solid 1px #e2e2ea;
  overflow: hidden;

  .cover {
    height: 145px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .avatar-name {
    margin-top: -50px;
    color: #FFF;

    .img-status {
      width: 100px;
      height: 100px;
      background-color: #F8F8F8;
    }
  }

  .upload-btn {
    color: #949494;
    font-size: 12px;
    font-weight: bold;
  }
}

.complete-form {
  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .form-label {
    color: #000;
    font-size: 15px;
  }
}
