<div class="slide" style="background-image: url('assets/homepage/student-cover.png')">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="f-size-25-md-sm">
          Study a Global
          <br>
          Education
        </h1>
        <p class="f-size-17-md-sm">
          Join MEtutors’ online smart AI powered platform to achieve your learning goals and create your own student success story.
        </p>
        <button mat-flat-button color="primary" routerLink="/signin" *ngIf="!token">Start learning now</button>
      </div>
    </div>
  </div>
</div>
