.settings {
  padding: 20px 40px;

  .card {
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #e5eaf4;
    margin-top: 30px;

    ul {
      border-right: 1px solid #eee;

      li {
        color: #696969;
        font-size: 16px;
        padding: 25px 15px;
        border-bottom: solid 1px #eeeeee;
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &.active {
          color: #2a2a2a;
          font-weight: bold;
          border-left: 5px solid var(--main-color);
        }
      }
    }

  }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px 0 10px;
  border-top: 5px solid transparent;
  line-height: 20px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0);
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: transparent;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick {
  border: 1px solid #f44336;
  color: transparent
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-valid .mat-form-field-wrapper {
  margin-bottom: 0;
}

:host ::ng-deep input.mat-input-element {
  height: 20px;
}

:host ::ng-deep textarea.mat-input-element {
  line-height: 25px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label mat-label {
  background-color: #FFF
}
