<metutors-tutor-navbar [layout]="(layout$ | async)" [user]="user$ | async" (logout)="logout()"></metutors-tutor-navbar>

<div class="settings mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card overflow-hidden">
        <div class="card-body p-0">
          <ul class="list-unstyled m-0 h-100">
            <li [class.active]="tab === 'MY_PROFILE'" (click)="tab = 'MY_PROFILE'">
              My Profile
            </li>
            <li [class.active]="tab === 'SECURITY_SETTINGS'" (click)="tab = 'SECURITY_SETTINGS'">
              Security Settings
            </li>
            <li [class.active]="tab === 'USER_PREFERENCES'" (click)="tab = 'USER_PREFERENCES'">
              User Preferences
            </li>
            <li [class.active]="tab === 'PAYMENT_INFORMATION'" (click)="tab = 'PAYMENT_INFORMATION'">
              Payment Information
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-8" *ngLet="(tutor$ | async) as tutor">
      <metutors-tutor-settings-profile *ngIf="tab === 'MY_PROFILE'"
                                       [user]="(tutor$ | async)!"
                                       [isLoadingTutor]="(isLoadingTutor$ | async)!"
                                       [countries]="countries$ | async"
                                       [cities]="cities$ | async"
                                       [isChangeAvatar]="(isChangeTutorAvatar$ | async)!"
                                       [isChangeCover]="(isChangeTutorCover$ | async)!"
                                       [isUpdateProfile]="(isUpdateTutorProfile$ | async)!"
                                       (loadCities)="loadCities($event)"
                                       (submitForm)="sendTeacherAccount(tutor, $event)"
                                       (changeAvatar)="changetutorAvatar($event)"
                                       (changeCover)="changetutorCover($event)"
                                       (submitInterview)="onOpenSubmitInterview()"
                                       (joinMeeting)="onJoinMeeting($event)">
      </metutors-tutor-settings-profile>

      <metutors-tutor-settings-security *ngIf="tab === 'SECURITY_SETTINGS'"
                                        [isChanging]="isChangingPassword$ | async"
                                        [resetForm]="changePasswordSuccess$ | async"
                                        (submitForm)="onChangePassword($event)">
      </metutors-tutor-settings-security>

      <metutors-tutor-settings-user-preferences *ngIf="tab === 'USER_PREFERENCES'">
      </metutors-tutor-settings-user-preferences>

      <metutors-tutor-settings-payment-information *ngIf="tab === 'PAYMENT_INFORMATION'">
      </metutors-tutor-settings-payment-information>
    </div>
  </div>
</div>

<metutors-tutor-submit-interview-request-modal *ngIf="showSubmitInterviewModal$ | async"
                                               (closeModal)="onCloseSubmitInterview()"
                                               [submitting]="(isSubmittingInterview$ | async)!"
                                               (submitted)="onSubmitInterview($event)"
                                               [showModal]="(showSubmitInterviewModal$ | async)!">
</metutors-tutor-submit-interview-request-modal>
