<div class="row invoice-header">
  <div class="col-md-9">
    <ul class="list-inline mb-0">
      <li class="list-inline-item mb-0 me-4">
        <span class="f-size-15-md-sm">{{ 'INVOICE_NO' | translate }}</span>
        <strong class="f-size-15-md-sm">IN37738</strong>
      </li>
      <li class="list-inline-item mb-0 me-4">
        <span class="f-size-15-md-sm">{{ 'ORDER_NO' | translate }}</span>
        <strong class="f-size-15-md-sm">IN37738</strong>
      </li>
      <li class="list-inline-item mb-0 me-4">
        <span class="f-size-15-md-sm">{{ 'DATE_NO' | translate }}</span>
        <strong class="f-size-15-md-sm">{{ dateNow | date }}</strong>
      </li>
    </ul>
  </div>
  <div class="col-md-3 mt-15-sm">
    <button mat-button class="invoice-email d-block w-100 mb-1 fw-bold" (click)="getInvoiceEmail.emit()"
      [disabled]="isGetInvoiceEmail" *ngIf="!classroom?.isFree">
      <mat-icon class="spinner" *ngIf="isGetInvoiceEmail">autorenew</mat-icon>
      {{ 'GET_INVOICE_EMAIL' | translate }}
    </button>
    <button mat-button class="print d-block w-100 mb-1 fw-bold" (click)="print.emit()">{{ 'PRINT' | translate }}</button>
  </div>
</div>

<h3 class="title f-size-20-md-sm mt-15-sm">{{ 'INVOICE_DETAILS' | translate }}</h3>
<ul class="list-unstyled">
  <li class="d-flex justify-content-between">
    <span class="f-size-15-md-sm">{{ 'TOTAL_HOURS' | translate }} </span>
    <strong class="f-size-15-md-sm">{{ invoiceDetails?.totalHours }}
      {{ +(invoiceDetails?.totalHours)! > 1 ? ('HOURS_SM' | translate) : ('HOUR_SM' | translate) }}
    </strong>
  </li>
  <li class="d-flex justify-content-between">
    <span class="f-size-15-md-sm">{{ 'HOURLY_RATE' | translate }}</span>
    <strong class="f-size-15-md-sm">{{ (classroom?.isFree ? '0' : invoiceDetails?.pricePerHour) | metutorsMoney | async }}</strong>
  </li>
  <li class="d-flex justify-content-between">
    <span class="f-size-15-md-sm">{{ 'TOTAL_AMOUNT_DUE' | translate }}</span>
    <strong class="f-size-15-md-sm">{{ (classroom?.isFree ? '0' : invoiceDetails?.totalAmount) | metutorsMoney | async }}</strong>
  </li>
  <li class="d-flex justify-content-between promocode">
    <span class="f-size-15-md-sm">{{ 'PROMOCODE_OFF' | translate }}</span>
    <strong class="f-size-15-md-sm">{{ '0' | metutorsMoney | async }}</strong>
  </li>
  <li class="d-flex justify-content-between total-payment">
    <span class="f-size-15-md-sm">{{ 'TOTAL_PAYMENT' | translate }}</span>
    <strong class="f-size-15-md-sm">{{ (classroom?.isFree ? '0' : invoiceDetails?.totalAmount) | metutorsMoney | async }}</strong>
  </li>
  <li class="d-flex justify-content-between coupon d-block-sm">
    <span class="f-size-17-md-sm">{{ 'PROMOCODE' | translate }}</span>
    <div class="d-flex have-coupon">
      <input placeholder="New2020" [(ngModel)]="coupon" class="form-control" (keydown.space)="$event.preventDefault()">
      <button type="button" mat-button (click)="applyCoupon.emit(coupon)" [disabled]="!coupon || isApplyingCoupon">{{ 'APPLY' | translate }}</button>
    </div>
  </li>
</ul>
