.invoice-header {
  span {
    margin-right: 5px;
  }

  .invoice-email {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: var(--main-color);
      color: #FFF;
    }
  }

  .print {
    color: #949494;
    border: 1px solid #949494;
    transition: all 0.25s ease-in-out;

    &:hover {
      background-color: #949494;
      color: #FFF;
    }
  }
}

ul li {
  margin-bottom: 15px;

  span {
    color: #696969;
    font-size: 16px;
  }

  strong {
    color: #000;
    font-size: 16px;
  }

  &.promocode {
    span,
    strong {
      color: #ff554b;
    }
  }

  &.total-payment {
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }

  &.coupon, &.total-payment {
    span, strong {
      font-size: 18px;
    }
  }
}

.have-coupon {
  input {
    border-radius: 4px 0 0 4px;
  }

  button {
    border-radius: 0 4px 4px 0;
    background-color: #2a2a2a;
    color: #FFF;
  }
}
