<div class="benefits-tutoring" style="background-image: url(assets/homepage/bullets.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5 mb-15-sm">
        <h1 class="f-size-25-md-sm">Why choose MEtutors</h1>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/brain.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">Powered by artificial intelligence</h2>
          <p class="f-size-15-md-sm">
            An intuitive learning platform built on cutting-edge AI to track your progress and match you with best
            tutor.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/experience.png" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">A personalized learning experience</h2>
          <p class="f-size-15-md-sm">
            Progress academically with courses adapted to you and your goals.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/flexible.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">Flexibility for busy learners</h2>
          <p class="f-size-15-md-sm">
            Online tutoring that fits your lifestyle. Connect from anywhere to take your class.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/personalized.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">Pricing that works for you</h2>
          <p class="f-size-15-md-sm">Prices to suit your budget.</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/qualified.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">Qualified & trusted tutors</h2>
          <p class="f-size-15-md-sm">
            MEtutors carefully selects only the best tutors who are subject matter experts.
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/support-fill.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">24/7 tutoring support</h2>
          <p class="f-size-15-md-sm">
            Get instant help with assignments and projects that have tight deadlines.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
