<div class="benefits-tutoring" style="background-image: url(assets/homepage/bullets.png);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5 mb-15-sm">
        <h1 class="f-size-25-md-sm">{{ 'WHY_CHOOSE_METUTORS' |  translate }}</h1>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/brain.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">{{ 'POWERED_ARTIFICIAL_INTELLIGENCE' |  translate }}</h2>
          <p class="f-size-15-md-sm">{{ 'POWERED_ARTIFICIAL_INTELLIGENCE_DESC' |  translate }}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/experience.png" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">{{ 'PERSONALIZED_LEARNING_EXPERIENCE' |  translate }}</h2>
          <p class="f-size-15-md-sm">{{ 'PERSONALIZED_LEARNING_EXPERIENCE_DESC' |  translate }}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/flexible.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">{{ 'FLEXIBILITY_BUSY_LEARNERS' |  translate }}</h2>
          <p class="f-size-15-md-sm">{{ 'FLEXIBILITY_BUSY_LEARNERS_DESC' |  translate }}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/personalized.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">{{ 'PRICING_WORKS_YOU' |  translate }}</h2>
          <p class="f-size-15-md-sm">{{ 'PRICING_WORKS_YOU_DESC' |  translate }}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/qualified.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">{{ 'QUALIFIED_TRUSTED_TUTORS' |  translate }}</h2>
          <p class="f-size-15-md-sm">{{ 'QUALIFIED_TRUSTED_TUTORS_DESC' |  translate }}</p>
        </div>
      </div>
      <div class="col-md-4 mb-4 d-flex-sm">
        <img src="assets/svg/support-fill.svg" alt="" draggable="false">
        <div>
          <h2 class="f-size-18-md-sm">{{ 'TUTORING_SUPPORT' |  translate }}</h2>
          <p class="f-size-15-md-sm">{{ 'TUTORING_SUPPORT_DESC' |  translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
