<div class="benefits-tutoring">
  <div class="row">
    <div class="col-md-4">
      <h1>Benefits of academic tutoring </h1>
    </div>
    <div class="col-md-4">
      <img src="assets/svg/person-icon.svg" alt="">
      <h2>We have the best prices</h2>
      <p>Our insurance plans offers are priced the same everywhere else. We just make them easier for you to find.</p>
    </div>
    <div class="col-md-4">
      <img src="assets/svg/person-icon.svg" alt="">
      <h2>We’re your insurance advocate</h2>
      <p>We will deal with the insurance companies for you, even after you’ve bought your plan.</p>
    </div>
    <div class="col-md-4">
      <img src="assets/svg/person-icon.svg" alt="">
      <h2>We’re unbiased</h2>
      <p>Our online tools help you decide what product is best for you. We’re here to insurance plan you choose.</p>
    </div>
    <div class="col-md-4">
      <img src="assets/svg/person-icon.svg" alt="">
      <h2>We’re available 24/7</h2>
      <p>We have your back 24/7 between our online chat function, email and telephone support.</p>
    </div>
    <div class="col-md-4">
      <img src="assets/svg/person-icon.svg" alt="">
      <h2>We make insurance simple</h2>
      <p>We’re committed to making applying for insurance as simple as can be for our customers.</p>
    </div>
  </div>
</div>
