<metutors-study-slide [token]="(token$ | async)!"></metutors-study-slide>

<metutors-trust-happy-students></metutors-trust-happy-students>

<metutors-get-your-classes></metutors-get-your-classes>

<metutors-facts-statistics [statistics]="academicStatistics"></metutors-facts-statistics>

<div class="container">
  <metutors-learning-made-easy [token]="(token$ | async)!"></metutors-learning-made-easy>
</div>

<metutors-benefits-online-tutoring [token]="(token$ | async)!"></metutors-benefits-online-tutoring>

<metutors-home-study-more-read-more></metutors-home-study-more-read-more>

<metutors-success-stories [testmonials]="testmonials"
                          [title]="'FLEXIBILITY_FREEDOM_HOW_LEARN'"
                          [desc]="'HELPED_THOUSAND_STUDENTS_PROGRESS'">
</metutors-success-stories>

<metutors-start-learning-now [token]="(token$ | async)!"
                             [title]="'EXCEL_EXAM_METUTORS'"
                             [desc]="'BROWSE_COURSE_PROGRAMS_LEARNING'"
                             [btnText]="'EXPLORE_COURSES'">
</metutors-start-learning-now>
