:host ::ng-deep .profile {
  .card {
    margin-bottom: 20px;
    border-radius: 15px;
    border: solid 1px #e2e2ea;
    background-color: #ffffff;
    box-shadow: none;
  }

  .title {
    color: #171725;
    font-size: 15px;
    border-bottom: 1px solid #e2e2ea;
    font-weight: bold;
    margin: 0 -1.25rem 15px;
    padding: 0 15px 15px;
  }
}
