<div class="container profile mt-15-md-sm" *ngLet="(tutor$ | async) as tutor">
  <metutors-tutor-profile-header [tutor]="tutor" [isLoading]="(loading$ | async)!"></metutors-tutor-profile-header>

  <div class="row flex-column-reverse-sm">
    <div class="col-md-4">
      <metutors-tutor-profile-about-me [tutor]="tutor" [isLoading]="(loading$ | async)!">
      </metutors-tutor-profile-about-me>

      <metutors-tutor-profile-specialization [tutor]="tutor" [isLoading]="(loading$ | async)!">
      </metutors-tutor-profile-specialization>

      <metutors-tutor-profile-languages [tutor]="tutor" [isLoading]="(loading$ | async)!">
      </metutors-tutor-profile-languages>

      <metutors-tutor-profile-share></metutors-tutor-profile-share>
    </div>
    <div class="col-md-8">
      <metutors-tutor-profile-availablity-tutoring [tutor]="tutor" [isLoading]="(loading$ | async)!"
                                                   (tutorAvailability)="onTutorAvailability(tutor.id)">
      </metutors-tutor-profile-availablity-tutoring>

      <!-- <metutors-tutor-profile-video-preview [tutor]="tutor" [isLoading]="(loading$ | async)!">
      </metutors-tutor-profile-video-preview> -->

      <metutors-tutor-profile-feedback-ratings [tutor]="tutor" [isLoading]="(loading$ | async)!">
      </metutors-tutor-profile-feedback-ratings>

      <metutors-tutor-profile-tutor-badges [tutor]="tutor" [isLoading]="(loading$ | async)!">
      </metutors-tutor-profile-tutor-badges>
    </div>
  </div>
</div>

<metutors-teacher-availability-modal [timeSlots]="(tutorAvailability$ | async)!"
                                     [isLoadingTimeSlots]="(isLoadingTutorAvailability$ | async)!"
                                     [showModal]="(showTeacherAvailabilityModal$ | async)!"
                                     *ngIf="showTeacherAvailabilityModal$ | async"
                                     (closeModal)="onCloseTeacherAvailabilityModal()">
</metutors-teacher-availability-modal>