<div class="container profile" *ngLet="(tutor$ | async) as tutor">
  <metutors-tutor-profile-header [tutor]="tutor" [isLoading]="(loading$ | async)!"></metutors-tutor-profile-header>

  <div class="row">
    <div class="col-md-4">
      <metutors-tutor-profile-about-me [tutor]="tutor"></metutors-tutor-profile-about-me>

      <metutors-tutor-profile-specialization [tutor]="tutor"></metutors-tutor-profile-specialization>

      <metutors-tutor-profile-languages [tutor]="tutor"></metutors-tutor-profile-languages>

      <metutors-tutor-profile-share></metutors-tutor-profile-share>
    </div>
    <div class="col-md-8">
      <metutors-tutor-profile-availablity-tutoring [tutor]="tutor"></metutors-tutor-profile-availablity-tutoring>

      <metutors-tutor-profile-video-preview [tutor]="tutor"></metutors-tutor-profile-video-preview>

      <metutors-tutor-profile-feedback-ratings [tutor]="tutor"></metutors-tutor-profile-feedback-ratings>

      <metutors-tutor-profile-tutor-badges [tutor]="tutor"></metutors-tutor-profile-tutor-badges>
    </div>
  </div>
</div>
