:host ::ng-deep .payment-records {
  padding: 30px 40px 20px;

  .mat-tab-label {
    padding: 0;
    font-size: 18px;
    min-width: 70px;
    font-weight: bold;
    margin-right: 50px;
    justify-content: start;

    &.mat-tab-label-active {
      color: var(--main-color);
      opacity: 1;
    }
  }
}
