<div class="card about-me">
  <div class="card-body">
    <h1 class="title">About Me</h1>
    <p>
      {{ tutor?.bio }}
    </p>
    <ul class="list-unstyled m-0">
      <li>
        <img src="assets/svg/map.svg" draggable="false" width="20" height="20" alt="">
        <span>Country: Egypt</span>
      </li>
      <li>
        <img src="assets/svg/website.svg" draggable="false" width="20" height="20" alt="">
        <span>Nationality: Pakistan</span>
      </li>
      <li>
        <img src="assets/svg/date.svg" draggable="false" width="20" height="20" alt="">
        <span>Gender: Male</span>
      </li>
      <li>
        <img src="assets/svg/date.svg" draggable="false" width="20" height="20" alt="">
        <span>Joined: June 2022</span>
      </li>
    </ul>
  </div>
</div>
