<div class="card about-me">
  <div class="card-body">
    <h1 class="title">{{ 'ABOUT_ME' | translate }}</h1>
    <ng-container *ngIf="!isLoading">
      <p *ngIf="tutor?.bio">{{ tutor?.bio }}</p>
      <ul class="list-unstyled m-0">
        <li>
          <img src="assets/svg/place.svg" draggable="false" width="20" height="20" alt="" *ngIf="tutor?.country?.name">
          <span>{{ 'COUNTRY' | translate }}: {{ tutor?.country?.name }}</span>
        </li>
        <li>
          <img src="assets/svg/website.svg" draggable="false" width="20" height="20" alt="" *ngIf="tutor?.nationality">
          <span>{{ 'NATIONALITY' | translate }}: {{ tutor?.nationality }}</span>
        </li>
        <li>
          <img src="assets/svg/gender.svg" draggable="false" width="20" height="20" alt="" *ngIf="tutor?.gender">
          <span>{{ 'GENDER' | translate }}: {{ tutor?.gender }}</span>
        </li>
        <li>
          <img src="assets/svg/date.svg" draggable="false" width="20" height="20" alt=""
            *ngIf="tutor?.interviewRequest?.updatedAt">
          <span>{{ 'JOINED' | translate }}: {{ tutor?.interviewRequest?.updatedAt | date: 'MMMM y' }}</span>
        </li>
      </ul>
    </ng-container>

    <div class="item" *ngIf="isLoading">
      <div class="ph-row">
        <div class="ph-col-12 big mt-1"></div>
        <div class="ph-col-0 big empty"></div>
        <div class="ph-col-12 big mt-1"></div>
        <div class="ph-col-0 big empty mt-1"></div>
        <div class="ph-col-12 big mt-1"></div>
        <div class="ph-col-0 big empty mt-1"></div>
      </div>
    </div>
  </div>
</div>
