<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()"
                [heading]="topic ? 'Edit Course Topic' : 'Add Course Topic'"
                [template]="template">
  <ng-template #template>
    <form [formGroup]="form" (ngSubmit)="submitted.emit(form)">
      <button class="btn delete-topic" *ngIf="topic" type="button" (click)="deleted.emit(topic.id)"
              [disabled]="isDeletingTopic" title="Delete Topic">
        <img src="assets/svg/delete.svg" alt="" draggable="false" />
        Delete
        <mat-icon class="spinner" *ngIf="isDeletingTopic">autorenew</mat-icon>
      </button>
      <div class="row add-topic-modal">
        <div class="col-12">
          <div class="classroom-item">
            <div class="row">
              <div class="mb-3">
                <label for="topic" class="form-label">Enter Topic Name</label>
                <metutors-char-counter [limit]="120" [controlName]="topicName"></metutors-char-counter>
                <input type="text" class="form-control custom-input input-bordered" formControlName="name" id="topic"
                       placeholder="Enter Topic Name" autocomplete="off">
                <div class="text-danger" *ngIf="topicName?.touched && topicName?.invalid">
                  Please write topic name with a max of 120 characters
                </div>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">{{ 'DESCRIPTION' | translate }}</label>
                <metutors-char-counter [limit]="250" [controlName]="description"></metutors-char-counter>
                <textarea class="form-control custom-input input-bordered" id="description" rows="6" formControlName="description"
                          placeholder="Enter Description here"></textarea>

                <div class="text-danger" *ngIf="description?.touched && description?.invalid">
                  Please write description with a max of 250 characters
                </div>
              </div>
              <div class="">
                <label for="select-class" class="form-label">
                  Select Classes
                  <span class="remaining-class">Remaining classes ({{classes?.value ? classes?.value : 0}}
                    out of {{ totalClasses }})</span>
                </label>
              </div>
              <div class="col-auto col-9 align-middle">
                <mat-slider thumbLabel id="select-class" min="0" [max]="totalClasses" class="w-100 slider"
                            [value]="classes?.value ? classes?.value : 0"
                            (change)="onClassSelect($event)"></mat-slider>
              </div>
              <div class="col-auto col-3">
                <span class="selected-classes">Selected Classes</span>
                <input type="text" readonly class="form-control input-bordered text-center class-input-box" placeholder="0" [value]="classes?.value ? classes?.value : 0">
              </div>

              <div class="mt-3">
                <div class="col-auto col-3 float-end">
                  <metutors-submit-button [form]="form" [isSubmitting]="isSubmitting" [isDisabled]="isDeletingTopic"
                                          [extraClasses]="'w-100 float-end'">
                    {{ topic ? 'Edit' : 'Add'}}
                  </metutors-submit-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</metutors-modal>
