:host ::ng-deep .feedback-rating {
  h1.title span {
    color: #ff8300;
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
  }

  .rating-block {
    border-bottom: solid 1px #e2e2ea;
    background-color: #f8f8f8;
    margin: -15px -1rem 0;
    padding: 15px 1rem;

    &.no-border-bottom {
      border-bottom: none;
    }

    h2 {
      color: #2a2a2a;
      font-size: 14px;
    }

    rating span.bs-rating-star {
      margin-left: 5px;

      &.active {
        color: var(--main-color);
      }
    }
  }

  .feedback-block {
    .review {
      margin-top: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 15px;

      h2 {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }

      span {
        color: #f5a623;
        font-size: 15px;
      }

      h4 {
        font-size: 12px;
        color: #7d7d7d;
      }

      p {
        color: #7d7d7d;
        font-size: 14px;
      }

      &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .load-more {
      display: block;
      margin-top: 15px;
      border-top: 1px solid #e0e0e0;
      padding-top: 15px;
      text-align: center;

      button {
        color: var(--main-color);
        font-weight: bold;
      }
    }
  }
}
