<div class="card feedback-rating">
  <div class="card-body">
    <h1 class="title">
      Feedback & Ratings
      <span>{{ tutor?.rate }} ({{ tutor?.reviewsCount }} reviews)</span>
    </h1>
    <div class="rating-block">
      <div class="row">
        <div class="col">
          <h2>Expert in the subject ({{ tutor?.expertInTheSubjectRate }})</h2>
        </div>
        <div class="col-md-2">
          <rating [ngModel]="tutor?.expertInTheSubjectRate" [max]="5" [readonly]="true"></rating>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <h2>Present complex topics clearly and easily ({{ tutor?.presentComplexTopicsClearlyAndEasilyRate }})</h2>
        </div>
        <div class="col-md-2">
          <rating [ngModel]="tutor?.presentComplexTopicsClearlyAndEasilyRate" [max]="5" [readonly]="true"></rating>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <h2>Skillful in engaging students ({{ tutor?.skillfulInEngagingStudentsRate }})</h2>
        </div>
        <div class="col-md-2">
          <rating [ngModel]="tutor?.skillfulInEngagingStudentsRate" [max]="5" [readonly]="true"></rating>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <h2>Always on time ({{ tutor?.alwaysOnTimeRate }})</h2>
        </div>
        <div class="col-md-2">
          <rating [ngModel]="tutor?.alwaysOnTimeRate" [max]="5" [readonly]="true"></rating>
        </div>
      </div>
    </div>
    <div class="feedback-block">
      <div class="row review" *ngFor="let review of tutor?.reviews">
        <div class="col-md-1">
          <img width="60" height="60" draggable="false" alt="" class="rounded-circle" meTutorsDefaultAvatar
            [src]="review?.student?.avatar">
        </div>
        <div class="col ms-3">
          <div class="d-flex align-items-center">
            <h2 class="m-0">{{ review?.student?.name }}</h2>
            <rating [ngModel]="review?.totalRate" [max]="5" [readonly]="true"></rating>
            <span>{{ review?.totalRate }}</span>
          </div>
          <h4 class="m-0">{{ review?.createdDate | amTimeAgo }}</h4>
          <p class="m-0">{{ review?.feedback }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
