<ng-container>
  <div class="wrapper">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card"  *ngLet="(view$ | async) as view">
          <div class="card-body">
            <div class="row data">
              <div class="col-md-12 center p-4 text-center payment-container">
                <ng-container [ngSwitch]="view.loading">

                  <!--Loading-->
                  <ng-container *ngSwitchCase="true">
                    <img src="assets/svg/loading.svg" alt="" draggable="false" class="mb-4"/>
                    <p>Please bear with us your payment is being processed...</p>
                  </ng-container>

                  <ng-container *ngSwitchCase="false">
                    <ng-container [ngSwitch]="view?.paymentInfo?.status">
                      <!--Success-->
                      <ng-container *ngSwitchCase="true">
                        <img src="assets/svg/cheer.svg" alt="" draggable="false" class=" mb-4"/>

                        <p>Payment has been made Successfully</p>

                        <button mat-flat-button color="primary" class="px-5 ms-3 p-2" [routerLink]="['/student', 'classrooms']">
                          Continue
                        </button>
                      </ng-container>

                      <!--Failed-->
                      <ng-container *ngSwitchCase="false">
                        <img src="assets/svg/failed.svg" alt="" draggable="false" class=" mb-4"/>

                        <p class="text-danger">{{ view?.paymentInfo?.error || 'Payment failed' }}</p>

                        <button mat-flat-button color="primary" class="px-5 ms-3 p-2" routerLink="/">
                          Go to Home
                        </button>

                        <button mat-flat-button color="primary" class="px-5 ms-3 p-2">
                          Try Again
                        </button>
                      </ng-container>
                    </ng-container>

                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</ng-container>
