.payment-container {
  font-size: 18px;

  .card {
    border-radius: 12px;
    border: solid 1px #e2e2e2;
    background-color: #ffffff;
    box-shadow: none;
    margin-bottom: 20px;
  }

  .spinner {
    margin-right: 10px;
  }
}
