<div class="row why-metutors">
  <div class="col-md-12 text-center">
    <h1 class="f-size-25-md-sm">Why MEtutors</h1>
    <p class="f-size-17-md-sm">
      MEtutors is an online learning hub that brings educators and students together in one place.
    </p>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let item of whyMeTutorsList">
        <div class="card h-100">
          <div class="card-body item d-flex align-items-center">
            <img src="assets/svg/correct.svg" draggable="false" width="25" height="25" alt="">
            <h2 class="mb-0">{{ item?.value }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
