<div class="opinion text-center">
  <div class="d-block mb-4 text-center">
    <img src="assets/homepage/courses/person.png" alt="" meTutorsDefaultAvatar width="140" height="140">
  </div>
  <h3>{{ 'LOVED_OUR_STUDENTS' | translate }}</h3>
  <p class="desc">{{ 'AUTH_OPINION_DESC' | translate }}</p>
  <rating [(ngModel)]="rate" [max]="5" [readonly]="true"></rating>
  <h4>{{ 'FIVE_STAR_RATING' | translate }}</h4>
  <div class="info">
    <h2>David Stevenson</h2>
    <h3>
      <img src="assets/svg/verified.svg" alt="" width="16" height="16" draggable="false">
      {{ 'VERIFIED_STUDENT' | translate }}
    </h3>
  </div>
</div>
