<form [formGroup]="form" class="card select-tutor" (ngSubmit)="onSubmit(form)">
  <div class="card-body">
    <div class="row row-block">
      <div class="col-md-4">
        <h2>Choose expert tutor</h2>
        <h4>choose from +1000 expert tutors with excellent experience</h4>
      </div>
      <div class="col-md-8">
        <div class="list-tutors" *ngIf="!loading">
          <mat-radio-group class="d-flex flex-column" formControlName="tutor">
            <mat-radio-button *ngFor="let tutor of tutors" [value]="tutor?.id">
              <div class="row">
                <div class="position-relative img-avatar">
                  <img [src]="tutor?.avatar" meTutorsDefaultAvatar alt="" width="60px" height="60px">
                  <!-- <svg class="position-absolute status" width="16" height="16" [ngClass]="{
                          'is-online': tutor?.status === tutorStatus.online, 
                          'is-busy': tutor?.status === tutorStatus.busy, 
                          'is-offline': tutor?.status === tutorStatus.offline, 
                          'is-away': tutor?.status === tutorStatus.away
                        }" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="7" fill="#949494" stroke="white" stroke-width="2" />
                  </svg> -->
                </div>
                <div class="col d-flex justify-content-center flex-column">
                  <h2>
                    {{ tutor?.name }}
                    <!-- <span class="text-uppercase pro">Pro</span>
                        <span class="text-uppercase verified">Verified</span> -->
                  </h2>
                  <h3 class="mb-0" *ngIf="tutor?.bio">{{ tutor?.bio }}</h3>
                </div>
                <a class="col-md-2 full-profile" [routerLink]="'/profile/tutor/' + tutor?.id" target="_blank">
                  <img src="assets/svg/share-link.svg" draggable="false" width="16px" height="16px" alt="">
                  Full profile
                </a>
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <ng-container *ngIf="loading">
          <div class="ph-item mt-4 mx-2" *ngFor="let i of [1, 2, 3, 4, 5]">
            <div class="ph-col-2">
              <div class="ph-avatar"></div>
            </div>

            <div>
              <div class="ph-row mt-2">
                <div class="ph-col-10"></div>
                <div class="ph-col-2 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-2"></div>
                <div class="ph-col-10 empty"></div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 overflow-hidden">
        <button mat-flat-button color="primary" class="float-end" type="submit" [disabled]="form.invalid">
          Save & continue
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <button mat-button class="float-end back-btn" type="button" (click)="onBack.emit()">
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
      </div>
    </div>
  </div>
</form>
