<metutors-modal [showModal]="showModal" [size]="'large'" [template]="template" (closeModal)="closeModal.emit()" [heading]="heading">
  <ng-template #template>
    <ngx-doc-viewer [viewer]="getViewer(document.url)" [url]="document.url"
                    style="width:100%;height:100vh;"></ngx-doc-viewer>

    <div class="actions d-flex justify-content-center mt-4" *ngIf="document.status === 'pending' && showActions">
      <button mat-button class="fw-bold me-3 decline" (click)="rejectDoc.emit()" [disabled]="isRejecting">
        Reject
      </button>
      <button mat-flat-button color="primary" class="fw-bold" (click)="approveDoc.emit()" [disabled]="isApproving">
        Approve
      </button>
    </div>

    <div class="signature" *ngIf="showSignature">
      <ng-container *ngIf="addedSignature?.uploading">
        <metutors-file-upload-progress [fileName]="addedSignature.fileName"
                                       [uploadedPercentage]="addedSignature.progress">
        </metutors-file-upload-progress>
      </ng-container>

      <button mat-flat-button color="primary" class="fw-bold px-5 float-end mb-5" (click)="showSignatureCanvas=true">
        {{ addedSignature?.url ? 'Edit' : 'Add'}} Signature
      </button>

      <div class="w-auto text-center" *ngIf="addedSignature?.url">
        <img [src]="addedSignature?.url" width="150" height="150" alt="signature">
      </div>

      <div class="d-flex w-100 mb-2 justify-content-between">
        <p class="d-flex privacy">
          <mat-checkbox [checked]="checked" (change)="checked = !checked">
            By signing, I understand this is a legally binding contract
          </mat-checkbox>
        </p>

        <button mat-flat-button color="primary" class="fw-bold px-5" (click)="submit.emit(addedSignature?.url)"
                [disabled]="!checked || !addedSignature?.url || addingSignature">
          Submit
        </button>
      </div>
    </div>
  </ng-template>
</metutors-modal>

<metutors-signature-canvas-modal *ngIf="showSignatureCanvas" (signature)="insertedSignature($event)"
                                 [showModal]="showSignatureCanvas" (closeModal)="showSignatureCanvas=false">
</metutors-signature-canvas-modal>
