<div class="dialog position-relative">
  <div class="d-flex align-items-center" mat-dialog-title>
    <h2 class="flex-grow-1 m-0 d-flex flex-column">
      <div class="d-flex align-items-center">
        {{ 'DRAW_SIGNATURE' | translate }}
      </div>
      <span class="d-block mt-2">{{ 'DRAW_SIGNATURE_MIDDLE_CANVAS' | translate }}</span>
    </h2>

    <button class="text-secondary" mat-dialog-close="true" mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="pt-2">
    <div class="text-center mt-3">
      <signature-pad [options]="signaturePadOptions"></signature-pad>

      <button mat-flat-button color="primary" class="fw-bold px-5 my-3" (click)="onInsertSignature()"
              [disabled]="signaturePad?.isEmpty()">
        {{ 'INSERT_SIGNATURE' | translate }}
      </button>
    </div>
  </mat-dialog-content>
</div>
