:host ::ng-deep {

  .carousel-control-next-icon,
  .carousel-control-prev-icon,
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }

  .carousel-indicators {
    margin-bottom: 30px;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #FFFFFF;
      opacity: 0.6;
      background: transparent;

      &.active {
        background-color: #FFF;
        opacity: 1;
      }
    }
  }

  .slide.active .item {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.slide {
  height: 580px;
  // height: 700px;
  overflow: hidden;

  // &:after {
  //   content: "";
  //   display: block;
  //   background: url(http://dexam-angular.ui-lib.com/assets/images/landing/Bg/Bg_04.png) bottom no-repeat;
  //   background-size: cover;
  //   bottom: -8px;
  //   z-index: 2;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   height: 100%;
  // }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 100px 0;

    h1 {
      font-size: 70px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: normal;
      color: #FFF;
    }

    p {
      font-size: 21px;
      margin-top: 30px;
      line-height: 1.42;
      color: #FFF;
    }

    button,
    a {
      font-size: 20px;
      font-weight: bold;
      margin-top: 50px;
      padding: 8px 30px;
      border: 1px solid #FFF;
      color: #FFF;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: var(--main-color);
        border-color: var(--main-color);
      }
    }

    .request-free {
      display: inline-block;
      margin-top: 30px;
      padding: 0;
      border: none;
      position: relative;
      font-size: 29px;
      width: auto;

      &:hover {
        background-color: transparent;
        border-color: transparent;
      }

      .svg-icon {
        width: 70px;
        height: 70px;
        position: absolute;
        right: 0;
        bottom: 20px;
      }

      span {
        text-decoration: underline;
        color: #FFF;
      }
    }
  }
}

@media(max-width: 992px) {
  :host ::ng-deep .slide {
    height: 350px;

    .item {
      height: 350px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: 30px 0 !important;

      a,
      button {
        margin-top: 10px !important;
      }
    }
  }
}
