<div class="slide position-relative" style="background-image: url('assets/homepage/cover.png')">
  <div class="container">
    <div class="row">
      <div class="col-md-7 z-2">
        <h1>
          A Complete Personalized 
          <br>
          Learning Experience
        </h1>
        <h2>Redefining Online Tutoring</h2>
        <p>Use artificial intelligence built technology to find top tutors from around the world and instantly unlock the power of achieving your learning goals with our intuitive learning platform.</p>
        <a mat-button routerLink="/signup" *ngIf="!token">Sign Up Now!</a>
        <button mat-button (click)="scrollToAnchor()" *ngIf="token">Explore our services</button>
      </div>
    </div>
  </div>
</div>
