<div class="slide position-relative" style="background-image: url('assets/homepage/cover.png')">
  <div class="position-absolute overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 z-2">
        <h1>
          The Power of
          <br>
          Online Learning
        </h1>
        <h2>Anyone, Anywhere, Anytime</h2>
        <p>Everything is figureoutable with Textbook Solutions,
          Expert Q&A, Video Explanations and Practice Problems</p>
        <button mat-flat-button color="primary">Explore our services</button>
      </div>
    </div>
  </div>
</div>
