<button mat-button class="sidebar-btn d-inline-block d-lg-none" (click)="openSidebar = true" *ngIf="!openSidebar">
  <mat-icon>menu</mat-icon>
</button>

<div class="sidebar h-100 d-flex flex-column" [ngClass]="{
    'open-sidebar': openSidebar,
    'has-sidemenu': layout?.hideSidebar && !openSidebar
  }">
  <button mat-button (click)="openSidebar = false" class="close-btn d-inline-block d-lg-none">
    <mat-icon>close</mat-icon>
  </button>
  <a class="sidebar-logo p-15-md-sm mb-15-md-sm" routerLink="/">
    <img alt="logo" src="assets/logo/logo-light.png" width="200px" draggable="false" *ngIf="!layout?.hideSidebar && !openSidebar">
    <img alt="logo" src="assets/logo/logo-icon.png" width="100%" draggable="false" *ngIf="layout?.hideSidebar && !openSidebar">
  </a>
  <button mat-flat-button color="primary" class="d-block add-course mb-15-md-sm" [routerLink]="['/requests']">
    <mat-icon>add</mat-icon>
    <span class="hide-sidemenu">{{ 'ADD_NEW_COURSE' | translate }}</span>
  </button>
  <ul class="list-unstyled">
    <li class="d-flex align-items-center">
      <a routerLink="/student/classrooms" class="p-15-md-sm" routerLinkActive="active" (click)="openSidebar = false">
        <svg-icon name="home" [applyClass]="true" class="w-24 font-white"></svg-icon>
        <span class="text-uppercase hide-sidemenu f-size-15-md-sm">{{ 'CLASSROOMS' | translate }}</span>
      </a>
    </li>
    <li class="d-flex align-items-center">
      <a routerLink="/student/dashboard" class="p-15-md-sm" routerLinkActive="active" (click)="openSidebar = false">
        <svg-icon name="slide-show" [applyClass]="true" class="w-24 font-white"></svg-icon>
        <span class="text-uppercase hide-sidemenu f-size-15-md-sm">{{ 'DASHBOARD' | translate }}</span>
      </a>
    </li>
    <li class="d-flex align-items-center">
      <a routerLink="/student/inbox" class="p-15-md-sm" routerLinkActive="active" (click)="openSidebar = false">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M11.49 1.30999L2.243 6.85399C2.09222 6.94434 1.99996 7.10722 2 7.28299V20C2 20.5523 2.44772 21 3 21H21C21.5523 21 22 20.5523 22 20V7.28399C22 7.10822 21.9078 6.94534 21.757 6.85499L12.519 1.30999C12.2023 1.11998 11.8067 1.11998 11.49 1.30999ZM12.061 13.683L18.346 8.24399L19.654 9.75699L12.073 16.317L4.353 9.76199L5.647 8.23799L12.061 13.683Z"
            fill="white" />
        </svg>
        <span class="text-uppercase hide-sidemenu f-size-15-md-sm">{{ 'INBOX' | translate }}</span>
      </a>
    </li>
    <li class="d-flex align-items-center">
      <a routerLink="/student/certificates" class="p-15-md-sm" routerLinkActive="active" (click)="openSidebar = false">
        <svg-icon name="certificate" [applyClass]="true" class="w-24 font-white"></svg-icon>
        <span class="text-uppercase hide-sidemenu f-size-15-md-sm">{{ 'CERTIFICATES' | translate }}</span>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled flex-grow-1 help-settings">
    <li class="d-flex align-items-center">
      <a routerLink="/student/help" class="p-15-md-sm" routerLinkActive="active" (click)="openSidebar = false">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22 17.002C21.9991 19.8194 20.0387 22.2569 17.287 22.862L16.649 20.948C17.832 20.7532 18.8654 20.0383 19.465 19H17C15.8954 19 15 18.1046 15 17V13C15 11.8954 15.8954 11 17 11H19.938C19.4331 7.00037 16.0314 4.00108 12 4.00108C7.96862 4.00108 4.56691 7.00037 4.062 11H7C8.10457 11 9 11.8954 9 13V17C9 18.1046 8.10457 19 7 19H4C2.89543 19 2 18.1046 2 17V12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12V17.002Z"
            fill="#E2E2E2" />
        </svg>
        <span class="text-uppercase hide-sidemenu f-size-15-md-sm">{{ 'HELP' | translate }}</span>
      </a>
    </li>
    <li class="d-flex align-items-center">
      <a routerLink="/student/settings" class="p-15-md-sm" routerLinkActive="active" (click)="openSidebar = false">
        <svg-icon name="settings" [applyClass]="true" class="w-24 font-white"></svg-icon>
        <span class="text-uppercase hide-sidemenu f-size-15-md-sm">{{ 'SETTINGS' | translate }}</span>
      </a>
    </li>
  </ul>
  <button class="logout text-uppercase" mat-button (click)="logout.emit()">
    <mat-icon class="me-2">logout</mat-icon>
    <span class="hide-sidemenu f-size-15-md-sm">{{ 'LOGOUT' | translate }}</span>
  </button>
</div>
