<div class="syllabus">
  <div class="card">
    <div class="card-body">
      <ng-container *ngIf="!loadingClassroom">
        <h1 class="title">{{ classroom?.name }}</h1>
        <div class="row list rounded">
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
            <strong>Days: </strong>
            <span>
              <ng-container *ngFor="let day of classroom?.listDays; let isLast = last">
                {{ day }}
                <ng-container *ngIf="!isLast">, </ng-container>
              </ng-container>
            </span>
          </div>
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15" draggable="false">
            <strong>Completed classes: </strong>
            <span>{{ classroom?.completedClasses }}</span>
          </div>
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/timer.svg" alt="" width="15" height="15" draggable="false">
            <strong>Total hour: </strong>
            <span>{{ classroom?.totalHours }}hrs</span>
          </div>
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
            <strong>Time: </strong>
            <span>
              {{ classroom?.startETime | date: 'h a' }} : {{ classroom?.endETime | date: 'h a' }}
              <!-- ({{ calculateDurationTime(classroom?.startETime, classroom?.endETime) }} hours) -->
            </span>
          </div>
          <div class="col-md-2 d-flex menu align-items-center">
            <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
            <strong>Remining classes: </strong>
            <span>{{ classroom?.remainingClasses }}</span>
          </div>
        </div>
        <div class="row mt-3" *ngIf="classroom && classroom?.progress">
          <div class="col-md-4 in-progress">
            <h3>In progress</h3>
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <mat-progress-bar class="example-margin" [color]="classroom.progress > 30 ? 'primary' : 'warn'"
                  [value]="classroom?.progress">
                </mat-progress-bar>
              </div>
              <strong>{{ classroom?.progress }}%</strong>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="loadingClassroom">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
          <div class="ph-col-4 big empty"></div>
          <div class="ph-col-10 big mt-3"></div>
          <div class="ph-col-2 big empty mt-3"></div>
          <div class="ph-col-6 mt-4"></div>
          <div class="ph-col-6 mt-4 empty"></div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="items">
    <ng-container *ngIf="!loadingSyllabus">
      <div class="item position-relative" *ngFor="let syllabus of syllabuses; let i = index">
        <span class="number">{{ i + 1 }}</span>
        <div class="row set-padding">
          <div class="col">
            <h2>{{ syllabus?.title }}</h2>
            <div class="row list p-0">
              <div class="col-md-2 d-flex menu align-items-center">
                <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                <strong>Total classes: </strong>
                <span>{{ syllabus?.classes?.length }}</span>
              </div>
              <div class="col-md-2 d-flex menu align-items-center">
                <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                <strong>Total hour: </strong>
                <span>{{ syllabus?.totalHours }}hrs</span>
              </div>
            </div>
          </div>
          <div>
            <h3 *ngIf="syllabus.progress > 0">{{ syllabus?.progress }}% Completed</h3>
            <h3 *ngIf="syllabus.progress === 0">Not started yet</h3>
            <mat-progress-bar class="example-margin" [color]="syllabus.progress > 30 ? 'primary' : 'warn'"
              [value]="syllabus?.progress">
            </mat-progress-bar>
          </div>
        </div>
        <div class="row set-padding">
          <p class="col">{{ syllabus?.description }}</p>
          <ng-container *ngIf="syllabus?.classes && syllabus?.classes?.length">
            <button mat-button class="expand" *ngIf="selectedCourse !== syllabus.id"
              (click)="changeOpenSelection(syllabus.id)">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-button class="expand" *ngIf="openCourse && selectedCourse === syllabus.id"
              (click)="changeOpenSelection(syllabus.id)">
              <mat-icon>remove</mat-icon>
            </button>
          </ng-container>
        </div>
        <ng-container *ngIf="syllabus?.classes && syllabus?.classes?.length">
          <div class="table-responsive" *ngIf="openCourse && selectedCourse === syllabus.id" [@slideInOut]>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Number</th>
                  <th scope="col">Day</th>
                  <th scope="col">Classroom subject</th>
                  <th scope="col">Start time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Duration</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let class of syllabus?.classes">
                  <td scope="row">{{ class?.number }}</td>
                  <td>{{ class?.date | date: 'EEEE' }}</td>
                  <td>{{ class?.subject }}</td>
                  <td>{{ class?.startTime }}</td>
                  <td>{{ class?.endTime }}</td>
                  <td>{{ class?.duration + 'hrs' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="loadingSyllabus">
      <div class="item p-4" *ngFor="let _ of [1, 2, 3]">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-6 big empty"></div>
          <div class="ph-col-8 big"></div>
          <div class="ph-col-4 big empty"></div>
          <div class="ph-col-10 mt-3"></div>
          <div class="ph-col-2 empty mt-3"></div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
