<div class="syllabus" *ngLet="(view$ | async) as view">
    <div class="card">
      <div class="card-body p-15-sm">
        <ng-container [ngSwitch]="view.loading">
          <ng-container *ngSwitchCase="false">
            <h1 class="title f-size-20-md-sm">{{ view.syllabus.course?.courseName }} <span>({{ view.syllabus.course?.courseCode}})</span>
              <button mat-button class="ms-3 status" [ngClass]="view.syllabus.course?.status">{{ statusLabel[view.syllabus.course?.status].long }}</button>
            </h1>
            <div class="row list-items">
              <div class="col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/calendar.svg" alt="" width="15" height="15" draggable="false">
                <strong>Days: </strong>
                <span class="f-size-17-md-sm">
                  <ng-container *ngFor="let day of getDays(view.syllabus?.course?.weekdays); let isLast = last">
                    {{ day }}<ng-container *ngIf="!isLast">, </ng-container>
                  </ng-container>
                </span>
              </div>
              <div class="col-lg-3 col-md-4 d-flex menu align-items-center">
                <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                <strong>Time: </strong>
                <span class="f-size-17-md-sm">{{ view.syllabus?.course?.startTime | date:'h:mm a' }} - {{ view.syllabus?.course?.endTime | date:'h:mm a' }}</span>
              </div>
              <div class="col-lg-2 col-md-3 d-flex menu align-items-center">
                <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                <strong>Total hour: </strong>
                <span class="f-size-17-md-sm">{{ view.syllabus?.course?.totalHours }}hr{{ +(view.syllabus?.course?.totalHours)! > 1 ? 's' : '' }}</span>
              </div>
              <div class="col-md-2 d-flex menu align-items-center">
                <img src="assets/svg/checkbox-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                <strong>Total classes: </strong>
                <span class="f-size-17-md-sm">{{ view.syllabus?.course?.totalClasses }}</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-5 in-progress">
                <h3 class="f-size-15-md-sm" *ngIf="view.syllabus?.courseProgress === 100">Completed</h3>
                <h3 class="f-size-15-md-sm" *ngIf="view.syllabus?.courseProgress === 0">Not Started yet</h3>
                <h3 class="f-size-15-md-sm"
                  *ngIf="view.syllabus?.courseProgress&& (view.syllabus?.courseProgress > 0 && view.syllabus?.courseProgress < 100)">
                  In progress</h3>
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    <mat-progress-bar class="example-margin"
                                      [color]="'primary'"
                                      [value]="view.syllabus?.courseProgress">
                    </mat-progress-bar>
                  </div>
                  <strong>{{ view.syllabus?.courseProgress }}%</strong>
                </div>
              </div>
              <div class="col-md-7"></div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="true">
            <div class="ph-row">
              <div class="ph-col-8 big"></div>
              <div class="ph-col-4 big empty"></div>
              <div class="ph-col-10 big mt-3"></div>
              <div class="ph-col-2 big empty mt-3"></div>
              <div class="ph-col-6 mt-4"></div>
              <div class="ph-col-6 mt-4 empty"></div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="items">
      <ng-container [ngSwitch]="view.loading">
        <div class="d-flex justify-content-between">
          <h1 class="title f-size-17-md-sm">Highlighted Topics</h1>
          <span class="text-main text-decoration-underline add-topic cursor-pointer" (click)="OnOpenHighlightedTopicModal()">Add new topic</span>
        </div>
        <div class="col-12 unclassified-table">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <div class="table-responsive" *ngSwitchCase="false">
            <table class="table my-table default-title">
              <tr>
                <th scope="col">Topic</th>
                <th scope="col">Topic Name</th>
                <th scope="col">Knowledge Confidence Scale</th>
                <th scope="col">Action</th>
              </tr>

              <tr *ngIf="!view.syllabus.highlightedTopics.length">
                <td colspan="6">
                  <div class="text-center">No record found</div>
                </td>
              </tr>
              <ng-container *ngIf="view.syllabus.highlightedTopics.length">
                <tr *ngFor="let topic of view.syllabus.highlightedTopics; let i=index">
                  <td>{{ i + 1}}</td>
                  <td>{{ topic?.name }}</td>
                  <td>{{ topic?.confidenceScale }}</td>
                  <td><img src="assets/svg/edit.svg" width="35" height="35" class="cursor-pointer" (click)="OnOpenHighlightedTopicModal(topic)"/></td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>

        <h1 class="title pt-5 f-size-17-md-sm">Unclassified Classes</h1>
        <div class="col-12 unclassified-table">
          <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
          <div class="table-responsive" *ngSwitchCase="false">
            <table class="table my-table default-title">
              <tr>
                <th scope="col">Class Number</th>
                <th scope="col">Class Subject</th>
                <th scope="col">Class Days</th>
                <th scope="col">Start time - End time</th>
                <th scope="col">Duration</th>
              </tr>

              <tr *ngIf="!view.syllabus.unclassifiedClasses.length">
                <td colspan="6">
                  <div class="text-center">No record found</div>
                </td>
              </tr>
              <ng-container *ngIf="view.syllabus.unclassifiedClasses.length">
                <tr *ngFor="let unclassifiedClass of view.syllabus.unclassifiedClasses; let i=index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ unclassifiedClass?.title }}</td>
                  <td>{{ unclassifiedClass?.startDate | date: 'EEEE, dd MMM Y' }}</td>
                  <td>{{ unclassifiedClass?.startTime | date:'h:mm a' }} - {{ unclassifiedClass?.endTime | date:'h:mm a' }}</td>
                  <td>{{ unclassifiedClass?.duration }}hr{{ +(unclassifiedClass?.duration)! > 1 ? 's' : '' }}</td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>

        <h1 class="title pt-5 f-size-17-md-sm">Classified Topics</h1>
        <metutors-grid-placeholder *ngSwitchCase="true"></metutors-grid-placeholder>
        <ng-container *ngSwitchCase="false">
          <div class="text-center p-3" *ngIf="!view.syllabus?.topics.length">No record found</div>
          <ng-container *ngIf="view.syllabus?.topics.length">
            <div class="item position-relative" *ngFor="let syllabus of view.syllabus?.topics; let i = index">
              <span class="number">{{ i + 1 }}</span>
              <div class="row set-padding">
                <div class="col-md-9">
                  <h2>{{ syllabus?.topic?.name }}</h2>
                  <div class="row list-items p-0">
                    <div class="col-md-2 d-flex menu align-items-center">
                      <img src="assets/svg/play-circle-fill.svg" alt="" width="15" height="15" draggable="false">
                      <strong>Total classes: </strong>
                      <span>{{ syllabus?.totalClasses }}</span>
                    </div>
                    <div class="col-md-2 d-flex menu align-items-center">
                      <img src="assets/svg/time.svg" alt="" width="15" height="15" draggable="false">
                      <strong>Total hour: </strong>
                      <span>{{ syllabus?.totalTopicHours }}hr{{ +(syllabus?.totalTopicHours)! > 1 ? 's' : '' }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                 <!-- <div class="row">
                    <div class="col">
                      <h3 *ngIf="syllabus?.topicProgress === 100">Completed</h3>
                      <h3 *ngIf="syllabus?.topicProgress === 0">Not Started yet</h3>
                      <h3
                        *ngIf="syllabus?.topicProgress && (syllabus?.topicProgress > 0 && syllabus?.topicProgress < 100)">
                        In progress</h3>
                      <mat-progress-bar class="example-margin"
                                        [color]="'primary'"
                                        [value]="syllabus?.topicProgress">
                      </mat-progress-bar>
                    </div>
                    <div class="col-md-2 d-flex align-items-center"></div>
                  </div>-->
                </div>
              </div>
              <div class="row set-padding desc">
                <p class="col">{{ syllabus?.topic?.description }}</p>
                <ng-container *ngIf="view.syllabus?.topics && view.syllabus?.topics?.length">
                  <button mat-button class="expand" *ngIf="selectedCourse !== syllabus?.topic?.id">
                    <mat-icon (click)="openCourse = true; selectedCourse = syllabus?.topic?.id">expand_more</mat-icon>
                  </button>
                  <button mat-button class="expand" *ngIf="openCourse && selectedCourse === syllabus?.topic?.id">
                    <mat-icon (click)="openCourse = false; selectedCourse = null">expand_less</mat-icon>
                  </button>
                </ng-container>
              </div>
              <ng-container *ngIf="view.syllabus?.topics && view.syllabus?.topics?.length">
                <div class="table-responsive" *ngIf="openCourse && selectedCourse === syllabus?.topic?.id"
                     [@slideInOut]>
                  <table class="table my-table default-title">
                    <tr>
                      <th scope="col">Class Number</th>
                      <th scope="col">Class Subject</th>
                      <th scope="col">Class Days</th>
                      <th scope="col">Start time - End time</th>
                      <th scope="col">Duration</th>
                    </tr>

                    <tr *ngFor="let syllabusClass of syllabus?.topic?.classes; let i = index">
                      <td scope="row">{{ i + 1 }}</td>
                      <td>{{ syllabusClass?.title }}</td>
                      <td>{{ syllabusClass?.startDate | date : 'EEEE, dd MMM Y' }}</td>
                      <td>{{ syllabusClass?.startTime | date:'h:mm a' + '-' + syllabusClass?.endTime | date:'h:mm a' }}</td>
                      <td>{{ syllabusClass?.duration }}hr{{ +(syllabusClass?.duration)! > 1 ? 's' : '' }}</td>
                    </tr>
                  </table>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

  <metutors-student-add-highlighted-topic-modal *ngIf="showHighlightedModal$ | async"
                                                [isSubmitting]="(addingTopic$|async)!"
                                                (closeModal)="onCloseHighlightedTopicModal()" [topic]="topic"
                                                [showModal]="(showHighlightedModal$ | async)!"
                                                (submitted)="onSaveTopic($event, view.syllabus.course.id)">
  </metutors-student-add-highlighted-topic-modal>
</div>
