.confirm-invoice {
  .btn-save {
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    padding: 3px 20px;
    float: right;
    margin-top: 10px;
    font-size: 15px;
  }
}
