.feedback {
  .teacher {
    img {
      width: 40px;
      height: 40px;
    }

    h3 {
      color: #2a2a2a;
      font-size: 17px;
      font-weight: bold;
    }

    span {
      color: #FF8E18;
      font-size: 15px;
    }
  }
}
