<div class="course-requests" *ngLet="(view$ | async) as view">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1>New Course Requests</h1>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-end">
        <div class="col-md-5">
        </div>
        <div class="col-md-5">
          <metutors-search-input (searchedText)="onSearch($event)"></metutors-search-input>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab [label]="'New Requests (' + view.stats?.newCount + ')'">
          <ng-container [ngSwitch]="view.loading">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4">
                <tr>
                  <th>Number</th>
                  <th>Program Name</th>
                  <th>Subject</th>
                  <th>Gender</th>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Grade</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let request of view.newCourses; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ request?.programId !== 0 ? request?.program?.name : 'Any' }}</td>
                  <td>{{ request?.subject }}</td>
                  <td>{{ request?.gender }}</td>
                  <td class="d-flex ps-0">
                    <metutors-user-avatar [avatar]="''" [type]="'small'"
                                          [name]="request.studentName">
                    </metutors-user-avatar>
                  </td>
                  <td>{{ request?.email }}</td>
                  <td>Grade {{ request?.grade }}</td>
                  <td>
                    <div dropdown container="body" class="change-status position-relative d-flex ps-0">
                      <button dropdownToggle class="status text-capitalize" mat-button [ngClass]="request.status">
                        {{ request?.status }}
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right statues p-0" role="menu">
                        <li role="menuitem" class="cursor-pointer text-capitalize"
                          *ngFor="let status of requestStatuses" [ngClass]="status" (click)="changeRequestStatus(request.id, status)">
                          {{ status }}
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0" (click)="requestDetails = request">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>

          <div class="d-flex mt-2 justify-content-center" *ngIf="view.newCourses?.length < view.stats.totalNew">
            <pagination [totalItems]="view.stats.totalNew" [itemsPerPage]="perPage" [maxSize]="5"
                        (pageChanged)="onPageChange($event)">
            </pagination>
          </div>
        </mat-tab>
        <mat-tab [label]="'Completed (' + view.stats?.completedCount + ')'">
          <ng-container [ngSwitch]="view.loading">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4">
                <tr>
                  <th>Number</th>
                  <th>Program Name</th>
                  <th>Country</th>
                  <th>Subject</th>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Grade</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let request of view.completed; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ request?.programId !== 0 ? request?.program?.name : 'Any' }}</td>
                  <td>{{ request?.country?.name }}</td>
                  <td>{{ request?.subject }}</td>
                  <td class="d-flex ps-0">
                    <metutors-user-avatar [avatar]="''" [type]="'small'"
                                          [name]="request.studentName">
                    </metutors-user-avatar>
                  </td>
                  <td>{{ request?.email }}</td>
                  <td>Grade {{ request?.grade }}</td>
                  <td>
                    <div class="change-status position-relative d-flex ps-0">
                      <button class="status text-capitalize" mat-button [ngClass]="request.status">
                        {{ request?.status }}
                      </button>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0" (click)="requestDetails = request">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>

          <div class="d-flex mt-2 justify-content-center" *ngIf="view.completed?.length < view.stats.totalCompleted">
            <pagination [totalItems]="view.stats.totalCompleted" [itemsPerPage]="perPage" [maxSize]="5"
                        (pageChanged)="onPageChange($event)">
            </pagination>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="h-auto btn-menu" (click)="onOpenRequestCourseDetailsModal()">
    <span>Request Details</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu">
    <span>Email Student</span>
  </button>
</mat-menu>

<metutors-admin-request-details-modal [showModal]="(openRequestCourseDetailsModal$ | async)!"
                                      [requestDetails]="requestDetails"
                                      *ngIf="openRequestCourseDetailsModal$|async"
                                      (closeModal)="onCloseRequestCourseDetailsModal()">
</metutors-admin-request-details-modal>
