<div class="course-requests">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1>New Course Requests</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12" *ngLet="(requestsCounts$ | async) as counts">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab [label]="'New Requests (' + counts?.newCount + ')'">
          <ng-container [ngSwitch]="isLoading$ | async">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4">
                <tr>
                  <th>Number</th>
                  <th>Program Name</th>
                  <th>Country</th>
                  <th>Subject</th>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Grade</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let request of (requestedCourses$ | async); let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ request?.programId !== 0 ? request?.program?.name : 'Any' }}</td>
                  <td>{{ request?.country?.name }}</td>
                  <td>{{ request?.subject }}</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" width="25" height="25" class="rounded-circle p-0 me-2" draggable="false"
                        meTutorsDefaultAvatar alt="">
                      <span>
                        <bdi>{{ request?.studentName }}</bdi>
                      </span>
                    </div>
                  </td>
                  <td>{{ request?.email }}</td>
                  <td>Grade {{ request?.grade }}</td>
                  <td>
                    <div class="change-status position-relative d-flex">
                      <button class="status text-capitalize pending" mat-button>Pending</button>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0" (click)="requestDetails = request">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>
        </mat-tab>
        <mat-tab [label]="'Completed (' + counts?.completedCount + ')'">
          <ng-container [ngSwitch]="isLoading$ | async">
            <div class="mt-4" *ngSwitchCase="true">
              <metutors-grid-placeholder></metutors-grid-placeholder>
            </div>

            <ng-container *ngSwitchCase="false">
              <table class="table my-table default-title mt-4">
                <tr>
                  <th>Number</th>
                  <th>Program Name</th>
                  <th>Country</th>
                  <th>Subject</th>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Grade</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let request of (requestedCourses$ | async); let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ request?.programId !== 0 ? request?.program?.name : 'Any' }}</td>
                  <td>{{ request?.country?.name }}</td>
                  <td>{{ request?.subject }}</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="" width="25" height="25" class="rounded-circle p-0 me-2" draggable="false"
                        meTutorsDefaultAvatar alt="">
                      <span>
                        <bdi>{{ request?.studentName }}</bdi>
                      </span>
                    </div>
                  </td>
                  <td>{{ request?.email }}</td>
                  <td>Grade {{ request?.grade }}</td>
                  <td>
                    <div class="change-status position-relative d-flex">
                      <button class="status text-capitalize not-offered" mat-button>Not Offered</button>
                    </div>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0" (click)="requestDetails = request">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </ng-container>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="h-auto btn-menu" (click)="onOpenRequestCourseDetailsModal()">
    <span>Request Details</span>
  </button>
  <button mat-menu-item class="h-auto btn-menu" (click)="onOpenRequestCourseDetailsModal()">
    <span>Email Student</span>
  </button>
</mat-menu>

<metutors-admin-request-details-modal [showModal]="(openRequestCourseDetailsModal$ | async)!" 
                                      [requestDetails]="requestDetails"
                                      *ngIf="openRequestCourseDetailsModal$|async"
                                      (closeModal)="onCloseRequestCourseDetailsModal()">
</metutors-admin-request-details-modal>