.user-prefrences {
  padding: 30px 0;

  h3 {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: bold;
  }

  .btn-list {
    border-top: solid 1px #e2e2e2;
    padding: 20px 20px 0;
    margin-left: -25px;

    button {
      font-weight: bold;
      padding: 10px 30px;
      font-size: 18px;
    }
  }
}
