<div class="classroom">
  <div class="row" *ngLet="(view$ | async) as view">
    <div class="col-12">
      <div class="flex">
        <span class="m-4 fw-bold cursor-pointer" *ngFor="let program of view?.programs" (click)="loadCourse({program: program?.id}); programId = program?.id">{{ program?.code}}</span>
      </div>
      <button mat-flat-button color="primary" class="class-btn text-uppercase mb-1" (click)="loadCourse({program: programId})">All</button>
      <button mat-flat-button color="primary" class="class-btn text-uppercase mb-1" *ngFor="let field of view?.fieldOfStudies" (click)="loadCourse({program: programId, subject: field?.id})">{{ field?.name}}</button>
    </div>
    <div class="col-12">
      <h2 class="title cursor-pointer d-flex align-items-center" (click)="openNewlyAssigned = !openNewlyAssigned">
        <span class="flex-grow-1">Newly Assigned Courses</span>
        <img src="assets/svg/arrow-up.svg" [class.rotate-180]="openNewlyAssigned" draggable="false" width="30px"
             height="30"
             alt=""/>
      </h2>
      <div class="row" [@slideInOut] *ngIf="openNewlyAssigned">
        <ng-container [ngSwitch]="view.loading">
          <ng-container *ngSwitchCase="true">
            <div class="col-md-12" *ngFor="let _ of [1, 2]">
              <metutors-card-placeholder></metutors-card-placeholder>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="false">
            <div class="col-md-12" *ngFor="let newCourse of view.newCourses">
              <metutors-classroom-item [classroom]="newCourse" [isTutor]="true"></metutors-classroom-item>
            </div>

            <div class="col-md-12 mb-3" *ngIf="!view.newCourses || !view.newCourses.length">
              <h3 class="text-center no-data">No course found!</h3>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="col-12">
      <h2 class="title cursor-pointer d-flex align-items-center" (click)="openActive = !openActive">
        <span class="flex-grow-1">Active courses</span>
        <img src="assets/svg/arrow-up.svg" [class.rotate-180]="openActive" draggable="false" width="30px" height="30"
             alt=""/>
      </h2>
      <div class="row" [@slideInOut] *ngIf="openActive">
        <ng-container [ngSwitch]="view.loading">
          <ng-container *ngSwitchCase="true">
            <div class="col-md-12" *ngFor="let _ of [1, 2]">
              <metutors-card-placeholder></metutors-card-placeholder>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <div class="col-md-12" *ngFor="let activeCourse of view.activeCourses">
              <metutors-classroom-item [classroom]="activeCourse" [isTutor]="true"></metutors-classroom-item>
            </div>

            <div class="col-md-12 mb-3" *ngIf="!view.activeCourses || !view.activeCourses.length">
              <h3 class="text-center no-data">No course found!</h3>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="col-12">
      <h2 class="title cursor-pointer d-flex align-items-center" (click)="openCompleted = !openCompleted">
        <span class="flex-grow-1">Completed Courses</span>
        <img src="assets/svg/arrow-up.svg" [class.rotate-180]="openCompleted" draggable="false" width="30px" height="30"
             alt=""/>
      </h2>
      <div class="row" [@slideInOut] *ngIf="openCompleted">
        <ng-container [ngSwitch]="view.loading">
          <ng-container *ngSwitchCase="true">
            <div class="col-md-12" *ngFor="let _ of [1, 2]">
              <metutors-card-placeholder></metutors-card-placeholder>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <div class="col-md-12" *ngFor="let completedCourse of view.completedCourses">
              <metutors-classroom-item [classroom]="completedCourse" [isTutor]="true"></metutors-classroom-item>
            </div>
            <div class="col-md-12 mb-3" *ngIf="!view.completedCourses || !view.completedCourses.length">
              <h3 class="text-center no-data">No course found!</h3>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
