:host ::ng-deep .courses {
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    font-size: 35px;
    line-height: 1.3;
    color: #2a2a2a;
  }

  p {
    color: #696969;
    font-size: 20px;
    line-height: 1.4;
  }
}

@media(max-width:767px) {
  .courses {
    .main-button-transparent {
      margin-bottom: 20px;
    }
  }
}
