.list-files {
  >div {
    width: 50%;
  }

  h3 {
    margin: 0;
    width: 100%;
    color: #2a2a2a;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h5 {
    margin: 0;
    color: #696969;
    font-size: 13px;
  }

  .add-url {
    color: var(--main-color);
    font-weight: bold;
    font-size: 13px;
  }
}
