<div class="exceptional-opportunities">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Exceptional opportunities</h1>
      </div>

      <div class="col-md text-center border-right">
        <h2>3.9M</h2>
        <h3>Passed learners</h3>
      </div>
      <div class="col-md text-center border-right">
        <h2>100+</h2>
        <h3>Course enrollments</h3>
      </div>
      <div class="col-md text-center border-right">
        <h2>10K</h2>
        <h3>Certified Instructors </h3>
      </div>
      <div class="col-md text-center">
        <h2>50M</h2>
        <h3>Minutes of video</h3>
      </div>
    </div>
  </div>
</div>
