<div class="exceptional-opportunities">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="f-size-25-md-sm">Grow with MEtutors</h1>
      </div>

      <div class="col-md text-center border-right">
        <h2 class="f-size-30-md-sm">3.9M</h2>
        <h3 class="f-size-15-md-sm">Students enrolled</h3>
      </div>
      <div class="col-md text-center border-right">
        <h2 class="f-size-30-md-sm">2000+</h2>
        <h3 class="f-size-15-md-sm">Courses available</h3>
      </div>
      <div class="col-md text-center border-right">
        <h2 class="f-size-30-md-sm">1000+</h2>
        <h3 class="f-size-15-md-sm">Tutors registered</h3>
      </div>
      <div class="col-md text-center border-right">
        <h2 class="f-size-30-md-sm">10,000</h2>
        <h3 class="f-size-15-md-sm">Hours taught</h3>
      </div>
      <div class="col-md text-center">
        <h2 class="f-size-30-md-sm">$1.5M</h2>
        <h3 class="f-size-15-md-sm">Tutors earnings</h3>
      </div>
    </div>
  </div>
</div>
