<metutors-about-slide [aboutStatistics]="aboutStatistics"></metutors-about-slide>

<div class="container">
  <metutors-about-values [valuesStatistics]="valuesStatistics"></metutors-about-values>
  <metutors-why-metutors [whyMeTutorsList]="whyMeTutorsList"></metutors-why-metutors>
  <metutors-why-we-teach [whyWeTeach]="whyWeTeach"></metutors-why-we-teach>
</div>

<metutors-innovative-approach [innovateApproach]="innovateApproach"></metutors-innovative-approach>

<div class="container mb-5">
  <metutors-founder-team [founders]="founders"></metutors-founder-team>
</div>

<metutors-start-learning-now></metutors-start-learning-now>
