<metutors-about-slide></metutors-about-slide>

<div class="container">
  <metutors-about-values></metutors-about-values>

  <metutors-why-metutors [whyMeTutorsList]="whyMeTutorsList"></metutors-why-metutors>

  <metutors-why-we-teach></metutors-why-we-teach>
</div>

<metutors-innovative-approach></metutors-innovative-approach>

<!-- <div class="container mb-5">
  <metutors-founder-team [founders]="founders"></metutors-founder-team>
</div> -->

<metutors-start-learning-now [token]="(token$ | async)!"
                             [title]="'FIND_PERFECT_TUTOR'"
                             [desc]="'JOIN_NOW_VIEW_COURSES'"
                             [btnText]="'START_LEARNING_NOW'">
</metutors-start-learning-now>
