<div class="row learning-made-easy">
  <div class="col-md-12 text-center">
    <h1>Learning Made Easy</h1>
    <p>
      Explore more than 600 Experts in diffrent categories and languages
    </p>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-md-4 text-center item">
        <div class="count d-flex align-items-center justify-content-center rounded-circle position-relative">
          <span class="position-absolute">01</span>
        </div>
        <h2>
          Create account
        </h2>
        <h3>
          An expert on our team will work with you to understand your goals, technical needs, and team dynamics
        </h3>
      </div>
      <div class="col-md-4 text-center item">
        <div class="count d-flex align-items-center justify-content-center rounded-circle position-relative">
          <span class="position-absolute">02</span>
        </div>
        <h2>
          Choose Course & Patch
        </h2>
        <h3>
          An expert on our team will work with you to understand your goals, technical needs, and team dynamics
        </h3>
      </div>
      <div class="col-md-4 text-center item">
        <div class="count d-flex align-items-center justify-content-center rounded-circle position-relative">
          <span class="position-absolute">03</span>
        </div>
        <h2>
          Learn & Leave a feedback
        </h2>
        <h3>
          An expert on our team will work with you to understand your goals, technical needs, and team dynamics
        </h3>
      </div>
    </div>
  </div>

  <div class="col-md-12 text-center mt-4">
    <a mat-button>
      Start Leaning now
      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.172 11.0337H4V13.0399H16.172L10.808 18.4204L12.222 19.8387L20 12.0368L12.222 4.23486L10.808 5.65321L16.172 11.0337Z"
          fill="white" />
      </svg>
    </a>
  </div>
</div>
