<div class="row learning-made-easy">
  <div class="col-md-12 text-center">
    <h1 class="f-size-25-md-sm">Start Learning in 3 Simple Steps</h1>
    <p class="f-size-15-md-sm">
      MEtutors are the key to achieving your academic goals. Follow a three-step process to instantly find a language
      teacher, academic tutor or standardized test coach.
    </p>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-md-4 text-center item">
        <div class="count d-flex align-items-center justify-content-center rounded-circle position-relative">
          <span class="position-absolute">01</span>
        </div>
        <h2 class="f-size-20-md-sm">
          Create account
        </h2>
        <h3 class="f-size-17-md-sm">
          Fill in your details, add a payment method in order to proceed.
        </h3>
      </div>
      <div class="col-md-4 text-center item">
        <div class="count d-flex align-items-center justify-content-center rounded-circle position-relative">
          <span class="position-absolute">02</span>
        </div>
        <h2 class="f-size-20-md-sm">
          Enroll in a Course
        </h2>
        <h3 class="f-size-17-md-sm">
          Find the perfect course for you and register for LIVE classes.
        </h3>
      </div>
      <div class="col-md-4 text-center item">
        <div class="count d-flex align-items-center justify-content-center rounded-circle position-relative">
          <span class="position-absolute">03</span>
        </div>
        <h2 class="f-size-20-md-sm">
          Begin Classes
        </h2>
        <h3 class="f-size-17-md-sm">
          Attend one-to-one or group classes to start working towards your learning goal.
        </h3>
      </div>
    </div>
  </div>

  <div class="col-md-12 text-center mt-4">
    <a mat-button routerLink="/signup" *ngIf="!token">
      Sign Up Now!
      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.172 11.0337H4V13.0399H16.172L10.808 18.4204L12.222 19.8387L20 12.0368L12.222 4.23486L10.808 5.65321L16.172 11.0337Z"
          fill="white" />
      </svg>
    </a>
  </div>
</div>
