<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'"
                [template]="template"
                [heading]="'EMAIL_VERIFICATION'">
  <ng-template #template>
    <metutors-signup-email-verification [showHint]="false" [email]="email!"
                                        (resendEmail)="resendEmail.emit()"
                                        [loading]="loading"
                                        [resendLoading]="resendLoading"
                                        (submitForm)="submitForm.emit($event)">
    </metutors-signup-email-verification>
  </ng-template>
</metutors-modal>