<div class="container py-5 signup-block" *ngLet="(step$ | async) as step">
  <div class="row" *ngLet="(userType$ | async) as accountType">
    <div class="col-md-5 d-flex flex-column" *ngIf="step === 1">
      <div class="mb-5">
        <a routerLink="/">
          <img alt="logo" src="assets/logo/logo-dark.png" width="200px" draggable="false">
        </a>
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)"
        class="w-100 flex-grow-1 d-flex align-items-center">
        <div class="w-100">
          <h3 class="m-0">Welcome!</h3>
          <h4 class="mb-5">Let's get you set up</h4>

          <div class="form-group types">
            <label>Choose account type</label>
            <div class="row">
              <div class="col-md-6" *ngFor="let role of roles">
                <button mat-button (click)="changeStep(1, '', role?.id!)" class="w-100 text-start"
                  [ngClass]="userType == role?.id ? 'active' : ''" type="button">
                  <svg *ngIf="role?.id === userRole.student" xmlns="http://www.w3.org/2000/svg" id="_001-reading-book" data-name="001-reading-book" width="24" height="28.577" viewBox="0 0 24 28.577">
                    <circle id="Oval" cx="4.744" cy="4.744" r="4.744" transform="translate(7.256 0)" fill="#3bb3c1"/>
                    <path id="Path" d="M10.007,0A6.381,6.381,0,0,1,6.521,1.032,6.381,6.381,0,0,1,3.035,0,9.758,9.758,0,0,0,0,1.854L6.521,4.3l6.521-2.445A9.757,9.757,0,0,0,10.007,0Z" transform="translate(5.479 10.131)" fill="#3bb3c1"/>
                    <path id="Path-2" data-name="Path" d="M1.4,0H.837A.837.837,0,0,0,0,.837V3.07a.837.837,0,0,0,.837.837H1.4A1.953,1.953,0,0,0,1.4,0Z" transform="translate(20.651 17.302)" fill="#3bb3c1"/>
                    <path id="Path-3" data-name="Path" d="M.36.149A.837.837,0,0,0,0,.837V2.7H.279A2.514,2.514,0,0,1,2.791,5.213V7.445A2.514,2.514,0,0,1,.279,9.957H0v1.764a.837.837,0,0,0,.543.784L8.93,15.65V2.978L1.131.053A.837.837,0,0,0,.36.149Z" transform="translate(2.233 12.927)" fill="#3bb3c1"/>
                    <path id="Path-4" data-name="Path" d="M6.14,7.445V5.213A2.514,2.514,0,0,1,8.651,2.7H8.93V.837A.837.837,0,0,0,7.8.053L0,2.978V15.65L8.387,12.5a.837.837,0,0,0,.543-.784V9.957H8.651A2.514,2.514,0,0,1,6.14,7.445Z" transform="translate(12.837 12.927)" fill="#3bb3c1"/>
                    <path id="Path-5" data-name="Path" d="M3.349,3.07V.837A.837.837,0,0,0,2.512,0H1.953a1.953,1.953,0,0,0,0,3.907h.558A.837.837,0,0,0,3.349,3.07Z" transform="translate(0 17.302)" fill="#3bb3c1"/>
                  </svg>
                  <svg *ngIf="role?.id === userRole.tutor" xmlns="http://www.w3.org/2000/svg" width="23.962" height="24.875" viewBox="0 0 23.962 24.875">
                    <g id="_002-teacher" data-name="002-teacher" transform="translate(-0.019)">
                      <path id="Path" d="M16.038,0H.108A2.822,2.822,0,0,1,.763,1.811,2.824,2.824,0,0,1,0,3.743a3.019,3.019,0,0,1,2.471,1.9l.536-.908a1.784,1.784,0,0,1,1.53-.873,1.764,1.764,0,0,1,.281.023l.164-.875a.552.552,0,0,1,1.084.2c-.23,1.229-.216,1.162-.231,1.213a1.776,1.776,0,0,1,.23,2.114L3.48,10.917a1.776,1.776,0,0,1-2.137.766v.968H16.038a.687.687,0,0,0,.687-.687V.687A.687.687,0,0,0,16.038,0Z" transform="translate(7.256 0.237)"/>
                      <path id="Path-2" data-name="Path" d="M12.276.259a.988.988,0,0,0-1.353.349L9.481,3.05,9.04,1.589A2.23,2.23,0,0,0,6.882,0H2.953A2.253,2.253,0,0,0,.765,1.8L.022,5.286a.988.988,0,0,0,.79,1.178l3.222.584A.988.988,0,0,0,4.386,5.1l-2.22-.4L2.56,2.856V3.908l1.979.359a1.839,1.839,0,1,1-.656,3.618l-1.333-.24V18.929a1.18,1.18,0,1,0,2.36,0V10.242h.512v8.687a1.185,1.185,0,0,0,2.371,0V4.289l.451,1.489a.988.988,0,0,0,1.8.216l2.586-4.381A.988.988,0,0,0,12.276.259Z" transform="translate(0.019 4.76)"/>
                      <path id="Path-3" data-name="Path" d="M2.047,0A2.047,2.047,0,1,0,4.095,2.047,2.047,2.047,0,0,0,2.047,0Z" transform="translate(3.137)"/>
                    </g>
                  </svg>
                  I'm a {{ role?.name }}
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="firstName">What's your First Name?</label>
                <input type="text" class="custom-input w-100 input-bordered" id="firstName" placeholder="First name"
                  formControlName="firstName">
                <div class="text-danger" *ngIf="firstName?.touched && firstName?.invalid">
                  Please write your first name
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="lastName">What's your Last Name?</label>
                <input type="text" class="custom-input w-100 input-bordered" id="lastName" placeholder="Last name"
                  formControlName="lastName">
                <div class="text-danger" *ngIf="lastName?.touched && lastName?.invalid">
                  Please write your last name
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="custom-input w-100 input-bordered" id="email" placeholder="ku@pecafhuj.co.uk"
              formControlName="email" email>
            <span class="text-danger" *ngIf="email?.invalid && email?.touched">
              Please write a valid email
            </span>
          </div>

          <div class="form-group">
            <label for="phone">Phone Number</label>
            <div class="w-100">
              <ngx-intl-tel-input [cssClass]="'custom-input w-100 input-bordered'"
                                  [selectedCountryISO]="selectedCountry"
                                  [preferredCountries]="preferredCountries"
                                  [ngClass]="{'has-error': phoneNumber?.invalid && phoneNumber?.touched}"
                                  [enableAutoCountrySelect]="true"
                                  [enablePlaceholder]="true"
                                  [searchCountryFlag]="true"
                                  [selectFirstCountry]="true"
                                  [phoneValidation]="true"
                                  [separateDialCode]="true"
                                  formControlName="mobileNumber">
              </ngx-intl-tel-input>
              <span class="text-danger" *ngIf="phoneNumber?.invalid && phoneNumber?.touched">
                Please write a correct phone number
              </span>
            </div>
          </div>

          <div class="form-group position-relative">
            <label for="pass">Choose Password</label>
            <input [type]="!passwordVisibility ? 'password' : 'text'" class="custom-input w-100 input-bordered" id="pass" placeholder="**********"
              formControlName="password">
            <mat-icon matSuffix class="position-absolute password-visibility" (click)="passwordVisibility = !passwordVisibility">{{ !passwordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
            <span class="text-danger" *ngIf="password?.invalid && password?.touched">
              Password cannot be less than 8 characters and cannot be more than 100 characters
            </span>
          </div>

          <div class="form-group position-relative">
            <label for="pass2">Confirm Password</label>
            <input [type]="!confirmPasswordVisibility ? 'password' : 'text'" class="custom-input w-100 input-bordered" id="pass2" placeholder="**********"
              formControlName="confirmPassword">
            <mat-icon matSuffix class="position-absolute password-visibility" (click)="confirmPasswordVisibility = !confirmPasswordVisibility">{{ !confirmPasswordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
            <div class="text-danger" *ngIf="signupForm?.hasError('passwordMismatch')">
              Passwords do not match
            </div>
          </div>

          <div class="form-group mt-4 mb-2">
            <metutors-submit-button [form]="signupForm" [isSubmitting]="(isLoading$ | async)!" [extraClasses]="'w-100'">
              Create my account
            </metutors-submit-button>
          </div>

          <div class="row mt-4 social">
            <div class="col-md-6">
              <button (click)="openRolesDialog('google')" mat-button type="button" class="w-100 google"
                [disabled]="authLoading$ | async">
                <img src="assets/svg/google.svg" alt="">
                Sign up with Google
              </button>
            </div>
            <div class="col-md-6">
              <button (click)="openRolesDialog('facebook')" mat-button type="button" class="w-100"
                [disabled]="authLoading$ | async">
                <img src="assets/svg/facebook-light.svg" class="facebook" alt="">
                Sign up with Facebook
              </button>
            </div>
          </div>

          <div class="form-group mt-4">
            <p>
              Already have an account?
              <a routerLink="/signin">Sign in now</a>
            </p>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-5 d-flex flex-column" *ngIf="step === 2">
      <a class="pb-5" routerLink="/">
        <img alt="logo" src="assets/logo/logo-dark.png" width="200px" draggable="false">
      </a>

      <div *ngLet="(email$ | async) as myEmail">
        <metutors-signup-email-verification [loading]="(isVerifyEmail$ | async)!"
                                            [resendLoading]="(isResendEmailconfirm$ | async)!"
                                            [email]="myEmail"
                                            (submitForm)="onSubmitVerifyEmail($event, myEmail)"
                                            (resendEmail)="resendEmailConfirm(myEmail)"
                                            (changeStep)="changeStep(1, '', accountType)">
        </metutors-signup-email-verification>
      </div>
    </div>

    <div class="col-md-5 d-flex flex-column" *ngIf="step === 3">
      <a class="pb-5" routerLink="/">
        <img alt="logo" src="assets/logo/logo-dark.png" width="200px" draggable="false">
      </a>

      <div *ngLet="(email$ | async) as myEmail">
        <metutors-signup-upload-documents [loading]="loading" (submitForm)="submitDocuments($event, myEmail)">
        </metutors-signup-upload-documents>
      </div>
    </div>

    <div class="col-md-7 align-items-center img-cover">
      <div class="steps" [@userTypeAnimate]>
        <h2>How to create your account</h2>
        <p>
          In {{ accountType === 1 ? 2 : 3 }} steps you can create your account and starting taking
          your courses with MEtutors
        </p>
        <ul class="list-unstyled">
          <li [ngClass]="{'active': step === 1}">
            <span>Step one</span>
            <h4>
              Create an account
            </h4>
          </li>
          <li [ngClass]="{'active': step === 2}">
            <span>Step two</span>
            <h4>
              Verify your Email
            </h4>
          </li>
          <li [ngClass]="{'active': step === 3}" *ngIf="accountType === userRole.tutor">
            <span>Step three</span>
            <h4>
              Upload your documents
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
