.tutor-schedule {
  padding: 30px 40px 20px;

  .filters {
    h1 {
      font-size: 25px;
      font-weight: bold;
      margin: 0;
    }

    mat-icon {
      position: absolute;
      left: 15px;
      top: 11px;

      &.filter {
        left: auto;
        right: 15px;
      }
    }

    .search-request {
      padding-left: 45px;
    }
  }

  .my-table {
    overflow: visible;

    th {
      color: #696969;
      font-size: 14px;
      background-color: #F8F8F8;
    }

    .date-title {
      span {
        color: #949494;
      }

      strong {
        color: #2A2A2A;
        font-size: 12px;
      }
    }

    .card-block {
      border: 0.5px solid #BDBDBD;
      border-radius: 4px;
      color: #3BB3C1;
    }
  }
}
