<div class="tutor-schedule">
  <div class="row filters">
    <div class="col-md-6 d-flex align-items-center">
      <h1>Teachers Schedule</h1>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-7">
          <div class="position-relative">
            <mat-icon>search</mat-icon>
            <input type="text" class="form-control custom-input input-bordered search-request"
              placeholder="Search teachers...">
          </div>
        </div>
        <div class="col-md-5">
          <div class="position-relative">
            <input type="text" class="form-control custom-input input-bordered" placeholder="Apply filters">
            <mat-icon class="filter">filter_alt</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table my-table default-title mt-4">
        <tr>
          <th>Number</th>
          <th>Teacher Name</th>
          <th *ngFor="let day of days">
            <div class="d-flex flex-column date-title">
              <span>{{ day | date: 'EEEE' }}</span>
              <strong>{{ day | date: 'd/M/yyyy' }}</strong>
            </div>
          </th>
        </tr>
        <tr>
          <td>1</td>
          <td>
            <div class="d-flex align-items-center">
              <img src="" width="25" height="25" class="rounded-circle p-0 me-2" draggable="false" meTutorsDefaultAvatar
                alt="">
              <span>
                <bdi>Ahmed Hassan</bdi>
              </span>
            </div>
          </td>
          <td *ngFor="let day of days">
            <div class="card-block d-flex flex-column">
              <span>SIN123</span>
              <span>BIN123</span>
              <span>CIN123</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
