<div class="tutor-schedule" *ngLet="(view$ | async) as view">
  <div class="row filters">
    <div class="col-md-3 d-flex align-items-center">
      <h1>Teachers Schedule</h1>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput [matDatepicker]="datetPicker" [placeholder]="'Starting Date'" (focus)="datetPicker.open()"
          (dateChange)="onChangeDateDay($event)">
        <mat-datepicker-toggle matSuffix [for]=" datetPicker"></mat-datepicker-toggle>
        <mat-datepicker #datetPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-7">
          <div class="position-relative">
            <mat-icon>search</mat-icon>
            <input type="text" class="form-control custom-input input-bordered search-request"
              placeholder="Search teachers...">
          </div>
        </div>
        <div class="col-md-5">
          <div class="position-relative">
            <input type="text" class="form-control custom-input input-bordered" placeholder="Apply filters">
            <mat-icon class="filter">filter_alt</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" [ngSwitch]="view.loading">
    <div class="col-md-12" *ngSwitchCase="false">
      <table class="table my-table default-title mt-4">
        <tr>
          <th>Number</th>
          <th>Teacher Name</th>
          <th *ngFor="let weekday of view.schedule.weekdays" [class.today]="checkIsToday(weekday.date)">
            <div class="d-flex flex-column date-title">
              <span>{{ weekday.day }}</span>
              <strong>{{ weekday.date }}</strong>
            </div>
          </th>
        </tr>
        <tr *ngFor="let tutor of view.schedule.tutors; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <div class="d-flex align-items-center tutor-info p-0">
              <img [src]="tutor.avatar" width="30" height="30" class="rounded-circle p-0 me-2" draggable="false"
                meTutorsDefaultAvatar alt="">
              <span class="d-flex flex-column">
                <bdi>{{ tutor?.name }}</bdi>
                <span>ID: <strong class="cursor-pointer"
                    [routerLink]="['/admin', 'tutor', 'profile', tutor?.id]">{{ tutor?.idNumber }}</strong></span>
              </span>
            </div>
          </td>
          <td *ngFor="let weekday of view.schedule.weekdays">
            <div class="card-block d-flex flex-column" *ngFor="let card of tutor.classes[weekday.day | lowercase]">
              <span class="sin cursor-pointer" *ngIf="card?.student?.id"
                [routerLink]="['/admin','student', 'profile', card?.student?.id]">(SIN{{ card?.student?.id }})</span>
              <span class="bin cursor-pointer" *ngIf="card?.courseId"
                [routerLink]="['/admin','tutor', card?.teacherId, 'booking-detail', card?.courseId]">(BIN{{ card?.courseId }})</span>
              <span class="cin cursor-pointer" *ngIf="card?.course?.subjectId"
                [routerLink]="'/admin/management/subject'">(CIN{{ card?.course?.subjectId }})</span>

              <strong class="mt-2 d-block">{{ card?.startTime }} to {{ card?.endTime }}</strong>
            </div>
          </td>
        </tr>
        <tr *ngIf="!view.schedule.tutors || !view.schedule.tutors.length">
          <td colspan="9" class="text-center">No records found</td>
        </tr>
      </table>

      <div class="d-flex mt-2 justify-content-center" *ngIf="view.schedule?.total > view.schedule.tutors?.length">
        <pagination [totalItems]="view.schedule?.total" [itemsPerPage]="perPage" [maxSize]="5"
                    (pageChanged)="onPageChange($event)">
        </pagination>
      </div>
    </div>
    <div class="col-md-12" *ngSwitchCase="true">
      <div class="mt-4">
        <metutors-grid-placeholder></metutors-grid-placeholder>
      </div>
    </div>
  </div>
</div>
