<metutors-modal [showModal]="showModal" (closeModal)="closeModal.emit()" [size]="'medium'"
                [heading]="'Submit Interview Request'"
                [template]="template">
  <ng-template #template>
    <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="col-12">
        <div class="form-group">
          <label>Select Interview Date</label>
          <input class="form-control custom-input input-bordered" matInput [matDatepicker]="startPicker"
                 [placeholder]="'04/05/2022'" (focus)="startPicker.open()" [min]="minDate"
                 formControlName="date">
          <mat-datepicker #startPicker></mat-datepicker>
        </div>

        <div class="form-group">
          <label>Select Start Time</label>
          <input type="url" class="form-control custom-input input-bordered" formControlName="startTime"
                 placeholder="12:00 PM" [ngxTimepicker]="startTime">
          <ngx-material-timepicker #startTime [appendToInput]="true">
          </ngx-material-timepicker>
        </div>

        <div class="form-group">
          <label>Select End Time</label>
          <input type="url" class="form-control custom-input input-bordered" formControlName="endTime"
                 placeholder="01:00 PM" [ngxTimepicker]="endTime">
          <ngx-material-timepicker #endTime [appendToInput]="true">
          </ngx-material-timepicker>
        </div>

        <div class="mt-4">
          <metutors-submit-button [form]="form" [isSubmitting]="isSchedulingRequest"
                                  [extraClasses]="'float-end py-1 px-5'">
            Submit Request
          </metutors-submit-button>
        </div>
      </div>
    </form>
  </ng-template>
</metutors-modal>
