<div class="row introducing">
  <div class="col-md-12">
    <span class="text-uppercase">INTRODUCING</span>
    <h1>
      About Learning languages
    </h1>
    <p>
      Our college admission test preparation courses provide students with the essential basics, insider-advice,
      test-taking strategies, and authentic test practice. We offer courses for the following standardized tests: SAT,
      ACT, iBT TOEFL, IELTS and GRE. Success on these tests is essential for admission to a quality university or
      college in the United States.
      <br /> <br />
      We take great pride in equipping our students with the necessary knowledge and skills to optimize their scores.
      And we believe that targeted and carefully constructed practice is at the heart of any good test preparation, so
      all of our test preparation courses include an abundance of practice sets and authentic test questions that
      students complete in timed test conditions.
    </p>
  </div>
</div>
