<metutors-home-slide></metutors-home-slide>

<div class="container">
  <metutors-home-study-metutors [categories]="categories"></metutors-home-study-metutors>
  <metutors-home-courses [classroomsPrep]="classroomsPrep"></metutors-home-courses>
</div>

<metutors-learning-environment></metutors-learning-environment>

<div class="container">
  <metutors-home-courses [classroomsLang]="classroomsLang"></metutors-home-courses>
  <metutors-home-featured-tutors [teachers]="teachers"></metutors-home-featured-tutors>
</div>

<metutors-success-stories></metutors-success-stories>
