<metutors-home-slide [token]="(token$ | async)!"
                     [isDemo]="(isDemo$ | async)!"
                     [user]="(user$ | async)!">
</metutors-home-slide>

<metutors-home-services-features></metutors-home-services-features>

<metutors-learning-environment [isLoading]="loadingPrograms$ | async" 
                               [programs]="programs$ | async"
                               [subjects]="subjects$ | async" 
                               [loadingSubjects]="loadingSubjects$ | async" 
                               [fields]="fields$ | async"
                               [loadingFields]="loadingFields$ | async" 
                               [countries]="countries$ | async"
                               [loadingCountries]="loadingCountries$ | async" 
                               (changeProgram)="fetchFields($event)"
                               (viewSubjectDetails)="onOpenViewSubjectDetailsModal($event)">
</metutors-learning-environment>

<metutors-benefits-academic-tutoring></metutors-benefits-academic-tutoring>

<metutors-home-featured-tutors [teachers]="(featuredTutors$ | async)!"
                               [isLoading]="(loadingTutors$ | async)!">
</metutors-home-featured-tutors>

<metutors-success-stories [testmonials]="testmonials"
                          [title]="'TRUSTED_THOUSANDS_STUDENTS'"
                          [desc]="'THOUSANDS_STUDENTS_COMMUNITY'">
</metutors-success-stories>

<metutors-view-subject-details-modal *ngIf="showViewSubjectDetailsModal$ | async"
                                     (closeModal)="onCloseViewSubjectDetailsModal()"
                                     [data]="subjectData"
                                     [teachers]="(subjectTutors$ | async)!"
                                     [isLoading]="(loadingSubjectTutors$ | async)!"
                                     [showModal]="(showViewSubjectDetailsModal$ | async)!">
</metutors-view-subject-details-modal>
